@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

// Variables
// $primary-color: #4a90e2;
// $text-color: #333;
// $border-radius: 8px;

// Base (Mobile first)
.aif-component.cards-container {
    margin-top: 0;

  h2{
    color: var(--blue-1-800-primary);
    text-align: center;
    font-family: var(--title);
    font-size: var(--sub-header-medium-size);
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 280px;
  }


  .cards{
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;

        li{
            border-radius: 16px;
            background: var(--neutrals-200);
            max-width: 340px;
            width: 100%;
            border: 0;
    
            .cards-card-body{
              margin: 34px 12px;
          
              p{
                  margin: 0;
                  line-height: 0;
          
                  .icon{
                      width: 100%;
                      height: unset;
          
                      img{
                         width: 80px;
                         height: 80px;
                         aspect-ratio: 1/1;
                         margin-bottom: 40px;
                      }
                  }
              }
        
              h3{
                  color: var(--blue-1-800-primary);
                  font-family: var(--body);
                  font-size: var(--body-large-semibold-size);
                  font-style: normal;
                  font-weight: 600;
                  line-height: var(--body-large-semibold-line-height);
                  max-width: 316px;
                  margin: 0;
              }
            }
    
        }
    }

  }
}

// Tablet
@media (width >= 767px) {
  .aif-component.cards-container {
    margin-top: 40px;

    h2{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
        font-size: var(--heading-h5-size);
        line-height: var(--heading-h4-line-height);
    }

    .cards{
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            justify-content: center;

            li{
                // border-radius: 16px;
                // background: var(--neutrals-200);
                max-width: 400px;
        
                .cards-card-body{
                // margin: 34px 12px;
            
                p{
                    // margin: 0;
            
                    .icon{
                        // width: 100%;
            
                        img{
                            // width: 80px;
                            // height: 80px;
                            // aspect-ratio: 1/1;
                            margin-bottom: 62px;
                        }
                    }
                }
            
                    h3{
                        max-width: 356px;
                        font-size: var(--body-large-medium-size, 18px);
                        font-weight: 500;
                        line-height: var(--body-large-medium-line-height);
                    }
                }
        
            }
        }
  }


  }
}

// Desktop (≥ 1024px)
// @media (min-width: 1024px) {
//   .aif-component {
    
//   }
// }
