@import "../../../styles/fonts.css";
.behind-the-content {
  padding: unset;
  text-align: center;
  overflow: hidden;
}
.behind-the-content .default-content-wrapper:nth-child(1) {
  padding: 0 24px;
  margin-bottom: 40px;
}
.behind-the-content .default-content-wrapper:nth-child(1) h1 {
  color: var(--blue-1800-primary, #2E2A94);
  text-align: center;
  font-feature-settings: var(--font-features-default);
  font-family: var(--title, inter);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: var(--sub-header-large-line-height);
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
}
.behind-the-content .default-content-wrapper:nth-child(1) p {
  color: var(--blue-1800-primary, #2E2A94);
  text-align: center;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, inter);
  font-size: var(--paragraph-small-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-small-line-height, 20px);
  max-width: 600px;
  padding: 0;
  margin: 0;
}
.behind-the-content .cards-wrapper {
  width: 100%;
}
.behind-the-content .cards-wrapper .cards {
  width: 100%;
}
.behind-the-content .cards-wrapper .cards > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 12px;
  list-style: none;
}
.behind-the-content .cards-wrapper .cards > ul li {
  max-width: 48.1%;
  flex: 0 0 48.1%;
  text-align: left;
  overflow: hidden;
  border: none;
}
.behind-the-content .cards-wrapper .cards > ul li .cards-card-image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 4.432px;
  background: lightgray 50%/cover no-repeat;
}
.behind-the-content .cards-wrapper .cards > ul li .cards-card-body {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  border: none;
}
.behind-the-content .cards-wrapper .cards > ul li .cards-card-body p:first-of-type {
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-medium-medium-line-height);
  margin: 0;
  padding: 0;
}
.behind-the-content .cards-wrapper .cards > ul li .cards-card-body p:first-of-type a {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: unset;
  background: transparent;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-medium-medium-line-height);
  cursor: pointer;
}
.behind-the-content .cards-wrapper .cards > ul li .cards-card-body p:last-of-type {
  color: var(--text-body, #424242);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--label-medium-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-medium-line-height, 16px);
  margin: 0;
  padding: 0;
  margin-top: 4px;
}
.behind-the-content .default-content-wrapper:last-of-type {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .behind-the-content .default-content-wrapper:last-of-type {
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
.behind-the-content .default-content-wrapper:last-of-type .button-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.behind-the-content .default-content-wrapper:last-of-type .button-container .button {
  display: flex;
  width: 164px;
  height: 44px;
  padding: var(--spacing-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: var(--border-radius-8, 8px);
  background: var(--button-primary-default, #2E2A94);
  color: var(--neutrals-white, #FFF);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-medium-regular-line-height, 20px);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0;
}

@media (width >= 900px) {
  .behind-the-content > .default-content-wrapper:nth-child(1) {
    margin-bottom: 40px;
    padding: 0;
  }
  .behind-the-content > .default-content-wrapper:nth-child(1) h1 {
    font-size: var(--heading-h4-size);
    line-height: var(--heading-h4-line-height);
  }
  .behind-the-content > .default-content-wrapper:nth-child(1) p {
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
    max-width: 100%;
  }
  .behind-the-content .cards-wrapper {
    overflow-x: visible;
  }
  .behind-the-content .cards-wrapper .cards ul {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .behind-the-content .cards-wrapper .cards ul li {
    max-width: 24%;
    flex: 0 0 24%;
  }
}
@media (width >= 900px) and (width <= 1279px) {
  .behind-the-content .cards-wrapper .cards ul li {
    max-width: 23.6%;
    flex: 0 0 23.6%;
  }
}
@media (width >= 900px) {
  .behind-the-content .default-content-wrapper:last-of-type .button-container {
    padding: 16px 0;
  }
}
.behind-the-content.our-author-list {
  margin-top: 0;
  /* optional: make the view all button visually consistent */
}
@media (max-width: 768px) {
  .behind-the-content.our-author-list {
    margin-top: 36px;
  }
}
.behind-the-content.our-author-list .cards-card-hidden {
  display: none !important;
}
.behind-the-content.our-author-list .button.view-all {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.behind-the-content.our-author-list .cards ul > li.card-hidden {
  display: none;
}
.behind-the-content.our-author-list.all-cards-visible .button-container {
  display: none;
}/*# sourceMappingURL=behind-the-content.css.map */