@import "../cards/contact-card.css";

.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  background: url('');
}


/* Investor Education - Stay Updated Start */

.section.article-sub-right[data-id='stay-updated']:first-of-type {
  margin: 0;
}

.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h1,
.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h2,
.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h3,
.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h4,
.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h5,
.section.article-sub-right[data-id='stay-updated'] .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  font-weight: 500;
  line-height: var(--body-large-medium-line-height);
  margin: 0 0 16px;
}

.section.article-sub-right[data-id='stay-updated'] ul{
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
}

.section.article-sub-right[data-id='stay-updated'] ul li{
  width: 32px;
  height: 32px;
}


/* Investor Education - Stay Updated End */



/* Investor Education - Recommended Posts */

.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h1,
.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h2,
.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h3,
.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h4,
.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h5,
.section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  font-weight: 500;
  margin: 0 0 8px;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li {
  padding: var(--spacing-16) 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-image,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-image picture {
  width: 88px;
  height: 88px;
  display: block;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-image img {
  width: 100%;
  height: 100%;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body {
  margin: 0;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:first-of-type {
  margin: 0;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-medium-size);
  font-weight: 400;
  line-height: var(--label-medium-line-height);
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:first-of-type::before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background-color: var(--blue-1-800-primary);
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h1,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h2,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h3,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h4,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h5,
.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h6 {
  color: var(--neutrals-900);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  font-weight: 500;
  line-height: var(--body-small-medium-line-height);
  margin: 8px 0;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:last-of-type {
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-small-size);
  font-weight: 400;
  line-height: var(--label-small-line-height);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:last-of-type .icon {
  width: 12px;
  height: 12px;
}

@media screen and (width<=768px) {

  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h1,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h2,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h3,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h4,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h5,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper h6,
  .section.article-sub-right[data-id='recommended-posts'] .default-content-wrapper p {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }

  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:first-of-type {
    font-size: var(--label-medium-size);
    line-height: var(--label-medium-line-height);
  }

  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h1,
  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h2,
  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h3,
  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h4,
  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h5,
  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body h6 {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }

  .section.article-sub-right[data-id='recommended-posts'] .cards ul li .cards-card-body p:last-of-type {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}