@import "../cards/contact-card.css";
@import "../cards/behind-the-content.css";
@import "../cards/pms-rooted.css";
@import "../cards/aif-component.css";
@import "../cards/moedge-article.css";
@import "../cards/investment-philosophy.css";
@import "../cards/calc-card.css";

/* @import "../cards/behind-the-content.css"; */

.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  background: url('');
}

.section.main-wrapper {
  max-width: 1232px;
  width: 100%;
  margin: 78px auto 0;
  padding: 68px 0 48px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

main.nfo-nav .main-wrapper .section:first-of-type {
  margin-top: 0;
}

.section.article-left-wrapper {
  max-width: 66.234%;
  width: 100%;
}

.section.article-right-wrapper {
  max-width: 24.026%;
  width: 100%;
}

@media screen and (width <=1299px) {
  .main-wrapper {
    padding: 68px 16px 40px;
  }
}

@media screen and (width <=768px) {
  .section.main-wrapper {
    max-width: 100%;
    flex-direction: column;
    gap: var(--spacing-40);
    padding: 0 0 40px;
  }


  .article-left-wrapper,
  .article-right-wrapper {
    max-width: 100%;
  }

  .section.article-left-wrapper {
    max-width: 100%;
  }

  .section.article-right-wrapper {
    max-width: 100%;
  }
}

/* Investor Education - Podcast Details Start */

.section.article-sub-left .default-content-wrapper {
  padding: var(--spacing-24) 0 0;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 16px;
  justify-content: space-between;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type ul {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li {
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  font-weight: 400;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type {
  color: var(--blue-1-800-primary);
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--strokes-default);
  padding: 4px var(--spacing-8);
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type .icon {
  width: 16px;
  height: 16px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--blue-1-400);
  border-radius: 50%;
  margin-right: 4px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:last-of-type .icon {
  width: 12px;
  height: 12px;
}

.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:last-of-type p,
.section.article-sub-left .default-content-wrapper>ul:first-of-type>li:last-of-type p .icon {
  margin: 0;
  width: 28px;
  height: 28px;
}

.section.article-sub-left .default-content-wrapper h1,
.section.article-sub-left .default-content-wrapper h2,
.section.article-sub-left .default-content-wrapper h3,
.section.article-sub-left .default-content-wrapper h4,
.section.article-sub-left .default-content-wrapper h5,
.section.article-sub-left .default-content-wrapper h6 {
  margin: 24px 0 0;
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h5-size);
  line-height: var(--heading-h5-line-height);
  font-weight: 600;
}

.section.article-sub-left .default-content-wrapper p:first-of-type {
  margin: 4px 0 0;
  color: var(--text-body-2);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-line-height);
  font-weight: 400;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type {
  margin: 24px 0 0;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type>li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li p,
.section.article-sub-left .default-content-wrapper ul:last-of-type li p .icon {
  margin: 0;
  width: 35px;
  height: 35px;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul {
  margin: 0;
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:first-of-type {
  color: var(--neutrals-900);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-weight: 500;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
}

.section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:last-of-type {
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-weight: 400;
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-line-height);
}

.section.article-sub-left .default-content-wrapper p:nth-of-type(2) {
  margin: var(--spacing-24) 0 0;
}

.section.article-sub-left .default-content-wrapper p:nth-of-type(2) picture {
  line-height: 0;
  height: 160px;
  width: 100%;
  display: block;
}

.section.article-sub-left .default-content-wrapper p:nth-of-type(2) picture img {
  width: 100%;
  height: 100%;
}

.section.article-sub-left .default-content-wrapper p:nth-of-type(3) {
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-weight: 400;
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-line-height);
  margin: 8px 0 0;
}

@media screen and (width>768px) {
  .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }

  .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type {
    padding: 4px var(--spacing-12);
  }

  .section.article-sub-left .default-content-wrapper>ul:first-of-type>li:first-of-type>ul>li:first-of-type .icon {
    width: 20px;
    height: 20px;
  }

  .section.article-sub-left .default-content-wrapper h1,
  .section.article-sub-left .default-content-wrapper h2,
  .section.article-sub-left .default-content-wrapper h3,
  .section.article-sub-left .default-content-wrapper h4,
  .section.article-sub-left .default-content-wrapper h5,
  .section.article-sub-left .default-content-wrapper h6 {
    font-size: 20px;
    line-height: 24px;
  }

  .section.article-sub-left .default-content-wrapper p:first-of-type {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }

  .section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:first-of-type {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }

  .section.article-sub-left .default-content-wrapper ul:last-of-type li ul li:last-of-type {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }

  .section.article-sub-left .default-content-wrapper p:nth-of-type(2) picture {
    height: 320px;
  }

  .section.article-sub-left .default-content-wrapper p:nth-of-type(3) {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
    margin: 24px 0 0;
  }
}

/* Investor Education - Podcast Details End */

/* Investor Education - Podcast Cards Start */

.section.article-sub-left.cards-container .cards ul {
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section.article-sub-left.cards-container .cards ul li {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.section.article-sub-left.cards-container .cards ul li .cards-card-image,
.section.article-sub-left.cards-container .cards ul li .cards-card-image picture {
  aspect-ratio: unset;
  width: 100%;
  height: 188px;
  line-height: 0;
  display: block;
}

.section.article-sub-left.cards-container .cards ul li .cards-card-image picture img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-8);
}

.section.article-sub-left.cards-container .cards ul li .cards-card-body {
  margin: var(--spacing-16) 0;
}

.section.article-sub-left.cards-container .cards ul li .cards-card-body h1,
.section.article-sub-left.cards-container .cards ul li .cards-card-body h2,
.section.article-sub-left.cards-container .cards ul li .cards-card-body h3,
.section.article-sub-left.cards-container .cards ul li .cards-card-body h4,
.section.article-sub-left.cards-container .cards ul li .cards-card-body h5,
.section.article-sub-left.cards-container .cards ul li .cards-card-body h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  font-weight: 500;
  margin: 0 0 4px;
}

.section.article-sub-left.cards-container .cards ul li .cards-card-body p {
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-weight: 400;
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-line-height);
  margin: 0;
}


@media screen and (width>768px) {
  .section.article-sub-left.cards-container .cards ul {
    margin: 24px 0 0;
  }

  .section.article-sub-left.cards-container .cards ul li {
    flex-direction: unset;
    align-items: center;
    gap: 16px;
  }

  .section.article-sub-left.cards-container .cards ul li .cards-card-image,
  .section.article-sub-left.cards-container .cards ul li .cards-card-image picture {
    width: 400px;
    height: 220px;
  }

  .section.article-sub-left.cards-container .cards ul li .cards-card-body {
    margin: var(--spacing-24) var(--spacing-16);
  }

  .section.article-sub-left.cards-container .cards ul li .cards-card-body h1,
  .section.article-sub-left.cards-container .cards ul li .cards-card-body h2,
  .section.article-sub-left.cards-container .cards ul li .cards-card-body h3,
  .section.article-sub-left.cards-container .cards ul li .cards-card-body h4,
  .section.article-sub-left.cards-container .cards ul li .cards-card-body h5,
  .section.article-sub-left.cards-container .cards ul li .cards-card-body h6 {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }

  .section.article-sub-left.cards-container .cards ul li .cards-card-body p {
    color: var(--text-body-2);
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}

/* Investor Education - Podcast Cards End */


/* Investor Education - Stay Updated Start */

.section.article-sub-right.stay-updated:first-of-type {
  margin: 40px 0 0;
}

.section.article-sub-right.stay-updated .default-content-wrapper h1,
.section.article-sub-right.stay-updated .default-content-wrapper h2,
.section.article-sub-right.stay-updated .default-content-wrapper h3,
.section.article-sub-right.stay-updated .default-content-wrapper h4,
.section.article-sub-right.stay-updated .default-content-wrapper h5,
.section.article-sub-right.stay-updated .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  font-weight: 500;
  line-height: var(--body-large-medium-line-height);
  margin: 0 0 16px;
}

.section.article-sub-right.stay-updated ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.section.article-sub-right.stay-updated ul li,
.section.article-sub-right.stay-updated ul li .icon {
  width: 40px;
  height: 40px;
}

@media screen and (width>768px) {
  .section.article-sub-right.stay-updated:first-of-type {
    margin: 0;
  }

  .section.article-sub-right.stay-updated .default-content-wrapper h1,
  .section.article-sub-right.stay-updated .default-content-wrapper h2,
  .section.article-sub-right.stay-updated .default-content-wrapper h3,
  .section.article-sub-right.stay-updated .default-content-wrapper h4,
  .section.article-sub-right.stay-updated .default-content-wrapper h5,
  .section.article-sub-right.stay-updated .default-content-wrapper h6 {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }

  .section.article-sub-right.stay-updated ul {
    gap: 8px;
  }

  .section.article-sub-right.stay-updated ul li,
  .section.article-sub-right.stay-updated ul li .icon {
    width: 32px;
    height: 32px;
  }
}

/* Investor Education - Stay Updated End */

/* Investor Education - Subscribe Email Start */

.section.article-sub-right.subscribe-email .default-content-wrapper {
  margin: 40px 0;
  border-radius: var(--border-radius-8);
  background: var(--blue-1-800-primary);
  padding: var(--spacing-24) 16px;
}

.section.article-sub-right.subscribe-email .default-content-wrapper p:first-of-type,
.section.article-sub-right.subscribe-email .default-content-wrapper p:first-of-type .icon {
  width: 64px;
  height: 64px;
  margin: 0;
}

.section.article-sub-right.subscribe-email .default-content-wrapper h1,
.section.article-sub-right.subscribe-email .default-content-wrapper h2,
.section.article-sub-right.subscribe-email .default-content-wrapper h3,
.section.article-sub-right.subscribe-email .default-content-wrapper h4,
.section.article-sub-right.subscribe-email .default-content-wrapper h5,
.section.article-sub-right.subscribe-email .default-content-wrapper h6 {
  margin: 8px 0 24px;
  color: var(--neutrals-white, #FFF);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-medium-size);
  font-weight: 500;
  line-height: var(--body-medium-medium-line-height);
}

.section.article-sub-right.subscribe-email .default-content-wrapper p.button-container {
  /* border-radius: var(--border-radius-8);
  background: var(--neutrals-white);
  padding: var(--spacing-12);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; */
  margin: 0;
  padding: 0;
}

.section.article-sub-right.subscribe-email .default-content-wrapper .button-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-8);
  align-self: stretch;
}

.section.article-sub-right.subscribe-email .field-wrapper {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.section.article-sub-right.subscribe-email .field-wrapper label {
  /* flex-grow: 1;
  color: var(--text-white);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  font-weight: 400;
  background-color: var(--blue-1-800-primary);
  padding: 0 4px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out; */
  display: none;
}

.section.article-sub-right.subscribe-email .field-wrapper input {
  width: 100%;
  display: flex;
  padding: var(--spacing-8, 8px) var(--spacing-12, 12px);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--border-radius-8, 8px);
  border: var(--border-width-01, 1px) solid var(--neutrals-white, #FFF);
  background: transparent;
  outline: none;
  color: var(--neutrals-200);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height);
}

.section.article-sub-right.subscribe-email .field-wrapper input::placeholder {
  color: var(--neutrals-200);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height);
}

.section.article-sub-right.subscribe-email .submit-btn .button {
  width: 100%;
  margin: 0;
  display: flex;
  height: 40px;
  padding: 12px var(--spacing-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);
  align-self: stretch;
  color: var(--text-button-default);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--button-medium-size);
  font-weight: 500;
  line-height: var(--button-medium-line-height);
  border-radius: var(--border-radius-8);
  background: var(--neutrals-white);

  /* padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent; */
}

.section.article-sub-right.subscribe-email .field-wrapper.email-wrapper input:focus~label,
.section.article-sub-right.subscribe-email .field-wrapper.email-wrapper input:not(:placeholder-shown)~label {
  top: 0;
  font-size: 12px;
  transform: translateY(-50%) scale(0.9);
  color: #fff;
}

@media screen and (width>768px) {

  .section.article-sub-right.subscribe-email .default-content-wrapper h1,
  .section.article-sub-right.subscribe-email .default-content-wrapper h2,
  .section.article-sub-right.subscribe-email .default-content-wrapper h3,
  .section.article-sub-right.subscribe-email .default-content-wrapper h4,
  .section.article-sub-right.subscribe-email .default-content-wrapper h5,
  .section.article-sub-right.subscribe-email .default-content-wrapper h6 {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }

  .section.article-sub-right.subscribe-email .default-content-wrapper p.button-container {
    padding: 0;
  }

  .section.article-sub-right.subscribe-email .default-content-wrapper p.button-container .button {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}

/* Investor Education - Subscribe Email End */

/* Investor Education - Recommended Posts Start */

.section.article-sub-right.recommended-posts .default-content-wrapper h1,
.section.article-sub-right.recommended-posts .default-content-wrapper h2,
.section.article-sub-right.recommended-posts .default-content-wrapper h3,
.section.article-sub-right.recommended-posts .default-content-wrapper h4,
.section.article-sub-right.recommended-posts .default-content-wrapper h5,
.section.article-sub-right.recommended-posts .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  font-weight: 500;
  margin: 0 0 8px;
}

.section.article-sub-right.recommended-posts .cards ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.section.article-sub-right.recommended-posts .cards ul li {
  padding: var(--spacing-16) 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-image,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-image picture {
  width: 88px;
  height: 88px;
  display: block;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-image img {
  width: 100%;
  height: 100%;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body {
  margin: 0;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:first-of-type {
  margin: 0;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-medium-size);
  font-weight: 400;
  line-height: var(--label-medium-line-height);
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:first-of-type::before {
  content: '';
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50%;
  background-color: var(--blue-1-800-primary);
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h1,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h2,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h3,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h4,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h5,
.section.article-sub-right.recommended-posts .cards ul li .cards-card-body h6 {
  color: var(--neutrals-900);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  font-weight: 500;
  line-height: var(--body-small-medium-line-height);
  margin: 8px 0;
  word-break: auto-phrase;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:last-of-type {
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-small-size);
  font-weight: 400;
  line-height: var(--label-small-line-height);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:last-of-type .icon {
  width: 12px;
  height: 12px;
}

@media screen and (width>768px) {

  .section.article-sub-right.recommended-posts .default-content-wrapper h1,
  .section.article-sub-right.recommended-posts .default-content-wrapper h2,
  .section.article-sub-right.recommended-posts .default-content-wrapper h3,
  .section.article-sub-right.recommended-posts .default-content-wrapper h4,
  .section.article-sub-right.recommended-posts .default-content-wrapper h5,
  .section.article-sub-right.recommended-posts .default-content-wrapper h6 {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }

  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:first-of-type {
    font-size: var(--label-medium-size);
    line-height: var(--label-medium-line-height);
  }

  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h1,
  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h2,
  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h3,
  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h4,
  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h5,
  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body h6 {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }

  .section.article-sub-right.recommended-posts .cards ul li .cards-card-body p:last-of-type {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}

/* Investor Education - Recommended Posts End */

/* Investor Education - Our Podcast Start */

.section.article-sub-right.our-podcast {
  padding: 40px 0 var(--spacing-40);
}

.section.article-sub-right.our-podcast .default-content-wrapper h1,
.section.article-sub-right.our-podcast .default-content-wrapper h2,
.section.article-sub-right.our-podcast .default-content-wrapper h3,
.section.article-sub-right.our-podcast .default-content-wrapper h4,
.section.article-sub-right.our-podcast .default-content-wrapper h5,
.section.article-sub-right.our-podcast .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  font-weight: 500;
  line-height: var(--body-large-medium-line-height);
  margin: 0 0 24px;
}

.section.article-sub-right.our-podcast .default-content-wrapper p,
.section.article-sub-right.our-podcast .default-content-wrapper picture {
  margin: 0;
}

.section.article-sub-right.our-podcast .default-content-wrapper picture {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.section.article-sub-right.our-podcast .default-content-wrapper picture img {
  width: 100%;
  height: 100%;
}

.section.article-sub-right.our-podcast .default-content-wrapper>ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li {
  padding: var(--spacing-16) 0;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li p {
  color: var(--neutrals-800);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  font-weight: 500;
  padding: 0 0 4px;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li.podcast-active p {
  color: var(--blue-1-800-primary);
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  font-weight: 600;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li ul {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li ul li {
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  font-weight: 400;
  padding: 0;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--blue-1-400);
  border-radius: 50%;
  margin-right: 4px;
}

.section.article-sub-right.our-podcast .default-content-wrapper ul>li ul li:last-of-type .icon {
  width: 12px;
  height: 12px;
}

@media screen and (width>768px) {
  .section.article-sub-right.our-podcast {
    padding: 40px 0 48px;
  }

  .section.article-sub-right.our-podcast .default-content-wrapper h1,
  .section.article-sub-right.our-podcast .default-content-wrapper h2,
  .section.article-sub-right.our-podcast .default-content-wrapper h3,
  .section.article-sub-right.our-podcast .default-content-wrapper h4,
  .section.article-sub-right.our-podcast .default-content-wrapper h5,
  .section.article-sub-right.our-podcast .default-content-wrapper h6 {
    font-size: var(--body-large-medium-size);
    line-height: var(--body-large-medium-line-height);
  }

  .section.article-sub-right.our-podcast .default-content-wrapper picture {
    width: 296px;
    height: 117px;
  }

  .section.article-sub-right.our-podcast .default-content-wrapper ul>li p {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }

  .section.article-sub-right.our-podcast .default-content-wrapper ul>li ul li {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }

}

/* Investor Education - Our Podcast End */

/* Wealth Study - Prevoius Studies start*/

.section.wcs-series-pdf .default-content-wrapper h1,
.section.wcs-series-pdf .default-content-wrapper h2,
.section.wcs-series-pdf .default-content-wrapper h3,
.section.wcs-series-pdf .default-content-wrapper h4,
.section.wcs-series-pdf .default-content-wrapper h5,
.section.wcs-series-pdf .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-line-height);
  font-weight: 600;
  margin: 0;
  padding: 40px 0;
}

.section.wcs-series-pdf .cards ul.wcs-mainitem1 {
  display: flex;
  gap: 40px 16px;
  flex-wrap: wrap;
}

.section.wcs-series-pdf .cards>ul.wcs-mainitem1>li.comlist {
  max-width: 32.468%;
  width: 100%;
  border: none;
  background-color: transparent;
}

.section.wcs-series-pdf .cards .cards-card-image {
  height: 190px;

  /* border-radius: 8px; */
  /* background-color: var(--blue-1-25); */
}

.section.wcs-series-pdf .cards .cards-card-image picture.wcs-subinner1 {
  line-height: 0;
  height: 100%;
  display: block;
}

.section.wcs-series-pdf .cards .cards-card-image picture.wcs-subinner1 img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-position: top;
}

.section.wcs-series-pdf .cards .cards-card-body {
  margin: 8px 0 16px;
}

.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1 {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem1 {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--neutrals-900);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, );
  font-size: var(--body-small-semibold-size);
  font-weight: 600;
  line-height: var(--body-small-semibold-line-height);
}

.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem1 p.wcs-cardinner1,
.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem1 .icon {
  min-width: 48px;
  height: 48px;
}

.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem1 ul.wcs-cardinner2 {
  margin: 0;
  list-style: none;
}

.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem2,
.section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem2 p.wcs-cardinner1 {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
}

@media screen and (width <=1299px) {
  .section.wcs-series-pdf .cards>ul.wcs-mainitem1>li.comlist {
    max-width: 32.2%;
  }
}

@media screen and (width <=1025px) {
  .section.wcs-series-pdf .cards>ul.wcs-mainitem1>li.comlist {
    /* max-width: 31.8%; */
    max-width: 48.9%;
  }
}

@media screen and (width <=768px) {

  .section.wcs-series-pdf.tabs-container .default-content-wrapper h1,
  .section.wcs-series-pdf.tabs-container .default-content-wrapper h2,
  .section.wcs-series-pdf.tabs-container .default-content-wrapper h3,
  .section.wcs-series-pdf.tabs-container .default-content-wrapper h4,
  .section.wcs-series-pdf.tabs-container .default-content-wrapper h5,
  .section.wcs-series-pdf.tabs-container .default-content-wrapper h6 {
    font-variant-numeric: unset;
    font-size: 28px;
    line-height: var(--sub-header-large-line-height);
    padding: 56px 0 32px;
  }

  .section.wcs-series-pdf .cards ul.wcs-mainitem1 {
    flex-wrap: unset;
    flex-direction: column;
    gap: 32px;
  }

  .section.wcs-series-pdf .cards>ul.wcs-mainitem1>li.comlist {
    max-width: 100%;
  }

  .section.wcs-series-pdf .cards .cards-card-image,
  .section.wcs-series-pdf .cards .cards-card-image picture.wcs-subinner1 img {
    height: 162px;

    /* border-radius: 6.8px; */
  }

  .section.wcs-series-pdf .cards .cards-card-body {
    margin: 8px 0 12px;
  }

  .section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1 {
    gap: unset;
  }

  .section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem1 {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--neutrals-900);
    font-feature-settings: var(--font-features-default);
    font-family: var(--body, );
    font-size: var(--body-small-semibold-size);
    font-weight: 600;
    line-height: var(--body-small-semibold-line-height);
  }

  .section.wcs-series-pdf .cards .cards-card-body>ul.wcs-subinner1>li.wcs-carditem2 {
    width: 44px;
    padding: 0 10px;
  }
}

/* Wealth Study - Prevoius Studies End */