@import "../../../styles/fonts.css";
.section.contact-card {
  max-width: 1265px;
  width: 100%;
  border: none;
  margin: 0 auto;
  background-color: #fff;
}
.section.contact-card ul.cont-us-head1 {
  margin: unset;
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 {
  list-style-type: none;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .section.contact-card ul.cont-us-head1 li.cont-us-head-li1 {
    padding: 24px 16px;
  }
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 .cont-us-head-ul1 {
  margin: unset;
}
@media (max-width: 768px) {
  .section.contact-card ul.cont-us-head1 li.cont-us-head-li1 .cont-us-head-ul1 {
    height: 40px;
  }
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 .cont-us-head-ul1 .icon {
  height: 48px;
  width: 48px;
}
@media (max-width: 768px) {
  .section.contact-card ul.cont-us-head1 li.cont-us-head-li1 .cont-us-head-ul1 .icon {
    height: 40px;
    width: 40px;
  }
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 ul.cont-us-head-ul2 {
  list-style: none;
  margin: unset;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 ul.cont-us-head-ul2 .cont-us-txt-li1 #contact-us {
  margin: unset;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-size: var(--heading-h5-size);
  line-height: var(--heading-h5-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.contact-card ul.cont-us-head1 li.cont-us-head-li1 ul.cont-us-head-ul2 .cont-us-txt-li1 #contact-us {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
  }
}
.section.contact-card ul.cont-us-head1 li.cont-us-head-li1 ul.cont-us-head-ul2 .cont-us-txt-li2 {
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.contact-card ul.cont-us-head1 li.cont-us-head-li1 ul.cont-us-head-ul2 .cont-us-txt-li2 {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.contact-card .default-content-wrapper {
  width: 100%;
  padding: 0;
}
.section.contact-card .default-content-wrapper h3 {
  width: 100%;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 44px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 700;
}
@media (width <= 768px) {
  .section.contact-card .default-content-wrapper h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
  }
}
.section.contact-card .cards-wrapper {
  width: 100%;
}
@media (max-width: 768px) {
  .section.contact-card .cards-wrapper {
    padding-bottom: 24px;
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 {
  display: flex;
  gap: 16px;
}
@media (width <= 768px) {
  .section.contact-card .cards-wrapper .cards ul.contact-main1 {
    flex-direction: column;
    gap: 48px;
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 {
  border: none;
  display: flex;
  max-width: 400px;
  width: 100%;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-image img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-image img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-image img {
  max-width: 40px;
  width: 40px;
  height: 40px;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body {
  margin: 0;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body p:nth-child(1),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body p:nth-child(1),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body p:nth-child(1) {
  margin: 0;
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  color: var(--neutrals-900);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (width <= 768px) {
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body p:nth-child(1),
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body p:nth-child(1),
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body p:nth-child(1) {
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body p:nth-child(2),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body p:nth-child(2),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body p:nth-child(2) {
  margin: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (width <= 768px) {
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body p:nth-child(2),
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body p:nth-child(2),
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body p:nth-child(2) {
    line-height: var(--body-small-regular-line-height);
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist {
  margin: 0;
  padding-top: 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list {
  list-style-type: none;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list.list-elem-16,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list.list-elem-16,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list.list-elem-16 {
  font-size: var(--body-small-regular-size);
  color: var(--text-body);
  font-family: var(--body);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list.list-elem-19,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list.list-elem-19,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list.list-elem-19 {
  color: var(--text-body);
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list.list-elem-19 strong,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list.list-elem-19 strong,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list.list-elem-19 strong {
  color: var(--text-text-link, #2E2A94);
  font-family: var(--body);
  font-size: var(--text-link-small-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-small-line-height);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%;
  text-underline-position: from-font;
}
@media (width <= 768px) {
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list.list-elem-19 strong,
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list.list-elem-19 strong,
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list.list-elem-19 strong {
    font-size: 12px;
    line-height: 20px;
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list.list-elem-19 .list-elem-20 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list.list-elem-19 .list-elem-20 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list.list-elem-19 .list-elem-20 a {
  color: var(--text-text-link);
  font-family: var(--body, inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-small-line-height);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 3%;
  text-underline-position: from-font;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist .common-list ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist .common-list ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist .common-list ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1),
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1) {
  color: #2E2A94;
  margin: 0;
  gap: 8px;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1) a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1) a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1) a {
  color: #2E2A94;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1).list-elem-2, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1).list-elem-15, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1).list-elem-18,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1).list-elem-2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1).list-elem-15,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1).list-elem-18,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1).list-elem-2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1).list-elem-15,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1).list-elem-18 {
  padding-right: unset;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1).list-elem-5::before, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li:nth-child(1).list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1).list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li:nth-child(1).list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1).list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li:nth-child(1).list-elem-10::before {
  content: "";
  min-width: 4px;
  height: 4px;
  display: block;
  background-color: var(--text-body-2);
  border-radius: 50%;
  position: absolute;
  right: 0;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%;
  text-underline-position: from-font;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9 .icon,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 .icon {
  height: 40px;
  width: 40px;
  cursor: text;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-5, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-10,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-5,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-10 {
  margin-right: 13px;
  position: relative;
  gap: 8px;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-5::before, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-10::before, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-5::before, .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9.list-elem-10.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-5.list-elem-10::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-5::before,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12.list-elem-10.list-elem-10::before {
  content: "";
  min-width: 4px;
  height: 4px;
  display: block;
  background-color: var(--text-body-2);
  border-radius: 50%;
  position: absolute;
  right: -13px;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9 img,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 img {
  border-radius: unset;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9 ul,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin: unset;
  list-style-type: none;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2 {
  margin: 0;
  cursor: pointer;
  line-height: 20px;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub1 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub2 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-1 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-4 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-7 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-9 ul li.contact-li2 a,
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul.comlist li.list-elem-12 ul li.contact-li2 a {
  color: #2E2A94;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 {
  gap: 0;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul .contact-li2.list-elem-16 {
  cursor: pointer;
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul li.common-list {
  text-decoration: none;
  gap: 1px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #424242;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (width <= 768px) {
  .section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul li.common-list {
    font-size: 12px;
    line-height: 16px;
  }
}
.section.contact-card .cards-wrapper .cards ul.contact-main1 li.contact-sub3 .cards-card-body ul li.common-list span {
  width: 40px;
  height: 40px;
  cursor: text;
}

.contact-us-parent-wrapper .section.growth-now-container {
  background-color: unset;
  padding: 40px 0 80px;
}/*# sourceMappingURL=contact-card.css.map */