@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.investment-philosophy {
    width: 100%;
    background: var(--blue-1800-primary, #2E2A94);
    padding-bottom: 58px;
    margin-top: 0;

    @include media (mobile) {
        padding-bottom: 40px;
    }

    .invest-philo-cont1 {
        width: 100%;
        padding: 58px 0 40px;

        @include media (mobile) {
            padding: 40px 16px;
        }

        h4 {
            margin: 0;
            padding-bottom: 4px;
            color: var(--neutrals-white, #FFF);
            text-align: center;
            font-feature-settings: var(--font-features-default);
            font-family: var(--title);
            font-size: var(--heading-h4-size);
            font-style: normal;
            font-weight: 600;
            line-height: var(--heading-h4-line-height);

            @include media(mobile) {
                font-size: var(--heading-h4-size);
                line-height: var(--sub-header-large-line-height);
                word-break: auto-phrase;
                padding: 0 21px 4px;
            }
        }

        p {
            margin: 0;
            color: var(--neutrals-white, #FFF);
            text-align: center;
            font-feature-settings: var(--font-features-default);
            font-family: var(--body, Inter);
            font-size: var(--body-medium-regular-size);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            // line-height: var(--body-medium-regular-line-height);

            @include media(mobile) {
                font-size: var(--paragraph-small-size);
                line-height: var(--paragraph-small-line-height);
                text-wrap: balance;
            }
        }
    }

    .invest-philo-cont2 {
        width: 100%;

        .invest-philo-sec1 {
            width: auto;

            ul {
                gap: 16px;

                li {
                    // width: 296px;
                    min-height: 296px;
                    display: flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    border-radius: 8px;
                    border: 1px solid #B9BBFF;
                    background: var(--neutrals-white, #FFF);
                    box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%);

                    @include media (mobile) {
                        height: 296px;
                    }

                    .cards-card-image {
                        display: flex;
                        padding: 24px 12px;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1 0 0;
                        align-self: stretch;
                        border-radius: 12px;
                        border: 1px solid var(--neutrals-200, #EEE);
                        background: #F8F8FF;
                        box-shadow: 0 0 24px 0 rgb(0 0 0 / 4%);

                        @include media (mobile) {
                            height: 232px;
                        }
                    }

                    .cards-card-body {
                        margin: 0;

                        p {
                            margin: 0;
                            padding: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-medium-medium-size);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--body-medium-medium-line-height);
                        }
                    }
                }
            }
        }
    }

    .invest-philo-cont3 {
        width: 100%;
        text-align: center;

        .button-container {
            margin: 40px 0 0;
            display: flex;
            justify-content: center;

            .button {
                display: flex;
                width: 164px;
                height: 40px;
                padding: 12px var(--spacing-12, 12px);
                justify-content: center;
                align-items: center;
                gap: var(--spacing-8, 8px);
                color: var(--neutrals-white, #FFF);
                text-align: center;
                font-feature-settings: var(--font-features-default);
                font-family: var(--body, Inter);
                font-size: var(--button-medium-size);
                font-style: normal;
                font-weight: 500;
                line-height: var(--button-medium-line-height);
                background-color: transparent;
                margin: 0;
                border-radius: var(--border-radius-8);
                border: 1px solid var(--neutrals-white, #FFF);
            }
        }
    }

    .card-wrapper {
        width: 100%;
    }
}