@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;
@import "../swiper/swiper-bundle.min.css";

// .moedge-article-main {
//     display: flex;
//     flex-direction: column-reverse;

//     .section.moedge-buliding.future-building-container {
//         margin: 0 auto;
//         margin-top: 40px;
//         padding-bottom: 64px;
//     }
// }
.moedge-article-main {
    margin-bottom: 64px;

    @include media (mobile) {
        margin-bottom: 40px;
    }
}

.section.main-wrapper.moedge-article-details {
    max-width: 1232px;
    width: 100%;
    margin: 78px auto 40px;
    padding: 24px 0 16px;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @include media (mobile) {
        padding: 0 16px;
        margin: 59px auto 0;
        gap: 0;
    }

    .article-left-wrapper {
        padding: 0;
        margin: 0;

        @include media(mobile) {
            max-width: 100%;
        }

        .articlesub1.leftartmain1 {
            .leftartsub1 {
                .leftartitem2 {
                    @include media (mobile) {
                        color: var(--blue-1800-primary, #2E2A94);
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--title);
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                    }
                }

                .leftartitem4 {
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        flex: 1 0 0;

                        p {
                            span {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        ul {
                            margin: 0;
                            padding: 0;

                            .itemleftart1 {
                                color: var(--neutrals-900);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-small-medium-size, 14px);
                                font-style: normal;
                                font-weight: 500;
                                line-height: var(--body-small-medium-line-height, 16px);
                            }

                            .itemleftart2 {
                                color: var(--neutrals-700);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-small-medium-size);
                                font-weight: 400;
                                line-height: var(--paragraph-small-line-height);
                                padding-top: 4px;
                            }
                        }
                    }
                }

                .subarticle4 {
                    margin: 0;
                    margin-top: 24px;

                    .subleftart1 {
                        p {
                            width: auto;
                        }
                    }
                }

                .video-wrap{
                    position: relative;

                    .leftartitem6{
                        position: absolute;
                        margin: 0;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;

                        .button{
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            color: transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .leftartitem7 {
                    border: none;

                    .subleftart1,
                    .mainarticle2 {
                        flex-direction: column;
                        align-items: flex-start;

                        p {
                            width: 100%;
                            height: 100%;
                            margin: 0;
                        }

                        .mainleftart1 {
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body, Inter);
                            font-size: var(--body-large-semibold-size);
                            font-weight: 600;
                            line-height: var(--body-large-semibold-line-height);
                        }

                        .mainleftart2 {
                            color: #3D3D3D;
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body, Inter);
                            font-size: var(--body-medium-regular-size);
                            font-weight: 400;
                            line-height: var(--body-medium-regular-line-height);
                        }

                        .mainleftart3 {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            padding-left: 25px;

                            li {
                                list-style: disc;
                                display: list-item;
                                color: #3D3D3D;
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-medium-regular-size);
                                font-weight: 400;
                                line-height: var(--body-medium-regular-line-height);

                            }
                        }
                    }
                }
            }

        }

        .articlesub2 {
            width: 100%;

            .leftartsub1 {
                .leftartitem1 {
                    margin: 0;
                    color: var(--blue-1800-primary, #2E2A94);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--body-large-semibold-size);
                    font-weight: 600;
                    line-height: var(--body-large-semibold-line-height);
                }

                .comlist.leftartitem2,
                .leftartitem3,
                .leftartitem5 {
                    margin: 24px 0;
                    color: #3D3D3D;
                    font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                    font-family: var(--body);
                    font-size: var(--body-medium-regular-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    // line-height: var(--body-medium-regular-line-height);

                    @include media (mobile) {
                        font-size: var(--paragraph-small-size);
                        line-height: var(--paragraph-small-line-height);
                    }
                }


                .leftartitem4 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0;
                    font-family: var(--body);
                    border-radius: 8px;
                    border: none;
                    height: 100%;
                    max-width: 100%;
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    @include media (mobile) {
                        // display: none;
                    }

                    // li.comlist {
                    //     width: 100%;
                    //     display: flex;
                    //     align-items: flex-start;
                    //     justify-content: flex-start;
                    //     border: none;
                    //     gap: unset;

                    // }


                    >li.comlist {
                        width: 100%;
                        display: flex;
                        height: 56px;
                        padding: 0 8px;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        border: none;
                        gap: unset;

                        @include media (mobile) {
                            width: inherit;
                        }

                        &.mainarticle1 {
                            .itemarticle1>li {
                                align-items: flex-start;
                                color: var(--blue-1800-primary, #2E2A94);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body);
                                font-size: var(--body-xsmall-medium-size);
                                font-style: normal;
                                font-weight: 500;
                                line-height: var(--body-xsmall-medium-line-height, 14px);
                                border: none;
                                text-align: left;
                            }

                            li.itemsubart1,
                            li.itemsubart3,
                            li.itemsubart4,
                            li.itemsubart5,
                            li.itemsubart6 {
                                padding: 8px;
                            }
                        }



                        .itemarticle1 {
                            list-style: none;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            gap: unset;

                            >li {
                                // padding: 0 0.5rem;
                                flex-grow: 0;
                                flex-shrink: 0;
                            }

                            .itemsubart1 {
                                // flex-basis: 20%;
                                text-align: left;
                                background-color: transparent;
                                display: flex;
                                width: 210px;
                                padding: 12px 8px;
                                align-items: center;
                                gap: 10px;
                                align-self: stretch;
                                word-break: auto-phrase;
                                color: var(--neutrals-900);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-xsmall-medium-size, 12px);
                                font-style: normal;
                                font-weight: 500;
                                line-height: var(--body-xsmall-medium-line-height, 14px);
                            }

                            .itemsubart2 {
                                // flex-basis: 22%;
                                text-align: left;
                                display: flex;
                                width: 176px;
                                padding: 8px;
                                justify-content: flex-start;
                                align-items: center;
                                align-self: stretch;
                                color: var(--neutrals-800);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--paragraph-xsmall-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--paragraph-xsmall-line-height);
                            }

                            .itemsubart3,
                            .itemsubart4,
                            .itemsubart5,
                            .itemsubart6 {
                                // flex-basis: 20%;
                                text-align: right;
                                background-color: transparent;
                                display: flex;
                                width: 104px;
                                padding: 12px 8px;
                                justify-content: flex-start;
                                align-items: center;
                                align-self: stretch;
                                color: var(--neutrals-800);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--paragraph-xsmall-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--paragraph-xsmall-line-height);
                            }

                            .itemsubart4 {
                                // flex-basis: 12%;
                                text-align: right;
                                background-color: transparent;
                            }

                            .itemsubart5 {
                                // flex-basis: 12%;
                                text-align: right;
                                background-color: transparent;
                            }

                            .itemsubart6 {
                                // flex-basis: 14%;
                                text-align: right;

                                &::before {
                                    content: unset;
                                }
                            }
                        }

                        &:first-child {
                            border-radius: 8px 0 0 8px;
                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        &:nth-child(odd) {
                            background: #F5F5F5;
                        }

                        &:nth-child(odd):not(.mainarticle1) {
                            background: #F5F5F5;
                        }
                    }

                    // >li:last-child {
                    //     border-bottom: none;
                    // }

                }
            }
        }

        .articlesub4 {
            .default-content-wrapper {
                margin: 40px 0 0;
                padding: 0;

                .leftartitem1,
                .leftartitem3,
                .leftartitem4 {
                    padding: 0;
                    margin: 0;
                    color: #3D3D3D;
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body);
                    font-size: var(--body-medium-regular-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;

                    // line-height: var(--body-medium-regular-line-height);

                    @include media (mobile) {
                        font-size: var(--paragraph-small-size);
                        line-height: var(--paragraph-small-line-height);
                    }
                }

                .leftartitem4 {
                   padding: 40px 0 0;
                }

                .leftartitem2.comlist {
                    margin: var(--spacing-40) 0 var(--spacing-16);
                    color: var(--blue-1800-primary, #2E2A94);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--body-large-semibold-size);
                    font-weight: 600;
                    line-height: var(--body-large-semibold-line-height);
                }
            }
        }
    }

    .article-right-wrapper {
        padding: 0;
        margin: 0;

        @include media(mobile) {
            max-width: 100%;
            width: 100%;
        }

        .articlesub1 {
            @include media(mobile) {
                display: none;
            }

            .default-content-wrapper.articleitem1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                align-self: stretch;
                margin-bottom: 40px;

                .subarticle1 {
                    margin: 0;
                    color: var(--blue-1800-primary, #2E2A94);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body);
                    font-size: var(--body-large-medium-size);
                    font-style: normal;
                    font-weight: 500;
                    line-height: var(--body-large-medium-line-height);
                }

                p.subarticle2 {
                    margin: 0;
                    display: flex;
                    height: 40px;
                    padding: var(--spacing-12);
                    justify-content: center;
                    align-items: center;
                    gap: var(--spacing-8);
                    align-self: stretch;
                    border-radius: var(--border-radius-8);
                    background: var(--neutrals-black);

                    .button {
                        color: var(--text-white);
                        text-align: center;
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--body);
                        font-size: var(--button-medium-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--button-medium-line-height);
                        padding: 0;
                        border-radius: unset;
                        background-color: transparent;
                        max-width: inherit;
                        margin: unset;
                        border: none;
                    }

                }
            }
        }

        .article-sub-right {
            &.recommended-posts.cards-container {
                @include media (mobile) {
                    // padding-bottom: 40px;
                }
            }
        }
    }

    .performance-graph-returning-container .performance-graph-wrapper {
        padding: 0;
        margin: 0;

        @include media(mobile) {
            padding: 0;
            padding-top: 16px;
        }

        .default-content-wrapper {
            padding: 0;
            margin: 0;

            @include media(mobile) {
                padding: 0;
            }
        }
    }
}


// .section.moedge-buliding.future-building-container {
//     // @include media(mobile) {
//     //     display: none;
//     // }

//     >.library-btn3 {
//         display: inline-block;
//         position: absolute;
//         padding: 0;
//         top: 30px;
//         right: 1px;

//         @include media (mobile) {
//             position: unset;
//             padding-left: 16px;
//         }
//     }
// }