/* Reset */
@import "../../../styles/fonts.css";
@import url("../fund-card/fund-card.css");
.our-funds-block-container {
  background-color: #F5F5F5;
}
.our-funds-block-wrapper {
  width: 100%;
  padding-top: 32px;
}
@media (max-width: 768px) {
  .our-funds-block-wrapper {
    padding-top: 56px;
  }
}
.our-funds-block .fundcontainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer {
    flex-direction: column;
    gap: 36px;
  }
}
.our-funds-block .fundcontainer .block-subitem1 h1 {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  color: #2e2a94;
  font-family: "ButlerPro", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .block-subitem1 h1 {
    font-size: 34px;
    line-height: 40px;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 74.68%;
  width: 100%;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper {
    max-width: 100%;
    display: grid;
    grid-template-areas: "search" "trending" "watchlist";
    justify-content: unset;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .search-input {
  max-width: 81.8%;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1299px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .search-input {
    max-width: 76.8%;
  }
}
@media (max-width: 1025px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .search-input {
    max-width: 69.7%;
  }
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .search-input {
    grid-area: search;
    max-width: 100%;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .search-input::before {
  content: "";
  background-image: url("../../icons/search-icon-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 20px;
  height: 20px;
  display: block;
}
.our-funds-block .fundcontainer .search-trending-wrapper .search-input .search {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlist {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .watchlist {
    grid-area: watchlist;
    margin-top: 20px;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlist .staricon .icon {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlist .staricon .icon-star-filled {
  display: none;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlist .staricon.watchlist-active .icon {
  display: none;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlist .staricon.watchlist-active .icon-star-filled {
  display: block;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlisttext {
  width: -moz-max-content;
  width: max-content;
}
.our-funds-block .fundcontainer .search-trending-wrapper .watchlisttext span {
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration-line: underline;
  text-underline-offset: 20%;
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container {
  display: flex;
  align-items: start;
  gap: 16px;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .trending-container {
    grid-area: trending;
    align-items: center;
    overflow: auto;
    width: calc(100% + 16px);
  }
  .our-funds-block .fundcontainer .search-trending-wrapper .trending-container::-webkit-scrollbar {
    display: none;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendinglabel {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendinglabel {
    padding: 0;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendinglabel p,
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendinglabel span {
  margin: 0;
  width: 16px;
  height: 16px;
  display: flex;
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendinglabel label {
  font-size: 14px;
  line-height: 16px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendingmostlist {
  line-height: unset;
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendingmostlist ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px 24px;
  list-style: none;
  margin: 0;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendingmostlist ul {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
.our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendingmostlist ul li a {
  text-decoration-line: underline;
  text-underline-offset: 20%;
  font-size: 14px;
  line-height: 20px;
  color: #4338f3;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .our-funds-block .fundcontainer .search-trending-wrapper .trending-container .trendingmostlist ul li a {
    white-space: nowrap;
  }
}
.our-funds-block .filter-cards {
  display: flex;
  gap: 16px;
  margin-top: 55px;
}
@media (max-width: 768px) {
  .our-funds-block .filter-cards {
    display: none;
  }
}
.our-funds-block .filter-cards .left-container {
  max-width: 296px;
  width: 100%;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 150;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);
    max-width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container {
  padding: 12px;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .filter-wrapper,
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .filter-wrapper,
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper {
    padding: 16px 16px 20px;
    gap: 8px;
    max-width: 50%;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    cursor: pointer;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .filter-wrapper label,
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper label {
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .filter-wrapper label,
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper label {
    font-size: 16px;
    line-height: 20px;
    color: #2e2a94;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper {
  display: none;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-sort-container .sort-wrapper {
    display: flex;
    border-left: 1px solid #E0E0E0;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container {
  padding: 0 12px;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container {
    position: fixed;
    z-index: 12;
    background-color: tan;
    max-width: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    border-radius: 12px 12px 0 0;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .clearall-wrapper,
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper {
  display: none;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .clearall-wrapper,
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #E0E0E0;
  }
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .clearall-wrapper span,
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper span {
    font-size: 16px;
    line-height: 20px;
    color: #2e2a94;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .clearall-wrapper button,
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper {
    border: none;
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper button {
    padding: 16px 16px 20px;
    max-width: 50%;
    width: 100%;
    background-color: thistle;
    border-top-left-radius: 8px;
  }
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .apply-wrapper .apply-btn {
    border-left: 1px solid #E0E0E0;
    font-size: 16px;
    line-height: 20px;
    color: #2e2a94;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
  }
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper {
    overflow: auto;
    height: 60vh;
    margin: 10px 16px 0;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper::-webkit-scrollbar {
  display: none;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .fundcategory-label {
  display: none;
}
@media (max-width: 1025px) {
  .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .fundcategory-label {
    display: block;
  }
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .categorey-direct {
  visibility: hidden;
  width: 20px;
  height: 20px;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .categorey-direct::before, .our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .categorey-direct:checked::before {
  content: "";
  background-image: url("../../icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  display: block;
  visibility: visible;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .categorey-direct:checked::before {
  background-image: url("../../icons/checkbox-fill.svg");
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) label {
  font-size: 14px;
  line-height: 20px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding-left: 12px;
  cursor: pointer;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) label::after {
  content: "";
  background-image: url("../../icons/filter-info.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  display: block;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .Indian-Equity-container:not(.checkbox-label-container) label::after {
  content: unset;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .innerIndianEquity {
  padding: 12px 0 12px 30px;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .innerIndianEquity .Indian-Equity-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.our-funds-block .filter-cards .left-container .FundCategory-container .filter-container .filter-list-wrapper .checkbox-label-container:not(.indaneqsub) .innerIndianEquity .Indian-Equity-container .checkbox-label-container {
  padding: 0;
}
.our-funds-block .filter-cards .right-container {
  max-width: calc(100% - 296px);
  width: 100%;
  background-color: #fff;
}
.our-funds-block .filter-cards .right-container .sort-pop-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .sort-popular,
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .sort-popular .sort-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .sort-popular .popular-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .sort-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .popular-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .sort-container,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .popular-container {
  position: relative;
  display: flex;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .sort-popular .sort-container label,
.our-funds-block .filter-cards .right-container .sort-pop-container .sort-popular .popular-container label,
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .sort-container label,
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .popular-container label,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .sort-container label,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .popular-container label {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #332ab5;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn p:last-of-type {
  color: #111;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn .fund-toggle-wrap input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn .fund-toggle-wrap .fund-toggle {
  width: 36px;
  height: 20px;
  background-color: #99A1B0;
  display: block;
  border-radius: 16px;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn .fund-toggle-wrap .fund-toggle::before {
  content: "";
  width: 16.667px;
  height: 16.667px;
  display: block;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3.333px 16.667px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 1.67px;
  transform: translateX(1.67px);
  transition: all 0.2s;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .group-view-container .togglebtn .fund-toggle-wrap input:checked + .fund-toggle::before {
  transform: translateX(17.67px);
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container ul,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container ul {
  margin: 0;
  list-style: none;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container ul li,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container ul li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container ul li .icon,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container ul li img,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container ul li .icon,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container ul li img {
  width: 100%;
  height: 100%;
  display: flex;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container.grid-view-active ul li:first-of-type,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container.list-view-active ul li:first-of-type {
  display: block;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container.grid-view-active ul li:last-of-type,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container.list-view-active ul li:last-of-type {
  display: none;
}
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .squareby-container:not(.grid-view-active) ul li:first-of-type,
.our-funds-block .filter-cards .right-container .sort-pop-container .view-container .listby-container:not(.list-view-active) ul li:first-of-type {
  display: none;
}
@media (max-width: 768px) {
  .our-funds-block .filter-cards .right-container .sort-pop-container .view-container {
    display: none;
  }
}
.our-funds-block .filter-cards .right-container .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}/*# sourceMappingURL=our-funds-block.css.map */