@import "../../../styles/fonts.css";
.section.fm-portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 683px;
  padding: 8px 16px 0;
  background: white;
  height: 100%;
  overflow: auto;
}
@media (max-width: 768px) {
  .section.fm-portfolio-container {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }
}
.section.fm-portfolio-container .default-content-wrapper {
  width: 100%;
  text-align: end;
}
.section.fm-portfolio-container .default-content-wrapper p {
  margin: unset;
  height: 36px;
}
.section.fm-portfolio-container .default-content-wrapper p .icon.icon-modal-btn {
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.section.fm-portfolio-container .fm-portfolio-wrapper {
  max-width: 683px;
  width: 100%;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio {
  background: #FFF;
  max-width: 100%;
  width: 100%;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition {
    gap: 44px;
  }
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-param {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #616161;
}
@media (max-width: 768px) {
  .section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table {
    overflow: scroll;
  }
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  width: 651px;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table thead {
  border-bottom: 1px solid #E0E0E0;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table thead tr,
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table thead th {
  border-right: 1px solid #E0E0E0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2E2A94;
  height: 41px;
  padding: 12px;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table thead tr:nth-child(2) {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table thead tr:nth-child(1) th:nth-child(1) {
  min-width: 180px;
  text-align: left;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table tbody tr td {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  padding: 12px 26px;
  text-align: center;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table tbody tr .fundname {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2E2A94;
  min-width: 180px;
  padding: 12px;
  text-align: left;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .portfolio-composition .fm-scheme-table table tbody tr:nth-child(even) {
  background-color: #F5F5F5;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details {
  display: flex;
  gap: 16px;
  align-items: center;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details .managername,
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details .designation {
  margin: unset;
  line-height: 24px;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details .managername {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #2E2A94;
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details .designation {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424242;
}
@media (max-width: 768px) {
  .section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-details .fm-dealer-details .designation {
    font-size: 12px;
  }
}
.section.fm-portfolio-container .fm-portfolio-wrapper .fm-portfolio .fm-param p {
  margin: unset;
}/*# sourceMappingURL=fm-portfolio.css.map */