@import "../../../styles/fonts.css";

.performance-graph {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* -----------------------------------
     Accessibility Media Queries
  ----------------------------------- */
}

@media (width <= 768px) {
  .performance-graph {
    padding: 0;
    height: unset;
    gap: 24px;
  }
}

.performance-graph .fund-note-container h2 {
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

@media (width <= 768px) {
  .performance-graph .fund-note-container h2 {
    padding: 0 16px;
  }
}

.performance-graph .wrapnote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (width <= 768px) {
  .performance-graph .wrapnote {
    background-color: var(--neutrals-white);
    padding: 21px 16px 25px;
  }
}

.performance-graph .wrapnote .fund-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (width <= 768px) {
  .performance-graph .wrapnote .fund-main {
    display: table;
  }
}

.performance-graph .wrapnote .fund-main .fund-filters .chart-filter-bar {
  display: flex;
  gap: 8px;
}

.performance-graph .wrapnote .fund-main .fund-filters .chart-filter-bar .filter-btn {
  margin: 0;
  width: 56px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-8) var(--spacing-12);
  border-radius: var(--border-radius-circle);
  border: var(--border-width-01) solid var(--strokes-disabled);
  background-color: var(--surface-disabled);
  cursor: pointer;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--body-small-regular-size);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .performance-graph .wrapnote .fund-main .fund-filters .chart-filter-bar .filter-btn {
    width: 100%;
    min-width: 43px;
    height: 32px;
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}

.performance-graph .wrapnote .fund-main .fund-filters .chart-filter-bar .filter-btn:hover {
  border-color: #2e2a94;
}

.performance-graph .wrapnote .fund-main .fund-filters .chart-filter-bar .active {
  border: var(--border-width-01) solid var(--strokes-selected);
  background-color: var(--surface-selected);
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--text-button-default);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

.performance-graph .wrapnote .fund-main .fund-cagr {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media (width <= 768px) {
  .performance-graph .wrapnote .fund-main .fund-cagr {
    justify-content: flex-start;
    margin-top: 16px;
    align-items: center;
  }
}

.performance-graph .wrapnote .fund-main .fund-cagr .graph-cagr p {
  padding: 0;
  margin: 0;
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .filter-selected {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .filter-selected {
    font-size: var(--body-small-regular-size);
    line-height: var(--body-small-regular-line-height);
  }
}

.performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .cagr-value {
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .cagr-value {
    font-size: var(--body-small-semibold-size);
    line-height: var(--body-small-semibold-line-height);
  }
}

.performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .cagr-value .filter-selected {
  font-weight: 400;
}

.performance-graph .wrapnote .fund-main .fund-cagr .fund-cagr-container .cagr-value .cagr-value {
  font-weight: 600;
}

.performance-graph .wrapnote #chartdiv {
  width: 100%;
  height: 432px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

@media (width <= 768px) {
  .performance-graph .wrapnote #chartdiv {
    box-shadow: unset;
  }
}

@media (prefers-reduced-motion: reduce) {
  .performance-graph * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-contrast: more) {
  .performance-graph .filter-btn {
    border-color: black !important;
    background-color: white !important;
    color: black !important;
  }
}