@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.our-experts-container {
    margin-bottom: 0;

    // @include media mobile {}

    .our-experts-wrapper {
        ul {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .our-experts {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px 0;
            padding-bottom: 0;

            @include media(mobile) {
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
                padding: 0;
                padding-top: 24px;
            }

            &-cont1 {
                .our-expert-section1 {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        margin: 0;
                        padding: 0;
                        color: var(--blue-1800-primary, #2E2A94);
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--title);
                        font-size: var(--heading-h4-size);
                        font-style: normal;
                        font-weight: 600;
                        line-height: var(--heading-h4-line-height);

                        @include media(mobile) {
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--sub-header-large-line-height);
                        }
                    }
                }
            }

            &-cont2 {
                max-width: 504px;
                width: 100%;

                .our-expert-section1 {
                    // max-width: 504px;
                    // width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    flex-shrink: 0;

                    @include media(mobile) {
                        margin-right: -16px;
                    }

                    .our-expert-sub1 {
                        display: flex;
                        height: 44px;
                        padding: 10px 8px;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;
                        border-radius: var(--border-radius-6);
                        border: var(--border-width-01, 1px) solid var(--strokes-default, #9E9E9E);
                        margin: 0;
                        position: relative;

                        @include media(mobile) {
                            margin-right: 16px;
                        }

                        &.input-focused {
                            border: 1px solid #2E2A94;
                        }

                        input {
                            border: none;
                            color: var(--neutrals-black);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-medium-regular-size, 16px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: var(--body-medium-regular-line-height, 20px);
                        }

                        .floating-label-wrapper {
                            line-height: 0;

                            label {
                                position: absolute;
                                top: 12px;
                                left: 45px;
                                color: var(--text-body-2, #616161);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-medium-regular-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--body-medium-regular-line-height);
                                pointer-events: none;
                                transition: all 0.2s ease;
                            }

                            input {
                                width: 100%;

                            }
                        }

                        .floating-label-wrapper input:focus+label,
                        .floating-label-wrapper input:not(:placeholder-shown)+label {
                            top: -8px;
                            left: 25px;
                            padding: 0 4px;
                            color: #2E2A94;
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--text-link-xsmall-size);
                            font-style: normal;
                            font-weight: 400;
                            line-height: var(--text-link-xsmall-line-height, 16px);
                            background-color: #FFF;
                        }

                        &:focus {
                            border: 2px solid #2E2A94;
                        }
                    }

                    .our-expert-sub2 {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        @include media(mobile) {
                            max-width: 350px;
                            width: 100%;
                            overflow: auto;
                        }

                        .expert-lists1 {
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            color: var(--neutrals-black);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-small-medium-size);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--body-small-medium-line-height);

                            .icon {
                                width: 16px;
                                height: 16px;
                                aspect-ratio: 1/1;
                            }
                        }

                        li {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            a {
                                color: #2E2A94;
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body);
                                font-size: var(--text-link-xsmall-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--text-link-xsmall-line-height, 16px);
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: auto;
                                text-decoration-thickness: auto;
                                text-underline-offset: 4.9%;
                                text-underline-position: from-font;
                                white-space: nowrap;

                                @include media (mobile) {
                                    font-size: var(--text-link-small-size);
                                    line-height: var(--text-link-small-line-height);
                                }
                            }
                        }

                        .expert-lists2 {
                            padding-right: 8px;
                        }
                    }

                    .our-expert-sub3 {
                        display: none;
                    }
                }
            }
        }
    }
}

.our-author-list.our-experts-container {
    .our-experts-wrapper {
        .our-experts {
            @include media(mobile) {
                gap: 24px;
            }

            .our-experts-cont1 {
                .our-expert-section1 {
                    .our-expert-sub1 {
                        @include media(mobile) {
                            font-size: 24px;
                            line-height: 28px;

                            // line-height: var(--sub-header-medium-line-height);
                        }
                    }
                }
            }

        }
    }
}

.section.out-expert-listing.our-experts-container {
    .our-experts-wrapper {
        .our-experts {
            .our-experts-cont1 {
                .our-expert-section1 {
                    .our-expert-sub1 {
                        @include media(mobile) {
                            font-size: var(--sub-header-large-size);
                            line-height: 28px;

                            // line-height: var(--sub-header-medium-line-height);
                        }
                    }
                }
            }

            .our-experts-cont2 {
                display: none;
            }
        }
    }
}

// .section.out-expert-listing.our-experts-container {
//     .our-experts-wrapper {
//         .our-experts {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             gap: 28px;

//             .our-experts-cont2 {
//                 width: 100%;

//                 .our-expert-section1 {
//                     max-width: 100%;
//                 }

//                 .our-expert-sub1 {
//                     display: none;
//                 }

//                 .our-expert-sub2 {
//                     display: none;
//                 }

//                 // .our-expert-sub3 {
//                 //     width: 100%;
//                 //     display: flex;
//                 //     justify-content: space-between;
//                 //     align-items: flex-start;

//                 //     li {
//                 // max-width: 32.4%;
//                 // flex: 0 0 32.4%;
//                 // display: flex;
//                 // padding: 8px 12px;
//                 // flex-direction: column;
//                 // justify-content: flex-end;
//                 // align-items: flex-start;
//                 // gap: 4px;
//                 // align-self: stretch;
//                 // border-radius: 6px;
//                 // border: 1px solid #9E9E9E;

//                 //         ul {
//                 //             display: none;
//                 //         }
//                 //     }
//                 // }

//                 .our-expert-sub3 {
//                     position: relative;
//                     width: 100%;
//                     margin: 0;
//                     padding: 0;
//                     list-style: none;
//                     font-family: system-ui, sans-serif;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: flex-start;

//                     @include media (mobile) {
//                         flex-direction: column;
//                         gap: 24px;
//                     }

//                     >li {
//                         position: relative;
//                         max-width: 32.4%;
//                         flex: 0 0 32.4%;
//                         display: flex;
//                         padding: 8px 12px;

//                         // flex-direction: column;
//                         justify-content: flex-end;
//                         align-items: flex-start;
//                         gap: 4px;
//                         align-self: stretch;
//                         height: 40px;
//                         border-radius: 6px;
//                         border: 1px solid #9E9E9E;
//                         background: #fff;
//                         box-shadow: 0 2px 6px #0000000D;
//                         transition: box-shadow 0.2s ease-in-out;

//                         @include media (mobile) {
//                             max-width: 100%;
//                             flex: 0 0 100%;
//                         }

//                         &:hover {
//                             box-shadow: 0 4px 10px #00000014;
//                         }

//                         .expert-lists-wrap1 {
//                             // padding: 14px 16px;
//                             width: 100%;
//                             display: flex;
//                             justify-content: space-between;
//                             align-items: center;
//                             font-family: $poppins;
//                             font-size: 14px;
//                             line-height: 20px;
//                             font-weight: 400;
//                             color: #616161;
//                             margin: 0;
//                             cursor: pointer;
//                             user-select: none;

//                             &::after {
//                                 content: '';
//                                 display: block;
//                                 width: 24px;
//                                 height: 24px;
//                                 background: url('/icons/direction-right.svg');
//                                 background-repeat: no-repeat;
//                                 background-position: center;
//                                 transition: transform 0.3s ease;
//                                 transform: rotate(90deg);
//                             }
//                         }

//                         .expert-dropdown1 {
//                             position: absolute;
//                             left: 8px;
//                             top: -8px;
//                             margin: 0;
//                             overflow: hidden;
//                             color: #616161;
//                             text-overflow: ellipsis;
//                             font-family: $poppins;
//                             font-size: rem(12px);
//                             font-style: normal;
//                             font-weight: 400;
//                             line-height: rem(16px);
//                             background: #FFF;
//                             padding: 0 4px;
//                         }

//                         .expert-dropdown2 {
//                             display: none;
//                             list-style: none;
//                             margin: 0;

//                             li {
//                                 padding: 10px 16px;
//                                 font-size: 14px;
//                                 transition: background 0.2s;

//                                 &:hover {
//                                     background: #f2f4f7;
//                                 }

//                                 a {
//                                     text-decoration: none;
//                                     color: #475467;

//                                     &:hover {
//                                         color: #2E2A94;
//                                     }
//                                 }
//                             }
//                         }

//                         &.open {
//                             .expert-lists-wrap1::after {
//                                 transform: rotate(-90deg);
//                             }

//                             .expert-dropdown2 {
//                                 position: absolute;
//                                 left: 0;
//                                 top: 45px;
//                                 z-index: 1;
//                                 display: flex;
//                                 width: 100%;
//                                 flex-direction: column;
//                                 align-items: flex-start;
//                                 border-radius: 6px;
//                                 background-color: #FFF;
//                                 border: 1px solid #EEE;
//                                 box-shadow: 0 0 14px 0 #2828280F;

//                                 li {
//                                     display: flex;
//                                     height: 32px;
//                                     padding: 8px 12px;
//                                     align-items: center;
//                                     gap: 8px;
//                                     align-self: stretch;
//                                     color: #616161;
//                                     font-family: $poppins;
//                                     font-size: rem(12px);
//                                     font-style: normal;
//                                     font-weight: 400;
//                                     line-height: rem(16px);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }