@import "../../../styles/fonts.css";
.section.our-experts-container {
  margin-bottom: 0;
}
.section.our-experts-container .our-experts-wrapper ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
.section.our-experts-container .our-experts-wrapper ul::-webkit-scrollbar {
  display: none;
}
.section.our-experts-container .our-experts-wrapper .our-experts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    padding-top: 24px;
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h1,
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h2,
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h3,
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h4,
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h5,
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h6 {
  margin: 0;
  padding: 0;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h4-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h4-line-height);
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h1,
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h2,
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h3,
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h4,
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h5,
  .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h6 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--sub-header-large-line-height);
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 {
  max-width: 504px;
  width: 100%;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 {
    margin-right: -16px;
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 {
  display: flex;
  height: 44px;
  padding: 10px 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: var(--border-radius-6);
  border: var(--border-width-01, 1px) solid var(--strokes-default, #9E9E9E);
  margin: 0;
  position: relative;
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 {
    margin-right: 16px;
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1.input-focused {
  border: 1px solid #2E2A94;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 input {
  border: none;
  color: var(--neutrals-black);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-regular-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height, 20px);
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper {
  line-height: 0;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper label {
  position: absolute;
  top: 12px;
  left: 45px;
  color: var(--text-body-2, #616161);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height);
  pointer-events: none;
  transition: all 0.2s ease;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper input {
  width: 100%;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper input:not(:-moz-placeholder) + label {
  top: -8px;
  left: 25px;
  padding: 0 4px;
  color: #2E2A94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--text-link-xsmall-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-xsmall-line-height, 16px);
  background-color: #FFF;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper input:focus + label,
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .floating-label-wrapper input:not(:placeholder-shown) + label {
  top: -8px;
  left: 25px;
  padding: 0 4px;
  color: #2E2A94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--text-link-xsmall-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-xsmall-line-height, 16px);
  background-color: #FFF;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1:focus {
  border: 2px solid #2E2A94;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 {
    max-width: 350px;
    width: 100%;
    overflow: auto;
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 .expert-lists1 {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutrals-black);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-small-medium-line-height);
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 .expert-lists1 .icon {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 li a {
  color: #2E2A94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--text-link-xsmall-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-xsmall-line-height, 16px);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 4.9%;
  text-underline-position: from-font;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 li a {
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
  }
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 .expert-lists2 {
  padding-right: 8px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub3 {
  display: none;
}

@media (max-width: 768px) {
  .our-author-list.our-experts-container .our-experts-wrapper .our-experts {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .our-author-list.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont1 .our-expert-section1 .our-expert-sub1 {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont1 .our-expert-section1 .our-expert-sub1 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
  }
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 {
  display: none;
}/*# sourceMappingURL=our-experts.css.map */