@import "../../../styles/fonts.css";
.section.our-experts-container .our-experts-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section.our-experts-container .our-experts-wrapper .our-experts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h1, .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h2, .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h3, .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h4, .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h5, .section.our-experts-container .our-experts-wrapper .our-experts-cont1 .our-expert-section1 h6 {
  margin: 0;
  padding: 0;
  color: #2E2A94;
  font-feature-settings: "liga" off;
  font-family: "ButlerPro", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 {
  display: flex;
  max-width: 504px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 {
  display: flex;
  padding: 10px 8px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 0.375rem;
  border: 1px solid #9E9E9E;
  margin: 0;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 .icon {
  width: 20px;
  height: 20px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub1 input {
  border: none;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 .expert-lists1 {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 .expert-lists1 .icon {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub2 li a {
  color: #4338F3;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 2.8px;
  text-underline-position: from-font;
}
.section.our-experts-container .our-experts-wrapper .our-experts-cont2 .our-expert-section1 .our-expert-sub3 {
  display: none;
}

.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 {
  width: 100%;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-section1 {
  max-width: 100%;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub1 {
  display: none;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub2 {
  display: none;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: system-ui, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 {
    flex-direction: column;
    gap: 24px;
  }
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li {
  position: relative;
  max-width: 32.4%;
  flex: 0 0 32.4%;
  display: flex;
  padding: 8px 12px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.0509803922);
  transition: box-shadow 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.0784313725);
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-lists-wrap1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #616161;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-lists-wrap1::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../icons/direction-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown1 {
  position: absolute;
  left: 8px;
  top: -8px;
  margin: 0;
  overflow: hidden;
  color: #616161;
  text-overflow: ellipsis;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  background: #FFF;
  padding: 0 4px;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown2 {
  display: none;
  list-style: none;
  margin: 0;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown2 li {
  padding: 10px 16px;
  font-size: 14px;
  transition: background 0.2s;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown2 li:hover {
  background: #f2f4f7;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown2 li a {
  text-decoration: none;
  color: #475467;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li .expert-dropdown2 li a:hover {
  color: #2E2A94;
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li.open .expert-lists-wrap1::after {
  transform: rotate(90deg);
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li.open .expert-dropdown2 {
  position: absolute;
  left: 0;
  top: 55px;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #EEE;
  box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.0588235294);
}
.section.out-expert-listing.our-experts-container .our-experts-wrapper .our-experts .our-experts-cont2 .our-expert-sub3 > li.open .expert-dropdown2 li {
  display: flex;
  height: 32px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}/*# sourceMappingURL=our-experts.css.map */