@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.our-authors-container {
    padding-top: 40px;

    ul,
    h4,
    p {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .our-authors {
        display: flex;
        padding: 16px;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 12px;
        background: var(--blue-1-25, #EDF1FF);

        @include media(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
        }

        .our-authors-cont1 {
            display: flex;

            // width: 196px;
            flex-direction: column;
            align-items: flex-start;
            gap: 5.297px;

            .our-authors-section1 {
                img {
                    max-width: 196px;
                    height: 100%;
                    border-radius: 8.556px;

                    @include media (mobile) {
                        max-width: 308px;
                        border-radius: 8.556px;
                    }
                }
            }
        }

        .our-authors-cont2 {
            .our-authors-section1 {
                >ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 16px;
                    flex: 1 0 0;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    .authors-lists1 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;
                        align-self: stretch;

                        h6 {
                            margin: 0;
                            padding: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--title);
                            font-size: var(--heading-h6-size, 24px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--heading-h6-line-height, 28px);

                            @include media(mobile) {
                                font-size: 20px;
                                line-height: 24px;
                            }
                        }

                        ul {
                            li {
                                color: var(--neutrals-700, #616161);
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--label-medium-size, 14px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--label-medium-line-height, 16px);

                                @include media(mobile) {
                                    font-size: var(--label-medium-size);
                                    line-height: var(--label-medium-line-height);
                                }
                            }
                        }
                    }

                    .authors-lists2 {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        p {
                            color: var(--text-body);
                            font-feature-settings: (--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-small-regular-size, 14px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: var(--label-large-line-height, 20px);
                        }
                    }
                }
            }
        }
    }
}

.section.our-author-detail.our-authors-container {
    @include media(mobile) {
        margin-top: 0;
    }
}

.popular-artical.our-author-detail.moedge-building-container {
    @include media(mobile) {
        padding-top: 0;
    }

    .default-content-wrapper {
        ul {
            @include media (mobile) {
                padding-bottom: 16px;
            }
        }
    }
}