@import "../../../styles/fonts.css";
main {
  background-color: #f5f5f5;
  position: relative;
}

.section.fdp-card-container {
  display: flex;
  flex-direction: row;
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
  background-color: #f5f5f5;
}
@media (width <= 768px) {
  .section.fdp-card-container {
    flex-direction: column;
    gap: 4px;
    margin-top: 0;
  }
}
.section.fdp-card-container .fdp-card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}
.section.fdp-card-container .fdp-card-wrapper.item1 {
  max-width: 33.766%;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 209px;
  padding: 0;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card-wrapper.item1 {
    max-width: 100%;
    padding: 0;
    position: unset;
  }
}
.section.fdp-card-container .fdp-card .card-container {
  max-width: unset;
  box-shadow: unset;
  border: none;
  width: 100%;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container {
    border-radius: 0;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  max-width: 340px;
  width: 100%;
  max-height: 125px;
  overflow: auto;
  margin: 3px 0 0;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eee;
  box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.06);
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist.dropdown-active {
  display: block;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist::-webkit-scrollbar {
  width: 2px;
  background-color: #464343;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist::-webkit-scrollbar-track {
  width: 3px;
  background-color: #fff;
  border-radius: 0 6px 6px 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #424242;
  border-radius: 0 1px 1px 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist .listval {
  padding: 8px 12px;
  cursor: pointer;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist .listval {
    padding: 12px;
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist .listval.active {
  font-size: var(--body-xsmall-medium-size);
  line-height: var(--body-xsmall-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  padding: 9px 12px;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .dropdownlist .listval.active {
    font-size: var(--body-xsmall-medium-size);
    line-height: var(--body-xsmall-medium-line-height);
    padding: 12px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 10px 20px;
  margin-bottom: 8px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .brand-logo {
  max-width: 40px;
  width: 100%;
  height: 40px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .brand-logo .logoscheme {
  width: 100%;
  height: 100%;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon {
  display: none;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .contactus-icon,
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .share-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 0;
  cursor: pointer;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .contactus-icon .icon-callback,
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .share-icon .icon-callback {
  max-width: 24px;
  width: 100%;
  height: 24px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .contactus-icon .icon-text,
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .brandlogo-callicons .contanct-share-icon .share-icon .icon-text {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .brand-name-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #5659FA;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .brand-name-text {
    font-weight: 400;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .title-logo .fund-name-title {
  margin: 0;
  font-size: var(--heading-h6-size);
  line-height: var(--heading-h6-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .title-logo .fund-name-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .discription {
  padding: 0;
  margin: 4px 0 0;
  display: block;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .title-discrption .discription {
    margin: 0;
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
    padding-top: 8px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .fundtagging-grp .tags-grp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
  margin: 20px 0 0;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .fundtagging-grp .tags-grp {
    margin-top: 16px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .fundtagging-grp .tags-grp .list-tag {
  border-radius: var(--border-radius-12);
  background-color: var(--neutrals-200);
  padding: var(--spacing-2) var(--spacing-8);
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .upperdiv .fundtagging-grp .tags-grp .list-tag {
    height: 24px;
    padding: 5px 10px;
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
    color: var(--blue-1-800-primary);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 400;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv {
  margin: 24px 0 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .dropdownmidle {
  position: relative;
  width: 100%;
  margin: 0 0 8px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .dropdownmidle .label-text .selecttext {
  margin: 0;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .dropdownmidle .label-text .selecttext::after {
  content: "";
  background: url("/icons/direction-right.svg") center/cover no-repeat;
  background-position: center;
  background-size: cover;
  transform: rotate(90deg);
  width: 16px;
  height: 16px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp {
  display: flex;
  gap: 16px;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp {
    flex-wrap: wrap;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp {
  position: relative;
  max-width: 192px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 8px;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp {
    max-width: 160px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-text {
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-text {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .selectedtext {
  color: #2e2a94;
  font-weight: 500;
  max-width: inherit;
  margin: 0;
  display: flex;
  gap: 4px;
  font-size: var(--body-xsmall-medium-size);
  line-height: var(--body-xsmall-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .selectedtext {
    gap: 4px;
    font-size: 12px;
    line-height: 14px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .selectedtext::after {
  content: "";
  background: url("/icons/direction-right.svg") center/cover no-repeat;
  min-width: 16px;
  height: 16px;
  display: block;
  transform: rotate(90deg);
  cursor: pointer;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .dropdownlist {
  max-width: 143px;
  top: 14px;
  margin: 4px 0 0;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .dropdownlist {
    margin: 3px 0 0;
    top: 15px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .dropdownlist .listval {
  padding: 12px;
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .dropdown .dropdownlist .listval {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-cagr {
  width: 100%;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-cagr .value-cagr,
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-cagr .percent {
  font-size: var(--body-large-semibold-size);
  line-height: var(--body-large-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-cagr .percent {
  font-size: var(--body-large-regular-size);
  line-height: var(--body-large-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: var(--font-features-default);
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .return-grp .return-cagr .percent {
    font-size: var(--body-large-regular-size);
    line-height: var(--body-large-regular-line-height);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp {
  max-width: 160px;
  width: 100%;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp {
    max-width: 164px;
    padding-right: 33px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-label {
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0 0 4px;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-label {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .value-nav,
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .percent {
  font-size: var(--body-large-semibold-size);
  line-height: var(--body-large-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .percent {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .percent {
    line-height: 32px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .perecent-value {
  display: flex;
  align-items: center;
  gap: 4px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .perecent-value .nav-img {
  max-width: 20px;
  width: 100%;
  height: 20px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .perecent-value .nav-percent {
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--text-success);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .middlediv .nav-return-grp .nav-grp .nav-value-grp .perecent-value .nav-percent {
    font-weight: 500;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv {
  margin: 24px 0 0;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper {
  display: flex;
  line-height: 0;
  margin: 0 0 16px;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper {
    flex-direction: column;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper {
    flex-direction: unset;
    gap: 0;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper {
  position: relative;
  display: none;
  width: calc(100% - 125px);
  border-radius: 4px;
  border: 1px solid #8695af;
  padding: 14px 8px;
  z-index: 1;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper {
    width: calc(100% - 124px);
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 80.13%;
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper .error-span {
  display: none;
  position: absolute;
  bottom: -13px;
  left: 8px;
  font-size: 8px;
  line-height: 12px;
  color: #ed2020;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .input-wrapper .error-span.show-error {
  display: block;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .btn-wrapper {
  line-height: 0;
  z-index: 2;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 1025px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .btn-wrapper {
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .btn-wrapper {
    max-width: 100%;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .form-wrapper .btn-wrapper a.submit {
  display: block;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 0;
  border: none;
  padding: 10px var(--spacing-12);
  border-radius: var(--border-radius-8);
  background-color: var(--blue-1-800-primary);
  height: 100%;
  cursor: pointer;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .notify-discription {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .notify-discription {
    padding-bottom: 4px;
  }
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .notify-discription .icon-person {
  max-width: 16px;
  width: 100%;
  height: 16px;
}
.section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .notify-discription .notify-dis {
  margin: 0;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-card-container .fdp-card .card-container .card-wrapper .lowerdiv .notify-discription .notify-dis {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
    color: var(--neutrals-800);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 400;
  }
}
.section.fdp-card-container .item2 {
  margin: 0;
  max-width: 66.234%;
  width: 100%;
  padding: 0;
  /* ul for second part */
  /* why fund section */
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 {
    max-width: 100%;
    position: relative;
  }
}
.section.fdp-card-container .item2 .item2-ul {
  z-index: 10;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  position: sticky;
  top: 200px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--neutrals-400);
  background-color: #f5f5f5;
  overflow: auto hidden;
}
.section.fdp-card-container .item2 .item2-ul.fdp-tab {
  height: 36px;
}
@media (max-width: 768px) {
  .section.fdp-card-container .item2 .item2-ul.fdp-tab {
    height: auto;
    height: 250px;
    overflow: auto;
    top: 230px;
  }
  .section.fdp-card-container .item2 .item2-ul.fdp-tab::-webkit-scrollbar {
    width: 3px;
  }
  .section.fdp-card-container .item2 .item2-ul.fdp-tab::-webkit-scrollbar-track {
    width: 3px;
    background-color: var(--neutrals-white);
    border-radius: 0 6px 6px 0;
  }
  .section.fdp-card-container .item2 .item2-ul.fdp-tab::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #464343;
  }
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .item2-ul {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--neutrals-white);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.06);
    border: none;
  }
}
.section.fdp-card-container .item2 .item2-ul li {
  text-align: start;
  white-space: nowrap;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .item2-ul li {
    justify-content: start;
    height: unset;
    display: block;
  }
}
.section.fdp-card-container .item2 .item2-ul li.tab-li-item2, .section.fdp-card-container .item2 .item2-ul li.tab-li-item3, .section.fdp-card-container .item2 .item2-ul li.tab-li-item5, .section.fdp-card-container .item2 .item2-ul li.tab-li-item10, .section.fdp-card-container .item2 .item2-ul li.tab-li-item11, .section.fdp-card-container .item2 .item2-ul li.tab-li-item12 {
  display: none;
}
@media (max-width: 768px) {
  .section.fdp-card-container .item2 .item2-ul li.tab-li-item2, .section.fdp-card-container .item2 .item2-ul li.tab-li-item3, .section.fdp-card-container .item2 .item2-ul li.tab-li-item5, .section.fdp-card-container .item2 .item2-ul li.tab-li-item10, .section.fdp-card-container .item2 .item2-ul li.tab-li-item11, .section.fdp-card-container .item2 .item2-ul li.tab-li-item12 {
    display: block;
  }
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .item2-ul li {
    margin: 0 auto;
    background: #fff;
    padding: 8px 16px;
    cursor: pointer;
  }
  .section.fdp-card-container .item2 .item2-ul li:last-of-type {
    margin: 0;
  }
}
.section.fdp-card-container .item2 .item2-ul li a {
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  padding: var(--spacing-10) var(--spacing-none);
  cursor: pointer;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .item2-ul li a {
    font-size: var(--paragraph-medium-size);
    line-height: var(--paragraph-medium-line-height);
    color: var(--text-body);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 400;
  }
}
.section.fdp-card-container .item2 .item2-ul li .active {
  display: flex;
  height: 40px;
  padding: var(--spacing-10) var(--spacing-none);
  justify-content: start;
  align-items: start;
  border-bottom: 2px solid var(--blue-1-800-primary);
  font-size: var(--body-small-semibold-size);
  line-height: var(--body-small-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.fdp-card-container .item2 .selectedtext-fdp {
  display: none;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .selectedtext-fdp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 16px;
    cursor: pointer;
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
    color: var(--blue-1-800-primary);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
    position: sticky;
    top: 179px;
    z-index: 5;
  }
  .section.fdp-card-container .item2 .selectedtext-fdp::after {
    content: "";
    background-image: url("/icons/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: block;
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
  .section.fdp-card-container .item2 .selectedtext-fdp.active::after {
    transform: rotate(90deg);
  }
}
.section.fdp-card-container .item2 .why-fund {
  margin: 24px 0;
  padding: 40px 0;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund {
    padding: 0 16px;
    margin: 40px 0;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper {
    padding: 0;
    gap: 24px;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper h2 {
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 {
    gap: 0;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 {
  display: flex;
  gap: 24px;
  padding: 8px 0;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 {
    padding: 16px 0;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
}
@media (max-width: 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 {
    gap: 8px;
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li.whyfund-innertext-li1:nth-child(1),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li.whyfund-innertext-li1:nth-child(1),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li.whyfund-innertext-li1:nth-child(1),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li.whyfund-innertext-li1:nth-child(1),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li.whyfund-innertext-li1:nth-child(1) {
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2) {
  font-size: var(--body-medium-regular-size);
  line-height: 24px;
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (width <= 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2),
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li.whyfund-innertext-li2:nth-child(2) {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li:nth-child(3),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li:nth-child(3),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li:nth-child(3),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li:nth-child(3),
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li:nth-child(3) {
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--neutrals-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  display: flex;
  gap: 1px;
  align-items: center;
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li:nth-child(3) strong,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li:nth-child(3) strong,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li:nth-child(3) strong,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li:nth-child(3) strong,
.section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li:nth-child(3) strong {
  color: var(--blue-1-400);
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  font-weight: 400;
  font-family: var(--body);
}
@media (max-width: 768px) {
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol1 ol.whyfund-inner-li2 li.whyfund-innertext-li3,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol2 ol.whyfund-inner-li2 li.whyfund-innertext-li3,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol3 ol.whyfund-inner-li2 li.whyfund-innertext-li3,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol4 ol.whyfund-inner-li2 li.whyfund-innertext-li3,
  .section.fdp-card-container .item2 .why-fund .default-content-wrapper ol.whyfund-li2 li.whyfund-inner-ol5 ol.whyfund-inner-li2 li.whyfund-innertext-li3 {
    line-height: var(--body-xsmall-regular-line-height);
  }
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper p {
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--text-disclaimer);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper p span {
  width: 48px;
  height: 48px;
}
.section.fdp-card-container .item2 .why-fund .default-content-wrapper p .whyfund-inner-ol1 {
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.fdp-card-container .hide-overplay {
  animation: hide-overlay 1.2s ease forwards;
}
@keyframes hide-overlay {
  to {
    display: none;
  }
}

.section.fdp-sticky-nav {
  display: none;
  padding: 16px;
  margin: 0;
  margin-top: 16px;
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 0;
  z-index: 5;
  background: var(--neutrals-white, #FFF);
  box-shadow: -25px -1px 214px 0 rgba(0, 0, 0, 0.15);
}
@media (width <= 768px) {
  .section.fdp-sticky-nav {
    display: block;
    background: #fff;
    box-shadow: -25px -1px 214px 0 rgba(0, 0, 0, 0.15);
    margin: 0;
  }
}
.section.fdp-sticky-nav .sticky-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .section.fdp-sticky-nav .sticky-item1 {
    padding: 0;
    gap: 48px;
  }
}
.section.fdp-sticky-nav .sticky-item1 .sticky-sub-item1 {
  padding: 0;
  list-style: none;
  margin: 0;
}
.section.fdp-sticky-nav .sticky-item1 .sticky-sub-item1 .sticky-inner-item1 {
  width: 400px;
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.fdp-sticky-nav .sticky-item1 .sticky-sub-item1 .sticky-inner-item1 {
    width: 100%;
    font-size: var(--body-small-medium-size, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--body-small-medium-line-height, 16px);
  }
}
.section.fdp-sticky-nav .sticky-item1 .sticky-sub-item1 .sticky-inner-item2 {
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.fdp-sticky-nav .sticky-item1 .sticky-sub-item2 {
  display: flex;
  width: 192px;
  height: 40px;
  padding: var(--spacing-12);
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin: 0;
  cursor: pointer;
  color: var(--text-white, #FFF);
  text-align: center;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--button-medium-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--button-medium-line-height, 20px);
}
@media (max-width: 768px) {
  .section.fdp-sticky-nav .sticky-item1 .sticky-sub-item2 {
    display: flex;
    width: 116px;
    height: 32px;
    padding: var(--spacing-8, 8px) var(--spacing-12, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8, 8px);
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}
.section.fdp-sticky-nav .sticky-item1 .sticky-sub-item2 .submit {
  color: var(--text-white);
}/*# sourceMappingURL=fdp-card.css.map */