@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main{
  background-color: #f5f5f5;
}

.section.fdp-card-container {
  display: flex;
  flex-direction: row;
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
  gap: 50px;
  background-color: #f5f5f5;

  @media (width <= 768px) {
    flex-direction: column;
    gap: 50px;
  }

  .item1 {
    margin: 0;

    // width: 30%;
    max-width: 400px;
    width: 100%;

    /* fdp cards */
    .fdp-card {
      position: fixed;
      width: 30%;

      @media (width <= 768px) {
        position: static;
      }
    }
  }

  .item2 {
    margin: 0;
    max-width: 816px;
    width: 100%;
    padding: 0;

    // @media (max-width: 768px) {
    //   padding-left: 16px;
    //   padding-right: 16px;
    // }

    /* ul for second part */

    .item2-ul{
      z-index: 12;
      max-width: 816px;
      width: 100%;
      justify-content: space-between;
      position: fixed;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #b6bcc7;
      background-color: #f5f5f5;

      @media (width <= 768px) {
        max-width: 100%;
        width: 100%;
        position: static;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      li {
        text-align: center;

        a {
        @include font-style(14px, 16px, $primary-blue, 600, $poppins);

        padding: 12px;
        cursor: pointer;

        @media (width <= 768px) {
          text-wrap: nowrap;
        }
      }
      }
    }

    .selectedtext {
      display: none;

      @media (width <= 768px) {
        display: block;
        max-width: 100%;
        text-align: center;
        background: $primary-white;
        margin: 0 auto;
        padding: 16px;

        @include font-style(14px, 16px, $primary-blue, 600, $poppins);

        position: relative;
      }
    }

    .selectedtext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      width: 6px;
      height: 6px;
      border-right: 2px solid #3f51b5; /* dark blue color */
      border-bottom: 2px solid #3f51b5;
      transform: translateY(-50%) rotate(45deg);
    }

    /* why fund section */
    .why-fund {
      margin: 80px 0;

      .default-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 0 16px;

        h5 {
          @include font-style(28px, 32px, $primary-blue, 500, $butlerpro);

          margin: 0;
        }

        ol {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 8px;

          li {
            display: flex;
            gap: 24px;
            padding-top: 16px;
            padding-bottom: 16px;

            ol {
              display: flex;
              flex-direction: column;
              gap: 8px;

              li:nth-child(1) {
                @include font-style(18px, 24px, $primary-blue, 500, $poppins);

                letter-spacing: 0%;
                padding: 0;
              }

              li:nth-child(2) {
                @include font-style(
                  16px,
                  24px,
                  $color-text-body,
                  400,
                  $poppins
                );

                line-height: 24px;
                letter-spacing: 0%;

                // color: #424242;
                padding: 0;
              }

              li:nth-child(3) {
                @include font-style(12px, 16px, $neutrals-600, 400, $poppins);

                display: flex;
                gap: 1px;
                align-items: center;
                padding: 0;

                strong {
                  color: #2e2a94;
                  padding: 0;
                  margin: 0;
                  font-size: 12px;
                  line-height: 16px;
                  letter-spacing: 0%;
                  font-weight: 400;
                }
              }
            }
          }
        }

        p {
          @include font-style(12px, 16px, $color-text-body, 400, $poppins);

          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;

          span{
            width: 48px;
            height: 48px;
          }

          strong {
            color: $primary-blue;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }
}