/*   alpha-value-notation */

/*   media-feature-range-notation */

@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

@import url("./faq-page.css");

.accordion-container {
  display: flex;
}

.accordion {
  details {
    border: 1px solid #dadada;

    /*  -next-line no-descending-specificity */
    // Use the parent selector `&` to target an adjacent sibling
    &+& {
      margin-top: 24px;
    }

    p {
      margin-bottom: 0.8em;
    }

    summary {
      position: relative;
      padding: 0 46px 0 16px;
      cursor: pointer;
      list-style: none;
      overflow: auto;
      // transition: background-color 0.2s;

transitiontransition

      &:focus,
      &:hover {
        background-color: var(--light-color);
      }

      &::-webkit-details-marker {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%) rotate(135deg);
        width: 6px;
        height: 6px;
        border: 2px solid;
        border-width: 2px 2px 0 0;
        transition: transform 0.2s;
      }
    }

    .accordion-item-body {
      padding: 0 16px;
    }

    // Styles for when the details element is open
    &[open] {
      summary {
        background-color: var(--light-color);

        &::after {
          transform: translateY(-50%) rotate(-45deg);
        }
      }

      .accordion-item-body {
        border-top: 1px solid #dadada;
        background-color: var(--background-color);
      }
    }
  }
}

.section.fdp-faq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0 64px;
  margin: unset !important;

  @media (width <=768px) {
    padding: 0 16px;
  }

  .accordion-wrapper {
    .accordion {
      // gap: 40px;gapgap

      @media (width <=768px) {
        gap: 0;
      }

      .accordion-item {
        padding: 0;
        margin: 0;

        @media (width <=768px) {
          // padding: 16px 12px;paddingpadding
        }
      }
    }
  }


  div:nth-of-type(3) {
    margin-top: 16px;
  }

  .default-content-wrapper:nth-child(1) {
    p {
      @include font-style(var(--body-xlarge-bold-size),
        var(--body-xlarge-bold-line-height),
        var(--blue-1-800-primary),
        600,
        var(--body));

      @media (width <=768px) {
        @include font-style(var(--sub-header-large-size),
          28px,
          var(--blue-1-800-primary),
          600,
          var(--title));
      }
    }
  }
}

.section.freq-ask-ques.fdp-faq {
  .faq-our-fund.fdp-faq-inner {
    display: flex;
    flex-direction: column;

    &>.default-content-wrapper:nth-child(1).accordian-parent {
      p.faq-title {
        margin-bottom: 16px;

        @include media(mobile) {
          margin-bottom: unset;
        }

        @include font-style(var(--body-xlarge-bold-size),
          var(--body-xlarge-bold-line-height),
          var(--blue-1-800-primary),
          600,
          var(--body))
      }
    }

    &>.default-content-wrapper:nth-child(3).accor-parent {
      margin-top: 32px;

      @include media(mobile) {
        margin-top: 12px;
      }
    }
  }
}

// Faq css start

.section.freq-ask-ques {
  width: 100%;
  // background-color: #f5f5f5;background-colorbackground-color
  // margin: 0;marginmargin
  // padding: 40px 0;

paddingpadding

  .faq-our-fund {
    display: grid;
    justify-content: space-between;
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;padding
    // padding: 40px 0 72px;paddingpadding
    grid-template-columns: 24.05% 66.3%;grid-template-columns

    @media (width <=1279px) {
      // padding: 40px 24px 132px;paddingpadding
    }

    @include media(mobile) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      // padding: 24px 16px 16px;paddingpadding
      // padding-top: 24px;padding-toppadding-top
    }

    >.default-content-wrapper,
    .accordion-wrapper {
      max-width: unset;
      margin: unset;
      padding: 0;
    }

    &>.default-content-wrapper:nth-child(1) {
      width: 100%;

      @include media(mobile) {
        width: 100%;
      }

      p {
        @include font-style(map.get($typography-desktop, heading-h4-size),
          map.get($typography-desktop, heading-h4-line-height),
          $blue-1-800-primary,
          600,
          $title );

        padding: 0;
        margin: 0;

        @include media(mobile) {
          @include font-style(map.get($typography-mobile, sub-header-large-size),
            28px,
            $blue-1-800-primary,
            600,
            $title );
        }
      }
    }

    .accordion-wrapper {
      width: 100%;

      @include media(mobile) {
        width: 100%;
      }

      .accordion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: 52px;gapgap
        flex: 1 0 0;flex

        // @include media(mobile) {
        //   gap: 36px;gapgap
        // }

        details {
          width: 100%;
          border: none;

          &+& {
            margin-top: 24px;
          }

          p {
            margin: 0;

            @include font-style(var(--body-large-semibold-size),
              var(--body-large-semibold-line-height),
              var(--blue-1-800-primary),
              500,
              var(--body));

            @include media(mobile) {
              padding-right: 45px;
              font-size: var(--body-medium-medium-size);
              line-height: var(--body-medium-medium-line-height);
            }
          }

          summary {
            position: relative;
            padding: $spacing-16 $spacing-none;
            cursor: pointer;
            list-style: none;
            overflow: hidden;
            // transition: all 0.3s ease-in-out;

transitiontransition

            &:focus,
            &:hover {
              background-color: var(--light-color);
            }

            &::-webkit-details-marker {
              display: none;
            }

            &::after {
              content: "";
              position: absolute;top
              right: 0;right
              width: 24px;
              height: 24px;
              border: none;
              border-width: unset;
              transform: translateY(-50%);
              background: url("/icons/plus-blue.svg");
              // transition: all 0.3s ease-in-out;transitiontransition

              @include media(mobile) {
                // top: 12px;toptop
                // right: 0;rightright
              }
            }
          }

          .accordion-item-body {
            padding: 0 16px;
          }

          &.accordion-item[open] {
            background: none;
            -webkit-tap-highlight-color: transparent;
            border-radius: 8px;
            transition: transform 0.2s;

            summary {
              color: #2e2a94;background
              border-radius: 8px 8px 0 0;border-radius
              padding: $spacing-16 $spacing-none $spacing-8 $spacing-none;
              // padding-bottom: 8px;padding-bottompadding-bottom
              background-color: transparent;background-color

              @include media(mobile) {
                // padding: 16px 12px;paddingpadding
                // padding-bottom: 8px;padding-bottompadding-bottom
              }

              &::after {
                // top: 15px;toptop
                right: 0;right
                background: url("/icons/mins-blue.svg");
                transform: translateY(-50%);

                //    @include media(mobile) {
                //    right: 0;rightright
                // }
              }

              p {
                @include font-style(var(--body-large-semibold-size),
                  var(--body-large-semibold-line-height),
                  var(--blue-1-800-primary),
                  600,
                  var(--body));

                @include media(mobile) {
                  padding-right: 45px;
                  font-size: var(--body-medium-semibold-size);
                  line-height: var(--body-medium-semibold-line-height);
                }
              }
            }

            .accordion-item-body {
              color: #fff;
              border: none;
              outline: none;
              margin-top: -1px;
              padding: $spacing-16 $spacing-none;
              padding-top: 0;
              border-radius: 0 0 8px 8px;background
              box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);box-shadow
              background-color: transparent;
              // transition: all 0.3s ease-in-out;transitiontransition

              @include media(mobile) {
                // padding: 16px 12px;paddingpadding
                padding-top: 0;padding-top
              }

              p {
                padding-right: 40px;

                @include font-style(var(--body-small-regular-size),
                  var(--label-large-line-height),
                  var(--neutrals-900),
                  400,
                  var(--body));

                @include media(mobile) {
                  padding: 0;
                  font-size: map.get($typography-mobile, paragraph-xsmall-size);
                  line-height: map.get($typography-mobile,
                      paragraph-xsmall-line-height);
                }
              }
            }
          }
        }

        .accordion-item {
          overflow: hidden;
          // transition: all 0.4s ease-in-out;transitiontransition
          // margin-bottom: 1em;

margin-bottommargin-bottom

          &.hidden {
            display: none;
          }

          &.collapsed {
            max-height: 0;
            opacity: 0;
            margin-bottom: 0;
            pointer-events: none;
          }
        }
      }
    }

    &>.default-content-wrapper:nth-child(3) {
     grid-column: 2 / 2;
      grid-row: 2;
      margin-top: 16px;
      // padding-left: 15px;padding-leftpadding-left
      // pad/ding: 0 16px;pad/dingpad/ding

      @include media(mobile) {
        margin-top: 16px;
      }

      .button-container {
        margin: 0;
        padding: 0;
        line-height: 0;

        a.button {
          margin: 0;
          width: 124px;
          padding: $spacing-8 $spacing-12;
          justify-content: center;
          border-radius: $border-radius-8;
          background: $button-primary-default;
          height: 32px;
          display: flex;
          align-items: center;

          @include font-style(map.get($typography-desktop, button-small-size),
            map.get($typography-desktop, Button-Small-Line-Height),
            $text-white,
            500,
            $body );
        }
      }

      ul {
        margin: 0;
        display: none;
        justify-content: end;
        gap: 8px;
        list-style: none;

        @include media(mobile) {
          display: flex;
          position: fixed;
          right: 16px;
          bottom: 284px;
          z-index: 20;
        }

        li {
          width: 48px;
          height: 48px;
          border-radius: 28px;
          background: map.get($blue-1, b500);
          cursor: pointer;

          @include flex-center($align: center, $justify: center);

          &:first-of-type {
            background: map.get($blue-1, b900);
          }
        }
      }
    }
  }
}

// Faq css End
