/* stylelint-disable alpha-value-notation */
/* stylelint-disable media-feature-range-notation */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.accordion-container {
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 24px;

    >div {
        max-width: unset;
        margin: unset;
        padding: 0;
    }

    &>div:first-child {
        p {
            color: $primary-blue;
            font-family: $ButlerPro;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
        }
    }

    .accordion {
        details {
            border: 1px solid #dadada;

            &+& {
                margin-top: 24px;
            }

            p {
                margin-bottom: 0.8em;
            }

            summary {
                position: relative;
                padding: 0 46px 0 16px;
                cursor: pointer;
                list-style: none;
                overflow: auto;
                transition: background-color 0.2s;

                &:focus,
                &:hover {
                    background-color: var(--light-color);
                }

                &::-webkit-details-marker {
                    display: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 18px;
                    transform: translateY(-50%) rotate(135deg);
                    width: 6px;
                    height: 6px;
                    border: 2px solid;
                    border-width: 2px 2px 0 0;
                    transition: transform 0.2s;
                }
            }

            .accordion-item-body {
                padding: 0 16px;
            }

            &[open] {
                summary {
                    background-color: var(--light-color);

                    &::after {
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }

                .accordion-item-body {
                    border-top: 1px solid #dadada;
                    background-color: var(--background-color);
                }
            }
        }
    }

    &>div:nth-child(3) {
        display: none;
    }
}