/*   alpha-value-notation */

/*   media-feature-range-notation */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

// body::-webkit-scrollbar{
//   display: none;displaydisplay
// }

.section.page-faq-section {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0;

  @include media(desktop-sm) {
    padding: 0 16px;
  }

  @include media(mobile) {
    padding: 0;
    max-width: 100%;
  }

  .itemfaq1 {
    padding: var(--spacing-40) 0 0;

    @include media(mobile) {
      padding: 40px 16px 0;
    }

    .subitemfaq1 {
      margin: 0;

      // @include font-style(36px,
      //   44px,
      //   $primary-blue,
      //   map.get($font-weights, bold),
      //   $inter);

      // @include media(mobile) {font-size
      //   line-height: 28px;line-heightline-height
      //   text-wrap: balance;text-wraptext-wrap
      // }

      .subinnerfaq1 {
        display: flex;
        gap: 16px;

        @include media(mobile) {
          align-items: center;
        }

        .innersubfaq1,
        .innersubfaq1 .inneritemfaq1 {
          margin: 0;
          width: 48px;
          height: 48px;

          @include media(mobile) {
            width: 40px;
            height: 40px;
          }
        }

        .innersubfaq2 {
          margin: 0;
          list-style: none;

          .inneritemfaq1 {
            margin: 0 0 4px;

            @include font-style(var(--heading-h5-size),
              var(--heading-h5-line-height),
              var(--blue-1-800-primary),
              600,
              var(--title));

            @include media(mobile) {
              font-size: var(--sub-header-large-size);
              line-height: var(--sub-header-medium-line-height);
            }
          }

          .inneritemfaq2 {
            @include font-style(var(--body-small-regular-size),
              var(--body-small-regular-line-height),
              var(--blue-1-800-primary),
              400,
              var(--body));

            @include media(mobile) {
              font-size: var(--paragraph-xsmall-size);
              line-height: var(--paragraph-xsmall-line-height);
            }
          }
        }
      }
    }

    // .subitemfaq2 {
    //   margin: 8px 0 0;marginmargin

    //   @include font-style(16px, 24px, $text-body-2, map.get($font-weights, regular), $inter);

    //   @include media(mobile) {
    //     margin: 24px 0 0;marginmargin
    //     font-size: 14px;font-sizefont-size
    //     line-height: 20px;line-heightline-height
    //   }
    // }
  }

  .itemfaq2 {
    padding: 24px 0 0;
    margin: 0;

    @include media(mobile) {
      padding: 16px 0 0;
    }

    .subitemfaq1 {
      .tablist-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 0 0 var(--spacing-24);

        @include media(mobile) {
          flex-direction: column-reverse;
          padding: 0 0 16px 16px;
          gap: 24px;
        }

        .tabs-list {
          max-width: 66.234%;
          width: 100%;
          border-bottom: 1px solid var(--neutrals-400);
          scrollbar-width: none;
          display: flex;
          justify-content: space-between;
          gap: 24px;

          &::-webkit-scrollbar {
            display: none;
          }

          &::-webkit-scrollbar-track {
            background: #fff;
          }

          @include media(mobile) {
            max-width: 100%;

            // margin-left: 32px;margin-leftmargin-left
            // border-bottom: 1px solid #b6bcc7;border-bottomborder-bottom
          }

          .tabs-tab {
            padding: var(--spacing-10) 0;
            border: none;
            background-color: unset;

            @include media(mobile) {
              padding: 2px 0 10px;
            }

            .comlist {
              @include font-style(var(--body-small-regular-size),
                var(--body-small-regular-line-height),
                var(--neutrals-700),
                400,
                var(--body));

              @include media(mobile) {
                padding: 0 0 2px;
                font-size: var(--body-small-regular-size);
                line-height: var(--body-small-regular-line-height);
              }
            }

            &[aria-selected="true"] {
              padding: var(--spacing-10) 14px;
              border-bottom: 2px solid var(--blue-1-800-primary);

              @include media(mobile) {
                padding: 2px 14px 10px;
              }

              .comlist {
                @include font-style(var(--body-small-semibold-size),
                  var(--body-small-semibold-line-height),
                  var(--blue-1-800-primary),
                  600,
                  var(--body));

                @include media(mobile) {
                  font-size: var(--body-small-semibold-size);
                  line-height: var(--body-small-semibold-line-height);
                }
              }
            }
          }
        }

        .search-container {
          position: relative;
          max-width: 27.598%;
          width: 100%;

          @include media(mobile) {
            max-width: 100%;
            padding: 0 16px 0 0;
          }

          .search-wrapper {
            border-radius: var(--border-radius-6);
            border: var(--border-width-01) solid var(--strokes-default);
            padding: var(--spacing-10) var(--spacing-8);
            display: flex;
            align-items: center;
            gap: 8px;

            &::before {
              content: "";
              background-image: url("/icons/search-icon-black.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              min-width: 24px;
              height: 24px;
              display: block;
            }

            .search-field {
              width: 100%;
              border: none;
              outline: none;
              background-color: transparent;

              @include font-style(var(--body-medium-regular-size),
                var(--body-medium-regular-line-height),
                var(--text-body-2),
                400,
                var(--body));

              @include media(mobile) {
                font-size: var(--body-medium-regular-size);
                line-height: var(--body-medium-regular-line-height);
              }
            }

            .cancel-btn {
              max-width: 24px;
              width: 100%;
              height: 24px;
              display: none;
            }

            &.search-active {
              .cancel-btn {
                display: block;
              }
            }
          }

          .dropdownlist {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            width: 100%;
            max-height: 200px;
            margin: 6px 0 0;
            overflow: auto;
            box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
            background-color: $primary-white;
            border-radius: 6px;
            border: 1px solid $neutrals-200;
            list-style: none;

            &::-webkit-scrollbar {
              width: 3px;
              background-color: #464343;
            }

            &::-webkit-scrollbar-track {
              width: 3px;
              background-color: $primary-white;
              border-radius: 0 1px 1px 0;
            }

            &::-webkit-scrollbar-thumb {
              width: 3px;
              background-color: #464343;
            }

            &.dropdown-active {
              display: block;
            }

            @include media(mobile) {
              width: auto;
              left: 16px;
              right: 16px;
            }

            .singleval {
              @include font-style(12px, 16px, $neutrals-black, map.get($font-weights, regular), $inter);

              padding: 12px;
              border-bottom: 1px solid $neutrals-200;
              cursor: pointer;

              &:last-of-type {
                border: none;
              }

              &:hover {
                background: #f3f3f3;
              }
            }

            .active {
              background-color: #f3f3f3;
              cursor: pointer;
            }
          }
        }
      }

      .tabs-panel {
        padding: 12px 0 0;
        border: none;
        overflow: unset;

        @include media(mobile) {
          padding: 0 var(--spacing-16);
        }

        .button-container {
          margin: 0;

          .inneritemfaq1 {
            margin: 0;
          }

          .accordion-container {
            .accordion-wrapper {
              width: 100%;

              .accordion {
                display: flex;
                flex-direction: column;

                .accordion-item {
                  border: none;
                  padding: var(--spacing-16) 0;
                  -webkit-tap-highlight-color: transparent;

                  .accordion-item-label {
                    padding: 0;
                    overflow: unset;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    @include media(mobile) {
                      gap: 12px;
                    }

                    &:focus,
                    &:hover {
                      background-color: transparent;
                    }

                    &::after {
                      content: "";
                      background-image: url("/icons/plus-blue.svg");
                      background-position: center;
                      background-repeat: no-repeat;
                      background-size: cover;
                      min-width: 24px;
                      height: 24px;
                      display: block;
                      border: none;
                      position: unset;
                      transform: unset;
                    }

                    p {
                      margin: 0;
                      width: 100%;

                      @include font-style(var(--body-large-medium-size),
                        var(--body-large-medium-line-height),
                        var(--blue-1-800-primary),
                        500,
                        var(--body));

                      @include media(mobile) {
                        font-size: var(--body-medium-medium-size);
                        line-height: var(--body-medium-medium-line-height);
                      }
                    }
                  }

                  .accordion-item-body {
                    background-color: transparent;
                    display: none;
                    padding: 8px 40px 0 0;
                    margin: 0;

                    @include media(mobile) {
                      padding: 8px 0 0;
                    }

                    p {
                      margin: 0;

                      @include font-style(var(--body-small-regular-size),
                        var(--label-large-line-height),
                        var(--neutrals-900),
                        400,
                        var(--body));

                      @include media(mobile) {
                        font-size: var(--paragraph-xsmall-size);
                        line-height: var(--paragraph-xsmall-line-height);
                      }
                    }

                    ol {
                      padding-left: 19px;
                      margin: 0;
                      margin-top: 12px;

                      li {
                        margin: 0;
                        font-size: var(--body-small-regular-size);
                        line-height: var(--label-large-line-height);
                        color: var(--neutrals-900);
                        font-family: var(--body);
                        font-feature-settings: "ss01"on, "ss04"on, "cv01"on, "cv02"on, "cv03"on, "cv04"on, "cv06"on, "cv09"on, "cv10"on, "cv11"on;
                        font-weight: 400;

                        @include media(mobile) {
                          font-size: var(--paragraph-xsmall-size);
                          line-height: var(--paragraph-xsmall-line-height);
                        }
                      }
                    }
                  }

                  &[open] {
                    padding: var(--spacing-16) 0;

                    .accordion-item-label {
                      background-color: transparent;

                      &::after {
                        background-image: url("/icons/mins-blue.svg");
                      }

                      p {
                        @include font-style(var(--body-large-semibold-size),
                          var(--body-large-semibold-line-height),
                          var(--blue-1-800-primary),
                          600,
                          var(--body));

                        @include media(mobile) {
                          font-size: var(--body-medium-semibold-size);
                          line-height: var(--body-medium-semibold-line-height);
                        }
                      }
                      
                    }

                    .accordion-item-body {
                      display: block;
                      border: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}