@import "../../../styles/fonts.css";
.main-wrapper {
  max-width: 1232px;
  width: 100%;
  margin: 78px auto 0;
  padding: 68px 0 48px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1299px) {
  .main-wrapper {
    padding: 68px 16px 40px;
  }
}
@media (max-width: 768px) {
  .main-wrapper {
    max-width: 100%;
    flex-direction: column;
    gap: var(--spacing-40);
  }
}
.main-wrapper .article-block-container.article-left-wrapper {
  max-width: 66.234%;
  width: 100%;
}
.main-wrapper .article-block-container.article-left-wrapper:first-of-type {
  margin-top: 0;
}
.main-wrapper .article-block-container .article-left-inner1 {
  padding: var(--spacing-24) 0 24px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
}
.main-wrapper .article-block-container .article-left-inner1 .comlist {
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.main-wrapper .article-block-container .article-left-inner1 .sub-article-left1 {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--strokes-default);
  padding: 2px var(--spacing-12);
  color: var(--blue-1-800-primary);
}
.main-wrapper .article-block-container .article-left-inner1 .sub-article-left1 .icon {
  width: 20px;
  height: 20px;
}
.main-wrapper .article-block-container .article-left-inner1 .sub-article-left3 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.main-wrapper .article-block-container .article-left-inner1 .sub-article-left3::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--blue-1-400);
  border-radius: 50%;
  margin-right: 4px;
}
.main-wrapper .article-block-container .article-left-inner1 .sub-article-left3 .icon {
  width: 12px;
  height: 12px;
}
.main-wrapper .article-block-container .article-left-inner2 {
  margin: 0;
  font-size: var(--heading-h5-size);
  line-height: var(--heading-h5-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.main-wrapper .article-block-container .article-left-inner3 {
  margin: 4px 0 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.main-wrapper .article-block-container .article-left-inner4 {
  margin: 24px 0 0;
  list-style: none;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 {
  display: flex;
  gap: 8px;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 p {
  margin: 0;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 p .icon {
  width: 35px;
  height: 35px;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 ul {
  margin: 0;
  list-style: none;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 ul li:first-of-type {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--neutrals-900);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.main-wrapper .article-block-container .article-left-inner4 .sub-article-left1 ul li:last-of-type {
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.main-wrapper .article-block-container .article-right-main1 .article-right-inner1 {
  margin: 0;
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.main-wrapper .article-block-container .article-right-main1 .article-right-inner2 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0 0;
  list-style: none;
}
.main-wrapper .article-block-container .article-right-main1 .article-right-inner2 .comlist,
.main-wrapper .article-block-container .article-right-main1 .article-right-inner2 .comlist .icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-sub1 {
  border-radius: var(--border-radius-8);
  background-color: var(--blue-1-800-primary);
  margin: 40px 0;
  padding: var(--spacing-24) 16px;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner1, .main-wrapper .article-block-container .article-right-main2 .article-right-inner1 .sub-article-right1 {
  margin: 0;
  width: 64px;
  height: 64px;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner2 {
  margin: 8px 0 24px;
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--neutrals-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner3 {
  font-size: 0;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner3 .input-email {
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--neutrals-white);
  padding: var(--spacing-8) var(--spacing-12);
  width: 100%;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--neutrals-200);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner3 .email-error {
  font-size: 15px;
  line-height: 20px;
  color: var(--red-400);
  font-family: var(--body);
  font-weight: 400;
  padding: 5px 0 0;
  display: none;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner4 {
  margin: var(--spacing-8) 0 0;
}
.main-wrapper .article-block-container .article-right-main2 .article-right-inner4 .sub-article-right1 {
  margin: 0;
  border-radius: var(--border-radius-8, 8px);
  background: var(--neutrals-white, #fff);
  padding: 10px var(--spacing-12);
  width: 100%;
  cursor: pointer;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-button-default);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}/*# sourceMappingURL=article-block.css.map */