@use 'sass:map';
@use '../../styles/common-theme/css/variables_mixins'as *;
@use '../../styles/common-theme/css/fluid-typography'as *;
@import '../swiper/swiper-bundle.min.css';

// --- Main Section Block ---
.section.make-index-funds-container {
    position: relative;
    background: #FAFAFA;
    padding: 40px 0;
    margin: 0;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     /* top: 0; */
    //     left: 0;
    //     bottom: -78px;
    //     width: 100%;
    //     height: 84%;
    //     /* height: 300px; */
    //     z-index: 0;
    //     background-image: url(/icons/broaden-research.png);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     opacity: 4;

    //     @include media (mobile) {
    //         content: unset;
    //         position: unset;
    //     }
    // }

    >div:first-child {
        text-align: center;

        h3 {
            margin: 0;
            padding-bottom: 4px;
            font-style: normal;

            @include font-style(var(--heading-h4-size), var(--heading-h4-line-height), var(--blue-1-800-primary), 600, $title);

            @include media(mobile) {
                padding: 0 34px 4px;

                @include font-style(var(--sub-header-large-size), 28px, var(--blue-1-800-primary), 600, $title);
            }
        }

        p {
            text-align: center;
            margin: 0;

            @include font-style(var(--body-medium-regular-size), 24px, var(--blue-1-800-primary), 400, $body);

            @include media(mobile) {
                font-size: var(--paragraph-xsmall-size);
                line-height: var(--paragraph-xsmall-line-height);
            }
        }
    }

    >div:last-child {
        width: 100%;

        @include media(mobile) {
            margin-top: 40px;
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;

            a {
                display: flex;
                width: 100%;
                max-width: 328px;
                height: 44px;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: $primary-blue;
                margin: 0;
                font-style: normal;

                @include font-style(var(--button-medium-size), var(--button-medium-line-height), $text-white, 500, $body);

                @include media(mobile) {
                    @include font-style(16px, 20px, $text-white, 500, $body);

                    font-style: normal;
                }
            }
        }
    }


    .make-index-funds-wrapper {
        @include media(mobile) {
            padding: 0;
        }
    }

    .make-index-funds {
        &.block {
            // background-color: $primary-white;
            font-family: $poppins;
            padding: 40px 0;
            text-align: center;
            gap: 16px;
            position: relative;
            padding-bottom: map.get($spacing, 'xxl');
            background: transparent;

            @include flex-center(flex-end, center);

            flex-wrap: wrap;

            @include media(mobile) {
                position: unset;
                justify-content: flex-start;
                padding-left: 16px;
                padding-top: 24px;
            }

            .swiper-wrapper {
                display: flex;
                align-items: stretch;
            }
        }

        // &__title {  
        //     @include typography-h2;

        //     width: 100%;
        //     margin-bottom: map.get($spacing, 'xxl');
        // }

        // --- Card Component ---
        .card-wrap {
            display: flex;
            flex-direction: column;
            padding: 8px;
            width: 192px !important;
            min-height: 230px;
            height: fit-content;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 8px;
            border: 0.5px solid #B9BBFF;
            background: #FFF;
            box-shadow: 0 0 8px 0 #0000000F;


            .img-wrapper {
                display: flex;
                padding: 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 4px;
                background: #9DADFE;
                height: 72px;
                margin-bottom: 16px;

                .imgelogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logoscheme {
                        width: 40px;
                        height: 40px;
                    }
                }

            }

            // --- Text Details ---
            .title-subtitle {
                flex-grow: 1; // Pushes the footer down
                margin-bottom: map.get($spacing, 'md');
                text-align: left;

                p {
                    margin: 0;

                    @include font-style(12px, 16px, map.get($blue-1, b400), map.get($font-weights, regular), $poppins);
                }

                .title h2 {
                    margin: 0;

                    @include font-style(var(--body-medium-medium-size), var(--body-medium-medium-line-height), var(--blue-1-800-primary), 500, $body);

                    @include media(mobile) {
                        @include font-style(var(--body-medium-medium-size), var(--body-medium-medium-line-height), var(--blue-1-800-primary), 500, $body);
                    }

                }
            }

            // --- Footer Icons ---
            .icons-card-wrap {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    height: 32px;
                    line-height: normal;

                    @include flex-center(flex-end, space-between);


                    li {
                        height: -webkit-fill-available;
                        line-height: normal;

                        a {
                            cursor: pointer;
                        }
                    }

                    li:nth-child(2) {
                        padding-top: 5px;
                    }
                }

                .icon {
                    display: inline-block;
                    width: 32px;
                    height: 32px;

                    &.icon-external-link {
                        background-color: $primary-blue;
                        border-radius: map.get($radius, 'r50');
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        @include flex-center;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 16px !important;
            }
        }

        .card-wrap:nth-of-type(even) {
            margin-bottom: 40px;

            @include media (tab) {
                margin: 0;
            }
        }
    }
}

// --- Responsive Adjustments ---
@include media('mobile') {
    // .make-index-funds.block {
    //     align-items: center;
    //     gap: map.get($spacing, 'xl');
    //     position: unset;
    // }

    .swiper-pagination.swiper-pagination-bullets {
        bottom: 70px;

        @include media(mobile) {
            bottom: 115px;
            top: unset;
        }

        .swiper-pagination-bullet {
            width: 50px;
            height: 2px;
            margin: 0;
            background-color: #9DADFE;
            border-radius: unset;
            opacity: unset;

            &-active {
                // width: 50px;
                // height: 2px;
                // margin: 0;
                background-color: #2E2A94;
                border-radius: 2px;
                opacity: unset;
            }
        }
    }

    // .card-wrap,
    // .card-wrap--promoted {
    //     transform: translateY(0); // Reset all transforms for a simple stacked layout
    //     max-width: 340px;

    //     &:hover {
    //         transform: translateY(-8px); // Uniform hover effect on mobile
    //     }
    // }
}

.moedge-buliding.make-index-funds-container {
    padding: 66px 0;

    @include media (mobile) {
        padding: 40px 0;
    }
}