@import "../../../styles/fonts.css";
@import '../swiper/swiper-bundle.min.css';
.section.make-index-funds-container {
  position: relative;
  background: #FAFAFA;
  padding: 40px 0;
  margin: 0;
}
.section.make-index-funds-container > div:first-child {
  text-align: center;
}
.section.make-index-funds-container > div:first-child h3 {
  margin: 0;
  padding-bottom: 4px;
  font-style: normal;
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
  color: var(--blue-1-800-primary);
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.make-index-funds-container > div:first-child h3 {
    padding: 0 34px 4px;
    font-size: var(--sub-header-large-size);
    line-height: 28px;
    color: var(--blue-1-800-primary);
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
}
.section.make-index-funds-container > div:first-child p {
  text-align: center;
  margin: 0;
  font-size: var(--body-medium-regular-size);
  line-height: 24px;
  color: var(--blue-1-800-primary);
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.make-index-funds-container > div:first-child p {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.make-index-funds-container > div:last-child {
  width: 100%;
}
@media (max-width: 768px) {
  .section.make-index-funds-container > div:last-child {
    margin-top: 40px;
  }
}
.section.make-index-funds-container > div:last-child .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.section.make-index-funds-container > div:last-child .button-container a {
  display: flex;
  width: 100%;
  max-width: 328px;
  height: 44px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #2e2a94;
  margin: 0;
  font-style: normal;
  border: none;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.make-index-funds-container > div:last-child .button-container a {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
    font-style: normal;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .section.make-index-funds-container .make-index-funds-wrapper {
    padding: 0;
  }
}
.section.make-index-funds-container .make-index-funds.block {
  font-family: "Poppins", sans-serif;
  padding: 40px 0;
  text-align: center;
  gap: 16px;
  position: relative;
  padding-bottom: 40px;
  background: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .section.make-index-funds-container .make-index-funds.block {
    position: unset;
    justify-content: flex-start;
    padding-left: 16px;
    padding-top: 24px;
  }
}
.section.make-index-funds-container .make-index-funds.block .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.section.make-index-funds-container .make-index-funds .card-wrap {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 192px !important;
  min-height: 230px;
  height: -moz-fit-content;
  height: fit-content;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  border: 0.5px solid #B9BBFF;
  background: #FFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.0588235294);
}
.section.make-index-funds-container .make-index-funds .card-wrap .img-wrapper {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #9DADFE;
  height: 72px;
  margin-bottom: 16px;
}
.section.make-index-funds-container .make-index-funds .card-wrap .img-wrapper .imgelogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.make-index-funds-container .make-index-funds .card-wrap .img-wrapper .imgelogo .logoscheme {
  width: 40px;
  height: 40px;
}
.section.make-index-funds-container .make-index-funds .card-wrap .title-subtitle {
  flex-grow: 1;
  margin-bottom: 16px;
  text-align: left;
}
.section.make-index-funds-container .make-index-funds .card-wrap .title-subtitle p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #5659FA;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.make-index-funds-container .make-index-funds .card-wrap .title-subtitle .title h2 {
  margin: 0;
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.make-index-funds-container .make-index-funds .card-wrap .title-subtitle .title h2 {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
    color: var(--blue-1-800-primary);
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
  }
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 32px;
  line-height: normal;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap ul li {
  height: -webkit-fill-available;
  line-height: normal;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap ul li a {
  cursor: pointer;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap ul li:nth-child(2) {
  padding-top: 5px;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap .icon.icon-external-link {
  background-color: #2e2a94;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.make-index-funds-container .make-index-funds .card-wrap .icons-card-wrap .icon.icon-external-link img {
  width: 20px;
  height: 20px;
}
.section.make-index-funds-container .make-index-funds .card-wrap:last-child {
  margin-right: 16px !important;
}
.section.make-index-funds-container .make-index-funds .card-wrap:nth-of-type(even) {
  margin-bottom: 40px;
}
@media (max-width: 1025px) {
  .section.make-index-funds-container .make-index-funds .card-wrap:nth-of-type(even) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 70px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 115px;
    top: unset;
  }
}
@media (max-width: 768px) {
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
    width: 50px;
    height: 2px;
    margin: 0 !important;
    background-color: #9DADFE;
    border-radius: unset;
    opacity: unset;
  }
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
    background-color: #2E2A94;
    border-radius: 2px;
    opacity: unset;
  }
}
.moedge-buliding.make-index-funds-container {
  padding: 66px 0;
}
@media (max-width: 768px) {
  .moedge-buliding.make-index-funds-container {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .moedge-buliding.make-index-funds-container > div:first-child h3 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .moedge-buliding.make-index-funds-container .make-index-funds.block {
    padding-top: 40px;
  }
}/*# sourceMappingURL=make-index-funds.css.map */