@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.co-branding {
  &-wrapper {
    padding: 64px 16px 34px;
  }

  .co-heading {
    margin: 0 0 40px;

    @include font-style(
      24px,
      28px,
      $primary-blue,
      map.get($font-weights, bold),
      $butlerpro
    );
  }

  .cobrand {
    &-form,
    &-field {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-field {
      gap: 0;
      position: relative;

      .error-msg {
        @include font-style(
          8px,
          12px,
          map.get($danger, 300),
          map.get($font-weights, medium),
          $poppins
        );

        margin: 5px 0 0;
      }
    }

    &-label {
      @include font-style(
        12px,
        16px,
        $color-text-body,
        map.get($font-weights, regular),
        $poppins
      );

      width: max-content;
      background-color: #fff;
      padding: 0 4px;
      position: absolute;
      left: 8px;
      top: -8px;
    }

    &-input {
      padding: 10px 12px;
      border-radius: 6px;
      border: 1px solid map.get($strokes, default);

      @include font-style(
        16px,
        20px,
        $neutrals-black,
        map.get($font-weights, medium),
        $poppins
      );
    }

    &-btns {
      display: flex;
      gap: 12px;
      margin: 48px 0 40px;

      .share,
      .download {
        @include font-style(
          16px,
          20px,
          $primary-blue,
          map.get($font-weights, medium),
          $poppins
        );

        border: none;
        border-radius: 4px;
        margin: 0;
        padding: 12px;
        max-width: 49%;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
      }

      .share {
        border: 1px solid $primary-blue;
      }

      .download {
        background-color: $primary-blue;
        color: $primary-white;
      }
    }

    &-disc {
      .co-diclaimer,
      .co-listname {
        @include font-style(
          12px,
          16px,
          $primary-blue,
          map.get($font-weights, regular),
          $poppins
        );

        margin: 0;
      }

      .co-listwrap {
        .co-ullist {
          margin: 20px 0 0;
          padding: 0 0 0 20px;

          .co-listname {
            color: $text-body-2;

            // background-color: red;
          }
        }
      }
    }
  }
}

.modal.block {
  display: block;
  
  @include media(mobile) {
    display: block;
  }

  dialog {
    padding: 0;
    margin: 0;
    align-items: end;
    justify-content: end;

    .modal-content {
      max-width: 400px;
      height: 100vh;
      border-radius: 24px 24px 0 0;
      flex-direction: column;

      @include media(mobile) {
         height: 90vh;
      }

      .close-button {
        position: sticky;
        top: 0;
        right: 9px;
        align-self: flex-end;
        justify-content: end;
        width: 100%;
        min-height: 48px;
        background: #fff;
        border-radius: 24px;
        padding: 0 9px 0 0;

        .icon-close {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: $primary-blue;
          margin: 12px 0 0;
          position: relative;

          &::before,
          &::after {
            width: 14px;
            height: 1px;
          }
        }
      }
    }
  }
}
