@import "../../../styles/fonts.css";

.co-branding .co-branding-section {
  padding: 40px 16px 62px;
  max-width: 400px;
  height: 100%;
  background-color: var(--neutrals-white);
}

@media (width <= 768px) {
  .co-branding .co-branding-section {
    border-radius: 24px 24px 0 0;
    max-width: 100%;
    padding-bottom: 24px;
  }
}

.co-branding .co-branding-section .crossparbtn {
  margin: 0;
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
  border-radius: 18px;
  z-index: 10;
  cursor: pointer;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .crossparbtn {
    right: 9px;
  }
}

.co-branding .co-branding-section .crossparbtn .icon-modal-btn {
  width: 36px;
  height: 36px;
}

.co-branding .co-branding-section .crossparbtn .icon-modal-btn .img {
  width: 36px;
  height: 36px;
  padding: 11px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.co-branding .co-branding-section .co-heading {
  margin: 0 95px 44px 0;
  font-size: var(--sub-header-medium-size);
  line-height: var(--sub-header-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .co-heading {
    margin: 0 0 40px;
    font-size: var(--paragraph-large-size);
    line-height: var(--paragraph-medium-line-height);
  }
}

.co-branding .co-branding-section .cobrand-form, .co-branding .co-branding-section .cobrand-field {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.co-branding .co-branding-section .cobrand-field {
  gap: 0;
  position: relative;
}

.co-branding .co-branding-section .cobrand-field .error-msg {
  font-size: 8px;
  line-height: 12px;
  color: #ed2020;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  display: none;
  margin: 5px 0 0;
}

.co-branding .co-branding-section .cobrand-field .show-error {
  display: block;
}

.co-branding .co-branding-section .cobrand-field .hide-error {
  display: none;
}

.co-branding .co-branding-section .cobrand-label {
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--neutrals-white);
  padding: 0 4px;
  position: absolute;
  left: 12px;
  top: -8px;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .cobrand-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}

.co-branding .co-branding-section .cobrand-input {
  padding: var(--spacing-8) var(--spacing-12);
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .cobrand-input {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}

.co-branding .co-branding-section .cobrand-btns {
  display: flex;
  gap: 16px;
  margin: 48px 0 40px;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .cobrand-btns {
    gap: 12px;
    height: 40px;
  }
}

.co-branding .co-branding-section .cobrand-btns .share,
.co-branding .co-branding-section .cobrand-btns .download {
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-button-default);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-8);
  margin: 0;
  padding: var(--spacing-12);
  background-color: transparent;
  cursor: pointer;
  max-width: 176px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  .co-branding .co-branding-section .cobrand-btns .share,
  .co-branding .co-branding-section .cobrand-btns .download {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
    max-width: 164px;
    width: 100%;
  }
}

.co-branding .co-branding-section .cobrand-btns .share {
  border: 1px solid var(--button-primary-default);
}

.co-branding .co-branding-section .cobrand-btns .download {
  background-color: var(--button-primary-default);
  color: var(--text-white);
}

.co-branding .co-branding-section .cobrand-disc {
  padding: 0 14px;
}

.co-branding .co-branding-section .cobrand-disc .co-diclaimer,
.co-branding .co-branding-section .cobrand-disc .co-listname {
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0;
}

.co-branding .co-branding-section .cobrand-disc .co-listwrap .co-ullist {
  margin: 20px 0 0;
  padding: 0 0 0 20px;
}

.co-branding .co-branding-section .cobrand-disc .co-listwrap .co-ullist .co-listname {
  color: var(--text-disclaimer);
}

.modal-journey .modal-content .section.co-branding-container {
  margin-top: 0;
}

.modal-journey.modal.block {
  display: block;
  overflow: hidden;
}

@media (width <= 768px) {
  .modal-journey.modal.block {
    display: block;
  }
}

.modal-journey.modal.block dialog {
  padding: 0;
  margin: 0;
  align-items: end;
  justify-content: end;
  overflow: hidden;
}

@media (width <= 768px) {
  .modal-journey.modal.block dialog::backdrop {
    background-color: var(--neutrals-black);
    opacity: 0.7;
  }
}

.modal-journey.modal.block dialog .modal-content {
  padding: 0;
  position: relative;
  max-width: 400px;
  justify-content: center;
  border-radius: 0;
  background: unset;
  height: 100%;
  overflow: hidden auto;
  scrollbar-width: none;
}

@media (width <= 768px) {
  .modal-journey.modal.block dialog .modal-content {
    max-width: 100%;
    height: 76vh;
    border-radius: 24px 24px 0 0;
  }
}

.modal-journey.modal.block dialog .close-button {
  display: block;
  z-index: -1;
  background: none;
  color: transparent;
}