@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.co-branding {
  .co-branding-section{
    padding: 64px 16px 34px;
     max-width: 400px;

    //  overflow: hidden;
     height: 100dvh;
      border-radius: 24px 24px 0 0;
      background-color: #fff;

      // overflow: auto;
    

  .crossparbtn{
    margin: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    border-radius: 18px;
    z-index: 10;
    cursor: pointer;

    .icon-modal-btn{
       width: 36px;
    height: 36px;

    .img{
    width: 36px;
    height: 36px;
    padding: 11px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }
  }
  }

  .co-heading {
    margin: 0 0 40px;

    @include font-style(
      24px,
      28px,
      $primary-blue,
      map.get($font-weights, bold),
      $butlerpro
    );
  }

  .cobrand {
    &-form,
    &-field {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-field {
      gap: 0;
      position: relative;

      .error-msg {
        @include font-style(
          8px,
          12px,
          map.get($danger, 300),
          map.get($font-weights, medium),
          $poppins
        );

        display: none;
        margin: 5px 0 0;
      }

      .show-error{
        display: block
      }

      .hide-error{
        display: none
      }
    }

    &-label {
      @include font-style(
        12px,
        16px,
        $color-text-body,
        map.get($font-weights, regular),
        $poppins
      );

      width: max-content;
      background-color: #fff;
      padding: 0 4px;
      position: absolute;
      left: 8px;
      top: -8px;
    }

    &-input {
      padding: 10px 12px;
      border-radius: 6px;
      border: 1px solid map.get($strokes, default);

      @include font-style(
        16px,
        20px,
        $neutrals-black,
        map.get($font-weights, medium),
        $poppins
      );
    }

    &-btns {
      display: flex;
      gap: 12px;
      margin: 48px 0 40px;

      .share,
      .download {
        @include font-style(
          16px,
          20px,
          $primary-blue,
          map.get($font-weights, medium),
          $poppins
        );

        border: none;
        border-radius: 4px;
        margin: 0;
        padding: 12px;
        max-width: 49%;
        width: 100%;
        background-color: transparent;
        cursor: pointer;
      }

      .share {
        border: 1px solid $primary-blue;
      }

      .download {
        background-color: $primary-blue;
        color: $primary-white;
      }
    }

    &-disc {
      .co-diclaimer,
      .co-listname {
        @include font-style(
          12px,
          16px,
          $primary-blue,
          map.get($font-weights, regular),
          $poppins
        );

        margin: 0;
      }

      .co-listwrap {
        .co-ullist {
          margin: 20px 0 0;
          padding: 0 0 0 20px;

          .co-listname {
            color: $text-body-2;

            // background-color: red;
          }
        }
      }
    }
  }
}
}

.modal.block {
  display: block;
  overflow: hidden;
  
  @include media(mobile) {
    display: block;
  }

  dialog {
    padding: 0;
    margin: 0;
    align-items: end;
    justify-content: end;
    overflow: hidden;

    .modal-content {
    position: relative;
    max-width: 400px;
    justify-content: center;
    border-radius: 8px;
    background:unset;
    height: 100%;
    overflow: hidden;

      @include media(mobile) {
         height: 90vh;
      }
    }

    .close-button {
        display: none;
      }
  }
  }

