@import "../../../styles/fonts.css";
.section.fdp-kyc-form {
  height: 100%;
  background-color: var(--neutrals-white);
  z-index: 1000;
  overflow: hidden;
}
.section.fdp-kyc-form .pan-valid-block {
  height: 100%;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container {
  position: relative;
  padding: var(--spacing-36) 16px 0;
  overflow: auto;
  height: 100%;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container::-webkit-scrollbar {
  width: 0;
  background-color: #464343;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container::-webkit-scrollbar-track {
  width: 0;
  background-color: var(--neutrals-white);
  border-radius: 0 1px 1px 0;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #464343;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container {
    padding: 64px 16px 0;
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .panvalidinner1 .panvalidsub1 {
  margin: 0 0 40px;
  font-size: var(--sub-header-medium-size);
  line-height: var(--sub-header-medium-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .panvalidinner1 .panvalidsub1 {
    margin: 0 0 24px;
    font-size: var(--paragraph-large-size);
    line-height: var(--paragraph-medium-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .panvalidinner1 .panvalidsub2 {
  margin: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .panvalidinner1 .panvalidsub2 .icon {
  width: 100%;
  height: 100%;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .error-msg {
  margin: 4px 0 0;
  display: none;
  position: absolute;
  top: 100%;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-error);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .error-msg {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .error-msg.mob-error {
  align-items: center;
  gap: 4px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .error-msg.mob-error::before {
  content: "";
  background-image: url("/icons/warning.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .error-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 {
  margin: 0;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field {
  margin: 0 0 40px;
  position: relative;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field {
    margin: 0 0 32px;
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap {
  position: relative;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  padding: var(--spacing-8) var(--spacing-12);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap .pan-label {
  position: absolute;
  top: 50%;
  left: 8px;
  padding: 0 4px;
  background-color: var(--neutrals-white);
  transform: translateY(-50%);
  transition: all 0.3s;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-default-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap .pan-label {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap .pan-inp {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 2px 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap .pan-inp {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap:focus-within, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.active {
  border: 2px solid var(--strokes-typing);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap:focus-within .pan-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.active .pan-label {
  top: -8px;
  transform: unset;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap:focus-within .pan-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.active .pan-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap:focus-within .pan-inp, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.active .pan-inp {
  caret-color: var(--strokes-typing);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.pan-fail {
  border: var(--border-width-01) solid var(--strokes-error);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.pan-fail .error-icon, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .pan-field .pan-wrap.pan-fail ~ .error-msg {
  display: flex;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap {
  padding: var(--spacing-16);
  border-radius: var(--border-radius-8);
  border: 1px solid var(--icon-warning);
  background: #fff3e0;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap {
  margin: 0 0 var(--spacing-16);
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio-txt {
  margin: 0;
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  color: #231f20;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio-txt {
    font-size: var(--label-large-size);
    line-height: var(--label-large-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-label {
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  padding-left: 4px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-label {
    font-size: var(--body-small-regular-size);
    line-height: var(--body-small-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-click {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-click::before {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border: 2px solid var(--neutrals-600);
  border-radius: 50%;
  visibility: visible;
  margin: 1px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-click:checked::before {
  width: 20px;
  height: 20px;
  outline: 2px solid var(--blue-1-800-primary);
  background-color: var(--blue-1-800-primary);
  border: 3px solid var(--neutrals-white);
  margin: 1px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-click:checked ~ .radio-label {
  font-weight: 500;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-radio-wrap .kyc-radio .radio-field .radio-click:checked ~ .radio-label {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-txt-content .kyc-head {
  font-size: var(--label-medium-size);
  line-height: var(--label-medium-line-height);
  color: #231f20;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0 0 4px;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-txt-content .kyc-head {
    font-size: var(--label-medium-size);
    line-height: var(--label-medium-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-txt-content .kyc-desc {
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .pan-container .kyc-status-wrap .kyc-txt-content .kyc-desc {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container {
    margin: 32px 0;
    gap: 32px;
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap {
  position: relative;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap {
  display: flex;
  align-items: start;
  gap: 12px;
  width: 100%;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap {
  padding: var(--spacing-10) var(--spacing-8) var(--spacing-10) var(--spacing-12);
  border-radius: var(--border-radius-8);
  border: 1px solid var(--strokes-default);
  cursor: pointer;
  position: relative;
  height: 40px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-label {
  margin: 0;
  position: absolute;
  top: -8px;
  left: 12px;
  padding: 0 4px;
  background-color: var(--neutrals-white);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-code {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-code {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-code::after, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-code::before {
  content: "";
  background-image: url("/icons/national-flag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 20px;
  display: block;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap.mob-wrap .country-code-wrap .country-code::after {
  content: "";
  background-image: url("/icons/arrow-down-black.svg");
  width: 20px;
  margin-left: 5px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field {
  position: relative;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  padding: var(--spacing-8) var(--spacing-12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-label {
  position: absolute;
  top: 50%;
  left: 8px;
  padding: 0 4px;
  transform: translateY(-50%);
  background-color: var(--neutrals-white);
  transition: all 0.3s;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-label,
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-inp {
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-default-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-label,
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-inp {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field .detail-inp {
  color: var(--text-typed-input);
  border: none;
  outline: none;
  background-color: transparent;
  padding: 2px 0;
  width: 100%;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field:focus-within .detail-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.active .detail-label {
  top: -8px;
  transform: unset;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field:focus-within .detail-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.active .detail-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field:focus-within .detail-label.mob-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.active .detail-label.mob-label {
  font-size: var(--input-field-label-size);
  line-height: var(--input-field-label-line-height);
  color: var(--surface-text-neutral-normal);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field:focus-within .detail-label.mob-label, .section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.active .detail-label.mob-label {
    font-size: var(--input-field-label-size);
    line-height: var(--input-field-label-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.show-error {
  border: var(--border-width-01) solid var(--strokes-error);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.show-error ~ .error-msg,
.section.fdp-kyc-form .pan-valid-block .pankyc-container .form-container .panvalidsubmain1 .kyc-detail-container .detail-field-wrap .detail-field.show-error .error-icon {
  display: flex;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain1 {
  margin: 0;
  line-height: 0;
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain1 .button.panvalidsubinner1 {
  margin: 0 0 16px;
  display: block;
  width: 100%;
  border-radius: var(--border-radius-4);
  background-color: var(--button-primary-disable);
  padding: var(--spacing-12);
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--neutrals-600);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain1 .button.panvalidsubinner1 {
    margin: 0 0 var(--spacing-20);
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain1 .button.panvalidsubinner1.active-form-btn {
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  color: var(--text-white);
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain2 {
  margin: 0 0 16px;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain2 {
    margin: 0 0 var(--spacing-12);
    color: var(--text-disclaimer);
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain2 .panvalidsubinner1 {
  text-decoration: underline;
  text-underline-offset: 20%;
  font-size: var(--text-link-xsmall-size);
  line-height: var(--text-link-xsmall-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain2 .panvalidsubinner1 {
    font-size: var(--text-link-xsmall-size);
    line-height: var(--text-link-xsmall-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain3 {
  margin: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain3 {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }
}
.section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain3 .panvalidsubinner1 {
  text-decoration: underline;
  text-underline-offset: 2.8px;
  font-size: 14px;
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.fdp-kyc-form .pan-valid-block .pankyc-container .tnc-container .panvalidsubmain3 .panvalidsubinner1 {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
    text-decoration: none;
    text-underline-offset: unset;
  }
}

.section.otp-fdp {
  height: 100%;
  background-color: var(--neutrals-white);
  z-index: 1000;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section.otp-fdp {
    width: 100%;
    border-radius: 32px 32px 0 0;
  }
}
.section.otp-fdp .default-content-wrapper {
  display: none;
}
.section.otp-fdp .otp-container {
  position: relative;
  padding: 36px 16px 21px;
  overflow: auto;
  height: 100%;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container {
    padding: 64px 16px 74px;
  }
}
.section.otp-fdp .otp-container .modal-cross-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
}
.section.otp-fdp .otp-container .modal-cross-btn .sub-otp-con1,
.section.otp-fdp .otp-container .modal-cross-btn .sub-otp-con1 .icon {
  margin: 0;
  width: 100%;
  height: 100%;
}
.section.otp-fdp .otp-container .otp-heading .sub-otp-con2,
.section.otp-fdp .otp-container .otp-heading .sub-otp-con2 .inner-otp-con1 {
  font-size: var(--sub-header-medium-size);
  line-height: var(--sub-header-medium-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0 0 40px;
  display: block;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-heading .sub-otp-con2,
  .section.otp-fdp .otp-container .otp-heading .sub-otp-con2 .inner-otp-con1 {
    font-size: var(--paragraph-large-size);
    line-height: var(--paragraph-medium-line-height);
    margin: 0 0 var(--spacing-24);
  }
}
.section.otp-fdp .otp-container .pan-wrap .pan-field {
  position: relative;
  padding: var(--spacing-8) var(--spacing-12);
  border-radius: var(--border-radius-8, 8px);
  border: var(--border-width-01) solid var(--strokes-default);
  line-height: 0;
  margin: 0 0 var(--spacing-8);
}
.section.otp-fdp .otp-container .pan-wrap .pan-field .pan-label {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 0 4px;
  background-color: var(--neutrals-white);
  transform: translateY(-50%);
  transition: all 0.3s;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .pan-wrap .pan-field .pan-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.otp-fdp .otp-container .pan-wrap .pan-field .pan-inp {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  position: relative;
  padding: 2px 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .pan-wrap .pan-field .pan-inp {
    font-size: var(--body-medium-regular-size);
    line-height: var(--body-medium-regular-line-height);
  }
}
.section.otp-fdp .otp-container .pan-wrap .pan-field:focus-within .pan-label, .section.otp-fdp .otp-container .pan-wrap .pan-field.active .pan-label {
  top: -8px;
  transform: unset;
  z-index: 2;
}
.section.otp-fdp .otp-container .pan-wrap .kyc-verify .sub-otp-con4 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--mosl-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .pan-wrap .kyc-verify .sub-otp-con4 {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }
}
.section.otp-fdp .otp-container .pan-wrap .kyc-verify .sub-otp-con4 .icon {
  width: 20px;
  height: 20px;
}
.section.otp-fdp .otp-container .otp-wrap {
  line-height: 0;
}
.section.otp-fdp .otp-container .otp-wrap .otp-label {
  margin: var(--spacing-16) 0 var(--spacing-8);
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--mo-body-copy-other);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-wrap .otp-label {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.otp-fdp .otp-container .otp-wrap .otp-error {
  margin: 8px 0 0;
  display: none;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--essentials-red);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-wrap .otp-error {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.otp-fdp .otp-container .otp-wrap .otp-field {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  margin: 0 0 var(--spacing-4);
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-wrap .otp-field {
    margin: 0 0 var(--spacing-40);
  }
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-fail {
  margin: 0;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-fail .otp-wrap {
  border: var(--border-width-01) solid var(--strokes-error);
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-fail ~ .otp-error {
  display: block;
  margin: 8px 0 12px;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-fail ~ .resend-btn {
  display: none;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-success {
  margin: 0 0 36px;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-success .otp-wrap {
  border: var(--border-width-01) solid var(--strokes-success);
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-success ~ .otp-error {
  display: none;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field.otp-success ~ .resend-btn {
  display: none;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field .otp-wrap {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.otp-fdp .otp-container .otp-wrap .otp-field .otp-wrap:focus-within {
  border: var(--border-width-02) solid var(--strokes-typing);
}
.section.otp-fdp .otp-container .otp-wrap .otp-field .otp-wrap:focus-within .otp-inp {
  caret-color: var(--strokes-typing);
}
.section.otp-fdp .otp-container .otp-wrap .otp-field .otp-wrap .otp-inp {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-wrap .otp-field .otp-wrap .otp-inp {
    font-size: var(--body-xlarge-semibold-size);
    line-height: var(--body-xlarge-semibold-line-height);
  }
}
.section.otp-fdp .otp-container .otp-wrap .resend-btn {
  margin: 0 0 var(--spacing-36);
  padding: var(--spacing-8) 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 2.8px;
  font-size: 14px;
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-wrap .resend-btn {
    padding: 0;
    margin: 0 0 12px;
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
  }
}
.section.otp-fdp .otp-container .otp-sent-text {
  margin: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .otp-sent-text {
    font-size: var(--body-small-regular-size);
    line-height: var(--label-large-line-height);
  }
}
.section.otp-fdp .otp-container .sbmt-btn {
  margin: var(--spacing-20) 0;
  padding: var(--spacing-12);
  border: none;
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  width: 100%;
  cursor: pointer;
  min-width: calc(100% + 6px);
  margin-left: -3px;
  margin-right: -3px;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .sbmt-btn {
    margin: 24px 0 var(--spacing-20);
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}
.section.otp-fdp .otp-container .terms-policy .sub-otp-con9 {
  margin: 0;
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--text-disclaimer);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .terms-policy .sub-otp-con9 {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.otp-fdp .otp-container .terms-policy .sub-otp-con9 .inner-otp-con1 {
  text-decoration: underline;
  text-underline-offset: 2.8px;
  font-size: var(--text-link-xsmall-size);
  line-height: var(--text-link-xsmall-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .terms-policy .sub-otp-con9 .inner-otp-con1 {
    font-size: var(--text-link-xsmall-size);
    line-height: var(--text-link-xsmall-line-height);
  }
}
.section.otp-fdp .otp-container .new-investor .sub-otp-con10 {
  margin: var(--spacing-12) 0 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .new-investor .sub-otp-con10 {
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }
}
.section.otp-fdp .otp-container .new-investor .sub-otp-con10 .inner-otp-con1 {
  text-decoration: underline;
  text-underline-offset: 2.8px;
  padding: 0 0 0 var(--spacing-4);
  cursor: pointer;
  font-size: 14px;
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.otp-fdp .otp-container .new-investor .sub-otp-con10 .inner-otp-con1 {
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
  }
}

.section.reset-passcode {
  width: 372px;
  height: 100%;
  background-color: var(--neutrals-white);
  z-index: 1000;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section.reset-passcode {
    width: 100%;
    border-radius: 32px 32px 0 0;
  }
}
.section.reset-passcode .reset-passcode-container {
  padding: var(--spacing-36) 16px;
  height: 100%;
  position: relative;
  overflow: auto;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container {
    padding: 64px 16px 28px;
  }
}
.section.reset-passcode .reset-passcode-container .modal-cross-wrap {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.section.reset-passcode .reset-passcode-container .modal-cross-wrap .innerpasscode1,
.section.reset-passcode .reset-passcode-container .modal-cross-wrap .innerpasscode1 .icon {
  margin: 0;
  width: 24px;
  height: 24px;
}
.section.reset-passcode .reset-passcode-container .reset-title {
  font-size: var(--sub-header-medium-size);
  line-height: var(--sub-header-medium-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0 0 var(--spacing-20);
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-title {
    font-size: var(--paragraph-large-size);
    line-height: var(--paragraph-medium-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .reset-desc {
  font-size: var(--body-medium-regular-size);
  line-height: 24px;
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0 0 var(--spacing-20);
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-desc {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .reset-otp-title {
  margin: 0;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--mo-body-copy-other);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-otp-wrap .reset-otp-title {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap {
    gap: 0;
  }
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-msg {
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--essentials-red);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: -8px 0 0;
  display: none;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-msg {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
    margin-top: 8px;
  }
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap .otp-wrap {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap .otp-wrap .otp-inp {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap .otp-wrap .otp-inp {
    font-size: var(--body-xlarge-semibold-size);
    line-height: var(--body-xlarge-semibold-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap .otp-wrap:focus-within {
  border: var(--border-width-02) solid var(--strokes-typing);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap .otp-wrap:focus-within .otp-input {
  caret-color: var(--strokes-typing);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap.otp-fail .otp-wrap {
  border: var(--border-width-01) solid var(--strokes-error);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap.otp-fail ~ .otp-msg {
  display: block;
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap.otp-success .otp-wrap {
  border: var(--border-width-01) solid var(--strokes-success);
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .otp-field-wrap.otp-success ~ .otp-msg {
  display: none;
}
.section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .resend-btn {
  text-decoration: underline;
  text-underline-offset: 2.8px;
  background-color: transparent;
  border-radius: 0;
  width: -moz-max-content;
  width: max-content;
  padding: var(--spacing-8) 0;
  border: none;
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .reset-otp-wrap .input-resend-wrap .resend-btn {
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
    padding: 0;
    margin: 40px 0 0;
  }
}
.section.reset-passcode .reset-passcode-container .passcode {
  margin: var(--spacing-20) 0 0;
}
.section.reset-passcode .reset-passcode-container .passcode-title {
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--mo-body-copy-other);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0 0 var(--spacing-8);
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .passcode-title {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .passcode-msg {
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-error);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 8px 0 0;
  display: none;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .passcode-msg {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap {
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap::before {
  content: "";
  min-width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap .pass-inp {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  padding: 14px;
  z-index: 2;
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: red;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap .pass-inp {
    font-size: var(--body-xlarge-semibold-size);
    line-height: var(--body-xlarge-semibold-line-height);
  }
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap:focus-within {
  border: var(--border-width-02, 2px) solid var(--strokes-typing);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap:focus-within .pass-inp {
  caret-color: var(--strokes-typing);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap .pass-wrap.valid-inp::before {
  display: block;
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-fail .pass-wrap {
  border: var(--border-width-01) solid var(--strokes-error);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-fail .pass-wrap.valid-inp::before {
  background-color: var(--strokes-error);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-fail .pass-wrap .pass-inp {
  color: var(--strokes-error);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-fail ~ .passcode-msg {
  display: block;
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-success .pass-wrap {
  border: var(--border-width-01) solid var(--strokes-success);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-success .pass-wrap.valid-inp::before {
  background-color: var(--strokes-success);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-success .pass-wrap .pass-inp {
  color: var(--strokes-success);
}
.section.reset-passcode .reset-passcode-container .passcode-field-wrap.passcode-success ~ .passcode-msg {
  display: none;
}
.section.reset-passcode .reset-passcode-container .submt-btn-txt {
  margin: var(--spacing-40) 0 0;
  padding: var(--spacing-12);
  border-radius: var(--border-radius-8);
  border: none;
  background: var(--button-primary-default);
  width: 100%;
  cursor: pointer;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.reset-passcode .reset-passcode-container .submt-btn-txt {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}/*# sourceMappingURL=pan-valid-block.css.map */