@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.pan-valid-block {
  max-width: 100%;
  width: 100%;
  height: 100%;
  
  // background-color: #0009;
  display: flex;
  justify-content: end;
  overflow: hidden auto;
  scrollbar-width: none;
  background-color: #fff;
  border-radius: 24px 24px 0 0;

  .maincontainer {
    display: flex;
    max-width: 400px;
    width: 100%;

    // height: 100dvh;
    height: max-content;
    padding: 64px 16px;
    flex-direction: column;
    gap: 32px;
    flex-shrink: 0;
    background: #fff;
    position: relative;

    @include media(mobile) {
      padding: 30px 16px;
      border-radius: 32px 32px 0 0;
      max-width: 100%;
    }
  }

  .default-content-wrapper {
    h5 {
      margin: 0;

      @include font-style(28px, 32px, $primary-blue, 700, $butlerpro);
    }

    p {
      margin: 0;
      position: absolute;
      top: 20px;
      right: 16px;
      cursor: pointer;

      span {
        width: 100%;
        height: 100%;
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .pan-container {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .input-wrap {
        height: 68px;

        .pan-input {
          display: flex;
          padding: 8px 12px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;
          border-radius: 6px;
          border: 1px solid #9e9e9e;
          position: relative;

          input {
            border: none;
            width: 100%;
            border-radius: 6px;
            color: #616161;
            font-family: $poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            cursor: pointer;
          }

          label {
            margin: 0;
            padding: 0;
            overflow: hidden;
            color: #424242;
            text-overflow: ellipsis;
            font-family: $poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            padding-left: 6px;
            cursor: pointer;
            position: absolute;
            top: -7px;
            background: white;
            transition: top 0.8s ease;

            // &:hover {
            //   position: absolute;
            //   top: -7px;
            //   background: white;
            //   padding: 0 4px;
            //   transition: top 0.8s ease;
            // }
          }

          .pan-image {
            position: absolute;
            right: 11px;
            cursor: pointer;
          }
        }

        .show-pan-error {
          margin: 0;
          color: red;
          font-family: $poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 5px;
          display: none;
        }

        .hide-error {
          display: none;
        }

        .show-error {
          display: block;
        }
      }

      // .pan-input:hover {
      //   position: relative;
      // }

      .radio-container {
        display: flex;
        padding: 16px 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 8px;
        background: #f5f5f5;

        .radios {
          display: flex;
          max-width: 328px;
          width: 100%;
          padding-right: 12px;
          justify-content: space-between;
          align-items: center;

          .residenttext {
            margin: 0;

            @include font-style(16px, 20px, $primary-blue, 600, $poppins);
          }

          .radio-btns {
            display: flex;
            gap: 12px;

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;

              label {
                margin: 0;
                cursor: pointer;

                @include font-style(14px, 16px, $color-text-body, 500, $poppins);
              }

              input {
                cursor: pointer;
                accent-color: $primary-blue;

                /* Blue */
                width: 16.667px;
                height: 16.667px;
              }

              input[type="radio"]:checked + label {
                color: $primary-blue; // Blue when selected
              }
            }

            // .radio-2 {
            //   display: flex;
            //   flex-direction: row-reverse;
            //   justify-content: center;
            //   align-items: center;
            //   gap: 8px;

            //   .rad-label {
            //     margin: 0;

            //      @include font-style(14px, 16px, $color-text-body, 500, $poppins);
            //   }

            //   input {
            //     cursor: pointer;
            //   }

            //   input[type="radio"] {
            //     accent-color: $primary-blue; /* Blue */
            //     width: 16.667px;
            //     height: 16.667px;
            //   }
            // }
          }
        }

        .kyc {
          .iscriptin {
            margin: 0;
            padding-bottom: 4px;

            @include font-style(14px, 16px, $neutrals-black, 500, $poppins);
          }

          .subdiscriptin {
            margin: 0;

            @include font-style(12px, 16px, $text-body-2, 400, $poppins);
          }
        }
      }
    }

    .name-container {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .fdp-inp-wrap {
        height: 68px;

        .pan-fields {
          display: flex;
          padding: 8px 12px;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          border-radius: 6px;
          border: 1px solid #9e9e9e;
          position: relative;

          .pan-fields-label {
            margin: 0;
            padding: 0;
            overflow: hidden;
            color: #424242;
            text-overflow: ellipsis;
            font-family: $poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            padding-left: 6px;
            position: absolute;
            cursor: pointer;
            top: -7px;
            background: white;
            transition: top 0.8s ease;
          }

          .fdp-valid-form {
            border: none;
            width: 100%;
            border-radius: 6px;
            cursor: pointer;

            @include font-style(16px, 20px, $neutrals-black, 500, $poppins);
          }

          .country-code {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            border-radius: 3px 0 0 3px;
            border-right: 1px solid #6d798e;

            @include font-style(14px, 19.6px, $neutrals-black, 400, $poppins);
          }

          .country-code::before {
            content: "";
            display: inline-block;

            /* Make sure it shows up */
            width: 16px;

            /* Set width and height */
            height: 12px;
            background-image: url("/icons/india-flag.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 4px;

            /* Optional spacing */
          }
        }

        .error {
          margin: 0;
          color: red;
          font-family: $poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 5px;
          display: none;
        }

        .hide-error {
          display: none;
        }

        .show-error {
          display: block;
        }
      }

      .email-label {
        position: relative;

        ul {
          display: none;
          position: absolute;
          top: 85%;
          right: 0;
          list-style: none;
          width: 143px;
          margin: 6px 0 0;
          background-color: #fff;
          border-radius: 8px;
          border: 1px solid #eee;
          box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
          padding: 10px;
          flex-direction: column;
          gap: 10px;
          max-height: 117px;
          overflow: auto;

          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-track {
            width: 3px;
            background-color: $primary-white;
            border-radius: 0 6px 6px 0;
          }

          &::-webkit-scrollbar-thumb {
            width: 3px;
            background-color: #464343; //$primary-blue;
          }

          &.dropdown-active {
            display: block;
          }

          li {
            padding: 5px 0;
            cursor: pointer;

            @include font-style(12px, 16px, $text-body-2, 500, $poppins);
          }
        }
      }

      // .email-label::after {
      //   content: "";
      //   background: url('../../icons/direction-down.svg') center / cover no-repeat;
      //   min-width: 20px;
      //   height: 20px;
      //   display: block;
      //   position: absolute;
      //   right: 12px;
      //   cursor: pointer;
      // }
    }
  }

  .tnc-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .panvalidsubinner3 {
      margin: 0;

      @include font-style(12px, 16px, $text-body-2, 400, $poppins);

      a {
        color: #4338f3;
        font-family: $poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 20%;
        text-underline-position: from-font;
      }
    }

    .panvalidsubinner4 {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 4px;

      // background: #2e2a94;
      background: #e0e0e0;
      cursor: unset;
      text-align: center;

      // cursor: pointer;
      pointer-events: none;
      margin: 0;

      @include font-style(16px, 20px, $text-body-2, 500, $poppins);
    }

    .active-form-btn {
      background-color: #2e2a94;
      color: #fff;
      cursor: pointer;
      pointer-events: unset;
    }
  }
}

.section.otp-fdp {
  .main-contaienr {
    max-width: 100%;
    width: 100%;

    // background-color: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: end;
    height: 100%;

    .wrapper-block {
      display: flex;
      max-width: 400px;
      width: 100%;
      
      // height: 100vh;
      height: 100%;
      padding: 64px 16px;
      flex-direction: column;
      gap: 24px;
      flex-shrink: 0;
      background: #fff;
      position: relative;

      @include media(mobile) {
        padding: 64px 16px;
        border-radius: 32px 32px 0 0;
      }

      .sub-otp-con1 {
        @include font-style(28px, 32px, $primary-blue, map.get($font-weights, bold), $butlerpro);

        margin: 0;

        @include media(mobile) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      .otpfield {
        display: flex;
        align-items: center;
        gap: 8px;

        .otp-wrap {
          position: relative;

          // display: inline-block;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          padding: 8px;
          border: 1px solid map.get($strokes, default);
          border-radius: 6px;

          .otp-input {
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            outline: none;
            caret-color: map.get($strokes, typing);

            @include font-style(20px, 24px, $color-text-body, map.get($font-weights, semibold), $poppins);

            // &:focus {
            //   border: 2px solid map.get($strokes, typing);
            // }
          }

          &:focus-within {
            border: 2px solid map.get($strokes, typing);
          }

          &.otp-success {
            .otp-input {
              border: 1px solid #00a850;
            }
          }

          &.otp-failed {
            .otp-input {
              border: 2px solid #ee212e;
            }
          }
        }
      }

      .sub-otp-con4 {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin: 0;
        list-style: none;

        .inner-otp-con1 {
          @include font-style(14px, 16px, map.get($blue-1, b500), map.get($font-weights, medium), $poppins);

          .otp-main-con1 {
            text-decoration-line: underline;
            text-wrap: nowrap;
            color: inherit;
            cursor: pointer;
          }
        }

        .inner-otp-con2 {
          @include font-style(14px, 20px, $color-text-body, map.get($font-weights, regular), $poppins);

          .otp-main-con1 {
            font-weight: 400;
          }

          .otp-main-con2 {
            text-decoration: underline;
            margin-left: 8px;
            cursor: pointer;

            @include font-style(14px, 16px, map.get($blue-1, b500), map.get($font-weights, medium), $poppins);
          }
        }
      }

      .sub-otp-con2 {
        margin: 20px 0 0;
        line-height: 0;

        @include media(mobile) {
          margin: 36px 0 0;
        }

        .inner-otp-con1 {
          margin: 0;
          border-radius: 4px;
          background-color: $neutrals-300;
          padding: 12px;
          width: 100%;
          cursor: auto;
          pointer-events: none;
          display: block;
          text-align: center;

          @include font-style(16px, 20px, $text-body-2, map.get($font-weights, medium), $poppins);
        }

        &.sbmt-active {
          .inner-otp-con1 {
            background-color: $primary-blue;
            color: $primary-white;
            cursor: pointer;
            pointer-events: unset;
          }
        }
      }

      .sub-otp-con3 {
        margin: 0;

        @include font-style(12px, 16px, $text-body-2, map.get($font-weights, regular), $poppins);

        strong {
          font-weight: 400;
        }
      }

      .sub-otp-con5{
        position: absolute;
        top: 10px;
        right: 10px;

        .icon-modal-btn{
          width: 36px;
          height: 36px;
          cursor: pointer;

          .otp-main-con1{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
