@import "../../../styles/fonts.css";

.think-equity {
  background-color: transparent;
  /* stylelint-disable-next-line no-descending-specificity */
}

.think-equity-container.section {
  margin: 0 auto;
  background-color: var(--surface-background);
}

.think-equity-container {
  padding: 40px 0;
}

@media (width <= 1025px) {
  .think-equity-container {
    padding: 40px 16px 0;
  }
}

.think-equity-container .think-equity-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.think-equity-container .columns-wrapper {
  padding: 0;
}

.think-equity-container .columns.block .collist1 {
  max-width: 924px;
  margin: 0 auto 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-align: center;
  justify-content: space-between;
}

@media (width <= 768px) {
  .think-equity-container .columns.block .collist1 {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }
}

.think-equity-container .columns.block .collist1 .subcollist {
  flex: unset;
  text-align: left;
  max-width: 22.4%;
}

@media (width <= 768px) {
  .think-equity-container .columns.block .collist1 .subcollist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 100%;
    width: 100%;
  }
}

.think-equity-container .columns.block .collist1 .subcollist .subitem-child-1 {
  margin: 0 0 4px;
  color: #2e2a94;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  font-family: Inter, sans-serif;
  text-wrap: balance;
}

@media (width <= 768px) {
  .think-equity-container .columns.block .collist1 .subcollist .subitem-child-1 {
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
    color: var(--blue-1-800-primary);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
    margin: 0;
    max-width: 32.36%;
    width: 100%;
  }
}

.think-equity-container .columns.block .collist1 .subcollist .subitem-child-2 {
  margin: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .think-equity-container .columns.block .collist1 .subcollist .subitem-child-2 {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
    color: var(--text-body);
    text-wrap: unset;
    max-width: 61%;
    width: 100%;
  }
}

.think-equity-container .columns.block .collist1 .subcollist.item-child-2 .subitem-child-2 {
  max-width: 116px;
}

@media (width <= 768px) {
  .think-equity-container .columns.block .collist1 .subcollist.item-child-2 .subitem-child-2 {
    max-width: 61%;
  }
}

.think-equity-container .default-content-wrapper {
  max-width: 924px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-radius: 8px;
  border: 0;
  padding: 0;
}

@media (width <= 768px) {
  .think-equity-container .default-content-wrapper {
    flex-direction: column;
    align-items: start;
    border: 0;
    max-width: 100%;
    padding: 0;
    gap: 48px;
  }
}

.think-equity-container .default-content-wrapper .item-child-1 {
  max-width: 502px;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .think-equity-container .default-content-wrapper .item-child-1 {
    font-size: var(--body-xlarge-semibold-size);
    line-height: var(--body-xlarge-semibold-line-height);
  }
}

.think-equity-container .default-content-wrapper .item-child-2.button-container {
  margin: 0;
  line-height: 0;
  max-width: 328px;
  width: 100%;
}

@media (width <= 768px) {
  .think-equity-container .default-content-wrapper .item-child-2.button-container {
    max-width: 100%;
  }
}

.think-equity-container .default-content-wrapper .item-child-2.button-container .button {
  width: 100%;
  display: inline-block;
  padding: var(--spacing-12);
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin: 0;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .think-equity-container .default-content-wrapper .item-child-2.button-container .button {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}

.think-equity-container .default-content-wrapper .item-child-2.button-container .button:hover, .think-equity-container .default-content-wrapper .item-child-2.button-container .button:focus {
  background-color: #181643;
  transform: translateY(-2px);
}

.think-equity.block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

@media (width <= 768px) {
  .think-equity.block {
    justify-content: space-around;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 40px;
  }
}

.think-equity.block .imagelist1, .think-equity.block .imagelist2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.think-equity.block .imagelist1 {
  padding: 28px 0;
  flex-basis: 44.4%;
  min-height: 237px;
}

@media (width <= 768px) {
  .think-equity.block .imagelist1 {
    padding: 0;
    flex-basis: 100%;
    max-width: 268px;
    width: 100%;
    min-height: 120px;
  }
}

.think-equity.block .imagelist1 .subimagelist {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 237px;
  height: 100%;
}

@media (width <= 768px) {
  .think-equity.block .imagelist1 .subimagelist {
    min-height: 114px;
  }
}

.think-equity.block .imagelist1 .subimagelist h1,
.think-equity.block .imagelist1 .subimagelist h2,
.think-equity.block .imagelist1 .subimagelist h3,
.think-equity.block .imagelist1 .subimagelist h4,
.think-equity.block .imagelist1 .subimagelist h5,
.think-equity.block .imagelist1 .subimagelist h6 {
  margin: 0;
  padding: 0;
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .think-equity.block .imagelist1 .subimagelist h1,
  .think-equity.block .imagelist1 .subimagelist h2,
  .think-equity.block .imagelist1 .subimagelist h3,
  .think-equity.block .imagelist1 .subimagelist h4,
  .think-equity.block .imagelist1 .subimagelist h5,
  .think-equity.block .imagelist1 .subimagelist h6 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
  }
}

.think-equity.block .imagelist1 .subimagelist::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  display: block;
  background: url("/icons/think-logo-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 223px;
  height: 100%;
}

@media (width <= 768px) {
  .think-equity.block .imagelist1 .subimagelist::before {
    background: url("/icons/think-logo-circle-mob.svg");
    width: 107px;
    height: 115px;
    top: -2px;
    left: -24px;
  }
}

.think-equity.block .imagelist2 {
  flex-basis: 55.6%;
  height: 303px;
  width: 685px;
}

@media (width <= 768px) {
  .think-equity.block .imagelist2 {
    width: 340px;
    height: 145px;
  }

  .think-equity.block .imagelist2 .subimagelist,
  .think-equity.block .imagelist2 .subimagelist picture {
    height: 156px;
    line-height: 0;
    display: block;
  }

  .think-equity.block .imagelist2 .subimagelist img,
  .think-equity.block .imagelist2 .subimagelist picture img {
    width: 100%;
    height: 100%;
  }
}