@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.think-equity {
  &-container.section {
    margin: 0 auto;
  }

  &-container {
    padding: 40px 0;

    @include media(tab) {
      padding: 40px 16px;
    }

    .think-equity-wrapper {
      padding: 0;
    }

    .columns {
      &-wrapper {
        padding: 0;
      }

      &.block {
        .collist1 {
          max-width: 924px;
          margin: 0 auto 40px;
          display: flex;
          flex-direction: row;
          gap: 40px;
          text-align: center;
          justify-content: space-between;

          @include media(mobile) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 16px;
            margin-bottom: 24px;
          }

          .subcollist {
            flex: unset;
            text-align: left;
            max-width: 22.4%;

            @include media(mobile) {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              gap: 24px;
              max-width: 100%;
              width: 100%;
            }

            .subitem-child {
              &-1 {
                margin: 0 0 4px;
                color: $primary-blue;
                font-size: 36px;
                font-weight: 600;
                line-height: 42px;
                font-family: $poppins;
                text-wrap: balance;

                @include media(mobile) {
                  font-size: 16px;
                  line-height: 20px;
                  margin: 0;
                  max-width: 32.36%;
                  width: 100%;
                }
              }

              &-2 {
                margin: 0;
                text-wrap: balance;

                @include font-style(14px,
                  20px,
                  $text-body-2,
                  map.get($font-weights, regular),
                  $poppins);

                @include media(mobile) {
                  text-wrap: unset;
                  max-width: 61%;
                  width: 100%;
                }
              }
            }

            &.item-child-2{
              .subitem-child-2{
                max-width: 116px;

                @include media(mobile){
                  max-width: 61%;
                }
              }
            }
          }
        }
      }
    }

    .default-content-wrapper {
      max-width: 924px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      border-radius: 8px;
      border: 0;
      padding: 0;

      @include media(mobile) {
        flex-direction: column;
        align-items: start;
        border: 0;
        max-width: 100%;
        padding: 0;
        gap: 48px;
      }

      .item-child {
        &-1 {
          max-width: 502px;
          width: 100%;
          margin: 0;
          text-align: left;
          color: #2e2a94;
          font-family: $poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;

          @include media(mobile) {
            color: $primary-blue;
            font-family: $poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
          }
        }

        &-2.button-container {
          margin: 0;
          line-height: 0;
          max-width: 256px;
          width: 100%;

          @include media(mobile) {
            max-width: 100%;
          }

          .button {
            width: 100%;
            display: inline-block;
            color: #fff;
            padding: 12px;
            border: none;
            font-family: $poppins;
            font-weight: 500;
            font-size: 1rem;
            line-height: 20px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out;
            border-radius: 4px;
            background: #2e2a94;
            margin: 0;

            &:hover,
            &:focus {
              background-color: #181643;
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

    @include media(mobile) {
      justify-content: space-around;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 40px;
    }

    & .imagelist1,
    & .imagelist2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .imagelist1 {
      padding: 28px 0;
      flex-basis: 44.4%;

      @include media(mobile) {
        padding: 0 27px;
        flex-basis: 100%;
        max-width: 93.18%;
        width: 100%;
      }
    }

    & .imagelist2 {
      flex-basis: 55.6%;

      @include media(mobile) {
        margin: 0 9px;
        width: 322px;
        height: 145px;

        .subimagelist,
        .subimagelist picture{
          height: 145px;
          line-height: 0;
          display: block;
        }
      }
    }
  }
}