@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.think-equity {
  background-color: transparent;

  &-container.section {
    margin: 0 auto;
    background-color: #fff;
  }

  &-container {
    padding: 40px 0;

    @include media(tab) {
      padding: 40px 16px;
    }

    .think-equity-wrapper {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .columns {
      &-wrapper {
        padding: 0;
      }

      &.block {
        .collist1 {
          max-width: 924px;
          margin: 0 auto 40px;
          display: flex;
          flex-direction: row;
          gap: 40px;
          text-align: center;
          justify-content: space-between;

          @include media(mobile) {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 16px;
            margin-bottom: 24px;
          }

          .subcollist {
            flex: unset;
            text-align: left;
            max-width: 22.4%;

            @include media(mobile) {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              gap: 24px;
              max-width: 100%;
              width: 100%;
            }

            .subitem-child {
              &-1 {
                margin: 0 0 4px;
                color: $primary-blue;
                font-size: 36px;
                font-weight: 600;
                line-height: 42px;
                font-family: $poppins;
                text-wrap: balance;

                @include media(mobile) {
                  font-size: 16px;
                  line-height: 20px;
                  margin: 0;
                  max-width: 32.36%;
                  width: 100%;
                }
              }

              &-2 {
                margin: 0;

                @include font-style(
                  map.get($typography-desktop, body-small-regular-size),
                  map.get($typography-desktop, label-large-line-height),
                  $text-body-2,
                  map.get($font-weights, regular),
                  $body
                );

                @include media(mobile) {
                  text-wrap: unset;
                  max-width: 61%;
                  width: 100%;
                }
              }
            }

            &.item-child-2 {
              .subitem-child-2 {
                max-width: 116px;

                @include media(mobile) {
                  max-width: 61%;
                }
              }
            }
          }
        }
      }
    }

    .default-content-wrapper {
      max-width: 924px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      border-radius: 8px;
      border: 0;
      padding: 0;

      @include media(mobile) {
        flex-direction: column;
        align-items: start;
        border: 0;
        max-width: 100%;
        padding: 0;
        gap: 48px;
      }

      .item-child {
        &-1 {
          max-width: 502px;
          width: 100%;
          margin: 0;
          text-align: left;
          color: $blue-1-800-primarys;
          font-family: $body;
          font-size: map.get($typography-desktop , body-xlarge-semibold-size);
          font-style: normal;
          font-weight: 500;
          line-height: map.get($typography-desktop , Body-Xlarge-semibold-Line-Height);

          @include media(mobile) {
            color: $blue-1-800-primary;
            font-family: $body;
            font-size: map.get($typography-mobile , body-xlarge-semibold-size);
            font-weight: 500;
            line-height: map.get($typography-mobile , body-xlarge-semibold-line-height);
          }
        }

        &-2.button-container {
          margin: 0;
          line-height: 0;
          max-width: 256px;
          width: 100%;

          @include media(mobile) {
            max-width: 100%;
          }

          .button {
            width: 100%;
            display: inline-block;
            color: $text-white;
            padding: 12px;
            border: none;
            font-family: $body;
            font-weight: 500;
            font-size: map.get($typography-desktop , button-medium-size);
            line-height: map.get($typography-desktop , button-medium-line-height);
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out;
            border-radius: 4px;
            background: #2e2a94;
            margin: 0;

            &:hover,
            &:focus {
              background-color: #181643;
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  // &-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  &.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;

    @include media(tab) {
      padding: 0 16px;
    }

    @include media(mobile) {
      justify-content: space-around;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 40px;
    }

    & .imagelist1,
    & .imagelist2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .imagelist1 {
      padding: 28px 0;
      flex-basis: 44.4%;

      // position: relative;
      min-height: 237px;

      @include media(mobile) {
        padding: 0 27px;
        flex-basis: 100%;
        max-width: 93.18%;
        width: 100%;
        min-height: 114px;
      }

      .subimagelist {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 237px;
        height: 100%;

        @include media(mobile) {
          min-height: 114px;
        }

       h1, h2, h3 , h4, h5, h6 {
          margin: 0;
          padding: 0;
          color: #2e2a94;
          font-family: $title;
          font-size: map.get($typography-desktop , heading-h4-size);
          line-height: map.get($typography-desktop , heading-h4-line-height);
          font-style: normal;
          font-weight: 600;

          @include media(mobile) {
            font-size: map.get($typography-desktop , sub-header-large-size);
            line-height: map.get($typography-mobile , sub-header-medium-line-height);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -42px;
          display: block;
          background: url("../../icons/think-logo-circle.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 223px;
          height: 100%;

          @include media(mobile) {
            background: url("../../icons/think-logo-circle-mob.svg");
            width: 107px;
            height: 115px;
            top: -2px;
            left: -24px;
          }
        }
      }
    }

    & .imagelist2 {
      flex-basis: 55.6%;

      @include media(mobile) {
        margin: 0 9px;
        width: 322px;
        height: 145px;

        .subimagelist,
        .subimagelist picture {
          height: 145px;
          line-height: 0;
          display: block;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
