/* stylelint-disable alpha-value-notation */
/* stylelint-disable media-feature-range-notation */
@import "../../../styles/fonts.css";

.section.welcome-component {
  width: 100%;
}

.section.welcome-component div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .section.welcome-component div {
    flex-direction: column;
    gap: 40px;
  }
}

.section.welcome-component div ul {
  list-style: none;
  width: 33.7%;
}

@media (max-width: 768px) {
  .section.welcome-component div ul {
    width: 100%;
  }
}

.section.welcome-component div ul li:first-child {
  font-size: 36px;
  line-height: 44px;
  color: #2e2a94;
  font-family: butlerPro, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .section.welcome-component div ul li:first-child {
    font-size: 24px;
    line-height: 28px;
    color: #2e2a94;
    font-family: butlerPro, sans-serif;
    font-weight: 700;
  }
}

.section.welcome-component div ul li:nth-child(2) {
  font-size: 24px;
  line-height: 32px;
  color: #2b2e8c;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .section.welcome-component div ul li:nth-child(2) {
    font-size: 20px;
    line-height: 28px;
    color: #2e2a94;
    font-family: butlerPro, sans-serif;
    font-weight: 700;
  }
}

.section.welcome-component div ul li:nth-child(3) {
  font-size: 16px;
  line-height: 24px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.section.welcome-component div ul li a {
  display: flex;
  width: 176px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  border-radius: 4px;
  background: #2e2a94;
  text-align: center;
}

.section.welcome-component div p {
  width: 57.8%;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .section.welcome-component div p {
    width: 100%;
  }
}