@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.key-facts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
  background-color: #fff;
  padding: 40px 24px;
  border-radius: 8px;
  border: 1px solid #0000000d;

  @media (width <= 768px) {
    padding: 40px 16px;
  }

  .default-content-wrapper {
    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      align-items: center;

      @media (width <= 768px) {
        flex-direction: column;
        gap: 40px;
        align-items: start;
      }

      h4 {
        @include font-style(32px, 40px, $primary-blue, 700, $butlerpro);

        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (width <= 768px) {
          font-size: 24px;
          line-height: 32px;
        }

        span {
          max-width: 72px;
          width: 100%;
          max-height: 72px;
          height: 100%;
        }
      }

      ol {
        li {
          @include font-style(12px, 16px, $primary-blue, 500, $Poppins);

          padding: 4px;
          margin: 0;
          border-radius: 2px;
          background-color: #bdcbff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .key-facts {
    div:nth-child(1) {
      // display: none;
    }

    .key-facts-section {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .Investment-Objective {
        display: flex;
        flex-direction: column;
        gap: 4px;

        p:nth-child(1) {
          @include font-style(14px, 16px, $primary-blue-1-900, 500, $Poppins);

          margin: 0;
        }

        p:nth-child(2) {
            p{
          @include font-style(20px, 24px, $primary-blue-1-900, 500, $Poppins);

          margin: 0;
            }
        }
      }

      .key-facts-amounts {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .minimum-amount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;

          @media (width <= 768px) {
            flex-wrap: wrap;
            gap: 32px;
            height: unset;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 4px;

            p:nth-child(1) {
              @include font-style(
                14px,
                16px,
                $primary-blue-1-900,
                500,
                $Poppins
              );

              margin: 0;
            }

            p:nth-child(2) {
              @include font-style(14px, 20px, $text-body-2, 400, $Poppins);

              margin: 0;
            }
          }
        }

        .key-plans {
          display: flex;
          flex-direction: column;
          gap: 24px;

          @media (width <= 768px) {
            flex-direction: column-reverse;
          }

          .aum-benchmark {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .aum-groups {
              display: flex;
              justify-content: space-between;
              height: 60px;

              @media (width <= 768px) {
                height: unset;
                flex-wrap: wrap;
                gap: 24px 10px;
              }

              div {
                max-width: 192px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 4px;

                @media (width <= 768px) {
                  max-width: 164px;
                  width: 100%;
                }

                p:nth-child(1) {
                  text-wrap: nowrap;

                  @media (width <= 768px) {
                    text-wrap: wrap;
                  }

                  @include font-style(
                    14px,
                    16px,
                    $primary-blue-1-900,
                    500,
                    $Poppins
                  );

                  margin: 0;
                }

                p:nth-child(2) {
                  @include font-style(14px, 20px, $text-body-2, 400, $Poppins);

                  margin: 0;
                }
              }
            }

            .benchmark-groups {
              display: flex;
              height: 60px;

              @media (width <= 768px) {
                height: unset;
                flex-wrap: wrap;
                gap: 24px 10px;
                justify-content: space-between;
              }

              div {
                display: flex;
                flex-direction: column;
                gap: 4px;
                max-width: 192px;
                width: 100%;

                @media (width <= 768px) {
                  max-width: 164px;
                  width: 100%;
                }

                p:nth-child(1) {
                  @include font-style(
                    14px,
                    16px,
                    $primary-blue-1-900,
                    500,
                    $Poppins
                  );

                  margin: 0;
                }

                p:nth-child(2) {
                    @include font-style(14px, 20px, $text-body-2, 400, $Poppins);

                  margin: 0;

                    p{
                  @include font-style(14px, 20px, $text-body-2, 400, $Poppins);

                  margin: 0;
                    }
                }
              }
            }
          }

          .load-policy {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
              @include font-style(
                14px,
                16px,
                $primary-blue-1-900,
                500,
                $Poppins
              );
            }

            .load-policy-list {
              display: flex;
              flex-direction: column;
              gap: 4px;

              li {
                @include font-style(14px, 20px, $text-body-2, 400, $Poppins);

                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
