@import "../../../styles/fonts.css";
.key-facts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
  background-color: #fff;
  padding: 40px 24px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
}
@media (width <= 768px) {
  .key-facts-container {
    padding: 40px 16px;
  }
}
.key-facts-container .default-content-wrapper li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
@media (width <= 768px) {
  .key-facts-container .default-content-wrapper li {
    flex-direction: column;
    gap: 40px;
    align-items: start;
  }
}
.key-facts-container .default-content-wrapper li h4 {
  font-size: 32px;
  line-height: 40px;
  color: #2e2a94;
  font-family: "ButlerPro", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 768px) {
  .key-facts-container .default-content-wrapper li h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
.key-facts-container .default-content-wrapper li h4 span {
  max-width: 72px;
  width: 100%;
  max-height: 72px;
  height: 100%;
}
.key-facts-container .default-content-wrapper li ol li {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 4px;
  margin: 0;
  border-radius: 2px;
  background-color: #bdcbff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key-facts-container .key-facts .key-facts-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.key-facts-container .key-facts .key-facts-section .Investment-Objective {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.key-facts-container .key-facts .key-facts-section .Investment-Objective p:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .Investment-Objective p:nth-child(2) p {
  font-size: 20px;
  line-height: 24px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .Investment-Objective p:nth-child(2) p {
    padding-right: 10px;
  }
}
.key-facts-container .key-facts .key-facts-section .Investment-Objective .investment-discripstion {
  position: relative;
}
.key-facts-container .key-facts .key-facts-section .Investment-Objective .investment-discripstion .read-toggle-btn {
  font-size: 16px;
  line-height: 24px;
  color: #4338f3;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  position: absolute;
  bottom: 1%;
  right: 15%;
  cursor: pointer;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .Investment-Objective .investment-discripstion .read-toggle-btn {
    bottom: 0%;
    right: 38%;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .minimum-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .minimum-amount {
    flex-wrap: wrap;
    gap: 32px;
    height: unset;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .minimum-amount div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .minimum-amount div p:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .minimum-amount div p:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans {
    flex-direction: column-reverse;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups {
    height: unset;
    flex-wrap: wrap;
    gap: 24px 10px;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups div {
  max-width: 192px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups div {
    max-width: 164px;
    width: 100%;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups div p:nth-child(1) {
  text-wrap: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups div p:nth-child(1) {
    text-wrap: wrap;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .aum-groups div p:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups {
  display: flex;
  height: 60px;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups {
    height: unset;
    flex-wrap: wrap;
    gap: 24px 10px;
    justify-content: space-between;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 192px;
  width: 100%;
}
@media (width <= 768px) {
  .key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups div {
    max-width: 164px;
    width: 100%;
  }
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups div p:nth-child(1) {
  font-size: 14px;
  line-height: 16px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups div p:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .aum-benchmark .benchmark-groups div p:nth-child(2) p {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .load-policy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .load-policy p {
  font-size: 14px;
  line-height: 16px;
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .load-policy .load-policy-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.key-facts-container .key-facts .key-facts-section .key-facts-amounts .key-plans .load-policy .load-policy-list li {
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  text-indent: -20px;
  padding-left: 1em;
}/*# sourceMappingURL=key-facts.css.map */