// @use "sass:map";
// @use "../../styles/common-theme/css/variables_mixins" as *;
// @use "../../styles/common-theme/css/fluid-typography" as *;

// .key-facts-container {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   margin-top: 60px;
//   background-color: #fff;
//   padding: 40px 24px;
//   border-radius: 8px;
//   border: 1px solid #0000000d;

//   @media (width <= 768px) {
//     padding: 40px 16px;
//     gap: 0;
//   }

//   .default-content-wrapper {
//     li {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       list-style: none;
//       align-items: center;

//       @media (width <= 768px) {
//         flex-direction: column;
//         gap: 0;
//         align-items: start;
//       }

//       h4 {
//         @include font-style(32px, 40px, $primary-blue, 700, $butlerpro);

//         padding: 0;
//         margin: 0;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 8px;

//         @media (width <= 768px) {
//           font-size: 24px;
//           line-height: 28px;
//         }

//         span {
//           max-width: 72px;
//           width: 100%;
//           max-height: 72px;
//           height: 100%;
//         }
//       }

//       ol {
//         li {
//           @include font-style(12px, 16px, $primary-blue, 500, $poppins);

//           padding: 4px;
//           margin: 0;
//           border-radius: 2px;
//           background-color: #bdcbff;
//           display: flex;
//           justify-content: center;
//           align-items: center;

//            @media (width <= 768px) {
//          font-weight: 400;
//         }
//         }
//       }
//     }
//   }

//   .key-facts {
//     @media (width <= 768px) {
//       padding: 40px 0 0 0 ;
//     }

//     div:nth-child(1) {
//       // display: none;
//     }

//     .key-facts-section {
//       display: flex;
//       flex-direction: column;
//       gap: 24px;

//       .investment-objective {
//         display: flex;
//         flex-direction: column;
//         gap: 4px;

//         @media (width <= 768px) {
//                    gap: 12px;
//                   }

//         p:nth-child(1) {
//           @include font-style(14px, 16px, $primary-blue, 500, $poppins);

//           margin: 0;
//         }

//         p:nth-child(2) {
//           p {
//             @include font-style(20px, 24px, $primary-blue, 500, $poppins);

//             margin: 0;

//             @media (width <= 768px) {
//               padding-right: 10px;
//             }
//           }
//         }

//         .investment-discripstion {
//           position: relative;
//           margin: 0;

//           .read-toggle-btn {
//             @include font-style(
//               16px,
//               24px,
//               map.get($blue-1, b500),
//               500,
//               $poppins
//             );

//             text-decoration: underline;
//             position: absolute;
//             bottom: 1%;
//             right: 15%;
//             cursor: pointer;

//             @media (width <= 768px) {
//               bottom: 0%;
//               right: 38%;
//             }
//           }
//         }
//       }

//       .key-facts-amounts {
//         display: flex;
//         flex-direction: column;
//         gap: 24px;

//         .minimum-amount {
//           display: flex;
//           justify-content: space-between;
//           align-items: center;
//           height: 60px;

//           @media (width <= 768px) {
//             flex-wrap: wrap;
//             gap: 32px;
//             height: unset;
//           }

//           div {
//             display: flex;
//             flex-direction: column;
//             gap: 4px;

//             p:nth-child(1) {
//               @include font-style(
//                 14px,
//                 16px,
//                 $primary-blue-1-900,
//                 500,
//                 $poppins
//               );

//               margin: 0;
//             }

//             p:nth-child(2) {
//               @include font-style(14px, 20px, $text-body-2, 400, $poppins);

//               margin: 0;
//             }
//           }
//         }

//         .key-plans {
//           display: flex;
//           flex-direction: column;
//           gap: 24px;

//           @media (width <= 768px) {
//             flex-direction: column-reverse;
//           }

//           .aum-benchmark {
//             display: flex;
//             flex-direction: column;
//             gap: 24px;

//             .aum-groups {
//               display: flex;
//               justify-content: space-between;
//               height: 60px;

//               @media (width <= 768px) {
//                 height: unset;
//                 flex-wrap: wrap;
//                 gap: 24px 12px;
//               }

//               div {
//                 max-width: 192px;
//                 width: 100%;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 4px;

//                 @media (width <= 768px) {
//                   max-width: 164px;
//                   width: 100%;
//                 }

//                 p:nth-child(1) {
//                   text-wrap: nowrap;

//                   @media (width <= 768px) {
//                     text-wrap: wrap;
//                   }

//                   @include font-style(
//                     14px,
//                     16px,
//                     $primary-blue-1-900,
//                     500,
//                     $poppins
//                   );

//                   margin: 0;
//                 }

//                 p:nth-child(2) {
//                   @include font-style(14px, 20px, $text-body-2, 400, $poppins);

//                   margin: 0;
//                 }
//               }
//             }

//             .benchmark-groups {
//               display: flex;
//               height: 60px;

//               @media (width <= 768px) {
//                 height: unset;
//                 flex-wrap: wrap;
//                 gap: 24px 10px;
//                 justify-content: space-between;
//               }

//               div {
//                 display: flex;
//                 flex-direction: column;
//                 gap: 4px;
//                 max-width: 192px;
//                 width: 100%;

//                 @media (width <= 768px) {
//                   max-width: 164px;
//                   width: 100%;
//                 }

//                 p:nth-child(1) {
//                   @include font-style(
//                     14px,
//                     16px,
//                     $primary-blue-1-900,
//                     500,
//                     $poppins
//                   );

//                   margin: 0;
//                 }

//                 p:nth-child(2) {
//                   @include font-style(14px, 20px, $text-body-2, 400, $poppins);

//                   margin: 0;

//                   p {
//                     @include font-style(
//                       14px,
//                       20px,
//                       $text-body-2,
//                       400,
//                       $poppins
//                     );

//                     margin: 0;
//                   }
//                 }
//               }
//             }
//           }

//           .load-policy {
//             display: flex;
//             flex-direction: column;
//             gap: 16px;

//             p {
//               @include font-style(
//                 14px,
//                 16px,
//                 $primary-blue-1-900,
//                 500,
//                 $poppins
//               );

//               margin: 0;
//             }

//             .load-policy-list {
//               display: flex;
//               flex-direction: column;
//               gap: 4px;

//               li {
//                 @include font-style(14px, 20px, $text-body-2, 400, $poppins);

//                 margin: 0;
//                 text-indent: -20px;
//                 padding-left: 1em;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// Accessibility  Done

@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

/* ===== Accessibility Helpers ===== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;

  // clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-contrast: more) {
  .key-facts-container {
    background-color: #fff !important;
    color: #000 !important;

    h4,
    p,
    button,
    a {
      color: #000 !important;
    }
  }
}

/* ===== Key Facts Container ===== */
.key-facts-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
  background-color: #fff;
  padding: 40px 24px;
  border-radius: 8px;
  border: 1px solid #0000000d;

  @media (width <=768px) {
    padding: 40px 16px;
    gap: 0;
  }

  .default-content-wrapper {
    ol {
      margin: 0;


      li {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        // justify-content: space-between;
        list-style: none;
        align-items: center;

        &:first-child {
          // min-width: 511px;
          width: 100%;

          @include media(mobile) {
            min-width: unset
          }
        }

        >p {
          @include font-style(var(--body-xlarge-bold-size), var(--body-xlarge-bold-line-height), var(--blue-1-800-primary), 600, var(--body));

          padding: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          @media (width <=768px) {
            font-size: var(--body-xlarge-bold-size);
            line-height: var(--body-xlarge-bold-line-height);
          }

          span {
            max-width: 56px;
            width: 100%;
            max-height: 56px;
            height: 100%;

            @media (width <=768px) {
              max-width: 56px;
              height: 56px;
            }
          }
        }

        ol {
          width: calc(100% - 72px);
          display: flex;

          // justify-content: space-between;
          gap: 8px;
          margin: 0;
          align-items: center;

          @media (width <=768px) {
            flex-direction: column;
            gap: 4px;
            align-items: start;
          }


          li:nth-child(2) {
            @include font-style(var(--paragraph-xsmall-size), var(--paragraph-xsmall-line-height), var(--blue-1-800-primary), 500, var(--body));

            // padding: 4px;
            margin: 0;
            border-radius: 2px;
            background: var(--blue-1-50);
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 169px;
            width: 100%;

            @media (width <=768px) {
              font-weight: 400;
            }

            p {
              display: flex;
              width: 169px;
              height: 24px;
              padding: 4px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              border-radius: 2px;
              background: var(--blue-1-50, #D5DEFF);
              color: var(--blue-1800-primary, #2E2A94);
              font-family: var(--body, Inter);
              font-size: var(--paragraph-xsmall-size, 12px);
              font-style: normal;
              font-weight: 500;
              line-height: var(--paragraph-xsmall-line-height, 16px);

              @include media(mobile) {
                font-size: var(--paragraph-xsmall-size, 12px);
                font-style: normal;
                font-weight: 400;
                line-height: var(--paragraph-xsmall-line-height, 16px);
              }
            }
          }
        }
      }
    }
  }

  .key-facts {
    @media (width <=768px) {
      padding: 40px 0 0;
    }

    .key-facts-section {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include media(mobile) {
        gap: 24px;
      }

      .investment-objective {
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (width <=768px) {
          gap: 12px;
        }

        p:nth-child(1) {
          @include font-style(var(--body-medium-medium-size), var(--body-medium-medium-line-height), var(--blue-1-800-primary), 500, var(--body));

          margin: 0;
        }

        // p:nth-child(2) {
        //   p {
        //     @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

        //     margin: 0;

        //     @media (width <=768px) {
        //       padding-right: 10px;
        //       font-size: var(--paragraph-small-size);
        //       line-height: var(--paragraph-small-line-height);
        //     }
        //   }
        // }

        .investment-discripstion {
          position: relative;
          margin: 0;

          @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

          @media (width <=768px) {
            padding-right: 10px;
            font-size: var(--paragraph-small-size);
            line-height: var(--paragraph-small-line-height);
          }

          .read-toggle-btn {
            @include font-style(14px,
              var(--text-link-small-line-height),
              var(--text-text-link),
              400,
              var(--body));

            text-decoration: underline;
            text-underline-offset: 20%;
            cursor: pointer;
            position: relative;
            bottom: 4px;
            left: 5px;

            // position: absolute;
            // bottom: 1%;
            // right: 15%;
            // @media (width <= 768px) {
            //   bottom: 0%;
            //   right: 38%;
            // }

            @include media(mobile) {
              bottom: 2px;
            }

            &:focus {
              outline: 2px dashed $primary-blue;
              outline-offset: 2px;
            }
          }
        }
      }

      .key-facts-amounts {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media(mobile) {
          gap: 24px;
        }

        .minimum-amount {
          display: flex;
          justify-content: space-between;
          align-items: center;

          // height: 60px;

          @media (width <=768px) {
            flex-wrap: wrap;
            gap: 24px;
            height: unset;
          }

          .redemption-amount {
            width: 50%;

            @include media(mobile) {
              width: 100%;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .key-facts-amounts-title {
              & .block-subitem-finelsub2,
              & .block-subitem-finelsub3 {
                margin: unset;
              }
            }

            .key-facts-amounts-title:nth-child(1) {
              @include font-style(var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body));

              margin: 0;
            }

            .key-facts-amounts-sub:nth-child(2) {
              @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

              margin: 0;
            }
          }
        }

        .key-plans {
          display: flex;
          flex-direction: column;
          gap: 40px;

          @media (width <=768px) {
            flex-direction: column-reverse;
          }

          .aum-benchmark {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include media(mobile) {
              gap: 24px;
            }

            .aum-groups,
            .benchmark-groups {
              display: flex;
              justify-content: space-between;

              // height: 60px;

              @media (width <=768px) {
                flex-wrap: wrap;
                gap: 24px 12px;
                height: unset;
              }

              div {
                max-width: 190px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                @media (width <=768px) {
                  width: 162px;
                  max-width: 100%;
                  gap: 4px;
                }

                p:nth-child(1) {
                  // text-wrap: nowrap;

                  @media (width <=768px) {
                    text-wrap: wrap;
                  }

                  @include font-style(var(--body-medium-medium-size),
                    var(--body-medium-medium-line-height),
                    var(--blue-1-800-primary),
                    500,
                    var(--body));

                  margin: 0;
                }

                p:nth-child(2) {
                  @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

                  margin: 0;

                  @media (width <=768px) {
                    font-size: var(--paragraph-small-size);
                  }

                  p {
                    @include font-style(var(--body-medium-regular-size),
                      var(--body-medium-regular-line-height),
                      var(--text-body-2),
                      400,
                      var(--body));

                    margin: 0;
                  }
                }
              }
            }
          }

          .load-policy {
            display: flex;
            flex-direction: column;
            gap: 8px;

            p.load-policy-para {
              @include font-style(var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body));

              margin: 0;

              & .block-subitem-finelsub4 {
                margin: unset;
              }
            }

            .load-policy-list {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .load-policy-list-ul {
                margin: unset;
                margin-left: 12px;
                padding-left: 10px;

                li {
                  @include font-style(var(--body-medium-regular-size), 24px, var(--text-body-2), 400, var(--body));

                  margin: 0;

                  @media (width <=768px) {
                    font-size: var(--paragraph-small-size);
                    line-height: var(--paragraph-small-line-height);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}