@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.contact-us-parent {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media(mobile) {
    gap: 30px;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 16px;

    @include media(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    .location-wrap {
      background-color: #fff;
      position: relative;
      width: 400px;

      @include media(mobile) {
        width: 100%;
      }

      .locate-label {
        font-family: $poppins;
        font-weight: 400;
        font-size: 12px;
        position: absolute;
        top: 2px;
        left: 10px;
        transform: translateY(-50%);
        padding: 0 8px;
        background: #fff;
        z-index: 2;
        pointer-events: none;
        overflow: hidden;
        color: #424242;
        text-overflow: ellipsis;
        line-height: 16px;
        margin: unset;
      }

      .location-dropdown {
        display: flex;
        height: 52px;
        align-items: center;

        // gap: 8px;
        justify-content: space-between;
        margin: 0;
        padding: 16px 12px;
        list-style: none;
        border-radius: 6px;
        border: 1px solid #9E9E9E;
        background: #fff;
        position: relative;
        cursor: pointer;

        @include media(mobile) {
          -webkit-tap-highlight-color: transparent;
        }

        &::after {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('/icons/arrow-down-black.svg'), no-repeat;
        }

        .location-options {
          color: #111;
          font-family: $poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;

          .location-value {
            margin: unset;
          }

          ul {
            list-style-type: none;
            width: 400px;
            height: 200px;
            overflow: auto;
            position: absolute;
            top: 50px;
            left: 0;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #EEE;
            box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
            z-index: 2;

            @include media(mobile) {
              width: 100%;
            }

            li {
              font-size: 12px;
              line-height: 16px;
              color: #111;
              font-family: $poppins;
              font-weight: 400;
              padding: 12px;
              cursor: pointer;

              &:last-child {
                border-bottom: unset
              }

            }
          }
        }
      }
    }

    .simple-txt {
      font-family: $poppins;
      font-weight: 500;
      font-size: 16px;
      color: #2E2A94;
      margin: unset;
    }

    .pincode-wrap {
      background-color: #fff;
      position: relative;
      display: inline-block;
      width: 320px;

      @include media(mobile) {
        width: 100%;
      }

      .location-pincd {
        position: absolute;
        top: 2px;
        left: 10px;
        transform: translateY(-50%);
        padding: 0 6px;
        background: white;
        z-index: 1;
        outline: none;
        pointer-events: none;
        color: #424242;
        font-family: $poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin: unset;
      }

      .search-loaction {
        width: 400px;
        height: 52px;
        padding: 14px 8px;
        opacity: 1;
        border-radius: 6px;
        border: 1px solid #9E9E9E;
        outline: none;

        // background: url(../../icons/search-icon.svg) no-repeat left 12px center;
        font-size: 16px;

        // background: white;
        display: flex;
        align-items: center;
        gap: 10px;

        @include media(mobile) {
          width: 100%;
        }

        &::placeholder {
          color: #616161;
          font-family: $poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          padding-left: 35px;
        }

        img {
          height: 20px;
          width: 20px;
        }

        .search-loaction-input {
          border: none;
          width: 100%;
        }
      }
    }

    .mobfeatrure {
      display: none;

      @include media(mobile) {
        margin-top: 14px;
        color: #424242;
        font-family: $poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        gap: 10px;
      }

      .featrure-input[type="radio"] {
        accent-color: #2E2A94;
        border: none;

        &:checked+label.featrure-label {
          color: #2E2A94;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }

  .contact-feature {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .contact-branch {
      font-family: $butlerpro;
      font-weight: 700;
      color: #2E2A94;
      font-size: 24px;
    }

    .feature-wrap {
      display: flex;
      gap: 16px;
      align-items: center;

      .featrure1,
      .featrure2 {
        display: flex;
        align-items: center;
        gap: 10px;

        .featrure-input[type="radio"] {
          accent-color: #2E2A94;
          border: none;

          &:checked+label.featrure-label {
            color: #2E2A94;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
          }
        }

        label {
          color: #424242;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          cursor: pointer;
        }

      }

      .featrure2 {
        @include media(mobile) {
          display: none;
        }

        label {
          color: #424242;
          font-family: $poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          cursor: pointer;
        }

      }
    }
  }

  

  .location-map {
    display: grid;
    grid-template-columns: 400px 816px;
    gap: 16px;

    @include media(mobile) {
      grid-template-columns: 100%;
    }

    .location-info {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .mum-location {
        @include media(mobile) {
          border-bottom: 0.5px solid #8E8E8E;
        }

        .location-head {
          display: flex;
          align-items: center;
          gap: 8px;

          .location-head1 {
            font-family: $poppins;
            color: #2E2A94;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            margin: unset;
          }

          .location-head2 {
            gap: 8px;
            opacity: 1;
            border-radius: 2px;
            padding: 4px;
            background-color: #D5DEFF;
            font-family: $poppins;
            font-weight: 400;
            color: #2E2A94;
            font-size: 12px;
            line-height: 16px;
            margin: unset;
          }
        }

        .desc-wrap {
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          gap: 2px;

          .desc-wrap-head {
            font-family: $poppins;
            font-weight: 500;
            color: #2E2A94;
            font-size: 14px;
            font-style: normal;
            line-height: 16px;
            margin: unset;
          }

          .desc-wrap-description {
            color: #424242;
            font-family: $poppins;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            margin: unset;

            @include media(mobile) {
              color: #616161;
            }
          }
        }

        .contact-number {
          padding-top: 16px;
          display: flex;
          gap: 20px;
          list-style-type: none;
          margin: unset;

          @include media(mobile) {
            display: flex;
          }

          .contact-number-link {
            &:nth-child(2) {
              list-style-type: disc;
              margin-left: 8px;
              color: #2B2E8C;
            }

            .contact-txt {
              text-decoration: underline;
              color: #5659FA;
              font-family: $poppins;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
            }
          }
          
          .none {
            display: none;
          }

        }

        .info {
          padding-top: 16px;
          font-family: $poppins;
          font-weight: 400;
          color: #757575;
          font-size: 12px;
          font-style: normal;
          line-height: 16px;
          margin: unset;

          @include media(mobile) {
            margin-bottom: 16px;
          }
        }
      }

      .mal-location {
        .heading1 {
          .location-head1 {
            font-family: $poppins;
            color: #2E2A94;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
          }
        }

        .desc {
          padding-top: 16px;
          display: flex;
          flex-direction: column;
          gap: 2px;

          @include media(mobile) {
            padding-top: 7px;
          }

          .desc-head {
            font-family: $poppins;
            font-weight: 500;
            color: #2E2A94;
            font-size: 14px;
            font-style: normal;
            line-height: 16px;
            margin: unset;
          }

          .description {
            color: #424242;
            font-family: $poppins;
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            margin: unset;

            @include media(mobile) {
              color: #616161;
            }
          }
        }

        .contact {
          padding-top: 16px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          a {
            font-family: $poppins;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-decoration: underline;
            text-decoration-style: solid;
            color: #5659FA;
          }
        }
      }
    }

    .loc-geo {
      height: 471px;

      @include media(mobile) {
        height: 199px;
        grid-row: 1;
      }
    }
  }
}