@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.start-building-container {
    // padding: map.get($spacing, sm);

    @include media(mobile) {
        padding: unset;
    }

    .start-building-wrapper {
        width: 100%;

        .start-building {
            display: flex;
            flex-direction: column; // mobile first: stacked
            align-items: flex-start;
            gap: map.get($spacing, sm);
            padding: 16px;
            border-radius: 8px;
            background: #2E2A94;

            @include media(mobile) {
                padding: 24px 16px;
            }

            .start-container1 {
                .start-section1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: map.get($spacing, sm);
                    width: 100%;

                    @include media (mobile) {
                        gap: 40px;
                    }

                    h4 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 12px;
                        margin: 0;
                        color: var(--neutrals-white);
                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                        font-family: var(--title, inter);
                        font-size: var(--sub-header-large-size, 24px);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px;

                        @include media (mobile) {
                            flex-direction: unset;
                            align-items: center;
                        }

                        .icon {
                            width: 64px;
                            height: 64px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include media (mobile) {
                                max-width: 48px;
                                width: 100%;
                                height: 48px;
                            }

                            img {
                                width: 100%;
                                height: 100%;

                                @include media (mobile) {
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }
                    }

                    &>:nth-child(2) {
                        margin: 0;
                        padding: 0;
                        color: #FFF;
                        font-family: $poppins;
                        font-size: rem(14px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: rem(20px);
                        display: none;

                        @include media (mobile) {
                            display: none;
                        }
                    }

                    .button-container {
                        margin: 0;

                        // margin-top: 28px;
                        padding: 0;
                        line-height: 0.1px;

                        @include media(mobile) {
                            width: 100%;
                        }

                        .button {
                            width: 100%; // full-width button on mobile
                            padding: 10px 12px;
                            border: none;
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                            margin: 0;
                            border-radius: var(--border-radius-8, 8px);
                            background-color: var(--neutrals-white, #FFF);
                            color: var(--text-button-default, #2E2A94);
                            text-align: center;
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, inter);
                            font-size: var(--button-medium-size);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--button-medium-line-height);

                            // @include media (mobile-md) {
                            //     padding: 12px;
                            // }

                            &:hover {
                                background-color: map.get($button-secondary, hover);
                            }

                            &:active {
                                background-color: map.get($button-secondary, active);
                            }

                            &:disabled {
                                background-color: map.get($button-secondary, disabled);
                                color: $neutrals-400;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Tablet and up
@media (width >=900px) {
    .start-building-container {
        // padding: map.get($spacing, md);

        .start-building-wrapper {
            .start-building {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: map.get($spacing, lg);

                .start-container1 {
                    width: -webkit-fill-available;

                    .start-section1 {
                        flex-direction: unset;
                        justify-content: space-between;
                        align-items: center;

                        &>:nth-child(2) {
                            display: none;
                        }

                        .button-container {
                            margin: 0;
                            width: 224px;

                            a.button {
                                padding: 12px;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }

            }
        }
    }
}

// Desktop overrides
@media (width >=1025px) {
    .start-building-container {
        .start-building-wrapper {
            .start-building {
                padding: 24px 32px;

                .start-container1 {
                    width: -webkit-fill-available;

                    .start-section1 {
                        h4 {
                            flex-direction: row;
                            align-items: center;
                            color: var(--neutrals-white);
                            text-align: center;
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--title, inter);
                            font-size: var(--heading-h4-size);
                            font-style: normal;
                            font-weight: 600;
                            line-height: var(--heading-h4-line-height);

                            .icon {
                                width: 64px;
                                height: 64px;
                            }
                        }

                        &>:nth-child(2) {
                            display: none;
                        }

                        .button-container {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}