@import "../../../styles/fonts.css";
@import "../fund-card/fund-card.css";

.section.our-funds-fdp-container {
  padding: 24px 0;
  margin-bottom: unset !important;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container {
    padding: 0 16px;
  }
}

.section.our-funds-fdp-container .default-content-wrapper h4 {
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0 0 2.5rem;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .default-content-wrapper h4 {
    margin: 0 0 16px;
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container {
  display: flex;
  background-color: var(--neutrals-white);
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  border-radius: 0.5rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 140px;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container {
    height: 196px;
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper {
  display: flex;
  gap: 67px;
  align-items: center;
  align-self: stretch;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager {
  display: flex;
  max-width: 399px;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-image {
  width: 61px;
  height: 64px;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-image img {
  width: 100%;
  height: 100%;
     object-fit: cover;
  border-radius: 4px;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail p {
  margin: 0;
  padding: 0;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail p:nth-child(1) {
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail p:nth-child(1) {
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
    font-weight: 600;
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail p:nth-child(2) {
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-manager .fund-manager-detail p:nth-child(2) {
    font-size: var(--paragraph-xsmall-size);
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .funds-time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .funds-time .funds-time-text,
.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .funds-time .funds-time-year {
  margin: 0;
  padding: 0;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .fund-aum {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .fund-aum .fund-aum-text {
  margin: 0;
  padding: 0;
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .fund-aum .fund-aum-text {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .fund-aum .fund-aum-rupee {
  margin: 0;
  padding: 0;
  font-size: var(--body-small-semibold-size);
  line-height: var(--body-small-semibold-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-wrapper .fund-list .fund-aum .fund-aum-rupee {
    font-size: var(--body-xsmall-semibold-size);
    line-height: var(--body-xsmall-semibold-line-height);
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-links {
  display: flex;
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-links a {
  font-size: 14px;
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 14%;
  text-decoration-thickness: 1px;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  padding: 0 5rem;
}

@media (width <= 768px) {
  .section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-links a {
    padding: 0;
  }
}

.section.our-funds-fdp-container .our-funds-fdp-wrapper .our-funds-fdp .funds-container .fund-links a:focus-visible {
  outline: 2px dashed #332ab5;
  outline-offset: 4px;
}

.modal.modal-journey-fund {
  max-width: 549px;
}

.modal.modal-journey-fund dialog[open] {
  transform: translateX(0);
}

@media (width <= 768px) {
  .modal.modal-journey-fund dialog[open] {
    align-items: end;
  }
}

.modal.modal-journey-fund dialog .close-button {
  display: block;
  z-index: -1;
  background-color: transparent;
  color: transparent;
}

.modal.modal-journey-fund dialog .modal-content {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: unset;
}

@media (width <= 768px) {
  .modal.modal-journey-fund dialog .modal-content {
    height: 90%;
  }
}

.modal.modal-journey-fund dialog .modal-content .fm-portfolio-container {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.modal.modal-journey-fund dialog .modal-content .fm-portfolio-container::-webkit-scrollbar {
  width: 3px;
}

.modal.modal-journey-fund dialog .modal-content .fm-portfolio-container::-webkit-scrollbar-track {
  width: 3px;
  background-color: var(--neutrals-white);
  border-radius: 0 6px 6px 0;
}

.modal.modal-journey-fund dialog .modal-content .fm-portfolio-container::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #6e6c6c;
}

@media (width <= 768px) {
  .modal.modal-journey-fund dialog .modal-content .fm-portfolio-container {
    border: 1px solid #9E9E9E;
  }
}

@media (width <= 768px) {
  .modal.modal-journey-fund dialog .modal-content .fm-portfolio-container {
    border-radius: 24px 24px 0 0;
    max-width: 100%;
  }
}