/*   alpha-value-notation */

/*   media-feature-range-notation */
@import "../../../styles/fonts.css";
@import '../swiper/swiper-bundle.min.css';

.pws-hero-section {
  margin: 0;
  padding: 0;
}

.pws-hero-section .hero-wrapper {
  max-width: 100%;
  position: relative;
}

@media (width <= 768px) {
  .pws-hero-section .hero-wrapper {
    padding: unset;
  }
}

.pws-hero-section .hero-wrapper .comlist.para1 .comlist.p21 {
  line-height: 0;
  font-size: 0;
}

.pws-hero-section .hero-wrapper .comlist.para1 .comlist.p21 .p31 img {
  width: 100%;
  height: 681px;
  flex-shrink: 0;
  aspect-ratio: 1366/681;
}

@media (width <= 768px) {
  .pws-hero-section .hero-wrapper .comlist.para1 .comlist.p21 .p31 img {
    width: 100%;
    height: 718px;
    flex-shrink: 0;
    aspect-ratio: 186/359;
  }
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 {
  position: absolute;
  top: 202px;
  left: 67px;
  max-width: 554px;
}

@media (width <= 768px) {
  .pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 {
    top: 474px;
    right: 16.5px;
    left: 13.5px;
  }
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 p {
  color: white;
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p31 {
  color: var(--neutrals-white);
  font-family: var(--body);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  align-self: stretch;
}

@media (width <= 768px) {
  .pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p31 {
    color: var(--neutrals-white);
    font-feature-settings: "liga" off;
    font-family: var(--body);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 111.111% */
    max-width: 100%;
    width: 100%;
  }
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p32 {
  color: #FFF;
  font-family: var(--body);
  font-size: var(--body-large-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-large-regular-line-height); /* 155.556% */
  width: 500px;
}

@media (width <= 768px) {
  .pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p32 {
    color: var(--text-white, #FFF);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Mobile/Paragraph/Small */
    font-family: var(--body);
    font-size: var(--paragraph-small-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--paragraph-small-line-height); /* 142.857% */
    max-width: 100%;
    width: 100%;
  }
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p33 {
  border-radius: var(--border-radius-8);
  display: flex;
  width: 160px;
  height: 40px;
  padding: var(--spacing-12);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);
}

.pws-hero-section .hero-wrapper .comlist.para2 .comlist.p21 .p33 a {
  border-radius: var(--border-radius-8);
  background: var(--neutrals-white);
  color: var(--text-button-default);
  text-align: center;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Mobile/Button/Medium */
  font-family: var(--body);
  font-size: var(--button-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--button-medium-line-height); /* 125% */
  position: absolute;
  left: 0;
}

.our-strategies h2 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--title);
  font-size: var(--heading-h3-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--heading-h3-line-height); /* 122.222% */
  margin-bottom: 20px;
}

@media (width <= 768px) {
  .our-strategies h2 {
    margin-bottom: 24px;
  }
}

.our-strategies .strategy-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper {
    flex-direction: column-reverse;
  }
}

.our-strategies .strategy-wrapper .strategy11 {
  display: flex;
  flex-direction: column;
  max-width: 608px;
  width: 100%;
  margin: 0;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 {
  padding: 20px 0 32px;
  border-bottom: 1px solid var(--neutrals-300);
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy21.comlist {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Body/Xlarge-regular */
  font-family: var(--body);
  font-size: var(--body-xlarge-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-xlarge-regular-line-height); /* 120% */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy21.comlist::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy21.comlist .strategy31 {
  width: 26px;
  height: 24px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy21.comlist .strategy31 img {
    width: 26px;
    height: 24px;
  }
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy21.comlist {
    color: var(--blue-1-800-primary);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Body/Xlarge-regular */
    font-family: var(--body);
    font-size: var(--body-xlarge-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--body-xlarge-regular-line-height); /* 120% */
    text-decoration: none;
    width: 100%;
    margin-bottom: 12px;
    height: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy22 {
  color: var(--neutrals-700);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Paragraph/Small-regular */
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height); /* 142.857% */
  text-decoration: none;
  width: 497px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy22::marker {
  content: none;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-1 .strategy22 {
    color: var(--neutrals-700);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Paragraph/Small-regular */
    font-family: var(--body);
    font-size: var(--body-small-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--label-large-line-height); /* 142.857% */
    align-self: stretch;
    width: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 {
  padding: 32px 0;
  border-bottom: 1px solid var(--neutrals-300);
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy23 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Body/Xlarge-regular */
  font-family: var(--body);
  font-size: var(--body-xlarge-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-xlarge-regular-line-height); /* 120% */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy23::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy23 .strategy31.icon {
  width: 26px;
  height: 24px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy23 .strategy31.icon {
    width: 26px;
    height: 24px;
  }
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy23 {
    color: var(--blue-1-800-primary);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Body/Xlarge-regular */
    font-family: var(--body);
    font-size: var(--body-xlarge-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--body-xlarge-regular-line-height); /* 120% */
    text-decoration: none;
    width: 100%;
    margin-bottom: 12px;
    height: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy24 {
  color: var(--neutrals-700);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Paragraph/Small-regular */
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height); /* 142.857% */
  text-decoration: none;
  width: 497px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy24::marker {
  content: none;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-2 .strategy24 {
    color: var(--neutrals-700);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Paragraph/Small-regular */
    font-family: var(--body);
    font-size: var(--body-small-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--label-large-line-height); /* 142.857% */
    align-self: stretch;
    width: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 {
  padding: 32px 0;
  border-bottom: 1px solid var(--neutrals-300);
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 li.strategy25 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Body/Xlarge-regular */
  font-family: var(--body);
  font-size: var(--body-xlarge-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-xlarge-regular-line-height); /* 120% */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 li.strategy25::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 li.strategy25 .strategy31.icon {
  width: 26px;
  height: 24px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 li.strategy25 {
    width: 26px;
    height: 24px;
  }
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 li.strategy25 {
    color: var(--blue-1-800-primary);
    font-family: var(--body);
    font-size: var(--body-xlarge-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--body-xlarge-regular-line-height); /* 120% */
    width: 100%;
    margin-bottom: 12px;
    height: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 .strategy26 {
  color: var(--neutrals-700);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Paragraph/Small-regular */
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height); /* 142.857% */
  text-decoration: none;
  width: 497px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 .strategy26::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 .strategy26 .icon-vector-arrow {
  width: 26.5px;
  height: 15px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-3 .strategy26 {
    color: var(--neutrals-700);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Paragraph/Small-regular */
    font-family: var(--body);
    font-size: var(--body-small-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--label-large-line-height); /* 142.857% */
    align-self: stretch;
    width: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 {
  padding: 32px 0;
  border-bottom: 1px solid var(--neutrals-300);
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy27 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Body/Xlarge-regular */
  font-family: var(--body);
  font-size: var(--body-xlarge-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-xlarge-regular-line-height); /* 120% */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy27::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy27 .icon-vector-arrow {
  width: 26.5px;
  height: 15px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy27 {
    color: var(--blue-1-800-primary);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Body/Xlarge-regular */
    font-family: var(--body);
    font-size: var(--body-xlarge-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--body-xlarge-regular-line-height); /* 120% */
    width: 100%;
    margin-bottom: 12px;
    height: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy28 {
  color: var(--neutrals-700);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Paragraph/Small-regular */
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height); /* 142.857% */
  text-decoration: none;
  width: 497px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy28::marker {
  content: none;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-4 .strategy28 {
    color: var(--neutrals-700);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Paragraph/Small-regular */
    font-family: var(--body);
    font-size: var(--body-small-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--label-large-line-height); /* 142.857% */
    align-self: stretch;
    width: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 {
  padding: 32px 0;
  border-bottom: 1px solid var(--neutrals-300);
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy29 {
  color: var(--blue-1-800-primary);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Body/Xlarge-regular */
  font-family: var(--body);
  font-size: var(--body-xlarge-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-xlarge-regular-line-height); /* 120% */
  display: flex;
  justify-content: space-between;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy29::marker {
  content: none;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy29 .icon-vector-arrow {
  width: 26.5px;
  height: 15px;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy29 {
    color: var(--blue-1-800-primary);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Body/Xlarge-regular */
    font-family: var(--body);
    font-size: var(--body-xlarge-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--body-xlarge-regular-line-height); /* 120% */
    width: 100%;
    margin-bottom: 12px;
    height: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy210 {
  color: var(--neutrals-700);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

  /* Desktop/Paragraph/Small-regular */
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height); /* 142.857% */
  text-decoration: none;
  width: 497px;
}

.our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy210::marker {
  content: none;
}

@media (width <= 768px) {
  .our-strategies .strategy-wrapper .strategy11 .li-wrapper-5 .strategy210 {
    color: var(--neutrals-700);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;

    /* Desktop/Paragraph/Small-regular */
    font-family: var(--body);
    font-size: var(--body-small-regular-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--label-large-line-height); /* 142.857% */
    align-self: stretch;
    width: 100%;
  }
}

.our-strategies .strategy-wrapper .strategy12 {
  line-height: 0;
  font-size: 0;
}

.our-strategies .strategy-wrapper .strategy12 .strategy21 .strategy34 {
  width: 100%;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
}

.our-strategies .text-wrap {
  max-width: 302px;
  width: 100%;
}