@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

:root {
    --tab-border-color: #e0e0e0;
    --tab-active-bg: #6a38ee;
    --tab-active-color: #fff;
    --tab-inactive-bg: #f5f5f5;
    --tab-inactive-color: #333;
    --card-border-radius: 8px;
    --card-shadow: 0 4px 12px rgb(0 0 0 / 8%);
    --link-color: #6a38ee;
    --spacing-unit: 8px;
}

.popular-artical {
    max-width: 100%;

    p,
    a {
        margin: 0;
        padding: 0;
        line-height: 10px;
    }

    .default-content-wrapper {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
            margin: 0;
            margin-bottom: -30px;
            color: #2E2A94;
            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
            font-family: var(--title);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;

            @include media(mobile) {
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .tabs {
        .tabs-list {
            display: flex;
            justify-content: flex-end;
            gap: var(--spacing-unit);
            border: none;
            margin-bottom: 40px;

            @include media(mobile) {
                justify-content: flex-start;

                // margin-bottom: 24px;
            }

            .tabs-tab {
                display: flex;
                width: 100%;
                height: 32px;
                min-width: 104px;
                padding: var(--spacing-8) var(--spacing-12);
                justify-content: center;
                align-items: center;
                border-radius: var(--border-radius-circle, 1000px);
                border: var(--border-width-01, 1px) solid var(--strokes-disabled, #BDBDBD);
                background: var(--surface-disabled, #FAFAFA);

                p {
                    margin: 0;
                    color: var(--text-body, #424242);
                    font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                    font-family: var(--body);
                    font-size: var(--body-small-regular-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--label-large-line-height);

                    @include media (mobile) {
                        line-height: 16px;
                    }
                }

                &:hover {
                    background-color: #e9e2fd;
                }

                &[aria-selected="true"] {
                    border: var(--border-width-01, 1px) solid var(--strokes-selected, #382AD7);
                    background: var(--surface-selected, #EDF1FF);

                    p {
                        color: var(--text-button-default, #2E2A94);
                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                        font-family: var(--body);
                        font-size: var(--body-small-regular-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--body-small-regular-line-height);
                    }
                }
            }
        }

        .tabs-panel {
            margin-top: 0;
            padding: 0;
            border: none;
            overflow: auto;

            &[aria-hidden="false"] {
                display: block;
            }
        }
    }

    .default-content-wrapper:last-of-type {
        text-align: center;
        padding: 40px 0 0;

        @include media (mobile) {
            padding: 40px 0;
        }


        >ul {
            margin: 0;
            list-style: none;
            display: flex;
            width: 100%;
            padding: 16px 0;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @include media(mobile) {
                padding: 0;
            }

            li {
                min-width: 164px;
                display: flex;
                height: 44px;
                padding: var(--spacing-12);
                justify-content: center;
                align-items: center;
                gap: var(--spacing-8);
                border-radius: var(--border-radius-4);
                background: var(--button-primary-default);

                @include media(mobile) {
                    border-radius: var(--border-radius-8);
                }

                a {
                    width: 100%;
                    background: var(--button-primary-default);
                    color: var(--neutrals-white, #FFF);
                    text-align: center;
                    font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                    font-family: var(--body);
                    font-size: var(--body-medium-regular-size, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--body-medium-regular-line-height);

                    @include media(mobile) {
                        font-weight: 500;
                    }
                }
            }

            li:nth-child(2) {
                display: none;
            }

        }

        // a {
        //     background-color: var(--tab-active-bg);
        //     color: var(--tab-active-color);
        //     padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 4);
        //     border-radius: var(--card-border-radius);
        //     text-decoration: none;
        //     font-weight: 600;
        // }
    }

}

.popular-artical.learn-about.tabs-container {
    padding-top: 40px;

    @include media(mobile) {
        padding-top: 0;
    }

    .default-content-wrapper {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
            color: #2E2A94;
            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
            font-family: var(--title);
            font-size: var(--heading-h4-size, 32px);
            font-weight: 600;
            line-height: var(--heading-h4-line-height, 40px);
            margin: 0;
            margin-bottom: 20px;

            @include media (mobile) {
                font-size: var(--sub-header-large-size);
                line-height: 28px;

                @media (width <=400px) {
                    padding: 0 56px;
                }
            }
        }
    }

    .tabs {
        .tabs-list {
            text-align: center;
            justify-content: center;

            &::-webkit-scrollbar {
                display: none;
            }

            @include media(mobile) {
                text-align: inherit;
                justify-content: inherit;
                margin-bottom: 16px;
            }

            .tabs-tab {
                p {
                    line-height: 20px;

                    @include media (mobile) {
                        font-size: var(--paragraph-small-size);
                        line-height: var(--paragraph-small-line-height);
                    }
                }

                &[aria-selected='true'] p {
                    line-height: 16px;
                }
            }
        }
    }

    .learn-about.moedge-building-container {
        padding-bottom: 40px;

        @include media(mobile) {
            padding-top: 0;
            margin-top: 0;
            padding-bottom: 0;
        }

        .tabpanel1 {
            .learn-about.moedge-building-container {
                .moedge-building {
                    >div {
                        @include media (mobile) {
                            gap: 40px;
                        }
                    }
                }
            }
        }
    }

    >.default-content-wrapper:nth-child(3) {
        padding: 40px 0;

        >ul {
            // padding: 0;

            li:nth-child(1) {
                background-color: transparent;
                border-radius: var(--border-radius-8, 8px);
                border: 1px solid var(--button-primary-default, #2E2A94);

                a {
                    background-color: transparent;
                    color: var(--button-primary-default);
                }
            }

            li:nth-child(2) {
                display: flex;
                border-radius: var(--border-radius-8);

                a {
                    font-weight: 500;
                }
            }
        }
    }

}