@import "../../../styles/fonts.css";
.previous-studies-ctn.tabs-container {
  color: var(--blue-1-800-primary);
  font-family: var(--title, Inter);
  font-size: var(--heading-h1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h1-line-height);
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container {
    font-size: var(--heading-h5-size);
    line-height: var(--sub-header-large-line-height);
  }
}
.previous-studies-ctn.tabs-container .default-content-wrapper.previous-studies-ex1 {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container .default-content-wrapper.previous-studies-ex1 {
    padding: 56px 16px 32px;
  }
}
.previous-studies-ctn.tabs-container .default-content-wrapper.previous-studies-ex1 .previous-studies-inter1 {
  margin: 0;
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-size: var(--heading-h1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h1-line-height);
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container .default-content-wrapper.previous-studies-ex1 .previous-studies-inter1 {
    color: var(--blue-1-800-primary);
    font-family: var(--title);
    font-size: var(--heading-h5-size, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--sub-header-large-line-height);
  }
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container .previous-studies-ex2 {
    padding: 0;
  }
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list {
  gap: 8px;
  scrollbar-width: none;
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list {
    padding: 0 16px;
  }
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list .tabs-tab {
  border-radius: var(--border-radius-circle);
  padding: 8px 12px;
  border: var(--border-width-01) solid var(--strokes-disabled);
  background: var(--surface-disabled);
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list .tabs-tab.active {
  border: var(--border-width-01) solid var(--strokes-selected);
  background: var(--surface-selected);
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list .tabs-tab.active .comlist {
  color: #2E2A94;
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-small-medium-line-height);
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-list .tabs-tab .previous-studies-txt1 {
  color: var(--text-body, #424242);
  font-family: var(--body, Inter);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
}
.previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-panel {
  border: none;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .previous-studies-ctn.tabs-container .previous-studies-ex2 .tabs-panel {
    padding: 52px 16px 72px;
  }
}/*# sourceMappingURL=previous-studies.css.map */