@import "../../../styles/fonts.css";
.section.watchlist-block-container {
  padding: 3rem 2rem;
  background: #fff;
  font-family: Inter, sans-serif;
}
@media (max-width: 768px) {
  .section.watchlist-block-container {
    padding: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;
  padding: 32px 0;
  gap: 16px;
  position: relative;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper {
    flex-direction: column;
    gap: 24px;
    padding: 0;
    position: relative;
    padding-bottom: 68px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left {
  max-width: 504px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 31px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left {
    padding: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .watchlist-logo {
  width: 64px;
  height: 64px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper {
  display: flex;
  flex-direction: column;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2 {
  font-size: 36px;
  line-height: 44px;
  color: #2e2a94;
  font-family: "ButlerPro", sans-serif;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2 {
    font-size: 24px;
    line-height: 28px;
    color: #2e2a94;
    font-family: "ButlerPro", sans-serif;
    font-weight: 700;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper .card-title-1 {
  font-size: 36px;
  line-height: 44px;
  color: #2e2a94;
  font-family: "ButlerPro", sans-serif;
  font-weight: 700;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper .card-title-1 {
    font-size: 24px;
    line-height: 28px;
    color: #2e2a94;
    font-family: "ButlerPro", sans-serif;
    font-weight: 700;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container {
  margin: 0;
  padding: 0;
  margin-left: 90px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container .button {
  margin: 0;
  text-decoration: none;
  display: inline-block;
  display: flex;
  width: 176px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #2e2a94;
  transition: background 0.3s ease;
  border: none;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container .button:hover {
  background: #1f1f47;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner {
  max-width: 552px;
  width: 100%;
  position: relative;
  flex: 1;
  padding-right: 48px;
}
@media (max-width: 1025px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner {
    padding: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before, .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  border-radius: 8px;
  border: 0.783px solid #B9BBFF;
  background: #FFF;
  box-shadow: 0 0 12.523px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before, .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
    top: 30px;
    left: 14px;
    right: 14px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before {
  max-width: 464px;
  width: 100%;
  height: 170px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before {
    max-width: unset;
    width: -webkit-fill-available;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
  max-width: 422px;
  width: 100%;
  height: 170px;
  top: 12px;
  left: 41px;
  border: 0.713px solid #B9BBFF;
  box-shadow: 0 0 11.405px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
    max-width: unset;
    width: -webkit-fill-available;
    top: 15px;
    left: 32px;
    right: 30px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right {
  position: relative;
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 300px;
  box-shadow: 0 0 13.514px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 0.845px solid #B9BBFF;
  z-index: 3;
  width: 100%;
  padding: 24px;
  margin-top: 45px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo {
  width: 60px;
  height: 60px;
  background: #eef1ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: ) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo {
    width: 40px;
    height: 40px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo img {
  width: 45px;
  height: auto;
}
@media (max-width: ) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo img {
    width: 30px;
    height: auto;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:first-child .icon {
  width: 32px;
  height: 32px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:first-child .icon img {
  width: 100%;
  height: auto;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:nth-child(2) {
  display: none;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right {
  width: 70%;
  margin-top: 1rem;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #5659FA;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card .fund-name {
  max-width: 240px;
  font-size: 16px;
  line-height: 20px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .fund-returns {
  position: absolute;
  right: 1.5rem;
  bottom: 2.5rem;
  text-align: left;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .fund-returns p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .fund-returns .returns {
  display: flex;
  flex-direction: row;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .fund-returns .returns .returns-percent {
  font-size: 24px;
  line-height: 32px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .fund-returns .returns .returns-percentage {
  font-size: 24px;
  line-height: 32px;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}/*# sourceMappingURL=watchlist-block.css.map */