@import "../../../styles/fonts.css";
main > .section.our-service-container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-40) 0;
}
@media (max-width: 768px) {
  main > .section.our-service-container {
    width: auto;
    padding: 40px 16px;
  }
}
main > .section.our-service-container > .default-content-wrapper {
  width: auto;
  text-align: center;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
@media (max-width: 768px) {
  main > .section.our-service-container > .default-content-wrapper {
    padding-bottom: 48px;
  }
}
main > .section.our-service-container > .default-content-wrapper h4 {
  text-align: center;
  font-style: normal;
  margin: 0;
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  main > .section.our-service-container > .default-content-wrapper h4 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
    width: 284px;
  }
}
main > .section.our-service-container > .default-content-wrapper p {
  text-align: center;
  font-style: normal;
  margin: 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  main > .section.our-service-container > .default-content-wrapper p {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
main > .section.our-service-container .our-service-wrapper {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  position: relative;
}
main > .section.our-service-container .our-service-wrapper .our-service {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service {
    flex-direction: column;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
  display: flex;
  width: 608px;
  height: 100%;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
    width: 304px;
  }
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
    width: 100%;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab {
  width: 100%;
  margin: 0;
  justify-content: space-between;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  border: unset;
  white-space: unset;
  transition: background-color 0.2s;
  display: flex;
  padding: var(--spacing-16, 16px) 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  background: none;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab {
    padding: 0 12px;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--neutrals-800);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab p {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab ul.tabsgsub2 {
  display: flex;
  gap: 8px;
  margin: 0;
  list-style: none;
  align-items: center;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab ul.tabsgsub2 li.comlist {
  display: flex;
  gap: 4px;
  align-items: center;
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab ul.tabsgsub2 .tabsinner2 .icon {
  width: 4px;
  height: 4px;
  display: flex;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab ul.tabsgsub2 .tabsinner3 .icon {
  width: 12px;
  height: 12px;
  display: flex;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true] {
  border-radius: 8px;
  border: 1px solid #b9bbff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  width: 608px;
  padding: 32px 16px;
  gap: 4px;
  background: linear-gradient(var(--neutrals-white), var(--neutrals-white)) padding-box, linear-gradient(135deg, var(--card-stroke) 0%, var(--neutrals-white) 50%, var(--card-stroke) 100%) border-box;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true] p {
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true] p {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .list-tabs6 {
  background: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA 84.5%);
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-wrapper {
  display: flex;
  padding: 12px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panels-wrapper {
  height: 100%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel {
  margin: 0;
  padding: 0;
  border: none;
  overflow: auto;
  height: 100%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel[aria-hidden=true] {
  display: none;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos1 {
  cursor: pointer;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos1 iframe {
  border-radius: 10px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos1 .embedsubinner2 button {
  display: none;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos2 .embedsub1 {
  margin: 0;
  font-style: normal;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos2 .embedsub2 {
  margin: 0;
  padding: 0 0 0 20px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .embed-container .embed-videos2 .embedsub2 li.comlist {
  font-style: normal;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}/*# sourceMappingURL=our-service.css.map */