@use 'sass:map';
@use '../../styles/common-theme/css/variables_mixins'as *;
@use '../../styles/common-theme/css/fluid-typography'as *;

@import url('../swiper/swiper-bundle.min.css');


// --- Main Section Block ---
.broaden-your-research-container {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -78px;
        width: 100%;
        height: 84%;
        z-index: 0;
        background-image: url('/icons/broaden-research.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 4;

        @include media (mobile) {
            content: unset;
            position: unset;
        }
    }

    >div:first-child {
        text-align: center;
        padding: 0 0 40px;
        margin: 0 auto;

        @include media(mobile) {
            padding: 5px 0 40px;
        }

        p {
            margin: 0;
            text-align: center;
            font-style: normal;

            @include font-style(map.get($typography-desktop, heading-h4-size), map.get($typography-desktop, heading-h4-line-height), $blue-1-800-primary, 600, $title);

            @include media(mobile) {
                @include font-style(map.get($typography-mobile, sub-header-large-size), 28px, $blue-1-800-primary, 600, $title);
            }
        }
    }

    >div:last-child {
        width: 100%;
        margin-top: 60px;
        position: relative;
        z-index: 2;

        @include media(mobile) {
            margin-top: 40px;
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;

            a {
                display: flex;
                width: 328px;
                height: 44px;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 8px;
                background: $primary-blue;
                margin: 0;
                font-style: normal;

                @include font-style(map.get($typography-desktop, button-medium-size), map.get($typography-desktop, button-medium-line-height), $text-white, 500, $body);

                @include media(mobile) {
                    @include font-style(map.get($typography-mobile, body-medium-regular-size), map.get($typography-mobile, body-medium-regular-line-height), $text-white, 400, $body);

                    width: 176px;
                }
            }
        }
    }


    .broaden-your-research-wrapper {
        @include media(mobile) {
            padding: 0;
        }
    }

    .broaden-your-research {
        &.block {
            font-family: $poppins;
            padding: map.get($spacing, 'xxl') map.get($spacing, 'md');
            text-align: center;
            flex-wrap: wrap;
            gap: 16px;
            position: relative;
            padding-bottom: map.get($spacing, 'xxl');
            background: transparent;

            @include flex-center(flex-end, center);

            @include media(mobile) {
                position: unset;
                padding: 0;
                justify-content: flex-start;
                padding-left: 16px;
            }

            .swiper-wrapper {
                display: flex;
                align-items: stretch;
                height: 265px;

                @include media(mobile) {
                    height: 225px;
                }
            }
        }

        // &__title {
        //     width: 100%;widthwidth
        //     margin-bottom: map.get($spacing, 'xxl');margin-bottommargin-bottom

        //     @include typography-h2;
        // }

        // --- Card Component ---
        .card-wrap {
            display: flex;
            flex-direction: column;
            padding: 8px;
            width: 192px !important;
            min-height: 184px;
            height: fit-content;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 8px;
            border: 0.5px solid #B9BBFF;
            background: $primary-white;
            box-shadow: 0 0 14px 0 rgb(0 0 0 / 6%);


            // --- Top Image Section ---
            .img-wrapper {
                display: flex;
                padding: 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 4px;
                background: #9DADFE;
                height: 72px;
                margin-bottom: 16px;

                .imgelogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logoscheme {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            // --- Text Details ---
            .title-subtitle {
                flex-grow: 1; // Pushes the footer down
                margin-bottom: map.get($spacing, 'md');Pushesthefooterdownmargin-bottomPushesthefooterdownmargin-bottom
                text-align: left;text-align

                p {
                    margin: 0;

                    @include font-style(12px, 16px, #5659FA, map.get($font-weights, regular), $poppins);
                }

                .title h2 {
                    margin: 0;
                    font-style: normal;

                    @include font-style(map.get($typography-desktop, body-medium-medium-size), map.get($typography-desktop, body-medium-medium-line-height), $blue-1-800-primary, 500, $body);

                    @include media(mobile) {
                        @include font-style(map.get($typography-mobile, body-medium-medium-size), map.get($typography-mobile, body-medium-medium-line-height), $blue-1-800-primary, 500, $body);
                    }
                }
            }

            // --- Footer Icons ---
            .icons-card-wrap {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    // height: 32px;heightheight
                    line-height: normal;line-height

                    @include flex-center(flex-end, space-between);

                    li {
                        height: 24px;
                        line-height: normal;

                        a {
                            cursor: pointer;
                        }
                    }

                    // li:nth-child(2) {
                    //     padding-top: 5px;padding-toppadding-top
                    // }
                }

                .icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;

                    // Style the external link icon to look like a button
                    &.icon-external-link {
                        background-color: $primary-blue;
                        border-radius: map.get($radius, 'r50');
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        @include flex-center;

                        // &:hover {
                        //     background-color: $primary-blue-dark;background-colorbackground-color
                        // }

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            &-promoted {
                transform: translateY(calc(-1 * map.get($spacing, 'xl')));

                @include media(mobile) {
                    transform: unset;
                }

                // &:hover {
                //     transform: translateY(calc(-1 * map.get($spacing, 'xl') - 8px));transformtransform

                //     @include media(mobile) {
                //         transform: unset;transformtransform
                //     }
                // }
            }

            &:last-child {
                margin-right: 16px !important;
            }
        }

        // .card-wrap:nth-of-type(even) {
        //     margin-bottom: 45px;margin-bottommargin-bottom

        //     @include media (tab) {
        //         margin: 0;marginmargin
        //     }
        // }

        .swiper-pagination.swiper-pagination-bullets {
            bottom: 70px;

            @include media(mobile) {
                bottom: 70px;
            }

            .swiper-pagination-bullet {
                width: 50px;
                height: 2px;
                margin: 0;
                background-color: #9DADFE;
                border-radius: unset;
                opacity: 1;
                border-right: 10px;

                &-active {width
                    // height: 2px;heightheight
                    // margin: 0;marginmargin
                    background-color: #2E2A94;background-color
                    border-radius: 2px;
                    opacity: unset;
                }
            }
        }
    }
}