@use 'sass:map';
@use '../../styles/common-theme/css/variables_mixins'as *;
@use '../../styles/common-theme/css/fluid-typography'as *;
@import '../swiper/swiper-bundle.min.css';


// --- Main Section Block ---
.broaden-your-research-container {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -78px;
        width: 100%;
        height: 84%;
        z-index: 0;
        background-image: url('../../icons/broaden-research.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 4;

        @include media (mobile) {
            content: unset;
            position: unset;
        }
    }

    >div:first-child {
        text-align: center;
        margin-bottom: 40px;

        p {
            margin: 0;
            text-align: center;

            @include font-style(36px, 44px, $primary-blue, map.get($font-weights, bold), $butlerpro);

            @include media(mobile) {
                @include font-style(24px, 28px, $primary-blue, map.get($font-weights, bold), $butlerpro);
            }
        }
    }

    >div:last-child {
        width: 100%;
        margin-top: 60px;
        position: relative;
        z-index: 2;

        @include media(mobile) {
            margin-top: 40px;
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;

            a {
                display: flex;
                width: 176px;
                height: 44px;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 4px;
                background: $primary-blue;
                margin: 0;

                @include font-style(16px, 20px, $primary-white, map.get($font-weights, medium), $poppins);
            }
        }
    }


    .broaden-your-research-wrapper {
        @include media(mobile) {
            padding: 0;
        }
    }

    .broaden-your-research {
        &.block {
            font-family: $poppins;
            padding: map.get($spacing, 'xxl') map.get($spacing, 'md');
            text-align: center;
            flex-wrap: wrap;
            gap: 16px;
            position: relative;
            padding-bottom: map.get($spacing, 'xxl');
            background: transparent;

            @include flex-center(flex-end, center);

            @include media(mobile) {
                position: unset;
                padding: 0;
                justify-content: flex-start;
                padding-left: 16px;
            }

            .swiper-wrapper {
                display: flex;
                align-items: stretch;
                height: 265px;
            }
        }

        &__title {
            width: 100%;
            margin-bottom: map.get($spacing, 'xxl');

            @include typography-h2;
        }

        // --- Card Component ---
        .card-wrap {
            display: flex;
            flex-direction: column;
            padding: 8px;
            width: 192px !important;
            min-height: 210px;
            height: fit-content;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 8px;
            border: 0.5px solid #B9BBFF;
            background: $primary-white;
            box-shadow: 0 0 8 0 #0000000F;


            // --- Top Image Section ---
            .img-wrapper {
                display: flex;
                padding: 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                border-radius: 4px;
                background: #9DADFE;
                height: 72px;
                margin-bottom: 16px;

                .imgelogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logoscheme {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            // --- Text Details ---
            .title-subtitle {
                flex-grow: 1; // Pushes the footer down
                margin-bottom: map.get($spacing, 'md');
                text-align: left;

                p {
                    margin: 0;

                    @include font-style(12px, 16px, #5659FA, map.get($font-weights, regular), $poppins);
                }

                .title h2 {
                    margin: 0;

                    @include font-style(16px, 20px, $primary-blue, map.get($font-weights, medium), $poppins);
                }
            }

            // --- Footer Icons ---
            .icons-card-wrap {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    height: 32px;
                    line-height: normal;

                    @include flex-center(flex-end, space-between);

                    li {
                        height: -webkit-fill-available;
                        line-height: normal;
                    }

                    li:nth-child(2) {
                        padding-top: 5px;
                    }
                }

                .icon {
                    display: inline-block;
                    width: 32px;
                    height: 32px;

                    // Style the external link icon to look like a button
                    &.icon-external-link {
                        background-color: $primary-blue;
                        border-radius: map.get($radius, 'r50');
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        @include flex-center;

                        // &:hover {
                        //     background-color: $primary-blue-dark;
                        // }

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            &--promoted {
                transform: translateY(calc(-1 * map.get($spacing, 'xl')));

                @include media(mobile) {
                    transform: unset;
                }

                // &:hover {
                //     transform: translateY(calc(-1 * map.get($spacing, 'xl') - 8px));

                //     @include media(mobile) {
                //         transform: unset;
                //     }
                // }
            }

            &:last-child {
                margin-right: 16px !important;
            }
        }

        // .card-wrap:nth-of-type(even) {
        //     margin-bottom: 45px;

        //     @include media (tab) {
        //         margin: 0;
        //     }
        // }
        .swiper-pagination.swiper-pagination-bullets {
            bottom: 70px;

            @include media(mobile) {
                bottom: 70px;
            }

            .swiper-pagination-bullet {
                width: 50px;
                height: 2px;
                margin: 0;
                background-color: #9DADFE;
                border-radius: unset;

                &-active {
                    // width: 50px;
                    // height: 2px;
                    // margin: 0;
                    background-color: #2E2A94;
                    border-radius: 2px;
                }
            }
        }
    }
}
