@import "../../../styles/fonts.css";
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper {
  position: relative;
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .subleftart1 .itemarticle1.mainleftart1 {
  font-size: 0;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .articles-wrapper .subleftart1 .itemarticle1.mainleftart1 {
    font-size: 0;
  }
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle1 .itemarticle1 img {
  width: 816px;
  height: 320px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle1 .itemarticle1 img {
    height: 160px;
  }
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 5;
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 .button-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 .button-container .itemsubart1 {
  margin: 0;
  width: 100%;
  height: 100%;
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 .button-container .itemsubart1 .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: unset;
  padding: 0;
  margin: 0;
}
.moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 .button-container .itemsubart1 .button .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .articles-wrapper .mainarticle2 .button-container .itemsubart1 .button .icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 {
  padding: 0;
  margin: 0;
  margin: 40px 0 16px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 {
    gap: 40px;
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 p {
  margin: 0;
  padding: 0;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart1 {
  margin: 0;
  padding: 0;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-large-semibold-size);
  font-weight: 600;
  line-height: var(--body-large-semibold-line-height);
  padding-bottom: 16px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart2 {
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart2 {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 25px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart3 li {
  list-style: disc;
  display: list-item;
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 .itemmainart3 li {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 ul.itemsubart1 .mainitemart1 p.itemsubart3 {
  margin: 0;
  padding: 0;
  color: #3D3D3D;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height, 24px);
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 {
  padding: 0;
  margin: 0;
  margin: 40px 0 16px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  margin: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul {
    gap: 40px;
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 p {
  margin: 0;
  padding: 0;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart1 {
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-large-semibold-size);
  font-weight: 600;
  line-height: var(--body-large-semibold-line-height);
  padding-bottom: 16px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart2 {
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart2 {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart3 {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 25px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart3 li {
  list-style: disc;
  display: list-item;
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 .itemarticle1 > ul .mainitemart1 .itemmainart3 li {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 p {
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-large-semibold-size);
  font-weight: 600;
  line-height: var(--body-large-semibold-line-height);
  padding-bottom: 16px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-left: 25px;
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 ul li {
  list-style: disc;
  display: list-item;
  color: #3D3D3D;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size);
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 768px) {
  .moedge-article-video-wrapper .moedge-article-video .mainarticle3 ul li {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}
.moedge-article-video-wrapper .moedge-article-video .mainarticle3 p.itemsubart3 {
  margin: 0;
  padding: 24px 0;
  color: #3D3D3D;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-family: var(--body, Inter);
  font-size: var(--body-medium-regular-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--body-medium-regular-line-height, 24px);
}/*# sourceMappingURL=moedge-article-video.css.map */