@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.moedge-article-video-wrapper {
    .moedge-article-video {
        .articles-wrapper {
            position: relative;

            .mainarticle1 {
                .itemarticle1 {
                    img {
                        width: 816px;
                        height: 320px;
                        flex-shrink: 0;

                        @include media(mobile) {
                            height: 160px;
                        }
                    }
                }
            }

            .mainarticle2 {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 1;
                opacity: 5;

                .button-container {
                    margin: 0;
                    width: 100%;
                    height: 100%;

                    .itemsubart1 {
                        margin: 0;
                        width: 100%;
                        height: 100%;

                        .button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border: none;
                            border-radius: unset;
                            padding: 0;
                            margin: 0;

                            .icon {
                                width: 48px;
                                height: 48px;
                                flex-shrink: 0;

                                @include media(mobile) {
                                    width: 20px;
                                    height: 20px;
                                    flex-shrink: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .mainarticle3 {
            // width: max-content;
            padding: 0;
            margin: 0;
            margin: 40px 0 16px;

            // display: none;

            @include media(mobile) {
                display: block;
                max-width: 100%;
                width: 100%;
                margin-top: 40px;
            }

            .itemarticle1 {
                ul.itemsubart1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;
                    margin: 0;
                    list-style: none;

                    // margin-bottom: 40px;
                    @include media(mobile) {
                        gap: 40px;
                    }

                    .mainitemart1 {
                        width: 100%;
                        display: none;

                        @include media (mobile) {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 16px;
                            align-self: stretch;
                        }

                        .itemmainart1 {
                            width: 100%;
                            margin: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body);
                            font-size: var(--body-large-medium-size);
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;
                        }

                        // line-height: var(--body-large-medium-line-height);
                        ul {
                            width: 100%;
                            margin: 0;
                            list-style: none;

                            li {
                                margin: 0;
                                display: flex;
                                height: 40px;
                                padding: var(--spacing-12);
                                justify-content: center;
                                align-items: center;
                                gap: var(--spacing-8);
                                align-self: stretch;
                                border-radius: var(--border-radius-8);
                                background: var(--neutrals-black);

                                @include media(mobile) {
                                    height: 44px;
                                }

                                a {
                                    color: var(--text-white);
                                    text-align: center;
                                    font-feature-settings: var(--font-features-default);
                                    font-family: var(--body);
                                    font-size: var(--button-medium-size);
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: var(--button-medium-line-height);
                                    padding: 0;
                                    border-radius: unset;
                                    background-color: transparent;
                                    max-width: inherit;
                                    margin: unset;
                                    border: none;
                                }
                            }

                        }
                    }

                    .mainitemart2 {
                        p {
                            margin: 0;
                            padding: 0;
                        }

                        .itemmainart1 {
                            color: var(--blue-1800-primary, #2E2A94);
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body, Inter);
                            font-size: var(--body-large-semibold-size);
                            font-weight: 600;
                            line-height: var(--body-large-semibold-line-height);
                            padding-bottom: 16px;
                        }

                        .itemmainart2 {
                            color: #3D3D3D;
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--body, Inter);
                            font-size: var(--body-medium-regular-size);
                            font-weight: 400;
                            line-height: 24px;

                            // line-height: var(--body-medium-regular-line-height);

                            @include media (mobile) {
                                font-size: var(--paragraph-small-size);
                                line-height: var(--paragraph-small-line-height);
                            }
                        }

                        .itemmainart3 {
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 0;
                            padding-left: 25px;

                            li {
                                list-style: disc;
                                display: list-item;
                                color: #3D3D3D;
                                font-feature-settings: var(--font-features-default);
                                font-family: var(--body, Inter);
                                font-size: var(--body-medium-regular-size);
                                font-weight: 400;
                                line-height: 24px;

                                // line-height: var(--body-medium-regular-line-height);

                                @include media (mobile) {
                                    font-size: var(--paragraph-small-size);
                                    line-height: var(--paragraph-small-line-height);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}