@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.section.why-choose-us-container {
    margin-bottom: 0;

    @include media (mobile) {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .why-choose-us-wrapper {
        @include media (mobile) {
            padding: 0;
        }
    }

    .why-choose-us {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        @include media(mobile) {
            gap: 28px;
            flex-direction: column;
            justify-content: unset;
        }

        .why-choose-us-row1 {
            display: flex;
            width: 32.5%;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            @include media (mobile) {
                width: 100%;
                padding: 0 16px;
            }

            .why-choose-us-sec1 {
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 28px;
                align-items: flex-start;

                @include media(mobile) {
                    gap: 40px;
                }

                ul {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    align-items: flex-start;

                    @include media(mobile) {
                        gap: 14px;
                    }

                    li.choose-us-lists1 {
                        position: relative;

                        @include media (mobile) {
                            padding-left: 19px;
                        }

                        h1 {
                            margin: 0;
                            color: var(--blue-1800-primary, #2E2A94);
                            font-variant-numeric: lining-nums proportional-nums;
                            font-feature-settings: var(--font-features-default);
                            font-family: var(--title);
                            font-size: var(--heading-h1-size);
                            font-style: normal;
                            font-weight: 500;
                            line-height: var(--heading-h1-line-height);

                            @include media (mobile) {
                                width: 100%;
                                font-size: 32px;
                                line-height: 56px;
                            }
                        }

                        .choose-us-lists-wrap2 {
                            position: absolute;
                            left: -20px;
                            top: -17px;

                            @include media (mobile) {
                                left: 0;
                                top: -7px;
                            }

                            li {
                                span {
                                    width: 83.744px;
                                    height: 89px;

                                    @include media (mobile) {
                                        width: 64.925px;
                                        height: 69px;
                                    }

                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .choose-us-lists2 {
                        p {
                            margin: 0;
                            color: var(--text-body-2);
                            font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                            font-family: var(--body, Inter);
                            font-size: var(--body-medium-regular-size);
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            // line-height: var(--body-medium-regular-line-height);

                            @include media (mobile) {
                                font-size: var(--paragraph-medium-regular-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--paragraph-medium-regular-line-height);
                            }
                        }
                    }
                }

                .why-choose-us-sub2 {
                    margin: 0;

                    .button {
                        display: flex;
                        width: 164px;
                        height: 40px;
                        margin: 0;
                        border: none;
                        padding: var(--spacing-12);
                        justify-content: center;
                        align-items: center;
                        gap: var(--spacing-8);
                        flex-shrink: 0;
                        border-radius: var(--border-radius-8);
                        background: var(--button-primary-default, #2E2A94);
                        color: var(--text-white, #FFF);
                        text-align: center;
                        font-feature-settings: 'ss01'on, 'ss04'on, 'cv01'on, 'cv02'on, 'cv03'on, 'cv04'on, 'cv06'on, 'cv09'on, 'cv10'on, 'cv11'on;
                        font-family: var(--body);
                        font-size: var(--button-medium-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--button-medium-line-height);

                        @include media(mobile) {
                            border-radius: var(--border-radius-8);
                        }
                    }
                }
            }
        }

        .why-choose-us-row2 {
            width: 36.8%;

            @include media (mobile) {
                width: 100%;
            }

            .why-choose-us-sec1 {
                .choose-us-lists4 {
                    width: 453px;
                    height: 422px;
                    aspect-ratio: 453/422;

                    @include media (mobile) {
                        width: 100%;
                        height: 346px;
                        aspect-ratio: 186/173;
                    }
                }
            }
        }
    }
}