@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

main .previous-studies-blog-container.section.previous-studies-each-details{
    margin: 0;

    .previous-studies-blog{
        max-width: 1232px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px 16px;
        margin: 0;
    
        @include media(mobile) {
            gap: 40px 12px;
        }
    
        >.comlist{
            position: relative;
            
            // image
            .ps-in1{
                max-width: 296px;
                aspect-ratio: 1/1;
                max-height: 296px;
                position: relative;
    
                @include media(mobile) {
                    max-width: 164px;
                    max-height: 164px;
                }
    
                &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius-8);
                background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%);
                z-index: 2;
                pointer-events: none;
    
                    // @include media(mobile) {
                    //     display: none;
                    // }
                }

                .ps-subcont1{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background-color: unset;
                    color: unset;
                    z-index: 5000;
                    border-radius: unset;
                }
    
            }
    
            .ps-in2{
                .ps-cont1{
                    font-size: 0;
                    line-height: 0;
                    margin: 8px 0 4px;
                    
                    .ps-subcont1{
                        margin: 0;
                        color: var(--blue-1-800-primary, #2E2A94);
                        font-family: var(--body);
                        font-size: var(--body-medium-medium-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--body-medium-medium-line-height);
                    }
                }
    
                .ps-cont2{
                    margin: 0;
                    color: var(--text-body);
                    font-family: var(--body);
                    font-size: var(--label-medium-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--label-medium-line-height);
                }
            }
    
            .ps-in3{
                position: absolute;
                top: 132px;
                left: 132px;
                z-index: 10;

                @include media(mobile) {
                    top: 74px;
                    left: 74px;
                }
    
                .ps-cont1{
                    margin: 0;
                    font-size: 0;
                    line-height: 0;
    
                    .ps-subcont1{
                        margin: 0;
                        background-color: unset;
                        border: 0;
                        padding: 0;
    
                        .icon{
                            width: 100%;
                            height: 100%;
    
                            img{
                                height: 32px;
                                width: 32px ;

                                @include media(mobile) {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }
}

.section.previous-studies-each-details.hide-section{
    display: none;
}