@import "../../../styles/fonts.css";
main .previous-studies-blog-container.section.previous-studies-each-details {
  margin: 0;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog {
  max-width: 1232px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 16px;
  margin: 0;
}
@media (max-width: 768px) {
  main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog {
    gap: 40px 12px;
  }
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist {
  position: relative;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in1 {
  max-width: 296px;
  aspect-ratio: 1/1;
  max-height: 296px;
  position: relative;
}
@media (max-width: 768px) {
  main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in1 {
    max-width: 164px;
    max-height: 164px;
  }
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in1:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-8);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 2;
  pointer-events: none;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in1 .ps-subcont1 {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: unset;
  color: unset;
  z-index: 5000;
  border-radius: unset;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in2 .ps-cont1 {
  font-size: 0;
  line-height: 0;
  margin: 8px 0 4px;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in2 .ps-cont1 .ps-subcont1 {
  margin: 0;
  color: var(--blue-1-800-primary, #2E2A94);
  font-family: var(--body);
  font-size: var(--body-medium-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-medium-medium-line-height);
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in2 .ps-cont2 {
  margin: 0;
  color: var(--text-body);
  font-family: var(--body);
  font-size: var(--label-medium-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-medium-line-height);
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 {
  position: absolute;
  top: 132px;
  left: 132px;
  z-index: 10;
}
@media (max-width: 768px) {
  main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 {
    top: 74px;
    left: 74px;
  }
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 .ps-cont1 {
  margin: 0;
  font-size: 0;
  line-height: 0;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 .ps-cont1 .ps-subcont1 {
  margin: 0;
  background-color: unset;
  border: 0;
  padding: 0;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 .ps-cont1 .ps-subcont1 .icon {
  width: 100%;
  height: 100%;
}
main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 .ps-cont1 .ps-subcont1 .icon img {
  height: 32px;
  width: 32px;
}
@media (max-width: 768px) {
  main .previous-studies-blog-container.section.previous-studies-each-details .previous-studies-blog > .comlist .ps-in3 .ps-cont1 .ps-subcont1 .icon img {
    width: 16px;
    height: 16px;
  }
}

.section.previous-studies-each-details.hide-section {
  display: none;
}/*# sourceMappingURL=previous-studies-blog.css.map */