/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.cornerstones-advantage {
  &-cards-container {
    // max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

    // @include media(mobile) {
    //   max-width: 100%;
    // }

    .default-content-wrapper{
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 4px;
        text-align: center;

        @include font-style( map.get($typography-desktop,heading-h4-size), map.get($typography-desktop , heading-h4-line-height), $blue-1-800-primary, 600, $title);

        @include media(mobile) {
          // font-size: map.get($typography-mobile, sub-header-large-size);
          // line-height: map.get($typography-mobile, sub-header-medium-line-height);
          text-align: left;

          @include font-style( map.get($typography-desktop, sub-header-large-size),
          map.get($typography-mobile, sub-header-medium-line-height), $blue-1-800-primary, 600, $title);
        }
      }

      p {
        @include font-style(map.get($typography-desktop,body-medium-regular-size), map.get($typography-desktop,body-medium-regular-line-height), $blue-1-800-primary, 400, $body);

        text-align: center;
        margin: 0;

        @include media(mobile) {
          font-size: 14px;
          line-height: map.get($typography-mobile, paragraph-small-line-height);
          text-align: left;
        }
      }
    }
  }

  .cornerstones-advantage {
    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 16px;
      margin: 40px 0 0;

      @include media(mobile) {
        flex-wrap: unset;
        flex-direction: column;

        // gap: 40px;
        gap: 24px;
      }

      & .cards-item {
        max-width: 296px;
        width: 100%;
        min-height: 300px;

        @include media(tab) {
          max-width: 32%;
        }

        @media screen and (width <=851px) {
          max-width: 48%;
        }

        @include media(mobile) {
          // min-height: 176px;
          min-height: 168px;
          max-width: 100%;
          padding-right: 0;
        }

        > div {
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-right: 26px;

          @include media(mobile) {
            padding-right: 0;
            padding-bottom: 16px;
            display: grid;
            grid-template-areas:
              "icon heading"
              "icon text"
              "icon button";
            grid-template-columns: 64px 1fr;
            gap: 0 8px;
            align-items: start;
          }
        }

        .item-child {
          margin: 0;

          &.item-child-1,
          &.item-child-1 .icon {
            width: 64px;
            height: 64px;

            @include media(mobile) {
              grid-area: icon;
            }
          }

          &.item-child-2 {
            margin: 24px 0 8px;

            @include font-style(map.get($typography-desktop,body-large-medium-size), map.get($typography-mobile , body-large-medium-line-height), $blue-1-800-primary, 500, $body);

            @include media(mobile) {
              grid-area: heading;
              margin: 0 0 8px;
              font-size: map.get($typography-mobile, body-medium-medium-size);
              line-height: map.get($typography-mobile, body-medium-medium-line-height);
            }
          }

          &.item-child-3 {
            @include font-style(map.get($typography-desktop, body-medium-regular-size), 24px, $text-body-2, 400, $body);

            padding-bottom: 28px;

            @include media(mobile) {
              font-size: 14px;
              line-height: map.get($typography-mobile, paragraph-small-line-height);
              padding-bottom: 0;
              white-space: break-spaces;
            }
          }

          &.button-container {
            margin-top: auto;
            line-height: 0;

            @include media(mobile) {
              grid-area: button;
              margin: 24px 0 0;
            }

            .button {
              margin: 0;
              padding: 0;
              background-color: transparent;
              text-decoration-line: underline;
              text-underline-offset: 20%;
              border-radius: 0;
              border: none;
              display: block;
              text-align: left;

              @include font-style(
                14px,
                map.get($typography-desktop, text-link-small-line-height),
                map.get($blue-1, b500),
                500,
                $body
              );
            }
          }
        }
      }
    }
  }
}