/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

@import url("../swiper/swiper-bundle.min.css"); // Modern Sass @use rule is preferred

.section.live-streaming-carousel-container {
  // padding: 24px;paddingpadding
  margin: 24px 16px;margin

  // to be confirmed
  // @include media(mobile) {
  //   margin: var(--spacing-16);marginmargin
  // }
  // @include media(desktop-md) {
  //   padding: 24px 16px;paddingpaddings
  // }

  @include media(mobile) {
    margin: var(--spacing-16);
  }


  .default-content-wrapper {
    // max-width: 1232px;max-widthmax-width
    padding: 0;padding
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 0 8px;

      @include font-style(var(--body-small-medium-size), var(--body-small-medium-line-height), var(--blue-1-800-primary), 500, var(--body));

      @include media(mobile) {
        font-size: var(--body-xsmall-medium-size);
        line-height: var(--body-xsmall-medium-line-height);
      }
    }
  }

  .live-streaming-carousel {
    max-width: 1100px;
    margin: 0;
    margin-right: 140px;

    @include media(mobile) {
      max-width: 100%;
      margin-right: 87px;
    }

    &-wrapper {
      // max-width: 1232px;max-widthmax-width
      padding: 0;padding
      margin: 0 auto;
      position: relative;
      border-top: 1px solid rgb(66 82 110 / 20%);

      .swiper-button-next,
      .swiper-button-prev,
      .custom-pagination {
        top: 0;
        right: 0;
        left: unset;
        width: 20px;
        height: 20px;
        margin: 18px 0 2px;
        display: block;
        opacity: 1;

        @include media(mobile) {
          right: 0;
          top: unset;
          bottom: 0;
          margin: 0;
          display: none;
        }

        &::after {
          content: "";
          background: url("/icons/arrow-left.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          min-width: 20px;
          height: 20px;
          display: block;
        }

        &.swiper-button-disabled {
          &::after {
            background: url("/icons/arrow-left-disabled.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 25px;
          }
        }
      }

      .swiper-button-next {
        &::after {
          transform: rotate(180deg);
        }
      }

      .swiper-button-prev {
        right: 104px;
      }

      .swiper-pagination {
        display: none;

        &::after {
          content: unset;
        }

        @include media(mobile) {
          display: flex;
          position: absolute;
          right: 8px;
          top: unset;
          left: unset;
          bottom: 0;
          max-width: 26px;
          height: 2px;
          border-radius: 10px;
          background-color: var(--neutrals-300);

          &-bullet {
            background-color: transparent;
            opacity: unset;
            margin: 0;
            height: 2px;
            border-radius: 10px;
          }

          &-bullet-active {
            background-color: var(--blue-1-800-primary);
          }
        }
      }

      .custom-pagination {
        max-width: max-content;
        width: unset;
        height: unset;
        gap: 4px;
        position: absolute;
        right: 39px;
        display: flex;
        padding: 2px 0;

        &::after {
          content: unset;
        }

        @include media(mobile) {
          right: 0;
          bottom: 8px;
        }

        & .current-slide {
          margin: 0;

          @include font-style(var(--body-small-medium-size), var(--body-small-medium-line-height), var(--blue-1-800-primary), 500, var(--body));

          @include media(mobile) {
            font-size: var(--body-small-medium-size);
            line-height: var(--body-small-medium-line-height);
          }

        }

        & .total-slide {
          margin: 0;

          @include font-style(var(--body-small-regular-size), var(--body-small-regular-line-height), var(--neutrals-700), 400, var(--body));

          @include media(mobile) {
            font-size: var(--body-small-regular-size);
            line-height: var(--body-small-regular-line-height);
          }
        }
      }
    }

    ul {
      padding: 16px 0 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 16px;

      @include media(mobile) {
        flex-direction: column;
        align-items: start;
        // max-width: 75.53%;max-widthmax-width
        width: 100%;width
        gap: 8px;
      }

      li:first-of-type {
        @include font-style(var(--body-medium-regular-size), 24px, var(--neutrals-800), 400, var(--body));

        @include media(mobile) {
          font-size: var(--paragraph-xsmall-size);
          line-height: var(--paragraph-xsmall-line-height);
        }
      }

      li:last-of-type {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: max-content;

        @include font-style(var(--body-medium-medium-size), var(--body-medium-medium-line-height), var(--text-header), 500, var(--body));

        @include media(mobile) {
          font-size: var(--body-small-medium-size);
          line-height: var(--body-small-medium-line-height);
        }

        a {
          color: unset;
        }
      }
    }

    .swiper-slide[data-swiper-slide-index='0'] {
      ul {
        li:last-of-type {
          &::before {
            content: "";
            width: 9px;
            height: 9px;
            display: block;
            background-color: #f00;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.modal.block {
  dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 37px 0 0;

    // .close-button {right
    //   display: flex;displaypadding
    //   align-items: center;align-itemsgap
    //   border-radius: 18px;border-radiusborder-radius
    //   background: #2e2a94;backgroundbackground
    // }

    .modal-content {
      // position: relative;positionposition
      // max-width: 816px;max-widthmax-width
      // padding: 0;paddingpadding
      // // display: flex;displaydisplay
      // align-items: center;align-itemsalign-items
      // justify-content: center;justify-contentjustify-content
      // border-radius: 8px;border-radiusborder-radius
      // background: #fff;backgroundbackground
      // box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);box-shadowbox-shadow
      // height: 500px;heightheight

      // @include media(mobile) {
      //   height: auto;heightheight
      // }

      .live-streaming {display
        // align-items: center;align-itemsalign-items
        // justify-content: center;justify-contentjustify-content
        // max-width: 816px;max-widthmax-width
        // height: 500px;heightheight
        // padding: 24px;paddingpadding
        width: 100%;width
        border-radius: 8px;box-shadow
        align-self: flex-end;align-self
        // max-height: 500px;max-heightmax-height

        // @include media(mobile) {
        //   padding: 40px;paddingpadding
        // }
      }
    }
  }
}