/* Reset */
@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.investnow {
    @include media(mobile) {
        display: none;
    }

    .default-content-wrapper {
        border-radius: 8px;

        // background: #030C82;
        background-image: url("../../icons/fdp/wealth-purpose-bg.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        // height: 100%;
        display: block;
        height: 192px;
        position: relative;

        p:nth-child(1) {
            position: absolute;
            left: 32px;

            span {
                width: 171px;
                height: 156px;
            }
        }



        p:nth-child(2) {
            position: relative;
            left: 88px;
            top: 66px;
            color: $primary-white;

            /* Desktop/Header/H5 */
            font-family: $butlerpro;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;

            /* 114.286% */
        }

        .button-container {
            position: relative;
            text-align: end;
            bottom: 20px;
            right: 26px;

            .button {
                border-radius: map.get($radius, r8);
                background: $primary-white;
                color: $primary-blue;
                font-family: $poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;

                /* 114.286% */
            }
        }
    }
}