@import "../../../styles/fonts.css";

.section.login-page-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 84px 208px;
  gap: 16px;
  background-color: var(--surface-background);
}

@media (width <= 768px) {
  .section.login-page-container {
    display: flex;
    padding: var(--spacing-28) var(--spacing-20) var(--spacing-40) var(--spacing-20);
    align-items: center;
    gap: 24px;
    align-self: stretch;
  }
}

.section.login-page-container .login-image-item-wrapper {
  max-width: 504px;
  width: 100%;
}

.section.login-page-container .login-image-item-wrapper .login-image-item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.section.login-page-container .login-image-item-wrapper .login-image-item .login-image-sub-item1 .comlist.login-image-inner-item1 {
  max-width: 504px;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: var(--heading-h5-size);
  line-height: var(--heading-h5-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .section.login-page-container .login-image-item-wrapper .login-image-item .login-image-sub-item1 .comlist.login-image-inner-item1 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
  }
}

@media (width <= 768px) {
  .section.login-page-container .login-image-item-wrapper .login-image-item .login-image-sub-item2 {
    display: none;
  }
}

.section.login-page-container .login-image-item-wrapper .login-image-item .login-image-sub-item2 .login-image-sub-item1 {
  padding: 0 17.5px;
}

.section.login-page-container .login-image-item-wrapper .login-image-item .login-image-sub-item2 .login-image-sub-item1 img {
  max-width: 496px;
  width: 100%;
  max-height: 264px;
  height: 100%;
}

.section.login-page-container .login-page-wrapper {
  display: flex;
  max-width: 504px;
  width: 100%;
  padding: var(--spacing-24);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-56);
  flex-shrink: 0;
  border-radius: var(--border-radius-16);
  border: 1px solid #b9bbff;
  background: var(--surface-background, #fff);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%);
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper {
    padding: 20px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page {
  display: flex;
  flex-direction: column;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label {
  display: flex;
  padding: var(--spacing-none);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-28);
  align-self: stretch;
  padding-bottom: 36px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .login-pan-label {
    gap: var(--spacing-24);
    padding-bottom: 48px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-pan-para {
  font-style: normal;
  margin: 0;
  font-size: var(--sub-header-medium-size);
  line-height: var(--sub-header-medium-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-pan-para {
    font-size: 18px;
    line-height: var(--paragraph-medium-line-height);
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error {
  width: 100%;
  position: relative;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error .input-lable {
  overflow: hidden;
  font-style: normal;
  position: absolute;
  top: -6px;
  left: 11px;
  background: #fff;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error .user-input {
  max-width: 372px;
  width: 100%;
  display: flex;
  padding: var(--spacing-8) var(--spacing-12);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-typed-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error .error-login {
  font-style: normal;
  position: absolute;
  top: 32px;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-error);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error .para-succ {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 84%;
}

.section.login-page-container .login-page-wrapper .main-login-page .login-pan-label .user-input-error .para-succ .succ-para {
  margin: 0;
  padding-top: 8px;
  font-size: var(--paragraph-small-size);
  line-height: var(--paragraph-small-sine-height);
  color: #231f20;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-bottom: 36px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock {
    gap: 40px;
    padding-bottom: 20px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .enter-label {
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: #48535f;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend {
    flex-direction: column;
    align-items: unset;
    gap: 40px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .otp-inputs-block {
  display: flex;
  height: 40px;
  align-items: flex-start;
  gap: var(--spacing-8);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .otp-inputs-block .otp-input {
  display: flex;
  width: 40px;
  padding: 2px 13px 3px 14px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01, 1px) solid var(--strokes-default, #9e9e9e);
  text-align: center;
  font-style: normal;
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: #111;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .otp-inputs-block .otp-input:focus {
  border-radius: var(--border-radius-8, 8px);
  border: var(--border-width-02, 2px) solid var(--strokes-typing, #1887d2);
  caret-color: var(--strokes-typing, #1887d2);
  text-align: center;
  font-weight: 600;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .otp-inputs-block .otp-input-error {
  border-radius: var(--border-radius-8, 8px);
  border: var(--border-width-01, 1px) solid var(--strokes-error, #ee212e);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .otp-inputs-block .otp-input-succ {
  border-radius: var(--border-radius-8, 8px);
  border: var(--border-width-01, 1px) solid var(--strokes-success, #00a850);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .input-resend .resend {
  margin: 0;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%; /* 2.8px */
  text-underline-position: from-font;
  cursor: pointer;
  font-size: var(--text-link-small-size);
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .incorrect-otp {
  font-style: normal;
  position: absolute;
  top: 93%;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-error);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .enter-input-block .incorrect-otp {
    top: 58%;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .otp-para-block {
  padding-top: 36px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .otp-para-block {
    padding-top: 12px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .kycblock .otp-para-block .otp-para {
  margin: 0;
  font-style: normal;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 20px;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass {
  padding-bottom: 40px;
  position: relative;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .passcode-label {
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: #48535f;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .pass-input {
  display: flex;
  gap: 8px;
  align-items: center;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .pass-input .pass-code-input {
  display: flex;
  width: 40px;
  padding: 2px 13px 3px 14px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01, 1px) solid var(--strokes-default, #9e9e9e);
  font-size: var(--body-xlarge-semibold-size);
  line-height: var(--body-xlarge-semibold-line-height);
  color: #111;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  /* stylelint-disable-next-line custom-property-pattern */
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .pass-input .succ-pass {
  stroke-width: 1px;
  border: 1px solid var(--strokes-success);
  color: var(--icon-success);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .pass-input .error-pass {
  stroke-width: 1px;
  border: 1px solid var(--strokes-error);
  color: var(--icon-error);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .pass-input .pass-code-input:focus {
  border-radius: var(--border-radius-8);
  border: var(--border-width-02) solid var(--strokes-typing);
  caret-color: var(--strokes-typing, #1887d2);
  text-align: center;
  font-weight: 600;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .error-para {
  font-style: normal;
  position: absolute;
  top: 59%;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-error);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .label-pass .error-para {
    top: 58%;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .forget-pass {
  margin: 0;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .passcode-main .forget-pass .pass-para {
  margin: 0;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%; /* 2.8px */
  text-underline-position: from-font;
  cursor: pointer;
  font-size: var(--text-link-small-size);
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block {
  display: flex;
  padding: var(--spacing-16);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-16);
  align-self: stretch;
  border-radius: var(--border-radius-8);
  border: 1px solid var(--icon-warning);
  background: #fff3e0;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text {
  display: flex;
  align-items: center;
  gap: 12px;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text .radio-text {
  margin: 0;
  font-style: normal;
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  color: #231f20;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text .text-radio-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text .text-radio-input .radio-label-input {
  display: flex;
  gap: 4px;
  align-items: center;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text .text-radio-input .radio-label-input .radio-label {
  font-style: normal;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .radio-text .text-radio-input .radio-label-input .radio-input {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #757575;
  border: 2px solid #757575;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .disc-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .disc-text .text-registered {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: var(--label-medium-line-height);
  color: #231f20;
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .text-status-block .disc-text .disc-text-all {
  margin: 0;
  font-style: normal;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px 0 40px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block {
    gap: 36px;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input {
  display: flex;
  gap: 24px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input {
    flex-direction: column;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .reg-mob-con-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .label-reg {
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  position: absolute;
  top: -6px;
  left: 13px;
  background: white;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .block-label-input {
  max-width: 372px;
  width: 100%;
  position: relative;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .block-label-input .input-reg {
  max-width: 372px;
  width: 100%;
  display: flex;
  padding: var(--spacing-10) var(--spacing-12);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01, 1px) solid var(--strokes-default);
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .block-label-input .contry-code {
  max-width: 112px;
  width: 100%;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .cont-code {
  max-width: 112px;
  width: 100%;
  display: flex;
  height: 40px;
  padding: var(--spacing-10) var(--spacing-8) var(--spacing-10) var(--spacing-12);
  align-items: center;
  align-self: stretch;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  justify-content: center;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .name-number-input .cont-code .contry-code-para {
  margin: 0;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-default-input);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .email-cty-name {
  display: flex;
  gap: 24px;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .email-cty-name {
    flex-direction: column;
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .email-cty-name .block-rex {
  max-width: 372px;
  width: 100%;
  position: relative;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .email-cty-name .block-rex .label-rex {
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  position: absolute;
  top: -6px;
  left: 13px;
  background: white;
}

.section.login-page-container .login-page-wrapper .main-login-page .response-block .main-register .register-input-block .email-cty-name .input-rex {
  max-width: 372px;
  width: 100%;
  display: flex;
  padding: var(--spacing-10) var(--spacing-12);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01, 1px) solid var(--strokes-default);
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr {
  display: flex;
  padding: var(--spacing-none);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-20);
  align-self: stretch;
  border-radius: var(--border-radius-none);
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .auth.btn {
  max-width: 372px;
  cursor: pointer;
  display: flex;
  height: 44px;
  padding: var(--spacing-12);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);
  align-self: stretch;
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin: 0;
  text-align: center;
  font-style: normal;
  font-size: var(--button-medium-size);
  line-height: var(--button-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .discr {
  font-style: normal;
  margin: 0;
  font-size: var(--disclaimer-xsmall-size);
  line-height: var(--disclaimer-xsmall-line-height);
  color: var(--text-disclaimer);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .discr {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .discr .terms-disc {
  cursor: pointer;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%;
  text-underline-position: from-font;
  margin: 0 5px;
  font-size: var(--text-link-xsmall-size);
  line-height: var(--text-link-xsmall-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .new-invest {
  margin: 0;
  font-style: normal;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .new-invest {
    font-size: var(--paragraph-small-size);
    line-height: var(--paragraph-small-line-height);
  }
}

.section.login-page-container .login-page-wrapper .main-login-page .btn-descr .discr-new-invester .new-invest .new-invest-disc {
  cursor: pointer;
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 20%;
  text-underline-position: from-font;
  margin: 0 5px;
  font-size: var(--text-link-xsmall-size);
  line-height: var(--text-link-xsmall-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.login-register {
  padding: 40px 104px;
}

@media (width <= 768px) {
  .section.login-register {
    padding: 20px;
  }
}

.section.login-register .login-image-item-wrapper {
  max-width: 400px;
  width: 100%;
}

.section.login-register .login-page-wrapper {
  max-width: 816px;
  width: 100%;
}