@import "../../../styles/fonts.css";
.section.global-dashboard-container {
  max-width: 1232px;
  width: 100%;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section.global-dashboard-container {
    flex-direction: column;
  }
}
.section.global-dashboard-container .global-dashboard-wrapper {
  max-width: 712px;
  margin: 0;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 {
  display: flex;
  height: 284px;
  padding: 0 115px 0 116px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding-bottom: 24px;
  border-radius: var(--border-radius-8);
  background: #2c2a95;
}
@media (max-width: 768px) {
  .section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 {
    padding: 0;
    height: unset;
  }
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 .globalsub1 {
  display: block;
  max-height: 284px;
  height: 100%;
}
@media (max-width: 768px) {
  .section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 .globalsub1 {
    display: none;
  }
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 .globalsub1 img {
  height: 100%;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 .globalsub2 {
  display: none;
}
@media (max-width: 768px) {
  .section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global1 .globalsub2 {
    display: block;
  }
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner1 {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
  padding-bottom: 24px;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner1 li {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner1 li .icon-ellipse-inves {
  width: 4px;
  height: 4px;
  display: flex;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner1 li .icon-calendar-inves {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner1 .globalsubinner1 {
  display: flex;
  height: 24px;
  padding: 0 var(--spacing-12);
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--strokes-default);
  font-style: normal;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner2 {
  margin: 0;
  font-style: normal;
  padding-bottom: 4px;
  font-size: var(--body-large-medium-size);
  line-height: var(--body-large-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner3 {
  margin: 0;
  font-style: normal;
  padding-bottom: 16px;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner4 {
  margin: 0;
}
.section.global-dashboard-container .global-dashboard-wrapper .global-dashboard .global2 .globalsub1 .globalinner4 .globalsubinner1 {
  margin: 0;
  font-style: normal;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  background: none;
  padding: 0;
  text-decoration-line: underline;
  text-underline-offset: auto;
  border-radius: 0;
  font-size: var(--text-link-small-size);
  line-height: var(--text-link-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .default-content-wrapper {
  margin: 0;
  max-width: 504px;
  width: 100%;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 {
  list-style: none;
  margin: 0;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist {
  display: flex;
  align-items: start;
  gap: 8px;
  padding: 12px 0;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist {
  margin: 0;
  list-style: none;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist li.comlist {
  padding: 0;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist li.global-textsubinner1 {
  display: flex;
  align-items: center;
  font-style: normal;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: var(--label-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist li.global-textsubinner1::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 4px;
  height: 4px;
  background-color: var(--blue-1-800-primary);
  border-radius: 50%;
  vertical-align: middle;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist li.global-textsubinner2 {
  font-style: normal;
  padding-bottom: 4px;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--neutrals-900);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist ul.comlist li.global-textsubinner3 {
  font-style: normal;
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist p.comlist {
  margin: 0;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.comlist p.comlist .icon {
  width: 56px;
  height: 56px;
}
.section.global-dashboard-container .default-content-wrapper .global-text1 li.global-textsub1 {
  padding-top: 0;
}/*# sourceMappingURL=global-dashboard.css.map */