@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;
@import "../swiper/swiper-bundle.min.css";

// @import '../blocks/swiper/swiper-bundle.min.css';

.section.future-building-container {
    max-width: 1232px;
    margin: 0 auto;
    position: relative;

    &.learning-fdp {
        padding: 0 0 24px !important;
        margin: 0 0 40px;

        @include media(mobile) {
            margin: 40px 16px;
            padding: unset !important;
        }
    }

    @include media(mobile) {
        padding-top: unset;
    }

    .future-building-wrapper {
        @include media(mobile) {
            padding-right: 0;
        }
    }

    >div.library-btn1 {
        width: 100%;
        height: 100%;
        padding-bottom: 24px;

        @include media(mobile) {
            padding-bottom: 24px;
        }

        h4,
        h3:nth-child(1) {
            margin: 0;
            padding: 0;
            padding-bottom: 8px;
            text-align: left;
            font-style: normal;

            @include font-style(map.get($typography-desktop, heading-h4-size),
                map.get($typography-desktop, heading-h4-line-height),
                $blue-1-800-primary,
                600,
                $title);

            @include media(mobile) {
                display: none;

                @include font-style(map.get($typography-desktop, sub-header-large-size),
                    map.get($typography-desktop, sub-header-medium-line-height),
                    $blue-1-800-primary,
                    600,
                    $title);
            }
        }

        h4,
        h3:nth-child(2) {
            display: none;

            @include media(mobile) {
                display: block;
                margin: 0;
                margin-bottom: 4px;

                @include font-style(24px, 28px, $primary-blue, map.get($font-weights, semibold), $inter);
            }
        }

        p {
            margin: 0;
            padding: 0;
            max-width: 600px;

            @include font-style(var(--body-medium-regular-size), 24px, var(--blue-1-800-primary), 400, var(--body));

            @include media(mobile) {
                @include font-style(map.get($typography-mobile, paragraph-small-size),
                    map.get($typography-mobile, paragraph-small-line-height),
                    $blue-1-800-primary,
                    400,
                    $body);
            }
        }
    }

    .future-building {
        position: static;

        .swiper-wrapper {
            display: flex;
            align-items: stretch;

            // position: static;

            .swiper-slide {
                width: 400px !important;
                height: auto;

                @include media(mobile) {
                    width: 252px !important;
                }

                .swiper-slide-cards-1 {
                    line-height: normal;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        width: 100%;
                        height: 220px;
                        padding: 0;
                        margin: 0;
                        border: none;
                        font-family: inherit;
                        line-height: unset;
                        text-align: unset;
                        max-width: unset;
                        color: unset;
                        white-space: unset;
                        border-radius: 8px;
                        background:
                            linear-gradient(0deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 30%) 100%),
                            lightgray 50% / cover no-repeat;
                        z-index: 2;

                        @include media(mobile) {
                            height: 141px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: 1;
                            opacity: 0.7;
                        }
                    }

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
                        aspect-ratio: 1/1;
                        background-image: url("/icons/Subtract.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        user-select: none;
                        pointer-events: none;
                        z-index: 3;
                    }
                }

                .swiper-slide-cards-2 {
                    padding-top: 24px;

                    @include media(mobile) {
                        padding: 24px 0;
                    }

                    >ul.cards-listcards1 {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        >li {
                            padding: 0;
                            margin: 0;
                            line-height: normal;

                            a {
                                display: inline-flex;
                                padding: 0 12px 0 8px;
                                align-items: center;
                                gap: 8px;
                                border-radius: map.get($radius, r40);
                                border: 0.5px solid #585ef9;
                                color: #2e2a94;
                                font-family: $poppins;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px;

                                // min-width: 124px;
                                min-height: 32px;
                            }
                        }

                        &>li.cards-list-1-cards1 {
                            display: flex;
                            align-items: center;

                            // justify-content: space-between;
                            gap: 8px;
                            margin-bottom: 24px;

                            @include media(mobile) {
                                margin-bottom: 24px;
                                gap: 8px;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                            }

                            p.list-child-11 {
                                margin: 0;
                                display: flex;
                                display: inline-flex;
                                padding: 0 12px;
                                align-items: center;
                                gap: 4px;
                                border-radius: map.get($radius, r40);
                                border: 0.5px solid var(--strokes-default);
                                color: $blue-1-800-primary;
                                font-family: var(--body);
                                font-size: var(--label-small-size);
                                font-style: normal;
                                font-weight: 400;
                                line-height: var(--label-small-line-height);
                                min-height: 24px;

                                @include media(mobile) {
                                    @include font-style(map.get($typography-mobile, label-small-size),
                                        map.get($typography-mobile, label-small-line-height),
                                        $blue-1-800-primary,
                                        400,
                                        $body);

                                    gap: 4px;
                                    padding: 0 8px;
                                }
                            }

                            ul.list-child-12 {
                                margin: 0;
                                display: flex;
                                align-items: center;
                                gap: 12px;
                                list-style: none;

                                li {
                                    color: $neutrals-700;
                                    font-family: $body;
                                    font-size: map.get($typography-desktop, disclaimer-xsmall-size);
                                    font-weight: 400;
                                    line-height: map.get($typography-desktop, disclaimer-xsmall-line-height);
                                    display: flex;
                                    align-items: center;

                                    @include media(mobile) {
                                        @include font-style(map.get($typography-mobile, paragraph-xsmall-size),
                                            map.get($typography-mobile, paragraph-xsmall-line-height),
                                            $neutrals-700,
                                            400,
                                            $body);
                                    }

                                    .icon {
                                        width: 12px;
                                        height: 12px;
                                        aspect-ratio: 1/1;
                                        margin-right: 4px;
                                    }

                                    &::marker {
                                        color: #5659fa !important;
                                    }
                                }

                                li.list-grandch-child1 {
                                    list-style: none;
                                    padding-right: 10px;
                                    position: relative;

                                    &::after {
                                        content: "•";
                                        color: #5659fa;
                                        position: absolute;
                                        width: 4px;
                                        height: 4px;
                                        right: -2px;
                                        top: 0;
                                    }
                                }
                            }
                        }

                        &>li.cards-list-1-cards2 {
                            margin-bottom: 4px;

                            // min-height: 48px;

                            p {
                                margin: 0;
                                padding: 0;

                                // margin-bottom: 8px;

                                a {
                                    background: transparent;
                                    border: none;
                                    margin: 0;
                                    padding: 0;

                                    // margin-bottom: 8px;
                                    overflow: hidden;
                                    border-radius: unset;
                                    min-height: unset;
                                    word-break: auto-phrase;
                                    white-space: unset;
                                    text-align: left;

                                    @include font-style(map.get($typography-desktop, body-large-medium-size),
                                        map.get($typography-desktop, body-large-medium-line-height),
                                        $blue-1-800-primary,
                                        500,
                                        $body);

                                    @include media(mobile) {
                                        @include font-style(map.get($typography-mobile, body-large-medium-size),
                                            map.get($typography-mobile, body-large-medium-line-height),
                                            $blue-1-800-primary,
                                            500,
                                            $body);
                                    }
                                }
                            }
                        }

                        &>li.cards-list-1-cards3 {
                            p {
                                margin: 0;
                                padding: 0;

                                @include font-style(map.get($typography-desktop, body-medium-regular-size),
                                    24px,
                                    $text-body-2,
                                    map.get($font-weights, regular),
                                    $body);

                                @include media(mobile) {
                                    @include font-style(map.get($typography-mobile, paragraph-small-size),
                                        map.get($typography-mobile, paragraph-small-line-height),
                                        $text-body-2,
                                        400,
                                        $body);
                                }
                            }
                        }

                        &>li.cards-list-1-cards4 {
                            margin-top: 16px;

                            .button-container {
                                margin: 0;

                                a {
                                    text-decoration-line: underline;
                                    text-decoration-style: solid;
                                    text-decoration-skip-ink: auto;
                                    text-decoration-thickness: auto;
                                    text-underline-offset: auto;
                                    text-underline-position: from-font;
                                    border: none;
                                    padding: 0;
                                    background: transparent;
                                    margin: 0;
                                    padding-left: 2px;

                                    @include font-style(map.get($typography-desktop, body-small-regular-size),
                                        map.get($typography-desktop, body-small-regular-line-height),
                                        $text-text-link,
                                        400,
                                        $body);

                                    @include media(mobile) {
                                        @include font-style(map.get($typography-mobile, body-small-regular-size),
                                            map.get($typography-mobile, body-small-regular-line-height),
                                            $text-text-link,
                                            400,
                                            $body);
                                    }
                                }
                            }

                            // @include media(mobile) {
                            //     margin-top: 12px;
                            // }
                        }

                        &>li.cards-list-1-cards5 {
                            position: absolute;
                            display: none;
                        }
                    }
                }

                &:nth-child(4) {
                    margin-right: 0 !important;
                }

                // &:nth-child(5) {
                //   display: none
                // }
            }

            .swiper-slide:first-child {
                .swiper-slide-cards-1 {
                    a.button {
                        background: transparent;
                        z-index: unset;

                        img {
                            opacity: unset;
                        }
                    }

                    &::after {
                        content: "";
                        display: none;
                    }
                }
            }
        }

        .btn-wrapper {
            max-width: 92px;
            width: 100%;
            height: 50px;
            position: absolute;
            top: 4%;
            right: 0;
            display: flex;
            gap: 8px;
            justify-content: space-between;

            @include media(mobile) {
                display: none;
            }

            div {
                display: flex;
                width: 32px;
                height: 32px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 16px;
                border: 0.8px solid $primary-blue;
                background: $neutrals-100;
            }

            .swiper-button-next {
                background: $primary-blue;
                color: $primary-white;
            }

            .swiper-button-next::after {
                content: "";
                display: inline-block;
                width: 9.6px;
                height: 8px;
                flex-shrink: 0;
                background-image: url("/icons/swiper-next.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }

            .swiper-button-prev::after {
                content: "";
                display: inline-block;
                width: 9.6px;
                height: 8px;
                flex-shrink: 0;
                background-image: url("/icons/swiper-prev.svg");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    &>.library-btn3 {
        display: inline-block;
        position: absolute;
        padding: 0;
        top: 78px;
        right: 1px;

        @include media(desktop-sm) {
            right: 20px;
        }

        @include media(tab) {
            display: flex;
            position: unset;
            padding: 0 16px;
            margin-top: 24px;
        }

        p.libr-btn-p {
            max-width: 240px;
            width: 100%;
            margin: 0;
            padding: 0;

            @include media(mobile) {
                max-width: 340px;
                width: 100%;
            }

            a.libr-btn-a {
                margin: 0;
                display: inline-flex;
                padding: 12px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: map.get($radius, r8);
                background: map.get($button-primary, default);
                height: 40px;
                width: 240px;

                @include font-style(16px, 20px, $primary-white, map.get($font-weights, medium), $inter);

                @include media(mobile) {
                    width: 100%;

                    @include font-style(16px, 20px, $primary-white, map.get($font-weights, medium), $inter);
                }
            }
        }
    }
}

.moedge-article-main {
    .section.future-building-container>.library-btn3 {
        top: 30px;
    }
}