@import "../../../styles/fonts.css";
.investing-terms {
  display: flex;
  gap: 16px;
  padding: var(--spacing-40);
  border-radius: 8px;
  background: var(--blue-1-50);
}
@media (max-width: 768px) {
  .investing-terms {
    flex-direction: column;
    padding: 40px 16px;
  }
}
.investing-terms .inversting1 {
  height: 88px;
}
.investing-terms .inversting1 .inverstingsub1 {
  width: 88px;
}
.investing-terms .inversting1 .inverstingsub1 .inverstingsubinner4 {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner1 {
  margin: 0;
  font-style: normal;
  padding-bottom: 4px;
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .investing-terms .inversting2 .inverstingsub1 .inverstinginner1 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
  }
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner2 {
  margin: 0;
  font-style: normal;
  padding-bottom: 40px;
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .investing-terms .inversting2 .inverstingsub1 .inverstinginner2 {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner3 {
  margin: 0;
  padding-bottom: 12px;
  font-style: normal;
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .investing-terms .inversting2 .inverstingsub1 .inverstinginner3 {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner4 {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner4 li {
  display: flex;
  height: 32px;
  padding: 0 12px;
  align-items: center;
  gap: 4px;
  border-radius: 40px;
  background: var(--neutrals-white);
  font-style: normal;
  margin: 0;
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.investing-terms .inversting2 .inverstingsub1 .inverstinginner5 {
  display: flex;
  width: 239px;
  height: 48px;
  padding: var(--spacing-20) var(--spacing-12);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8);
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin: 0;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  font-size: var(--button-large-size, 18px);
  line-height: var(--button-large-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .investing-terms .inversting2 .inverstingsub1 .inverstinginner5 {
    font-size: var(--button-medium-size);
    line-height: var(--button-medium-line-height);
  }
}/*# sourceMappingURL=investing-terms.css.map */