/*   alpha-value-notation */

/*   media-feature-range-notation */
@import "../../../styles/fonts.css";
@import '../swiper/swiper-bundle.min.css';

.section.fund-card-slider-container {
  position: relative;
  padding: 0 0 40px;
}

.section.fund-card-slider-container.table-wrapper {
  padding: 0 0 24px;
}

@media (width <= 768px) {
  .section.fund-card-slider-container.table-wrapper {
    padding: 0 0 0 16px;
  }
}

@media (width <= 768px) {
  .section.fund-card-slider-container {
    padding: 0 16px;
  }
}

.section.fund-card-slider-container .block {
  margin: 0;
}

.section.fund-card-slider-container .block .itemcards1 {
  padding-bottom: 24px;
}

.section.fund-card-slider-container .block .itemcards1 .subitemcards1 h4 {
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0;
}

@media (width <= 768px) {
  .section.fund-card-slider-container .block .itemcards1 .subitemcards1 h4 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
    font-family: var(--title);
  }
}

.section.fund-card-slider-container .block .card-slider-main {
  position: static;
}

@media (width <= 768px) {
  .section.fund-card-slider-container .block .card-slider-main {
    padding: 0 0 64px;
  }
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper {
  max-width: 92px;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 0;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

@media (width <= 768px) {
  .section.fund-card-slider-container .block .card-slider-main .btn-wrapper {
    display: block;
    top: unset;
    right: unset;
    bottom: 0;
    left: 9px;
  }
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper div {
  display: flex;
  width: 32px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 0.8px solid #2e2a94;
  background: #f5f5f5;
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper .swiper-button-next {
  background: #2e2a94;
  color: #fff;
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper .swiper-button-next::after {
  content: "";
  display: inline-block;
  width: 9.6px;
  height: 8px;
  flex-shrink: 0;
  background-image: url("/icons/swiper-next.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper .swiper-button-prev::after {
  content: "";
  display: inline-block;
  width: 9.6px;
  height: 8px;
  flex-shrink: 0;
  background-image: url("/icons/swiper-prev.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.section.fund-card-slider-container .block .card-slider-main .btn-wrapper .swiper-button-disabled {
  opacity: 0.35;
}

.section.fund-card-slider-container .block .card-slider-main .swiper-slide {
  height: auto;
}