@use '../../styles/common-theme/css/variables_mixins'as *;
@use '../../styles/common-theme/css/fluid-typography'as *;
@use 'sass:map';

.modal.block dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.modal.block dialog .close-button {
    top: 24px;
    right: 24px;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 11px;
    align-items: center;
    gap: 10px;
    border-radius: 18px;
    background: #2E2A94;
}

.modal.block dialog>.modal-content {
    position: relative;
    max-width: 816px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    height: auto;
}

.section.risk-o-meter-container {
    padding: 24px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);


    .risk-o-meter {
        width: 100%;
        display: flex;
        padding: 0 80px;
        margin-top: 52px;
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        @include media(mobile) {
            flex-direction: column;
            padding: 0;
            gap: 24px;
            margin-top: 40px;
        }
    }

    .corner-1,
    .corner-2 {
        text-align: center;

        p {
            margin: 0;
            padding: 0;

            @include font-style(14px, 18px, #2E2A94, map.get($font-weights, semibold), $poppins);
        }

        .column-1 {
            padding-bottom: 10px;
        }

        .column-2 {
            height: 160px;

            @include media(mobile) {
                height: 120px;
            }

            img {
                height: 100%;
            }
        }
    }

    >div:nth-child(2) {
        border-top: 0.5px solid #8695AF;
        display: flex;
        padding-top: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        h3 {
            margin: 0;
            padding: 0;

            @include font-style(16px, 20px, #2E2A94, map.get($font-weights, semibold), $poppins);

            @include media(mobile) {
                font-size: 14px;
                line-height: 18px;
            }

            a {
                @include font-style(16px, 20px, #7986FD, map.get($font-weights, semibold), $poppins);

                @include media(mobile) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            padding-left: 24px;

            @include media(mobile) {
                padding-bottom: 6px;
            }

            li {
                color: #111;
                font-family: $poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;

                @include media(mobile) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        p {
            margin: 0;
            color: #111;
            font-family: $poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;

            a {
                color: #F03D48;
                font-family: $poppins;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .modal .close-button .icon.icon-close::before,
    .modal .close-button .icon.icon-close::after {
        width: 13px;
        height: 1.5px;
    }
}

.modal .modal-content.risk-meter {
    .close-button .icon.icon-close::before,
    .close-button .icon.icon-close::after {
        width: 13px;
        height: 1.5px;
    }
}

.section.product-label.risk-o-meter-container {
    padding: 0;
    width: inherit;
    border-radius: none;
    background: inherit;
    box-shadow: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    margin: 40px 0;

    >div:first-child {
        margin: 0;
        padding: 0;

        h1 {
            margin: 0;
            padding: 0;
            color: #2E2A94;
            font-family: $butlerpro;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
        }
    }

    .risk-wrapper {
        display: flex;
        height: 394px;
        padding: 16px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex-shrink: 0;
        align-self: stretch;
        border: none;
        width: 100%;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);

        .risk-o-meter-wrapper.item2 {
            .risk-o-meter {
                width: 100%;
                display: flex;
                padding: 0 40px;
                margin-top: 32px;
                margin-bottom: 8px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .risk-meter-cont {
                    &.corner-1,
                    &.corner-2 {
                        .column-1 {
                            p {
                                color: #242177;
                                font-family: $poppins;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }

        .item3 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            
            // padding-top: 16px;

            h3 {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 20px;
                color: #2E2A94;
                font-family: $poppins;
            }

        }


    }
}