//  Accessibility Done 

@use '../../styles/common-theme/css/variables_mixins'as *;
@use '../../styles/common-theme/css/fluid-typography'as *;
@use 'sass:map';

.modal.block dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &:focus-visible {
    outline: 3px solid #2E2A94;
    outline-offset: 4px;
  }
}

.modal.block dialog .close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 11px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 18px;
  background: #2E2A94;
  z-index: 10;
  cursor: pointer;

  &:focus-visible {
    outline: 3px dashed #FFF;
    outline-offset: 4px;
  }

  .icon.icon-close::before,
  .icon.icon-close::after {
    width: 13px;
    height: 1.5px;
  }

}

.modal.block dialog>.modal-content {
  position: relative;
  max-width: 816px;
  padding: 0;
  display: block;//flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  height: auto;
}

.section.risk-o-meter-container {
  //   padding: 24px;
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);

  .risk-o-meter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin: 76px 0 40px;

    @include media(mobile) {
      flex-direction: column;
      padding: 0;
      gap: 24px;
    }
  }

  .corner-1,
  .corner-2 {
    text-align: center;

    p {
      margin: 0;
      padding: 0;

      @include font-style(14px, 18px, #2E2A94, map.get($font-weights, semibold), $inter);
    }

    .column-1 {
      padding-bottom: 10px;
    }

    .column-2 {
      height: 160px;

      @include media(mobile) {
        height: 120px;
      }

      img {
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        alt: ''; // decorative image
        // role: presentation;
      }
    }
  }

  >.default-content-wrapper {
    border-top: 0.5px solid #8695AF;
    padding-top: 16px;
    margin: 0 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    @include media (mobile) {
      margin: 0 16px 24px;
    }

    h3.defone1 {
      margin: 0;
      padding: 0;

      @include font-style(16px, 20px, #2E2A94, map.get($font-weights, semibold), $inter);

      @include media(mobile) {
        font-size: 14px;
        line-height: 18px;
      }

      a {
        @include font-style(18px, 24px, #5659FA, map.get($font-weights, semibold), $inter);

        @include media(mobile) {
          font-size: 14px;
          line-height: 18px;
        }

        &:focus-visible {
          outline: 2px dashed #2E2A94;
          outline-offset: 4px;
        }
      }
    }

    ul.defone2 {
      padding-left: 24px;
      margin: 0;

      @include media(mobile) {
        // padding-bottom: 6px;
        margin: 0;
      }

      li.defli {
        color: #616161;
        font-family: $inter;
        font-size: 14px;
        line-height: 20px;

        @include media(mobile) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    p.defone3 {
      color: #616161;
      font-family: $inter;
      font-size: 14px;
      line-height: 20px;
      margin: 0;

      a.deftwo1 {
        color: #5659FA;
        text-decoration: none;

        &:focus-visible {
          outline: 2px dashed #5659FA;
          outline-offset: 3px;
        }
      }
    }
  }
}

// .modal {
//   .close-button {
//     .icon {
//       &.icon-close {
//         &::before,
//         &::after {
//           width: 13px;
//           height: 1.5px;
//         }
//       }
//     }
//   }
// }

.section.product-label.risk-o-meter-container {
  //   padding: 40px 0;
  background: inherit;
  box-shadow: unset;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(mobile) {
    padding: 40px 16px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 #0000000D;
  }

  >div:first-child {
    h2 {
      color: #2E2A94;
      font-family: $inter;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      margin: 0;
    }
  }

  .risk-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    padding: 24px 16px;

    @include media(mobile) {
      padding: 0;
      background: inherit;
      box-shadow: none;
    }

    .risk-o-meter-wrapper.risk2 {
      width: 100%;

      .risk-o-meter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        margin: 32px 0 8px;

        @include media(mobile) {
          gap: 40px;
          margin-bottom: 32px;
        }

        .risk-meter-cont.corner-1 .column-1 p,
        .risk-meter-cont.corner-2 .column-1 p {
          color: #242177;
          font-family: $inter;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }

    .risk3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      h3 {
        font-size: 18px;
        line-height: 24px;
        color: #242177;
        font-family: $inter;
      }
    }
  }
}