@import "../../../styles/fonts.css";
.modal.block dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.modal.block dialog .close-button {
  top: 24px;
  right: 24px;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 11px;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #2E2A94;
}

.modal.block dialog > .modal-content {
  position: relative;
  max-width: 816px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  height: auto;
}

.section.risk-o-meter-container {
  padding: 24px;
  height: auto;
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.section.risk-o-meter-container .risk-o-meter {
  width: 100%;
  display: flex;
  padding: 0 80px;
  margin-top: 52px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container .risk-o-meter {
    flex-direction: column;
    padding: 0;
    gap: 24px;
    margin-top: 40px;
  }
}
.section.risk-o-meter-container .corner-1,
.section.risk-o-meter-container .corner-2 {
  text-align: center;
}
.section.risk-o-meter-container .corner-1 p,
.section.risk-o-meter-container .corner-2 p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #2E2A94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.section.risk-o-meter-container .corner-1 .column-1,
.section.risk-o-meter-container .corner-2 .column-1 {
  padding-bottom: 10px;
}
.section.risk-o-meter-container .corner-1 .column-2,
.section.risk-o-meter-container .corner-2 .column-2 {
  height: 160px;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container .corner-1 .column-2,
  .section.risk-o-meter-container .corner-2 .column-2 {
    height: 120px;
  }
}
.section.risk-o-meter-container .corner-1 .column-2 img,
.section.risk-o-meter-container .corner-2 .column-2 img {
  height: 100%;
}
.section.risk-o-meter-container > div:nth-child(2) {
  border-top: 0.5px solid #8695AF;
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.section.risk-o-meter-container > div:nth-child(2) h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #2E2A94;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container > div:nth-child(2) h3 {
    font-size: 14px;
    line-height: 18px;
  }
}
.section.risk-o-meter-container > div:nth-child(2) h3 a {
  font-size: 16px;
  line-height: 20px;
  color: #7986FD;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container > div:nth-child(2) h3 a {
    font-size: 14px;
    line-height: 18px;
  }
}
.section.risk-o-meter-container > div:nth-child(2) ul {
  margin: 0;
  padding: 0;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container > div:nth-child(2) ul {
    padding-bottom: 6px;
  }
}
.section.risk-o-meter-container > div:nth-child(2) ul li {
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
@media (max-width: 768px) {
  .section.risk-o-meter-container > div:nth-child(2) ul li {
    font-size: 12px;
    line-height: 16px;
  }
}
.section.risk-o-meter-container > div:nth-child(2) p {
  margin: 0;
  color: #111;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.section.risk-o-meter-container > div:nth-child(2) p a {
  color: #F03D48;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.section.risk-o-meter-container .modal .close-button .icon.icon-close::before,
.section.risk-o-meter-container .modal .close-button .icon.icon-close::after {
  width: 13px;
  height: 1.5px;
}

.modal .modal-content.risk-meter .close-button .icon.icon-close::before,
.modal .modal-content.risk-meter .close-button .icon.icon-close::after {
  width: 13px;
  height: 1.5px;
}

.section.product-label.risk-o-meter-container {
  padding: 0;
  width: inherit;
  border-radius: none;
  background: inherit;
  box-shadow: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin: 40px 0;
}
@media (max-width: 768px) {
  .section.product-label.risk-o-meter-container {
    padding: 0 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.0509803922);
  }
}
.section.product-label.risk-o-meter-container > div:first-child {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .section.product-label.risk-o-meter-container > div:first-child {
    margin-top: 40px;
  }
}
.section.product-label.risk-o-meter-container > div:first-child h1 {
  margin: 0;
  padding: 0;
  color: #2E2A94;
  font-family: "ButlerPro", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.section.product-label.risk-o-meter-container .risk-wrapper {
  display: flex;
  padding: 16px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border: none;
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 768px) {
  .section.product-label.risk-o-meter-container .risk-wrapper {
    padding: 0;
    border-radius: none;
    background: inherit;
    box-shadow: unset;
  }
}
.section.product-label.risk-o-meter-container .risk-wrapper .risk-o-meter-wrapper.risk2 {
  width: 100%;
}
.section.product-label.risk-o-meter-container .risk-wrapper .risk-o-meter-wrapper.risk2 .risk-o-meter {
  width: 100%;
  display: flex;
  padding: 0 40px;
  margin-top: 32px;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 768px) {
  .section.product-label.risk-o-meter-container .risk-wrapper .risk-o-meter-wrapper.risk2 .risk-o-meter {
    gap: 40px;
    margin-bottom: 32px;
  }
}
.section.product-label.risk-o-meter-container .risk-wrapper .risk-o-meter-wrapper.risk2 .risk-o-meter .risk-meter-cont.corner-1 .column-1 p, .section.product-label.risk-o-meter-container .risk-wrapper .risk-o-meter-wrapper.risk2 .risk-o-meter .risk-meter-cont.corner-2 .column-1 p {
  color: #242177;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.section.product-label.risk-o-meter-container .risk-wrapper .risk3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.section.product-label.risk-o-meter-container .risk-wrapper .risk3 h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #2E2A94;
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=risk-o-meter.css.map */