@import "../../../styles/fonts.css";
.section.glp-tab {
  margin-top: 0 !important;
}
.section.glp-tab .tab-glp-wrapper {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper {
    padding: 0;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 68px;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp {
    gap: 48px;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 {
  display: flex;
  max-width: 1366px;
  width: 100%;
  padding: 40px 67px;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-16);
  background: var(--neutrals-100);
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 {
    padding: 36px 16px;
    border-radius: 0;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 {
  display: flex;
  gap: 36px;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 {
    flex-direction: column;
    gap: 16px;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner1 {
  margin: 0;
  width: 80px;
  height: 80px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 {
  width: 80px;
  height: 80px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 {
    gap: 20px;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 .glp-tab-sub-inner-sub1 {
  font-style: normal;
  font-size: var(--body-large-regular-size);
  line-height: var(--body-large-regular-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 .glp-tab-sub-inner-sub1 {
    font-size: var(--body-medium-regular-size);
    font-weight: var(--body-medium-regular-line-height);
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 .glp-tab-sub-inner-sub2 {
  font-style: normal;
  font-size: var(--body-large-semibold-size);
  line-height: var(--body-large-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block1 .glp-tab-inner1 .glp-tab-sub-inner2 .glp-tab-sub-inner-sub2 {
    font-size: var(--body-medium-semibold-size);
    font-weight: var(--body-medium-semibold-line-height);
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 {
  padding: 0 67px;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 {
    padding: 0;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 {
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 {
  display: flex;
  justify-content: center;
  max-width: 296px;
  width: 100%;
  height: 296px;
  padding: 30.621px 15.31px;
  align-items: center;
  border-radius: 15.31px;
  border: 1.276px solid var(--neutrals-200);
  background: var(--blue-1-25);
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 {
    padding: 24px 12px;
    max-width: 316px;
    height: 232px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.04);
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 .glp-tab-ul1 {
  margin: 0;
  color: var(--blue-1-800-primary, #2e2a94);
  font-family: var(--body);
  font-size: 201.586px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 {
  max-width: 920px;
  width: 100%;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 {
    padding: 0 16px;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 {
  margin: 0;
  list-style: none;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 {
  margin: 0;
  list-style: none;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers {
    gap: 28px;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li {
  display: flex;
  gap: 16px;
  margin: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li {
    flex-direction: column;
  }
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li .glp-tab-inner-li1 {
  margin: 0;
  width: 68px;
  height: 68px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li .glp-tab-inner-li1 .glp-tab-sub-inner-li1 {
  width: 68px;
  height: 68px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li .glp-tab-inner-li2 {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li .glp-tab-inner-li2 .comlist {
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-sub-header);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  list-style: none;
  margin: 0;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .comlist.same-li .glp-tab-inner-li2 .comlist.glp-tab-sub-inner-li1 {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-sub-inner-ul2 .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .glp-tab-sub-inner-li-sub1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-sub-inner-ul2 .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .glp-tab-sub-inner-li-sub1 .glp-li1 .glp-li-inner1 {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-sub-inner-ul2 .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .glp-tab-sub-inner-li-sub1 .glp-li2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-sub-inner-ul2 .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .glp-tab-sub-inner-li-sub1 .glp-li2 .glp-li-inner1 {
  font-style: normal;
  font-size: var(--body-small-regular-size);
  line-height: var(--label-large-line-height);
  color: var(--text-sub-header);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.glp-tab .tab-glp-wrapper .tab-glp .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-sub-inner-ul2 .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .glp-tab-sub-inner-li-sub1 .glp-li2 .glp-li-inner2 {
  list-style: disc;
  padding-left: 16px;
}

.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 {
  padding: 0 67px;
}
@media (max-width: 768px) {
  .section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 {
    padding: 0;
  }
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 768px) {
  .section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 {
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 {
  display: flex;
  justify-content: center;
  max-width: 296px;
  width: 100%;
  height: 296px;
  padding: 30.621px 15.31px;
  align-items: center;
  border-radius: 15.31px;
  border: 1.276px solid var(--neutrals-200);
  background: var(--blue-1-25);
}
@media (max-width: 768px) {
  .section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 {
    padding: 24px 12px;
    max-width: 316px;
    height: 232px;
  }
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub1 .glp-tab-ul1 {
  margin: 0;
  color: var(--blue-1-800-primary, #2e2a94);
  font-family: var(--body);
  font-size: 201.586px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-inner-li2 .glp-tab-sub-inner-li4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-inner-li2 .glp-tab-sub-inner-li4 .glp-tab-sub-inner-li-sub2 {
  padding-left: 16px;
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-inner-li2 .glp-tab-sub-inner-li4 .glp-tab-sub-inner-li-sub2 .comlist {
  list-style: disc;
}
.section.glp-tab.glp-tab-price .tab-glp-wrapper .glp-tab-block2 .glp-tab-inner1 .glp-tab-sub-inner1 .glp-tab-sub-inner-sub2 .glp-tab-ul1 .glp-tab-inner-ul1 .li-containers .glp-tab-inner-li2 .glp-tab-sub-inner-li1 .comlist.glp-tab-sub-inner-li-sub1 {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

.hide-section {
  display: none;
}

.section.qglp-tabs .tabs-wrapper {
  max-width: 1366px;
  width: 100%;
}
@media (max-width: 768px) {
  .section.qglp-tabs .tabs-wrapper {
    padding: 0;
  }
}
.section.qglp-tabs .tabs-wrapper .tabs .tabs-list {
  justify-content: center;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .section.qglp-tabs .tabs-wrapper .tabs .tabs-list {
    margin-bottom: 20px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    justify-content: flex-start;
    padding: 16px;
    padding-top: 8px;
  }
}
.section.qglp-tabs .tabs-wrapper .tabs .tabs-list::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=tab-glp.css.map */