@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.table-wrapper.fdp-campaign-container {
  // margin-top: 64px;
  margin-top: 115px !important;

  @media (width <=768px) {
    margin: 40px 16px;
  }

  .fdp-campaign {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .compaign1 {
      display: block;

      @media (width <=768px) {
        display: none;
      }
    }

    .compaign2 {
      display: none;

      @media (width <=768px) {
        display: block;
      }
    }
  }
}


.section.table-wrapper.fdp-campaign-container.investor-banner{
 .fdp-campaign-wrapper{
  padding: 0;
  
  .fdp-campaign {
    .compaign1 {
      .compaignsub1{
        height: 255px;
        object-fit: cover;

        img{
          height: 100%;
          width: 100%;
        }
      }
    }

  }
}

}
