@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section {
  .card-container {
    max-width: 296px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(135deg, #b9bbff 0%, #fff 50%, #b9bbff 100%) border-box;
    border: 1px solid transparent;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%);

    @include flex-center;

    .card-wrapper {
      @include flex-center($align: stretch, $justify: space-between);

      flex-direction: column;
      height: 100%;
      width: 100%;

      // All dropdown in card
      .selectedtext {
        @include font-style(
          12px,
          16px,
          $primary-blue,
          map.get($font-weights, medium),
          $poppins
        );

        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;

        &::after {
          content: "";
          background: url("../../icons/down-arrow.svg") center/cover no-repeat;
          min-width: 20px;
          height: 20px;
          display: block;
        }

        &.no-dropdown {
          cursor: auto;

          &::after {
            content: unset;
          }
        }
      }

      .dropdown-list {
        display: none;
        position: absolute;

        // top: 18px;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 143px;

        // max-height: 200px;
        margin: 6px 0 0;
        overflow: auto;
        background-color: $primary-white;
        border-radius: 8px;
        border: 1px solid $neutrals-200;
        box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);

        @include media(mobile) {
          width: 168px;
          left: unset;
          right: 0;
        }

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-track {
          width: 3px;
          background-color: $primary-white;
          border-radius: 0 6px 6px 0;
        }

        &::-webkit-scrollbar-thumb {
          width: 3px;
          background-color: #464343; //$primary-blue;
        }

        &.dropdown-active {
          display: block;
        }

        li {
          @include font-style(
            12px,
            16px,
            $neutrals-black,
            map.get($font-weights, regular),
            $poppins
          );

          padding: 12px;

          // border-bottom: 1px solid $neutrals-200;
          cursor: pointer;

          &:last-of-type {
            border: none;
          }
        }
      }
    }

    .card-upper-title {
      @include flex-center($align: center, $justify: space-between);

      align-items: start;

      // gap: 30px;
      gap: 6px;
      margin: 0 0 8px;

      // height: 100%;
      // min-height: 50px;
      flex-direction: column;

      .brand-star-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .brand-logo {
          position: relative;
          min-width: 40px;
          width: 40px;
          height: 40px;
          box-shadow: 0 0 14px 0 rgb(0 0 0 / 7%);
          border-radius: 50%;

          // background: #bdcbff;
          .logoscheme {
            // position: absolute;
            // top: 20%;
            // left: 15%;
            // width: 29.977px;
            // height: 20.855px;
            // flex-shrink: 0;
            width: 100%;
            height: 100%;
          }
        }

        .star {
          min-width: 28px;
          width: 28px;
          height: 28px;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;

          &.star-filled .star-icon,
          &:not(.star-filled) .fillstar-icon {
            display: none;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .brand-fund-wrap {
        width: 100%;

        .brand-name-text {
          margin: 0;

          @include font-style(
            12px,
            16px,
            map.get($blue-1, b400),
            map.get($font-weights, regular),
            $poppins
          );
        }

        .fund-name-title {
          @include font-style(
            $size: 16px,
            $line-height: 20px,
            $color: $primary-blue,
            $weight: map.get($font-weights, medium),
            $family: $poppins
          );

          min-height: 40px;
          margin: 0;

          @include media(mobile) {
            min-height: unset;
          }
        }
      }
    }

    .card-category {
      @include flex-center($align: center, $justify: flex-start);

      // gap: 8px;
      gap: 4px 8px;
      padding: 4px 0;

      // margin: 0 0 16px;
      margin: 0 0 22px;
      flex-wrap: wrap;

      // margin-top: auto;
      // min-height: unset;
      // height: 100%;
      height: auto;

      .fundtagging-list {
        @include flex-center($align: center, $justify: flex-start);

        gap: 8px;
        list-style: none;
        margin: 0;
        flex-wrap: wrap;

        &-name {
          @include font-style(
            $size: 12px,
            $line-height: 16px,
            $color: $primary-blue-1-900,
            $weight: map.get($font-weights, regular),
            $family: $poppins
          );
          @include flex-center($align: center, $justify: flex-start);

          gap: 8px;

          &::after {
            content: "";
            min-width: 3px;
            height: 3px;
            display: block;
            background-color: $primary-blue;
            border-radius: 50%;
          }
        }
      }

      .planlist-dropdown {
        // max-width: 70px;
        max-width: max-content;
        width: 100%;

        @include flex-center($align: center, $justify: flex-start);

        gap: 8px;
        position: relative;

        .selectedtext {
          font-weight: 400;
        }

        .dropdown-list {
          max-height: 200px;
        }
      }

      &.no-planlist {
        .fundtagging-list {
          &-name {
            &:last-of-type::after {
              content: unset;
            }
          }
        }
      }
    }

    .cagr-container {
      @include flex-center($align: center, $justify: space-between);

      // gap: 24px;
      gap: 10px;

      // min-height: 88px;
      min-height: 109px;

      // height: 88px;
      height: auto;
      padding: 24px 12px;

      // padding: 12px;
      // align-self: stretch;
      border-radius: 12px;
      border: 0.5px solid #e8e8e8;
      background: $neutrals-50;
      box-shadow: 0 0 24px 0 rgb(0 0 0 / 4%);
      margin-top: auto;

      @include media(tab) {
        height: 100%;
      }

      .cagr-dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
        flex: 1 0 0;

        // max-width: 46%;
        // width: 100%;
        position: relative;

        // line-height: 0;

        .cagr-txt {
          @include font-style(
            $size: 12px,
            $line-height: 16px,
            $color: $neutrals-black,
            $weight: map.get($font-weights, medium),
            $family: $poppins
          );

          margin-bottom: 4px;

          // padding-bottom: 4px;
        }

        .cagr-select-wrapper {
          // @include flex-center($align: center, $justify: start);
          // gap: 4px;
          // width: 80px;
          // width: 117px;
          // width: max-content;
          max-width: 130px;
          width: 100%;
          position: relative;

          // @include media(desktop-sm) {
          //   width: 80px;
          // }

          // @media screen and (width <= 900px) {
          //   // width: 80px;
          //   .dropdown-list {
          //     top: 35px;
          //   }
          // }

          // @include media(mobile) {
          //   // width: 125px;

          //   .dropdown-list {
          //     top: 18px;
          //   }
          // }
        }

        .cagr-date {
          @include font-style(
            $size: 12px,
            $line-height: 16px,
            $color: $primary-blue,
            $weight: map.get($font-weights, medium),
            $family: $poppins
          );

          margin: 0;
          padding: 0;
        }
      }

      .cagr-value {
        // max-width: 46%;
        max-width: max-content;
        width: 100%;

        h2 {
          @include font-style(
            $size: 24px,
            $line-height: 32px,
            $color: $primary-blue,
            $weight: map.get($font-weights, semibold),
            $family: $poppins
          );

          margin: 0;
          text-align: right;

          span {
            font-weight: map.get($font-weights, light);
          }
        }

        .scheme-yet {
          @include font-style(
            $size: 12px,
            $line-height: 16px,
            $color: map.get($dark-liver, 500),
            $weight: map.get($font-weights, regular),
            $family: $poppins
          );

          text-align: right;
          margin: 0;
          padding: 0;
        }
      }

      .cagr-desc {
        // background: map.get($old-silver, 50);
        // padding: 4px 8px;

        line-height: 0;
        width: 100%;

        .cagr-desc-text {
          @include font-style(
            $size: 11px,
            $line-height: 15px,
            $color: $primary-blue,
            $weight: map.get($font-weights, regular),
            $family: $poppins
          );

          // padding: 8px 0;
          display: block;
        }
      }

      &.not-provided {
        padding: 33px 12px;

        .cagr-dropdown,
        .cagr-value {
          display: none;
        }
      }

      &:not(.not-provided) .cagr-desc {
        display: none;
      }
    }

    .risk-container {
      @include flex-center($align: stretch, $justify: flex-start);

      flex-direction: column;
      gap: 2px;
      border-bottom: 1px solid map.get($old-silver, 100);
      padding-bottom: 16px;
      margin: 8px 0 0;

      @include media(mobile) {
        padding-bottom: 8px;
      }

      .risk-label {
        @include font-style(
          $size: 12px,
          $line-height: 16px,
          $color: map.get($dark-liver, 500),
          $weight: map.get($font-weights, regular),
          $family: $poppins
        );

        margin: 0;
        padding: 0;
      }

      .risk-text {
        @include font-style(
          $size: 12px,
          $line-height: 16px,
          $color: $primary-blue,
          $weight: map.get($font-weights, medium),
          $family: $poppins
        );
        @include flex-center($align: center, $justify: flex-start);

        gap: 4px;

        &::after {
          content: "";
          background: url("../../icons/info-icon.svg") center/cover no-repeat;
          width: 12px;
          height: 12px;
          display: block;
          cursor: pointer;
        }
      }
    }

    .discription {
      // margin: 24px 0 0;
      margin: 10px 0 0;
      padding: 8px 12px;

      .dis-choosen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        line-height: 0;

        .dis-investor {
          display: flex;
          gap: 6px;

          .person {
            width: 16px;
            height: 16px;
          }

          .investor-txt {
            @include font-style(
              $size: 12px,
              $line-height: 16px,
              $color: map.get($blue-1, b900),
              $weight: map.get($font-weights, regular),
              $family: $poppins
            );
          }
        }
      }
    }

    .button-container {
      @include flex-center($align: center, $justify: space-between);

      flex-wrap: wrap;
      gap: 24px 9.08%;
      margin: 20px 0 0;

      .card-btn {
        // max-width: 120px;
        max-width: 45.46%;
        width: 100%;
        display: block;

        @include font-style(
          $size: 14px,
          $line-height: 16px,
          $color: map.get($blue-1, b500),
          $weight: map.get($font-weights, medium),
          $family: $poppins
        );

        margin: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        border: none;
        -webkit-tap-highlight-color: transparent;

        &.know-more {
          text-decoration-line: underline;

          // text-underline-offset: 20%;
          padding: 8px 0;
          cursor: pointer;
        }

        &.invest-now {
          border-radius: map.get($radius, r4);
          background: map.get($button-primary, default);
          padding: 8px 12px;
          text-align: center;
          color: $primary-white;
        }
      }
    }
  }

  &.fund-tab.tabs-container {
    // max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 64px;

    @include media(mobile) {
      padding: 40px 0 49px;
    }

    .default-content-wrapper {
      // margin: 0;
      // padding: 0;
      // max-width: 100%;

      h1 {
        @include font-style(
          $size: 36px,
          $line-height: 44px,
          $color: $primary-blue,
          $weight: map.get($font-weights, bold),
          $family: $butlerpro
        );

        margin: 0 0 12px;

        @include media(mobile) {
          font-size: 24px;
          line-height: 28px;
          margin: 0 0 24px;
        }
      }
    }

    .tabs-wrapper {
      margin: 0 auto;

      .wrappertablist {
        @include flex-center($align: center, $justify: space-between);

        flex-wrap: wrap;
        gap: 20px;

        .tabs-list {
          @include flex-center($align: center, $justify: flex-start);

          gap: 0;
          border-bottom: 1px solid #b6bcc7;
          max-width: max-content;
          margin-right: -16px;

          &::-webkit-scrollbar {
            display: none;
          }

          .tabs-tab {
            border: none;
            background-color: transparent;
            padding: 10px 12px;
            cursor: pointer;

            @include font-style(
              $size: 14px,
              $line-height: 20px,
              $color: $text-body-2,
              $weight: map.get($font-weights, regular),
              $family: $poppins
            );

            &[aria-selected="true"] {
              @include font-style(
                $size: 14px,
                $line-height: 16px,
                $color: $primary-blue,
                $weight: map.get($font-weights, medium),
                $family: $poppins
              );

              border-bottom: 2px solid #382ad7;
              padding: 12px;
            }
          }
        }
      }

      .tabs-panel {
        // @include flex-center($align: center, $justify: center);
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 16px;
        padding: 24px 0 0;
        border: none;
        overflow: unset;
        margin: 0;

        .card-container {
          @include media(desktop-sm) {
            max-width: 31.8%;
          }

          @include media(mobile) {
            max-width: 100%;
          }

          .dropdown-list {
            max-height: 200px;
          }
        }
      }
    }

    .btndesk,
    .btnmob {
      margin: 0;
      padding: 0;
      line-height: 0;
      max-width: 120px;
      width: 100%;
      background-color: transparent;
      border-radius: map.get($radius, r4);
      border: none;

      a {
        border-radius: map.get($radius, r4);
        border: 1px solid map.get($button-primary, default);
        width: 100%;
        background-color: transparent;
        padding: 8px 12px;

        @include font-style(
          $size: 14px,
          $line-height: 16px,
          $color: $primary-blue,
          $weight: map.get($font-weights, medium),
          $family: $poppins
        );

        text-decoration: none;
        display: block;
        margin: 0;
      }

      @include media(mobile) {
        display: none;
        margin: 40px auto 0;
      }
    }

    .btnmob {
      display: none;

      @include media(mobile) {
        display: block;
      }
    }

    &.our-popular-funds {
      background: $primary-blue;
      max-width: 100%;
      padding: 54px 0;

      @include media(mobile) {
        padding: 40px 0 45px;
      }

      .default-content-wrapper,
      .tabs-wrapper {
        // max-width: 1264px;
        width: 100%;
        margin: 0 auto;

        .wrappertablist {
          .tabs-list {
            .tabs-tab {
              color: map.get($blue-1, b200);

              &[aria-selected="true"] {
                border-bottom: 2px solid $primary-white;
                color: $primary-white;
              }
            }
          }
        }
      }

      .default-content-wrapper {
        h1 {
          color: $primary-white;
          margin: 0 0 8px;
        }
      }

      .btnmob a,
      .wrappertablist .btndesk a {
        border: 1px solid $primary-white;
        color: $primary-white;
      }
    }
  }
}
