@import "../../../styles/fonts.css";

.section .card-container {
  max-width: 296px;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: linear-gradient(var(--neutrals-white), var(--neutrals-white)) padding-box, linear-gradient(135deg, var(--card-stroke) 0%, var(--neutrals-white) 50%, var(--card-stroke) 100%) border-box;
  border: 1px solid transparent;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 6%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .card-container .card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.section .card-container .card-wrapper .card-upper-title {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
  margin: 0 0 var(--spacing-8);
  height: 100%;
  flex-direction: column;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .brand-logo {
  position: relative;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 14px 0 rgb(0 0 0 / 7%);
  border-radius: 50%;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .brand-logo .logoscheme {
  width: 100%;
  height: 100%;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .watchlistlabel {
  font-size: var(--label-small-size);
  line-height: var(--label-small-line-height);
  color: var(--text-sub-header);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .watchlistlabel {
    font-size: var(--label-small-size);
    line-height: var(--label-small-line-height);
  }
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .star {
  min-width: 28px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .star.star-filled .star-icon, .section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .star:not(.star-filled) .fillstar-icon {
  display: none;
}

.section .card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .star img {
  width: 100%;
  height: 100%;
}

.section .card-container .card-wrapper .card-upper-title .brand-fund-wrap {
  width: 100%;
}

.section .card-container .card-wrapper .card-upper-title .brand-fund-wrap .fund-name-title {
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  color: var(--neutrals-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  min-height: 40px;
  margin: 0;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .card-upper-title .brand-fund-wrap .fund-name-title {
    min-height: unset;
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
  }
}

.section .card-container .card-wrapper .card-category {
  margin: 0 0 40px;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .card-category {
    margin: 0 0 38px;
  }
}

.section .card-container .card-wrapper .card-category .fundtagging-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
}

.section .card-container .card-wrapper .card-category .fundtagging-list-name {
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .card-category .fundtagging-list-name {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
  }
}

.section .card-container .card-wrapper .card-category .fundtagging-list-name::before {
  content: "";
  min-width: 4px;
  height: 4px;
  display: block;
  background-color: var(--text-body-2);
  border-radius: 50%;
}

.section .card-container .card-wrapper .card-category .fundtagging-list-name:first-of-type::before {
  content: unset;
}

.section .card-container .card-wrapper .card-category .planlist-dropdown {
  max-width: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  position: relative;
}

.section .card-container .card-wrapper .card-category .planlist-dropdown .selectedtext {
  font-weight: 400;
}

.section .card-container .card-wrapper .card-category .planlist-dropdown .dropdown-list {
  max-height: 200px;
}

.section .card-container .card-wrapper .card-category.no-planlist .fundtagging-list-name:last-of-type::after {
  content: unset;
}

.section .card-container .card-wrapper .cagr-container {
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-direction: column-reverse;
  min-height: 88px;
  margin: 0 0 16px;
}

@media (width <= 1025px) {
  .section .card-container .card-wrapper .cagr-container {
    min-height: unset;
    margin: 0 0 var(--spacing-24);
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown {
  line-height: 0;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-txt {
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-txt {
    font-size: var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
    color: var(--text-sub-header);
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper {
  max-width: max-content;
  width: 100%;
  position: relative;
  margin: 4px 0 0;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .selectedtext {
  font-size: var(--body-xsmall-medium-size);
  line-height: var(--body-xsmall-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .selectedtext .cagr-date {
  font-size: 12px;
  line-height: 14px;
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .selectedtext::after {
  content: "";
  background: url("/icons/down-arrow.svg") center/cover no-repeat;
  min-width: 16px;
  height: 16px;
  display: block;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .selectedtext {
    font-size: var(--body-xsmall-medium-size);
    line-height: var(--body-xsmall-medium-line-height);
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 12px;
  z-index: 2;
  width: 143px;
  margin: 6px 0 0;
  overflow: auto;
  background-color: var(--neutrals-white);
  border-radius: var(--border-radius-8);
  border: 1px solid var(--neutrals-200);
  box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list {
    width: 168px;
    left: 12px;
    right: 0;
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list::-webkit-scrollbar {
  width: 3px;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list::-webkit-scrollbar-track {
  width: 3px;
  background-color: var(--neutrals-white);
  border-radius: 0 6px 6px 0;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list.dropdown-active {
  display: block;
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list li {
  font-size: var(--paragraph-xsmall-size);
  line-height: var(--paragraph-xsmall-line-height);
  color: var(--neutrals-black);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  padding: 12px;
  cursor: pointer;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list li {
    font-size: var(--body-small-regular-size);
    line-height: var(--label-large-line-height);
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-dropdown .cagr-select-wrapper .dropdown-list li:last-of-type {
  border: none;
}

.section .card-container .card-wrapper .cagr-container .cagr-value {
  max-width: max-content;
  width: 100%;
  line-height: 0;
}

.section .card-container .card-wrapper .cagr-container .cagr-value .cagr-val-label {
  font-size: var(--sub-header-large-size);
  line-height: var(--sub-header-large-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin: 0;
  display: flex;
  gap: 4px;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .cagr-container .cagr-value .cagr-val-label {
    font-size: 24px;
    line-height: 28px;
    color: var(--blue-1-800-primary);
    font-family: var(--title);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
}

.section .card-container .card-wrapper .cagr-container .cagr-value .cagr-val-label span {
  color: var(--blue-1800-primary, #2E2A94);
  text-align: right;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--sub-header-large-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--sub-header-large-line-height);
}

.section .card-container .card-wrapper .cagr-container .cagr-value .scheme-yet {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 0;
}

.section .card-container .card-wrapper .cagr-container .cagr-desc {
  line-height: 0;
  width: 100%;
}

.section .card-container .card-wrapper .cagr-container .cagr-desc .cagr-desc-text {
  font-size: 11px;
  line-height: 15px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  display: block;
}

.section .card-container .card-wrapper .cagr-container.not-provided {
  padding: 33px 12px;
}

.section .card-container .card-wrapper .cagr-container.not-provided .cagr-dropdown,
.section .card-container .card-wrapper .cagr-container.not-provided .cagr-value {
  display: none;
}

.section .card-container .card-wrapper .cagr-container:not(.not-provided) .cagr-desc {
  display: none;
}

.section .card-container .card-wrapper .risk-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2px;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 16px;
  margin: 8px 0 0;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .risk-container {
    padding-bottom: 8px;
  }
}

.section .card-container .card-wrapper .risk-container .risk-label {
  font-size: 12px;
  line-height: 16px;
  color: #2e312f;
  font-family: Poppins, sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.section .card-container .card-wrapper .risk-container .risk-text {
  font-size: 12px;
  line-height: 16px;
  color: #2e2a94;
  font-family: Poppins, sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.section .card-container .card-wrapper .risk-container .risk-text::after {
  content: "";
  background: url("/icons/info-icon.svg") center/cover no-repeat;
  width: 12px;
  height: 12px;
  display: block;
  cursor: pointer;
}

.section .card-container .card-wrapper .discription {
  margin-top: auto;
}

.section .card-container .card-wrapper .discription .dis-choosen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  line-height: 0;
  height: 14px;
}

.section .card-container .card-wrapper .discription .dis-choosen .dis-investor {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section .card-container .card-wrapper .discription .dis-choosen .dis-investor .person {
  width: 16px;
  height: 16px;
}

.section .card-container .card-wrapper .discription .dis-choosen .dis-investor .investor-txt {
  font-size: var(--body-xsmall-medium-size);
  line-height: var(--body-xsmall-medium-line-height);
  color: var(--text-body-2);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .discription .dis-choosen .dis-investor .investor-txt {
    font-size: var(--body-xsmall-medium-size);
    line-height: var(--body-xsmall-medium-line-height);
  }
}

.section .card-container .card-wrapper .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px 8px;
  margin: 24px 0 0;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .button-container {
    gap: var(--spacing-12);
  }
}

.section .card-container .card-wrapper .button-container .card-btn {
  max-width: 48.4%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .button-container .card-btn {
    max-width: 48%;
  }
}

.section .card-container .card-wrapper .button-container .card-btn.know-more {
  padding: var(--spacing-8) var(--spacing-12);
  cursor: pointer;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-size: var(--button-small-size);
  line-height: var(--button-small-line-height);
  color: var(--text-text-link);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .button-container .card-btn.know-more {
    font-size: var(--text-link-small-size);
    line-height: var(--text-link-small-line-height);
    font-weight: 400;
    color: var(--text-button-default);
    text-underline-offset: 20%;
  }
}

.section .card-container .card-wrapper .button-container .card-btn.invest-now {
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  padding: var(--spacing-8) var(--spacing-12);
  text-align: center;
  font-size: var(--button-small-size);
  line-height: var(--button-small-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}

@media (width <= 768px) {
  .section .card-container .card-wrapper .button-container .card-btn.invest-now {
    font-size: 14px;
    line-height: 16px;
  }
}

.section .card-container.nfo-card-container {
  background: linear-gradient(var(--surface-icon-primary-normal), var(--surface-icon-primary-normal)) padding-box, linear-gradient(135deg, var(--card-stroke) 0%, var(--neutrals-white) 50%, var(--card-stroke) 100%) border-box;
}

.section .card-container.nfo-card-container .card-wrapper .card-upper-title .brand-star-wrap .star-wrap .watchlistlabel {
  color: var(--text-white);
}

.section .card-container.nfo-card-container .card-wrapper .card-upper-title .brand-fund-wrap .fund-name-title {
  color: var(--text-white);
}

.section .card-container.nfo-card-container .card-wrapper .card-category {
  align-items: center;
}

.section .card-container.nfo-card-container .card-wrapper .card-category .fundtagging-list-name {
  color: var(--text-white);
}

.section .card-container.nfo-card-container .card-wrapper .card-category .fundtagging-list-name::before {
  background-color: var(--text-white);
}

.section .card-container.nfo-card-container .card-wrapper .card-category .planlist-dropdown {
  max-width: max-content;
}

.section .card-container.nfo-card-container .card-wrapper .card-category .planlist-dropdown p {
  color: var(--text-white);
}

.section .card-container.nfo-card-container .card-wrapper .card-category .dis-investor {
  max-width: 20px;
  width: 100%;
  height: 20px;
  margin-left: 2px;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .banner-container {
  width: 100%;
  height: 74px;
  position: relative;
  border-radius: 12px;
  border: 0 solid var(--neutrals-200);
  background: var(--neutrals-50);
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 4%);
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .banner-container::before {
  content: "";
  background: linear-gradient(270deg, rgb(81 101 25 / 0%) 21.43%, rgb(48 57 23 / 40%) 100%);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px 0 0 12px;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .banner-container .nfo-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .banner-container span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 13px 12px;
  display: flex;
  align-items: end;
  max-width: 114px;
  width: 100%;
  height: 100%;
  font-size: var(--body-large-semibold-size);
  line-height: var(--body-large-semibold-line-height);
  color: var(--neutrals-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}

@media (width <= 768px) {
  .section .card-container.nfo-card-container .card-wrapper .banner-timing-container .banner-container span {
    font-size: var(--body-large-semibold-size);
    line-height: var(--body-large-semibold-line-height);
  }
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding-top: 24px;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value .timing-container .timing-text {
  font-size: var(--body-xsmall-medium-size);
  line-height: var(--body-xsmall-medium-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  display: flex;
  gap: 4px;
  align-items: center;
}

@media (width <= 768px) {
  .section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value .timing-container .timing-text {
    font-size: var(--body-xsmall-medium-size);
    line-height: var(--body-xsmall-medium-line-height);
  }
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value .timing-container .timing-text::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--strokes-error);
  display: block;
  border-radius: 50%;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value .dis-investor {
  max-width: 20px;
  width: 100%;
  height: 20px;
  display: flex;
}

.section .card-container.nfo-card-container .card-wrapper .banner-timing-container .timing-nfo-value .dis-investor .riskfactor-icon {
  width: 100%;
  height: 100%;
}

.section .card-container.nfo-card-container .card-wrapper .button-container {
  margin: 24px 0 0;
}

.section .card-container.nfo-card-container .card-wrapper .button-container .know-more {
  color: var(--neutrals-white);
}

.section .card-container.nfo-card-container .card-wrapper .button-container .invest-now {
  background-color: var(--neutrals-white);
  color: var(--blue-1-800-primary);
}

.section.fund-tab.tabs-container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 64px;
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container {
    padding: 40px 0 49px;
  }
}

.section.fund-tab.tabs-container .default-content-wrapper h1 {
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0 0 20px;
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container .default-content-wrapper h1 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
    margin: 0 0 24px;
  }
}

.section.fund-tab.tabs-container .tabs-wrapper {
  margin: 0 auto;
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist .tabs-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: max-content;
  margin-right: -16px;
  overflow: auto hidden;
  scrollbar-width: none;
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist .tabs-list::-webkit-scrollbar {
  display: none;
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist .tabs-list .tabs-tab {
  border: none;
  background-color: transparent;
  padding: var(--spacing-11) var(--spacing-none);
  cursor: pointer;
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist .tabs-list .tabs-tab[aria-selected="true"] {
  font-size: var(--body-small-semibold-size);
  line-height: var(--body-small-semibold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  border-bottom: 2px solid var(--blue-1-800-primary);
}

.section.fund-tab.tabs-container .tabs-wrapper .wrappertablist .tabs-list .tabs-tab:last-of-type {
  padding-right: 16px;
}

.section.fund-tab.tabs-container .tabs-wrapper .tabs-panel {
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 0 0;
  border: none;
  overflow: unset;
  margin: 0;
}

@media (width <= 1299px) {
  .section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container {
    max-width: 31.8%;
  }
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container {
    max-width: 100%;
  }
}

.section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container .dropdown-list {
  max-height: 155px;
}

.section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container .dropdown-list::-webkit-scrollbar {
  width: 3px;
  background-color: #464343;
}

.section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container .dropdown-list::-webkit-scrollbar-track {
  width: 3px;
  background-color: #fff;
  border-radius: 0 1px 1px 0;
}

.section.fund-tab.tabs-container .tabs-wrapper .tabs-panel .card-container .dropdown-list::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #464343;
}

.section.fund-tab.tabs-container .btndesk,
.section.fund-tab.tabs-container .btnmob {
  margin: 0;
  padding: 0;
  line-height: 0;
  max-width: 120px;
  width: 100%;
  background-color: transparent;
  border-radius: var(--border-radius-8);
  border: none;
}

.section.fund-tab.tabs-container .btndesk a,
.section.fund-tab.tabs-container .btnmob a {
  border-radius: var(--border-radius-8);
  border: 1px solid var(--button-primary-default);
  width: 100%;
  background-color: transparent;
  padding: var(--spacing-8) var(--spacing-12);
  font-size: var(--button-small-size);
  line-height: var(--button-small-line-height);
  color: var(--text-button-default);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  text-decoration: none;
  display: block;
  margin: 0;
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container .btndesk a,
  .section.fund-tab.tabs-container .btnmob a {
    font-size: 14px;
    line-height: 16px;
    height: 32px;
  }
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container .btndesk,
  .section.fund-tab.tabs-container .btnmob {
    display: none;
    margin: 40px auto 0;
  }
}

.section.fund-tab.tabs-container .btnmob {
  display: none;
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container .btnmob {
    display: block;
    max-width: 160px;
    width: 100%;
  }
}

.section.fund-tab.tabs-container.our-popular-funds {
  background: var(--blue-1-800-primary);
  max-width: 100%;
  padding: 66px 0;
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container.our-popular-funds {
    padding: var(--spacing-40) 0;
  }
}

.section.fund-tab.tabs-container.our-popular-funds .default-content-wrapper,
.section.fund-tab.tabs-container.our-popular-funds .tabs-wrapper {
  width: 100%;
  margin: 0 auto;
}

.section.fund-tab.tabs-container.our-popular-funds .default-content-wrapper .wrappertablist .tabs-list .tabs-tab,
.section.fund-tab.tabs-container.our-popular-funds .tabs-wrapper .wrappertablist .tabs-list .tabs-tab {
  color: var(--blue-1-200);
}

.section.fund-tab.tabs-container.our-popular-funds .default-content-wrapper .wrappertablist .tabs-list .tabs-tab[aria-selected="true"],
.section.fund-tab.tabs-container.our-popular-funds .tabs-wrapper .wrappertablist .tabs-list .tabs-tab[aria-selected="true"] {
  border-bottom: 2px solid var(--neutrals-white);
  color: var(--neutrals-white);
}

.section.fund-tab.tabs-container.our-popular-funds .default-content-wrapper h1 {
  color: var(--neutrals-white);
  margin: 0 0 8px;
}

.section.fund-tab.tabs-container.our-popular-funds .btnmob,
.section.fund-tab.tabs-container.our-popular-funds .btndesk {
  border-radius: var(--border-radius-4);
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container.our-popular-funds .btnmob,
  .section.fund-tab.tabs-container.our-popular-funds .btndesk {
    border-radius: 8px;
    max-width: 160px;
    width: 100%;
    height: 32px;
  }
}

.section.fund-tab.tabs-container.our-popular-funds .btnmob a,
.section.fund-tab.tabs-container.our-popular-funds .btndesk a {
  border-radius: var(--border-radius-4);
  border: 1px solid var(--neutrals-white);
  color: var(--neutrals-white);
}

@media (width <= 768px) {
  .section.fund-tab.tabs-container.our-popular-funds .btnmob a,
  .section.fund-tab.tabs-container.our-popular-funds .btndesk a {
    border-radius: var(--border-radius-8);
    font-size: 14px;
    line-height: var(--button-small-line-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}