@import "../../../styles/fonts.css";
.sr-only {
  position: absolute;
  border-width: 0;
}

.footer-wrapper {
  position: relative;
}
.footer-wrapper .footer {
  background-color: #2e2a94;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding: 60px 24px 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .footer-wrapper .footer {
    padding: 60px 0 0;
  }
}
.footer-wrapper .footer a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
  background: transparent;
  margin: 0;
  border: none;
  border-radius: unset;
  white-space: unset;
  padding: 0;
  line-height: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.footer-wrapper .footer a:hover {
  text-decoration-line: underline;
  opacity: 1 !important;
  color: #fff;
}
.footer-wrapper .footer ul,
.footer-wrapper .footer li,
.footer-wrapper .footer p {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1rem;
}
.footer-wrapper .footer .footer-container1 {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: center;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont1 img {
  max-width: 140px;
  height: 100%;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22.79px;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont2 li .icon {
  width: 20px;
  height: 20px;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 {
  display: none;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content1 {
  display: none;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content2,
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  background: transparent;
  padding: 0;
  border-radius: 8px;
  min-height: 38px;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content2 ul,
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content3 ul {
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content2 ul li:last-child,
.footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont3 .section-content3 ul li:last-child {
  font-size: 16px;
  font-weight: 500;
}
.footer-wrapper .footer .footer-section2 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 {
  text-align: left;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 .footer-sub-cont1 {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  padding-bottom: 24px;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper {
  position: relative;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper.email-wrapper {
  flex-grow: 1;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper.email-wrapper label {
  position: absolute;
  top: -7px;
  left: 8px;
  display: flex;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  background: #2E2A94;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper.email-wrapper input {
  width: 100%;
  min-width: 240px;
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  height: 40px;
  color: rgba(255, 255, 255, 0.5019607843);
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: 1px solid #BDBDBD;
  background: transparent;
}
.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper.submit-btn .button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  color: #2E2A94;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  border-radius: 4px;
  background: #FFF;
  margin: 0;
  height: 40px;
  border: none;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item {
  display: flex;
  flex-direction: column;
  border: none;
  background: transparent;
  padding-top: 24px;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item.section-content1 {
  padding: 0;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  padding: 0;
  cursor: default;
  background: transparent;
  overflow: initial;
  border: none;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-label p {
  width: 100%;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-label::after {
  content: "";
  position: unset;
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../../icons/direction-down-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: transform 0.3s ease;
  transform: rotate(0);
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-body {
  background: transparent;
  border: none;
  padding: 0;
  padding-bottom: 24px;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-body ul.list-inneritem-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-body ul.list-inneritem-1 li {
  padding: 0;
  color: #FFF;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item .accordion-item-body ul.list-inneritem-1 li a {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  opacity: 0.8;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item[open] .accordion-item-body {
  padding-top: 12px;
  padding-bottom: 0;
}
.footer-wrapper .footer .footer-section2 .accordion-wrapper .accordion-item[open] .accordion-item-label::after {
  transform: rotate(180deg);
}
.footer-wrapper .footer .footer-section2 .footer-sub3 {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  padding: 0 20px;
  margin-bottom: 24px;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content1 {
  display: none;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content2,
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content3 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content2 p.list-items1 a.list-inneritem-1,
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content3 p.list-items1 a.list-inneritem-1 {
  display: flex;
  align-items: center;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content2 p.list-items1 a.list-inneritem-1 span,
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content3 p.list-items1 a.list-inneritem-1 span {
  width: 21px;
  height: 24px;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content2 .list-items2 li.item-list a.item-anchor,
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content3 .list-items2 li.item-list a.item-anchor {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content2 .list-items2 li:last-child a,
.footer-wrapper .footer .footer-section2 .footer-sub3 .footer-sub-cont1 .section-content3 .list-items2 li:last-child a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}
.footer-wrapper .footer .footer-section3 {
  background: #242177;
  position: relative;
  z-index: 1;
  padding: 16px 0;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont1 {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 32px;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 li a.list-items1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 li a.list-items1 span.list-inneritem-1 {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 0 1.334px 2px 1.333px;
  justify-content: center;
  align-items: center;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 .section-content1 {
  order: 1;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 .section-content2 {
  order: 3;
}
.footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont2 .section-content3 {
  order: 2;
}
.footer-wrapper .footer .footer-section3 .footer-sub1::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: #242177;
  z-index: -1;
}
.footer-wrapper .footer .footer-section3 .footer-sub1::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #242177;
  z-index: -1;
}
@media (width >= 900px) {
  .footer-wrapper .footer .footer-container1 {
    display: grid;
    grid-template-areas: "info links" "contact contact";
    grid-template-columns: 12.3% 76.3%;
    row-gap: 60px;
    justify-content: space-between;
    padding: 0;
  }
  .footer-wrapper .footer .footer-section1 {
    grid-area: info;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 {
    height: 100%;
    align-items: flex-start;
    text-align: left;
    gap: 32px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-cont1 img {
    max-width: 151px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont2 {
    justify-content: flex-start;
    gap: 16px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont2 li .icon {
    width: 16px;
    height: 16px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content1 {
    display: block;
    padding-bottom: 18px;
    line-height: 0;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content1 p {
    margin: 0;
    padding: 0;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content1 p span {
    width: 86px;
    height: 86px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content2 {
    padding-bottom: 9px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content2 p a,
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content3 p a {
    display: flex;
    align-items: center;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content2 p a span,
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content3 p a span {
    width: 21px;
    height: 24px;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content2 .list-items2 li a,
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content3 .list-items2 li a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
  }
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content2 .list-items2 li:last-child a,
  .footer-wrapper .footer .footer-section1 .footer-sub1 .footer-sub-wrapper .footer-sub-cont3 .section-content3 .list-items2 li:last-child a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
  }
  .footer-wrapper .footer .footer-section2 {
    grid-area: links;
    gap: unset;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 32px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 .footer-sub-cont1 {
    width: 37.3%;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 {
    width: 53.62%;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form .field-wrapper.email-wrapper {
    flex-grow: 1;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form .field-wrapper.email-wrapper label {
    position: absolute;
    top: -7px;
    left: 8px;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    background: #2E2A94;
    display: none;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form .field-wrapper.email-wrapper input {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    height: 40px;
    color: rgba(255, 255, 255, 0.5019607843);
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    border: 1px solid #BDBDBD;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form .field-wrapper.submit-btn .button {
    width: -moz-max-content;
    width: max-content;
    padding: 10px 12px;
    border-radius: 8px;
    gap: 0.5rem;
  }
}
@media (width >= 900px) and (width >= 970px) {
  .footer-wrapper .footer .footer-section2 .footer-sub1 ul.footer-sub-cont2 form .field-wrapper.submit-btn .button {
    padding: 10px 12px;
  }
}
@media (width >= 900px) {
  .footer-wrapper .footer .footer-section2 .footer-sub2 {
    padding-top: 32px;
  }
  .footer-wrapper .footer .footer-section2 .footer-sub3 {
    display: none;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item {
    border: none;
    padding: 0;
    display: block;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item .accordion-item-label::after {
    display: none;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item .accordion-item-body {
    padding-top: 12px;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item .accordion-item-body ul.list-inneritem-1 {
    gap: 8px;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item .accordion-item-body ul.list-inneritem-1 li.list-innerlist {
    opacity: 0.8;
  }
  .footer-wrapper .footer .footer-section2 .accordion-wrapper .footer-sub-cont1 .accordion-item .accordion-item-body ul.list-inneritem-1 li.list-innerlist a {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
  }
  .footer-wrapper .footer .footer-section3 {
    grid-area: contact;
    background: #242177;
    position: relative;
    z-index: 1;
    padding: 0;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 {
    display: flex;
    height: 40px;
    padding: 12px 0;
    align-items: center;
    gap: 131px;
    align-self: stretch;
    flex-direction: unset;
  }
}
@media (width >= 900px) and (width >= 970px) {
  .footer-wrapper .footer .footer-section3 .footer-sub1 {
    gap: 225px;
  }
}
@media (width >= 900px) {
  .footer-wrapper .footer .footer-section3 .footer-sub1 .footer-sub-cont1 {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 {
    flex-direction: row;
    gap: 40px;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 li {
    line-height: 1rem;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 li a.list-items1 {
    gap: 4px;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 li a.list-items1 .icon {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0 0 1.5px;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 .section-content1.footerthr {
    order: unset;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 .section-content.footerthr {
    order: unset;
  }
  .footer-wrapper .footer .footer-section3 .footer-sub1 ul.footer-sub-cont2 .section-content3.footerthr {
    order: unset;
  }
  .footer-wrapper .footer .footer-section3::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 100vw;
    height: 40px;
    background-color: #242177;
    z-index: -1;
  }
  .footer-wrapper .footer .footer-section3::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: #242177;
    z-index: -1;
  }
}
.footer-wrapper .scroll-to-top {
  position: absolute;
  right: 67px;
  top: -28px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: #9DADFE;
  box-shadow: 0 0 13.2px 0 rgba(0, 0, 0, 0.0784313725);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.2s ease;
  z-index: 10;
  margin: 0;
  border: none;
  padding: 0;
  line-height: normal;
  white-space: unset;
}
@media (max-width: 768px) {
  .footer-wrapper .scroll-to-top {
    right: 16px;
  }
}
.footer-wrapper .scroll-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}
.footer-wrapper .scroll-to-top:hover {
  background: #7E97FD;
}
.footer-wrapper .scroll-to-top-icon path {
  stroke-width: 2px;
  stroke: #2E2A94;
}/*# sourceMappingURL=footer.css.map */