@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.sr-only {
    position: absolute;
    border-width: 0;
}

.footer-wrapper {
    position: relative;

    .footer {
        background-color: $primary-blue;
        color: $primary-white;
        font-family: $poppins;
        padding: 60px 24px 0;
        overflow: hidden;

        @include media (mobile) {
            padding: 60px 0 0;
        }

        a {
            color: #fff;
            text-decoration: none;
            transition: opacity 0.3s ease;
            background: transparent;
            margin: 0;
            border: none;
            border-radius: unset;
            white-space: unset;
            padding: 0;
            line-height: 0;
            font-family: $poppins;
            font-weight: 400;

            &:hover {
                text-decoration-line: underline;
                opacity: 1 !important;
                color: #fff;
            }
        }

        ul,
        li,
        p {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 1rem;
        }

        .footer-container1 {
            max-width: 1232px;
            margin: 0 auto;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            row-gap: 36px;
        }

        .footer-section1 .footer-sub1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            text-align: center;

            .footer-sub-cont1 img {
                max-width: 140px;
                height: 100%;
            }

            .footer-sub-cont2 {
                @include flex-center;

                gap: 22.79px;

                li {
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .footer-sub-cont3 {
                display: none;

                .section-content1 {
                    display: none;
                }

                .section-content2,
                .section-content3 {
                    @include flex-center($align: center, $justify: flex-start);

                    gap: 8px;
                    background: transparent;
                    padding: 0;
                    border-radius: map.get($radius, r8);
                    min-height: 38px;

                    ul {
                        text-align: left;

                        @include font-style(12px, 1.2, $primary-white, map.get($font-weights, regular), $poppins);

                        li:last-child {
                            font-size: 16px;
                            font-weight: map.get($font-weights, medium);
                        }
                    }
                }
            }
        }

        // --- Section 2: Newsletter & Accordion ---
        .footer-section2 {
            display: flex;
            flex-direction: column;
            gap: 48px;

            .footer-sub1 {
                text-align: left;

                .footer-sub-cont1 {
                    color: #FFF;
                    font-family: $poppins;
                    font-size: rem(16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: rem(24px);
                    margin: 0;
                    padding-bottom: 24px;
                }

                form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;

                    .field-wrapper {
                        position: relative;

                        &.email-wrapper {
                            flex-grow: 1;

                            label {
                                position: absolute;
                                top: -7px;
                                left: 8px;
                                display: flex;
                                padding: 0 4px;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                overflow: hidden;
                                color: #FFF;
                                text-overflow: ellipsis;
                                font-family: $poppins;
                                font-size: rem(12px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: rem(16px);
                                background: #2E2A94;
                            }

                            input {
                                width: 100%;
                                min-width: 240px;
                                display: flex;
                                padding: 8px 12px;
                                flex-direction: column;
                                justify-content: flex-end;
                                align-items: flex-start;
                                gap: 4px;
                                align-self: stretch;
                                height: 40px;
                                color: #FFFFFF80;
                                font-family: $poppins;
                                font-size: rem(14px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: rem(20px);
                                border-radius: rem(6px);
                                border: 1px solid #BDBDBD;
                                background: transparent;
                                
                                &::placeholder {
                                    color: #fff;
                                }
                            }
                        }

                        &.submit-btn {
                            .button {
                                display: flex;

                                // width: 128px;
                                padding: rem(12px);
                                justify-content: center;
                                align-items: center;
                                color: #2E2A94;
                                text-align: center;
                                font-family: $poppins;
                                font-size: rem(14px);
                                font-style: normal;
                                font-weight: 500;
                                line-height: rem(16px);
                                border-radius: 4px;
                                background: #FFF;
                                margin: 0;
                                height: 40px;
                                border: none;

                            }
                        }
                    }
                }
            }

            .accordion-wrapper {
                .accordion-item {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    background: transparent;
                    padding-top: 24px;

                    &.section-content1 {
                        padding: 0;
                    }

                    .accordion-item-label {
                        @include flex-center($justify: space-between);

                        gap: 10px;
                        margin: 0;
                        padding: 0;
                        cursor: default;
                        background: transparent;
                        overflow: initial;
                        border: none;

                        p {
                            width: 100%;
                            color: #FFF;
                            font-family: $poppins;
                            font-size: rem(12px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: rem(16px);
                        }

                        &::after {
                            content: '';
                            position: unset;
                            display: inline-block;
                            width: 22px;
                            height: 20px;
                            background: url('../../icons/direction-down-footer.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            border: none;
                            transition: transform 0.3s ease;
                            transform: rotate(0);
                        }
                    }

                    .accordion-item-body {
                        // display: block !important;
                        background: transparent;
                        border: none;
                        padding: 0;
                        padding-bottom: 24px;

                        ul.list-inneritem-1 {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            li {
                                padding: 0;
                                color: #FFF;

                                a {
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(16px);
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }

                .accordion-item[open] {
                    // padding-top: 0;

                    .accordion-item-body {
                        padding-top: 12px;
                        padding-bottom: 0;
                    }

                    .accordion-item-label::after {
                        transform: rotate(180deg);
                    }
                }

            }

            .footer-sub3 {
                display: flex;
                gap: map.get($spacing, md);
                align-items: flex-start;
                padding: 0 20px;
                margin-bottom: 24px;

                .footer-sub-cont1 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .section-content1 {
                        display: none;
                    }

                    .section-content2,
                    .section-content3 {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        p.list-items1 {
                            a.list-inneritem-1 {
                                display: flex;
                                align-items: center;

                                span {
                                    width: 21px;
                                    height: 24px;
                                }
                            }
                        }

                        .list-items2 {
                            li.item-list {
                                a.item-anchor {
                                    color: #FFF;
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(16px);
                                }
                            }

                            li:last-child {
                                a {
                                    color: #FFF;
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: rem(16px);
                                }
                            }
                        }
                    }
                }
            }
        }

        // --- Section 3: Contact Info ---
        .footer-section3 {
            background: #242177;
            position: relative;
            z-index: 1;
            padding: 16px 0;

            .footer-sub1 {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .footer-sub-cont1 {
                    color: #FFF;
                    font-family: $poppins;
                    font-size: rem(12px);
                    font-style: normal;
                    font-weight: 600;
                    line-height: rem(16px);
                }

                .footer-sub-cont2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px 32px;

                    li {
                        a.list-items1 {
                            @include flex-center($justify: flex-start);

                            gap: 4px;
                            color: #FFF;
                            font-family: $poppins;
                            font-size: rem(12px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;

                            span.list-inneritem-1 {
                                display: flex;
                                width: 16px;
                                height: 16px;
                                padding: 0 1.334px 2px 1.333px;
                                justify-content: center;
                                align-items: center;
                            }

                        }
                    }

                    .section-content1 {
                        order: 1;
                    }

                    .section-content2 {
                        order: 3;
                    }

                    .section-content3 {
                        order: 2;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vw;
                    background-color: #242177;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vw;
                    background-color: #242177;
                    z-index: -1;
                }
            }
        }

        // .footer-section4 {
        //     position: absolute;
        //     right: 67px;
        //     top: -28px;
        //     width: 56px;
        //     height: 56px;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     flex-direction: column;
        //     gap: 7px;
        //     border-radius: 28px;
        //     background: #9DADFE;
        //     box-shadow: 0 0 13.2px 0 rgba(0, 0, 0, 0.08);

        //     .footer-sub1 {
        //         .footer-sub-cont1 {
        //             .section-content1 {
        //                 &::after {
        //                     content: "";
        //                     position: absolute;
        //                     display: block;
        //                     right: 60px;
        //                     top: -30px;
        //                     width: 56px;
        //                     height: 56px;
        //                     background: url('../../icons/arrow-up-footer.svg');
        //                     background-repeat: no-repeat;
        //                     background-position: center;
        //                     background-size: 100%;

        //                     @include media(mobile) {
        //                         right: 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        // ========================================================================
        // DESKTOP STYLES (>= 900px)
        // ========================================================================
        @media (width >=900px) {
            .footer-container1 {
                display: grid;
                grid-template-areas:
                    "info links"
                    "contact contact";

                // grid-template-columns: minmax(auto, 190px) 1fr;
                grid-template-columns: 12.3% 76.3%;
                row-gap: 60px;
                justify-content: space-between;
                padding: 0;
            }

            // --- Section 1 on Desktop ---
            .footer-section1 {
                grid-area: info;

                .footer-sub1 {
                    height: 100%;
                    align-items: flex-start;
                    text-align: left;
                    gap: map.get($spacing, xl);

                    .footer-sub-cont1 img {
                        max-width: 151px;
                    }

                    .footer-sub-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;

                        .footer-sub-cont2 {
                            justify-content: flex-start;
                            gap: 16px;

                            li {
                                .icon {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }

                        .footer-sub-cont3 {
                            display: flex;
                            flex-direction: column;

                            // gap: map.get($spacing, md);
                            align-items: flex-start;

                            .section-content1{
                                display: block;
                                padding-bottom: 18px;
                                line-height: 0;

                                p {
                                    margin: 0;
                                    padding: 0;

                                    span {
                                        width: 86px;
                                        height: 86px;
                                    }
                                }
                            }

                            .section-content2 {
                                padding-bottom: 9px;
                            }

                            .section-content2,
                            .section-content3 {
                                p {
                                    a {
                                        display: flex;
                                        align-items: center;

                                        span {
                                            width: 21px;
                                            height: 24px;
                                        }
                                    }
                                }

                                .list-items2 {
                                    li {
                                        a {
                                            color: #FFF;
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: rem(16px);
                                        }
                                    }

                                    li:last-child {
                                        a {
                                            color: #FFF;
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 600;
                                            line-height: rem(16px);
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

            // --- Section 2 on Desktop ---
            .footer-section2 {
                grid-area: links;
                gap: unset;

                .footer-sub1 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    padding-bottom: 32px;
                    border-bottom: 2px solid #FFF3;


                    .footer-sub-cont1 {
                        width: 37.3%;
                        color: #FFF;
                        font-family: $poppins;
                        font-size: rem(16px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: rem(24px);
                        margin: 0;
                        padding: 0;
                    }

                    ul.footer-sub-cont2 {
                        width: 53.62%;

                        form {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            gap: 8px;

                            .field-wrapper {
                                &.email-wrapper {
                                    flex-grow: 1;

                                    label {
                                        position: absolute;
                                        top: -7px;
                                        left: 8px;
                                        display: flex;
                                        padding: 0 4px;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 10px;
                                        overflow: hidden;
                                        color: #FFF;
                                        text-overflow: ellipsis;
                                        font-family: $poppins;
                                        font-size: rem(12px);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: rem(16px);
                                        background: #2E2A94;
                                    }

                                    input {
                                        // width: 100%;
                                        display: flex;
                                        padding: 8px 12px;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        align-items: flex-start;
                                        gap: 4px;
                                        align-self: stretch;
                                        height: 40px;
                                        color: #FFFFFF80;
                                        font-family: $poppins;
                                        font-size: rem(14px);
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: rem(20px);
                                        border-radius: rem(6px);
                                        border: 1px solid #BDBDBD;
                                    }
                                }

                                &.submit-btn {
                                    .button {
                                        width: max-content;
                                        padding: 12px 16px;
                                        gap: rem(8px);

                                        @media (width >=970px) {
                                            padding: 12px 28.5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .footer-sub2 {
                    padding-top: 32px;
                }

                .footer-sub3 {
                    display: none;
                }

                .accordion-wrapper {
                    .footer-sub-cont1 {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 40px;

                        .accordion-item {
                            border: none;
                            padding: 0;
                            display: block;

                            .accordion-item-label {
                                // margin: 0;
                                // padding: 0;
                                // cursor: default;
                                // background: transparent;
                                // overflow: initial;

                                &::after {
                                    display: none; // Hide chevron
                                }

                                // p {
                                //     color: #FFF;
                                //     font-family: $poppins;
                                //     font-size: rem(12px);
                                //     font-style: normal;
                                //     font-weight: 600;
                                //     line-height: rem(16px);
                                // }
                            }

                            .accordion-item-body {
                                padding-top: 12px;

                                ul.list-inneritem-1 {
                                    gap: 8px;

                                    li.list-innerlist {
                                        opacity: 0.8;

                                        a {
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: rem(16px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // --- Section 3 on Desktop ---
            .footer-section3 {
                grid-area: contact;
                background: #242177;
                position: relative;
                z-index: 1;
                padding: 0;

                .footer-sub1 {
                    display: flex;
                    height: 40px;
                    padding: 12px 0;
                    align-items: center;
                    gap: 131px;
                    align-self: stretch;
                    flex-direction: unset;

                    @media (width >=970px) {
                        gap: 225px;
                    }

                    .footer-sub-cont1 {
                        color: #FFF;
                        font-family: $poppins;
                        font-size: rem(12px);
                        font-style: normal;
                        font-weight: 600;
                        line-height: rem(16px);
                    }

                    ul.footer-sub-cont2 {
                        flex-direction: row;
                        gap: map.get($spacing, xxl);

                        li {
                            line-height: rem(16px);

                            a.list-items1 {
                                gap: 4px;
                                color: #FFF;
                                font-family: $poppins;
                                font-size: rem(12px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;

                                .icon {
                                    display: flex;
                                    width: 16px;
                                    height: 16px;
                                    padding: 0 0 1.5px;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        .section-content1.footerthr {
                            order: unset;
                        }

                        .section-content.footerthr {
                            order: unset;
                        }

                        .section-content3.footerthr {
                            order: unset;
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0;
                    width: 100vw;
                    height: 40px;
                    background-color: #242177;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 40px;
                    background-color: #242177;
                    z-index: -1;
                }
            }
        }
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     right: 60px;
    //     top: -30px;
    //     width: 56px;
    //     height: 56px;
    //     background: url('../../icons/Back-to-top.svg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: 100%;

    //     @include media(mobile) {
    //         right: 0;
    //     }
    // }


    .scroll-to-top {
        position: absolute;
        right: 67px;
        top: -28px;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        background-color: #9DADFE;
        box-shadow: 0 0 13.2px 0 #00000014;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.2s ease;
        z-index: 10;
        margin: 0;
        border: none;
        padding: 0;
        line-height: normal;
        white-space: unset;

        @include media (mobile) {
            right: 16px;
        }
    }

    .scroll-to-top.visible {
        opacity: 1;
        pointer-events: auto;
    }

    .scroll-to-top:hover {
        background: #7E97FD;
    }

    .scroll-to-top-icon path {
        stroke-width: 2px;
        stroke: #2E2A94;
    }
}