@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.sr-only {
    position: absolute;
    border-width: 0;
}

.footer-wrapper {
    position: relative;

    .footer {
        background-color: $primary-blue;
        color: #FFF;
        color: $primary-white;
        font-family: $poppins;
        padding: 60px 0 0;
        overflow: hidden;

        a {
            color: #fff;
            text-decoration: none;
            transition: opacity 0.3s ease;
            background: transparent;
            margin: 0;
            border: none;
            border-radius: unset;
            white-space: unset;
            padding: 0;
            line-height: normal;
            font-family: $poppins;
            font-weight: 400;

            // &:hover {
            //     opacity: 0.8;
            // }
        }

        ul,
        li,
        p {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 1rem;
        }

        // General container for consistent padding
        .footer-container1 {
            max-width: 1232px;
            margin: 0 auto;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            gap: map.get($spacing, xxl);
        }

        // --- Section 1: Logo, Social, App Stores ---
        .footer-section1 .footer-sub1 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            text-align: center;

            .footer-sub-cont1 img {
                // Logo
                max-width: 151px;
            }

            .footer-sub-cont2 {
                @include flex-center;

                gap: map.get($spacing, lg);

                li {
                    .icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .footer-sub-cont3 {
                display: none;

                .section-content1 {
                    display: none;
                }

                .section-content2,
                .section-content3 {
                    @include flex-center($align: center, $justify: flex-start);

                    gap: map.get($spacing, sm);
                    background: transparent;
                    padding: 0;
                    border-radius: map.get($radius, r8);
                    min-width: 180px;

                    ul {
                        text-align: left;

                        @include font-style(12px, 1.2, $primary-white, map.get($font-weights, regular), $poppins);

                        li:last-child {
                            font-size: 16px;
                            font-weight: map.get($font-weights, medium);
                        }
                    }
                }
            }
        }

        // --- Section 2: Newsletter & Accordion ---
        .footer-section2 {
            display: flex;
            flex-direction: column;
            gap: 48px;

            .footer-sub1 {
                text-align: left;

                .footer-sub-cont1 {
                    color: #FFF;
                    font-family: $poppins;
                    font-size: rem(16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: rem(24px);
                    margin: 0;
                    padding-bottom: 24px;
                }

                form {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;

                    .field-wrapper {
                        position: relative;

                        label {
                            position: absolute;
                            top: -7px;
                            left: 8px;
                            display: flex;
                            padding: 0 4px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            overflow: hidden;
                            color: #FFF;
                            text-overflow: ellipsis;
                            font-family: $poppins;
                            font-size: rem(12px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: rem(16px);
                            background: #2E2A94;
                        }

                        input {
                            width: 100%;
                            min-width: 240px;
                            display: flex;
                            padding: 8px 12px;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: flex-start;
                            gap: 4px;
                            align-self: stretch;
                            height: 40px;
                            color: #FFFFFF80;
                            font-family: $poppins;
                            font-size: rem(14px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: rem(20px);
                            border-radius: rem(6px);
                            border: 1px solid #BDBDBD;
                            background: transparent;
                        }

                        .button {
                            display: flex;

                            // width: 128px;
                            padding: rem(12px);
                            justify-content: center;
                            align-items: center;
                            color: #2E2A94;
                            text-align: center;
                            font-family: $poppins;
                            font-size: rem(14px);
                            font-style: normal;
                            font-weight: 500;
                            line-height: rem(16px);
                            border-radius: 4px;
                            background: #FFF;
                            margin: 0;
                            height: 40px;
                            border: none;

                        }
                    }
                }
            }

            .accordion-wrapper {
                .accordion-item {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    background: transparent;
                    padding-top: 24px;

                    &.section-content1 {
                        padding: 0;
                    }

                    .accordion-item-label {
                        @include flex-center($justify: space-between);

                        margin: 0;
                        padding: 0;
                        cursor: default;
                        background: transparent;
                        overflow: initial;
                        border: none;

                        p {
                            width: 100%;
                            color: #FFF;
                            font-family: $poppins;
                            font-size: rem(12px);
                            font-style: normal;
                            font-weight: 600;
                            line-height: rem(16px);
                        }

                        &::after {
                            content: '';
                            position: unset;
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url('../../icons/direction-down-footer.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            border: none;
                            transition: transform 0.3s ease;
                            transform: rotate(0);
                        }
                    }

                    .accordion-item-body {
                        // display: block !important;
                        background: transparent;
                        border: none;
                        padding: 0;
                        padding-bottom: 24px;

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            /* stylelint-disable-next-line no-descending-specificity */
                            li {
                                padding: 0;
                                color: #FFF;

                                a {
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(16px);
                                }
                            }
                        }
                    }
                }

                .accordion-item[open] {
                    // padding-top: 0;

                    .accordion-item-body {
                        padding-top: 12px;
                        padding-bottom: 0;
                    }

                    .accordion-item-label::after {
                        transform: rotate(180deg);
                    }
                }

            }

            .footer-sub3 {
                display: flex;
                gap: map.get($spacing, md);
                align-items: flex-start;
                padding: 0 20px;
                margin-bottom: 20px;

                .footer-sub-cont1 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .section-content1 {
                        display: none;
                    }

                    .section-content2,
                    .section-content3 {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        p {

                            /* stylelint-disable-next-line no-descending-specificity */
                            a {
                                display: flex;
                                align-items: center;

                                span {
                                    width: 21px;
                                    height: 24px;
                                }
                            }
                        }

                        .list-items2 {
                            li {
                                a {
                                    color: #FFF;
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(16px);
                                }
                            }

                            li:last-child {
                                a {
                                    color: #FFF;
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: rem(16px);
                                }
                            }
                        }
                    }
                }
            }
        }

        // --- Section 3: Contact Info ---
        .footer-section3 {
            background: #242177;
            position: relative;
            z-index: 1;
            padding: 16px 0;

            .footer-sub1 {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .footer-sub-cont1 {
                    color: #FFF;
                    font-family: $poppins;
                    font-size: rem(12px);
                    font-style: normal;
                    font-weight: 600;
                    line-height: rem(16px);
                }

                .footer-sub-cont2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;

                    li {

                        /* stylelint-disable-next-line no-descending-specificity */
                        a {
                            @include flex-center($justify: flex-start);

                            gap: 4px;
                            color: #FFF;
                            font-family: $poppins;
                            font-size: rem(12px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: rem(16px);

                            /* stylelint-disable-next-line no-descending-specificity */
                            span {
                                display: flex;
                                width: 16px;
                                height: 16px;
                                padding: 2px 1.334px 2px 1.333px;
                                justify-content: center;
                                align-items: center;
                            }

                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0;
                    width: 100vw;
                    height: 100vw;
                    background-color: #242177;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vw;
                    background-color: #242177;
                    z-index: -1;
                }
            }
        }

        // ========================================================================
        // DESKTOP STYLES (>= 1025px)
        // ========================================================================
        @media (min-width: #{map.get($breakpoints, tab)}) {
            .footer-container1 {
                display: grid;
                grid-template-areas:
                    "info links"
                    "contact contact";

                // grid-template-columns: minmax(auto, 190px) 1fr;
                grid-template-columns: 12.3% 76.3%;
                gap: 60px 140px;
                padding: 0;
            }

            // --- Section 1 on Desktop ---
            .footer-section1 {
                grid-area: info;

                .footer-sub1 {
                    height: 100%;
                    align-items: flex-start;
                    text-align: left;
                    gap: map.get($spacing, xl);

                    .footer-sub-wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;

                        .footer-sub-cont2 {
                            justify-content: flex-start;
                            gap: 16px;

                            li {
                                .icon {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }

                        .footer-sub-cont3 {
                            display: flex;
                            flex-direction: column;
                            gap: map.get($spacing, md);
                            align-items: flex-start;

                            .section-content1 {
                                display: block;

                                p {
                                    margin: 0;
                                    padding: 0;

                                    span {
                                        width: 86px;
                                        height: 86px;
                                    }
                                }
                            }

                            .section-content2,
                            .section-content3 {
                                p {
                                    a {
                                        display: flex;
                                        align-items: center;

                                        span {
                                            width: 21px;
                                            height: 24px;
                                        }
                                    }
                                }

                                .list-items2 {
                                    li {
                                        a {
                                            color: #FFF;
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: rem(16px);
                                        }
                                    }

                                    li:last-child {
                                        a {
                                            color: #FFF;
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 600;
                                            line-height: rem(16px);
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }

            // --- Section 2 on Desktop ---
            .footer-section2 {
                grid-area: links;
                gap: unset;

                .footer-sub1 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    padding-bottom: 32px;
                    border-bottom: 2px solid #FFF3;


                    .footer-sub-cont1 {
                        width: 37.3%;
                        color: #FFF;
                        font-family: $poppins;
                        font-size: rem(16px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: rem(24px);
                        margin: 0;
                        padding: 0;
                    }

                    /* stylelint-disable-next-line no-descending-specificity */
                    .footer-sub-cont2 {
                        width: 53.62%;

                        form {
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;

                            .field-wrapper {
                                position: relative;
                                flex-grow: 1;

                                label {
                                    position: absolute;
                                    top: -7px;
                                    left: 8px;
                                    display: flex;
                                    padding: 0 4px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    overflow: hidden;
                                    color: #FFF;
                                    text-overflow: ellipsis;
                                    font-family: $poppins;
                                    font-size: rem(12px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(16px);
                                    background: #2E2A94;
                                }

                                input {
                                    width: 368px;
                                    display: flex;
                                    padding: 8px 12px;
                                    flex-direction: column;
                                    justify-content: flex-end;
                                    align-items: flex-start;
                                    gap: 4px;
                                    align-self: stretch;
                                    height: 40px;
                                    color: #FFFFFF80;
                                    font-family: $poppins;
                                    font-size: rem(14px);
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: rem(20px);
                                    border-radius: rem(6px);
                                    border: 1px solid #BDBDBD;
                                }

                                .button {
                                    display: flex;
                                    width: 128px;
                                    padding: rem(12px);
                                    justify-content: center;
                                    align-items: center;
                                    gap: rem(8px);
                                    color: #2E2A94;
                                    text-align: center;
                                    font-family: $poppins;
                                    font-size: rem(14px);
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: rem(16px);
                                    border-radius: 4px;
                                    background: #FFF;
                                    margin: 0;

                                }
                            }
                        }
                    }
                }

                .footer-sub2 {
                    padding-top: 32px;
                }

                .footer-sub3 {
                    display: none;
                }

                .accordion-wrapper {
                    .footer-sub-cont1 {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 40px;

                        .accordion-item {
                            border: none;
                            padding: 0;
                            display: block;

                            .accordion-item-label {
                                // margin: 0;
                                // padding: 0;
                                // cursor: default;
                                // background: transparent;
                                // overflow: initial;

                                &::after {
                                    display: none; // Hide chevron
                                }

                                // p {
                                //     color: #FFF;
                                //     font-family: $poppins;
                                //     font-size: rem(12px);
                                //     font-style: normal;
                                //     font-weight: 600;
                                //     line-height: rem(16px);
                                // }
                            }

                            .accordion-item-body {
                                padding-top: 12px;

                                ul {
                                    li {
                                        opacity: 0.8;

                                        /* stylelint-disable-next-line no-descending-specificity */
                                        a {
                                            font-family: $poppins;
                                            font-size: rem(12px);
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: rem(16px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // --- Section 3 on Desktop ---
            .footer-section3 {
                grid-area: contact;
                background: #242177;
                position: relative;
                z-index: 1;
                padding: 0;

                .footer-sub1 {
                    display: flex;
                    height: 40px;
                    padding: 12px 0;
                    align-items: center;
                    gap: 225px;
                    align-self: stretch;
                    flex-direction: unset;

                    .footer-sub-cont1 {
                        color: #FFF;
                        font-family: $poppins;
                        font-size: rem(12px);
                        font-style: normal;
                        font-weight: 600;
                        line-height: rem(16px);
                    }

                    /* stylelint-disable-next-line no-descending-specificity */
                    .footer-sub-cont2 {
                        flex-direction: row;
                        gap: map.get($spacing, xxl);

                        li {

                            /* stylelint-disable-next-line no-descending-specificity */
                            a {
                                gap: 4px;
                                color: #FFF;
                                font-family: $poppins;
                                font-size: rem(12px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: rem(16px);

                                /* stylelint-disable-next-line no-descending-specificity */
                                .icon {
                                    display: flex;
                                    width: 16px;
                                    height: 16px;
                                    padding: 1.334px 1.333px;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 0;
                    width: 100vw;
                    height: 40px;
                    background-color: #242177;
                    z-index: -1;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 40px;
                    background-color: #242177;
                    z-index: -1;
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        right: 60px;
        top: -30px;
        width: 56px;
        height: 56px;
        background: url('../../icons/Back-to-top.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @include media(mobile) {
            right: 0;
        }
    }
}