@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;
@import "../live-streaming-carousel/live-streaming-carousel";

.section.fund-video-container {
  width: 100%;
  background-color: #2e2a94;
  padding: 40px 16px;
  border-radius: 8px;

  @media (width <= 768px) {
    border-radius: 0;
  }

  //   height: 170px;

  .fund-video-wrapper {
    .fund-video {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (width <= 768px) {
        flex-direction: column;
        gap: 40px;
        align-items: baseline;
      }

      .fundvedmain1 {
        max-width: 288px;

        div {
          p {
            @include font-style(
              22px,
              32px,
              map.get($button-secondary, default),
              600,
              $poppins
            );

            margin: 0;
          }
        }
      }

      .fundvedmain2 {
        position: relative;
        display: flex;
        gap: 24px;

        .fundsubinner {
          .fundvedinnermain1 {
            margin: 0;

            img {
              border-radius: 3.333px;
              opacity: 0.6;
              background: #2e2a94;
              width: 160px;
              height: 90px;
              margin: 0;
            }
          }

          .fundvedinnermain2 {
            position: absolute;
            margin: 0;
            top: 23%;
            left: 11%;

            @media (width <= 768px) {
              left: 15%;
            }

            a {
              margin: 0;
              background: none;

              span {
                width: 16px;
                height: 16px;

                @media (width <= 768px) {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }
        }

        .fundvedsubmain1 {
          p {
            max-width: 255px;
            margin: 10px 0;

            @include font-style(
              14px,
              20px,
              map.get($blue-1, b50),
              400,
              $poppins
            );

            display: flex;
            flex-direction: column;

            strong {
              @include font-style(
                16px,
                20px,
                map.get($button-secondary, default),
                600,
                $poppins
              );
            }

            @media (width <= 768px) {
              font-size: 14px;
              width: 158px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
