/*   alpha-value-notation */

/* media-feature-range-notation */

@use "sass:map";
@use "../styles/common-theme/css/variables_mixins"as *;
@use "../styles/common-theme/css/fluid-typography"as *;
@import '../blocks/moedge-article-details/moedge-article-details.css';




.section.download {
  width: 100%;
  max-width: 100%;
  padding: 40px 0;
  margin: unset !important;

  @media (width <=768px) {
    padding: 40px 16px;
  }

  .default-content-wrapper {
    >p.download-ul1 {
      font-style: normal;
      padding-bottom: 24px;
      margin: unset;

      @include font-style(var(--body-xlarge-bold-size),
        var(--body-xlarge-bold-line-height),
        var(--blue-1-800-primary),
        600,
        var(--body));
    }

    >ul.download-ul2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0;
      padding: 0;

      @media (width <=768px) {
        gap: 24px;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      >li.download-li1,
      >li.download-li2,
      >li.download-li3,
      >li.download-li4,
      >li.download-li5 {
        list-style-type: none;
        height: 48px;

        >ul.download-inner-ul1 {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          align-items: center;

          li.download-first-list1 {
            &:first-child {
              display: flex;
              align-items: center;
              padding: 0 16px 0 0;
              font-style: normal;

              @include font-style(var(--body-medium-medium-size),
                var(--body-medium-medium-line-height),
                var(--blue-1-800-primary),
                500,
                var(--body));

              &:focus-visible {
                outline: 2px solid #2e2a94;
                outline-offset: 4px;
              }
            }
          }

          li.download-first-list2:nth-child(2) {
            cursor: pointer;

            span {
              width: 32px;
              height: 32px;

              @media (width <=768px) {
                width: 24px;
                height: 24px;
              }
            }
          }
        }

        // Icon logic for each list item
        @for $i from 1 through 5 {
          &:nth-child(#{$i})>ul.download-inner-ul1>li.download-first-list1:first-child::before {
            content: "";
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
            background-image: url("../../icons/dow#{$i}.svg");
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 16px;

            // Visually hide if decorative
            // Add role for screen readers if necessary

            @include media(mobile) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

// Download Component End

// Invest Now Scss Start
.investnow {
  @include media(mobile) {
    display: none;
  }

  .default-content-wrapper {
    border-radius: 8px;

    // background: #030C82;
    background-image: url("../../icons/fdp/wealth-purpose-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    // height: 100%;
    display: block;
    height: 192px;
    position: relative;

    p:nth-child(1) {
      position: absolute;
      left: 32px;

      // span {
      //   width: 171px;
      //   height: 156px;
      // }
    }

    p:nth-child(2) {
      position: relative;
      left: 88px;
      top: 66px;
      color: $primary-white;

      /* Desktop/Header/H5 */
      font-family: $butlerpro;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;

      /* 114.286% */
    }

    .button-container {
      position: relative;
      text-align: end;
      bottom: 20px;
      right: 26px;

      .button {
        border-radius: map.get($radius, r8);
        background: $primary-white;
        color: $primary-blue;
        font-family: $poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        /* 114.286% */
      }
    }
  }
}

// Invest Now Scss Start


// WCS Landing Scss Start
.wcs-landing.section.embed-container {
  max-width: 1232px;
  margin: 0 auto;
  margin-top: 16px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 91px;

  @include media(mobile) {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    position: relative;
    margin-bottom: 100px;
  }

  .wcs1 {
    margin-left: 0;
    margin-right: 0;

    .text1 {
      max-width: 504px;
      width: 100%;
      margin-top: 0;
      color: var(--blue-1-800-primary);
      font-family: var(--title);
      font-size: var(--heading-h1-size);
      font-style: normal;
      font-weight: 600;
      line-height: var(--heading-h1-line-height);
      margin-bottom: 12px;

      @include media(mobile) {
        font-size: 28px;
        line-height: var(--sub-header-large-line-height);
      }
    }

    .text2 {
      margin-top: 0;
      max-width: 504px;
      width: 100%;
      color: var(--neutrals-800);
      font-family: var(--body);
      font-size: var(--body-medium-regular-size);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 48px;

      @include media(mobile) {
        margin-bottom: 28px;
      }
    }

    .text3 {
      padding: 0 4px 0 0;

      @include media(mobile) {
        padding: 0 16px 0 20px;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
      }

      .cta1 {
        color: var(--text-white);
        text-align: center;
        font-family: var(--body);
        font-size: var(--button-medium-size);
        font-style: normal;
        font-weight: 500;
        line-height: var(--button-medium-line-height);
        border-radius: var(--border-radius-8);
        background: var(--button-primary-default);
        margin-top: 0;
        padding: 10px 12px;

        @include media(mobile) {
          width: 100%;
          margin: 0 auto 28px;
          border: none;
        }
      }
    }
  }

  .wcs2 {
    display: flex;
    max-width: 607px;
    width: 100%;
    max-height: 341.083px;
    height: 100%;
    margin: 0;
    border-radius: 5.948px;
    overflow: hidden;

    @include media(mobile) {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin: 0 auto 80px;

      //  max-width: 339.441px;
      //  max-height: 190.737px;
    }
  }
}

// WCs Landing Scss End

// common breadcrumbs scss start
.section.breadcrumbs {
  margin: 0;
  padding: 24px 0;


  .breadul {
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 0;


    @media (width <=1279px) {
      padding: 0 24px;
    }

    @include media (mobile) {
      padding: 0 16px;
      overflow-x: auto;
      margin-right: 25px;


    }

    &::-webkit-scrollbar {
      display: none;
    }


    .breadli {
      display: flex;
      align-items: center;
      gap: 8px;

      &:not(:first-child) {
        &::before {
          content: "|";
          max-width: 6px;
          height: 16px;
          display: inline-block;
          color: var(--neutrals-800);
          font-family: var(--body);
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: 16px;
          transform: rotate(6deg);
        }
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--blue-1800-primary, #2E2A94);
        font-feature-settings: var(--font-features-default);
        font-family: var(--body, Inter);
        font-size: var(--label-small-size);
        font-style: normal;
        font-weight: 400;
        line-height: var(--label-small-line-height);
        white-space: nowrap;

        img {
          width: 20px;
          height: 20px;

          @include media (mobile) {
            min-width: 20px;
          }
        }
      }

      &:last-child {
        a {
          color: var(--blue-1800-primary, #2E2A94);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body, Inter);
          font-size: var(--label-small-size);
          font-style: normal;
          font-weight: 400;
          line-height: var(--label-small-line-height);
        }
      }
    }
  }
}

// common breadcrumbs scss End