/*   alpha-value-notation */
/* media-feature-range-notation */
@import "../../../styles/fonts.css";
@import "../blocks/moedge-article-details/moedge-article-details.css";
.section.download {
  width: 100%;
  max-width: 100%;
  padding: 40px 0;
  margin: unset !important;
}
@media (width <= 768px) {
  .section.download {
    padding: 40px 16px;
  }
}
.section.download .default-content-wrapper > p.download-ul1 {
  font-style: normal;
  padding-bottom: 24px;
  margin: unset;
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.download .default-content-wrapper > ul.download-ul2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  /* stylelint-disable-next-line no-descending-specificity */
}
@media (width <= 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 {
    gap: 24px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 {
  list-style-type: none;
  height: 48px;
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1 li.download-first-list1:first-child,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1 li.download-first-list1:first-child,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1 li.download-first-list1:first-child,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1 li.download-first-list1:first-child,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 li.download-first-list1:first-child {
  display: flex;
  align-items: center;
  padding: 0 16px 0 0;
  font-style: normal;
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1 li.download-first-list1:first-child:focus-visible,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1 li.download-first-list1:first-child:focus-visible,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1 li.download-first-list1:first-child:focus-visible,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1 li.download-first-list1:first-child:focus-visible,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 li.download-first-list1:first-child:focus-visible {
  outline: 2px solid #2e2a94;
  outline-offset: 4px;
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1 li.download-first-list2:nth-child(2),
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1 li.download-first-list2:nth-child(2),
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1 li.download-first-list2:nth-child(2),
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1 li.download-first-list2:nth-child(2),
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) {
  cursor: pointer;
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span {
  width: 32px;
  height: 32px;
}
@media (width <= 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5 > ul.download-inner-ul1 li.download-first-list2:nth-child(2) span {
    width: 24px;
    height: 24px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-image: url("../../icons/dow1.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(1) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
    width: 40px;
    height: 40px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-image: url("../../icons/dow2.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(2) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
    width: 40px;
    height: 40px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-image: url("../../icons/dow3.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(3) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
    width: 40px;
    height: 40px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-image: url("../../icons/dow4.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(4) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
    width: 40px;
    height: 40px;
  }
}
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
.section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-image: url("../../icons/dow5.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li1:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li2:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li3:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li4:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before,
  .section.download .default-content-wrapper > ul.download-ul2 > li.download-li5:nth-child(5) > ul.download-inner-ul1 > li.download-first-list1:first-child::before {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .investnow {
    display: none;
  }
}
.investnow .default-content-wrapper {
  border-radius: 8px;
  background-image: url("../../icons/fdp/wealth-purpose-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: block;
  height: 192px;
  position: relative;
}
.investnow .default-content-wrapper p:nth-child(1) {
  position: absolute;
  left: 32px;
}
.investnow .default-content-wrapper p:nth-child(2) {
  position: relative;
  left: 88px;
  top: 66px;
  color: #fff;
  /* Desktop/Header/H5 */
  font-family: "ButlerPro", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 114.286% */
}
.investnow .default-content-wrapper .button-container {
  position: relative;
  text-align: end;
  bottom: 20px;
  right: 26px;
}
.investnow .default-content-wrapper .button-container .button {
  border-radius: 8px;
  background: #fff;
  color: #2e2a94;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 114.286% */
}

.wcs-landing.section.embed-container {
  max-width: 1232px;
  margin: 0 auto;
  margin-top: 16px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 91px;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    position: relative;
    margin-bottom: 100px;
  }
}
.wcs-landing.section.embed-container .wcs1 {
  margin-left: 0;
  margin-right: 0;
}
.wcs-landing.section.embed-container .wcs1 .text1 {
  max-width: 504px;
  width: 100%;
  margin-top: 0;
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-size: var(--heading-h1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h1-line-height);
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs1 .text1 {
    font-size: 28px;
    line-height: var(--sub-header-large-line-height);
  }
}
.wcs-landing.section.embed-container .wcs1 .text2 {
  margin-top: 0;
  max-width: 504px;
  width: 100%;
  color: var(--neutrals-800);
  font-family: var(--body);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs1 .text2 {
    margin-bottom: 12px;
  }
}
.wcs-landing.section.embed-container .wcs1 .text3 {
  padding: 0 4px 0 0;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs1 .text3 {
    padding: 0 16px 0 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }
}
.wcs-landing.section.embed-container .wcs1 .text3 .cta1 {
  color: var(--text-white);
  text-align: center;
  font-family: var(--body);
  font-size: var(--button-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--button-medium-line-height);
  border-radius: var(--border-radius-8);
  background: var(--button-primary-default);
  margin-top: 0;
  padding: 10px 12px;
  border: unset;
  max-width: 336px;
  width: 100%;
  height: 40px;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs1 .text3 .cta1 {
    width: 100%;
    margin: 0 auto 28px;
    border: none;
  }
}
.wcs-landing.section.embed-container .wcs2 {
  display: flex;
  max-width: 607px;
  width: 100%;
  max-height: 341.083px;
  height: 100%;
  margin: 0;
  border-radius: 5.948px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs2 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 0 auto 69px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .wcs-landing.section.embed-container .wcs2 .embed {
    padding-bottom: 28px;
  }
}

.modal.block .modal-content {
  max-height: 100%;
  height: 100%;
  padding: 0;
}

main > .section.previous-studies-tab {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab {
    margin: unset;
  }
}
main > .section.previous-studies-tab .default-content-wrapper {
  padding-top: 16px;
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab .default-content-wrapper {
    padding-top: 24px;
    margin-top: unset;
  }
}
main > .section.previous-studies-tab .default-content-wrapper p {
  color: var(--blue-1-800-primary);
  font-family: var(--title);
  font-size: var(--heading-h1-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h1-line-height);
  margin-top: 63px;
  margin: 0;
  padding-top: 40px;
  margin-top: 16px;
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab .default-content-wrapper p {
    margin: 0px;
    font-size: 28px;
    line-height: var(--sub-header-large-line-height);
    padding-top: unset;
  }
}
main > .section.previous-studies-tab .tabs-wrapper .tabs.block {
  overflow: hidden;
}
main > .section.previous-studies-tab .tabs-wrapper .tabs.block .tabs-panel {
  border: none;
  padding: unset;
}
main > .section.previous-studies-tab .tabs-wrapper .tabs.block .tabs-panel .prev-studies-wrapper.embed-container .default-content-wrapper.annual-wealth-wrap1 {
  padding-top: unset;
}
main > .section.previous-studies-tab .tab-dropdown-wrap {
  position: absolute;
  max-width: 27.85%;
  width: 100%;
  right: 0;
  cursor: pointer;
  top: 8px;
  padding: 71px 0;
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab .tab-dropdown-wrap {
    width: 100%;
    max-width: unset;
    top: unset;
    padding: 32px 14.5px 0;
  }
}
main > .section.previous-studies-tab .tab-dropdown-wrap .selected-tab {
  margin: 0;
  color: #2e2a94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  padding: var(--spacing-8) var(--spacing-12);
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab .tab-dropdown-wrap .selected-tab {
    height: 40px;
  }
}
main > .section.previous-studies-tab .tab-dropdown-wrap .selected-tab::after {
  content: "";
  background: url("../icons/arrow-down-black.svg") center center no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
main > .section.previous-studies-tab .tab-dropdown-wrap .tab-droplist {
  position: absolute;
  right: 0;
  flex-direction: column;
  width: 100%;
  display: none;
  margin: 6px 0 0;
  z-index: 10;
}
@media (max-width: 768px) {
  main > .section.previous-studies-tab .tab-dropdown-wrap .tab-droplist {
    width: 100%;
    padding: 0 15px;
    background-color: #fff;
  }
}
main > .section.previous-studies-tab .tab-dropdown-wrap .tab-droplist.active {
  display: flex;
}
main > .section.previous-studies-tab .tab-dropdown-wrap .tab-droplist .tabs-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.prev-studies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 88px;
  padding-top: 64px;
}
@media (max-width: 768px) {
  .prev-studies-wrapper {
    width: 100%;
    gap: 0px;
    padding-top: 74px;
    padding-bottom: 40px;
  }
}

.default-content-wrapper {
  width: 100%;
}
.default-content-wrapper h1,
.default-content-wrapper h2,
.default-content-wrapper h3,
.default-content-wrapper h4,
.default-content-wrapper h5,
.default-content-wrapper h6 {
  color: var(--text-body);
  font-family: var(--title);
  font-size: var(--heading-h6-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h6-line-height);
  margin-bottom: 40px;
  margin: 0px;
}
@media (max-width: 768px) {
  .default-content-wrapper h1,
  .default-content-wrapper h2,
  .default-content-wrapper h3,
  .default-content-wrapper h4,
  .default-content-wrapper h5,
  .default-content-wrapper h6 {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 340px;
    width: 100%;
  }
}
.default-content-wrapper h1 .aw-subctn1.embed-wrapper,
.default-content-wrapper h2 .aw-subctn1.embed-wrapper,
.default-content-wrapper h3 .aw-subctn1.embed-wrapper,
.default-content-wrapper h4 .aw-subctn1.embed-wrapper,
.default-content-wrapper h5 .aw-subctn1.embed-wrapper,
.default-content-wrapper h6 .aw-subctn1.embed-wrapper {
  height: unset;
}
@media (max-width: 768px) {
  .default-content-wrapper h1 .aw-ctn2,
  .default-content-wrapper h2 .aw-ctn2,
  .default-content-wrapper h3 .aw-ctn2,
  .default-content-wrapper h4 .aw-ctn2,
  .default-content-wrapper h5 .aw-ctn2,
  .default-content-wrapper h6 .aw-ctn2 {
    margin-bottom: 44px;
  }
}
.default-content-wrapper .aw-ctn2 {
  max-width: 712px;
  width: 100%;
}
.default-content-wrapper .aw-ctn3 .aw-subctn1 {
  color: var(--neutrals-900);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-medium-semibold-line-height);
}
.default-content-wrapper .aw-ctn3 .aw-subctn2 {
  color: var(--text-body);
  font-family: var(--body);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.prev-main-wrapper {
  display: flex;
  gap: 16px;
}
@media (max-width: 1025px) {
  .prev-main-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 768px) {
  .prev-main-wrapper {
    flex-direction: column;
    gap: 0px;
  }
}
.prev-main-wrapper .prev-sub {
  max-width: 712px;
  width: 100%;
}
@media (max-width: 1025px) {
  .prev-main-wrapper .prev-sub {
    max-width: unset;
  }
}
.prev-main-wrapper .prev-sub .embed-wrapper {
  max-width: 712px;
  width: 100%;
  height: 284px;
}
@media (max-width: 1025px) {
  .prev-main-wrapper .prev-sub .embed-wrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .embed-wrapper {
    height: 160px;
    width: 340px;
    padding: 0;
  }
}
.prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 {
  margin-top: 4px;
  padding-top: unset;
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 {
    margin-top: unset;
  }
}
.prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 p:nth-child(1) {
  color: var(--neutrals-900, #212121);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-medium-semibold-line-height);
  margin-top: 12px;
  padding-top: unset;
}
.prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 p:nth-child(2) {
  color: var(--text-body);
  font-family: var(--body);
  font-size: var(--body-medium-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  padding-top: unset;
}
@media (max-width: 1025px) {
  .prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 p:nth-child(2) {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .default-content-wrapper.aw-subctn2 p:nth-child(2) {
    font-size: var(--body-small-regular-size);
    line-height: var(--label-large-line-height);
    margin-top: 0px;
    margin-bottom: 24px;
  }
}
.prev-main-wrapper .prev-sub .embed {
  color: var(--neutrals-900);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-medium-semibold-line-height);
  margin: 0;
  border-radius: 8px;
}
.prev-main-wrapper .prev-sub .embed div:first-child {
  position: relative;
  margin-top: 2px;
}
.prev-main-wrapper .prev-sub .embed div div:first-child {
  position: static;
}
.prev-main-wrapper .prev-sub .embed div div:first-child p:first-child {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.prev-main-wrapper .prev-sub .embed div div:first-child p:first-child::before {
  content: "";
  background: url(../icons/play-button.svg) center center no-repeat;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  top: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev-main-wrapper .prev-sub .embed div div:first-child p:first-child a {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: transparent;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.prev-main-wrapper .prev-sub .embed div div:first-child p {
  margin: 0px;
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .embed div div:first-child p {
    height: 160px;
  }
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .embed div div:first-child p picture img:last-child {
    height: 158px;
    margin-top: -1px;
  }
}
.prev-main-wrapper .prev-sub .embed {
  background-color: #2c2a96;
}
@media (max-width: 768px) {
  .prev-main-wrapper .prev-sub .embed {
    height: 160px;
  }
}
.prev-main-wrapper .co-branding-wrapper {
  max-width: 504px;
  width: 100%;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper {
    max-width: 100%;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist p:nth-child(1) {
  color: var(--neutrals-900);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-medium-semibold-line-height);
  margin: 0 0 8px 0;
}
.prev-main-wrapper .co-branding-wrapper .comlist p:nth-child(2) {
  color: var(--text-body);
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-large-line-height);
  font-feature-settings: var(--font-features-default);
  max-width: 504px;
  margin: 0 0 24px 0;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist p:nth-child(2) {
    margin: 0 0 33px 0;
    max-width: 100%;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist p:nth-child(3) {
  color: var(--neutrals-900);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  font-style: normal;
  font-weight: 600;
  line-height: var(--body-medium-semibold-line-height);
  font-feature-settings: var(--font-features-default);
  margin: 0 0 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.prev-main-wrapper .co-branding-wrapper .comlist .button-container {
  margin: 0 0 8px;
  line-height: 0;
}
.prev-main-wrapper .co-branding-wrapper .comlist .button-container:last-of-type {
  margin: 0;
}
.prev-main-wrapper .co-branding-wrapper .comlist .button-container a.button {
  color: var(--text-text-link);
  font-family: var(--body);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-small-line-height);
  font-feature-settings: var(--font-features-default);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: 2.8px;
  text-underline-position: from-font;
  background-color: unset;
  padding: 0;
  margin: 0;
  border: none;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  text-align: left;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist .button-container a.button {
    text-underline-offset: 2.4px;
    font-size: 12px;
    line-height: 16px;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 0;
  gap: 16px;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 19px;
    -moz-column-gap: 12px;
         column-gap: 12px;
    margin-top: 33px;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) {
  max-width: 168px;
  width: 100%;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1):nth-child(1) {
    grid-column: 1/-1;
    width: 100%;
    max-width: unset;
    justify-content: center;
    height: 32px;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) .button-container .button {
  border-radius: var(--border-radius-8);
  background: var(--blue-1-800-primary);
  padding: var(--spacing-8) var(--spacing-12);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-size: var(--button-small-size);
  line-height: var(--button-small-line-height);
  color: var(--text-white);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) .button-container .button {
    font-size: 14px;
    line-height: 16px;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) .button-container .button span.icon {
  width: 16px;
  height: 16px;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) .button-container .button span.icon img {
  width: 100%;
  height: 100%;
  margin-right: 8px;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) span {
  width: 16px;
  height: 16px;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(1) span img {
  width: 100%;
  height: 100%;
  margin-right: 8px;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(2) {
    justify-content: center;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(2) .button-container {
  all: unset;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(2) .button-container .button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(2) .button-container .button {
    font-size: var(--paragraph-xsmall-regular-size);
    line-height: var(--paragraph-xsmall-regular-line-height);
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) {
    justify-content: center;
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) p {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--neutrals-700);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) p {
    font-size: var(--paragraph-xsmall-regular-size);
    line-height: var(--paragraph-xsmall-regular-line-height);
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) p span.icon {
  width: 24px;
  height: 24px;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) p span.icon img {
  width: 100%;
  height: 100%;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul {
  position: absolute;
  top: 100%;
  margin: 9px 0 0;
  left: 0;
  display: block;
  border-radius: 6px;
  border: 1px solid var(--neutrals-200);
  box-shadow: 0 0 14px 0 rgba(40, 40, 40, 0.06);
  width: 170px;
  background: var(--neutrals-white);
  height: 80px;
  overflow: auto;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul::-webkit-scrollbar {
  width: 3px;
  background-color: #464343;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul::-webkit-scrollbar-track {
  width: 3px;
  background-color: #fff;
  border-radius: 0 1px 1px 0;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #464343;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul li {
  max-width: unset;
  width: 100%;
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul li a {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  color: var(--text-body);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul li a {
    font-size: var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
  }
}
.prev-main-wrapper .co-branding-wrapper .comlist ul li:nth-child(3) ul li a span.icon {
  width: 24px;
  height: 24px;
}

.section.breadcrumbs {
  margin: 0;
  padding: 24px 0;
}
.section.breadcrumbs .breadul {
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}
@media (width <= 1279px) {
  .section.breadcrumbs .breadul {
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .section.breadcrumbs .breadul {
    padding: 0 16px;
    overflow-x: auto;
    margin-right: 25px;
  }
}
.section.breadcrumbs .breadul::-webkit-scrollbar {
  display: none;
}
.section.breadcrumbs .breadul .breadli {
  display: flex;
  align-items: center;
  gap: 8px;
}
.section.breadcrumbs .breadul .breadli:not(:first-child)::before {
  content: "|";
  min-width: 4.65px;
  height: 15.66px;
  display: inline-block;
  color: var(--neutrals-800);
  font-family: var(--body);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  transform: rotate(6deg);
}
.section.breadcrumbs .breadul .breadli a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue-1800-primary, #2e2a94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--label-small-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-small-line-height);
  white-space: nowrap;
}
.section.breadcrumbs .breadul .breadli a img {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .section.breadcrumbs .breadul .breadli a img {
    min-width: 20px;
  }
}
.section.breadcrumbs .breadul .breadli:last-child a {
  color: var(--blue-1800-primary, #2e2a94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--label-small-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-small-line-height);
}
.section.breadcrumbs.slash-dsp-none li.breadli:nth-child(3) {
  display: none;
}/*# sourceMappingURL=common.css.map */