@import "../../../styles/fonts.css";
@import '../blocks/swiper/swiper-bundle.min.css';
.section.learning-fdp.future-building-container {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .section.learning-fdp.future-building-container {
    padding: 0 0 0 16px;
  }
}
.section.learning-fdp.future-building-container .library-btn1 h4 {
  display: block;
  padding: 0;
  font-size: var(--body-xlarge-bold-size);
  line-height: var(--body-xlarge-bold-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.learning-fdp.future-building-container .library-btn1 h4 {
    font-size: var(--sub-header-large-size);
    line-height: 28px;
    font-family: var(--title);
  }
}
.section.learning-fdp.future-building-container .library-btn2 .future-building .swiper-wrapper .swiper-slide .swiper-slide-cards-2 ul.cards-listcards1 li.card-list {
  font-size: 14px;
  line-height: 20px;
}
.section.learning-fdp.future-building-container .library-btn2 .future-building .btn-wrapper {
  top: 2%;
  z-index: 1;
}
.section.learning-fdp.future-building-container .library-btn3 {
  display: flex;
  position: unset;
  margin-top: 48px;
}
@media (max-width: 768px) {
  .section.learning-fdp.future-building-container .library-btn3 {
    padding: unset;
    margin-top: 24px;
  }
}
@media (max-width: 768px) {
  .section.learning-fdp.future-building-container .library-btn3 .button-container.libr-btn-p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section.learning-fdp.future-building-container .library-btn3 .button-container.libr-btn-p a.libr-btn-a {
    width: 100%;
  }
}

.section.quick-actions {
  margin: 40px 0;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 {
    margin-top: unset;
  }
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist {
  display: flex;
  max-width: 100%;
  flex: 0 0 100%;
  gap: 16px;
  text-align: center;
  white-space: nowrap;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .quckaqweactmain1 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .quckaqweactmain2 {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-medium-medium-size);
  line-height: var(--body-medium-medium-line-height);
  color: var(--blue-1-800-primary);
  font-family: var(--body);
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .quckaqweactmain2 .quckaqweactmain1 {
  display: flex;
  width: 24px;
  height: 24px;
}
.section.quick-actions .quckactmain1 .quckactmain-sub1 .quicksubactmain1 {
  color: #2e2a94;
  font-family: var(--title);
  font-weight: 600;
  font-size: var(--sub-header-large-size);
  font-style: normal;
  line-height: var(--sub-header-medium-line-height);
  margin-top: 0;
  margin-bottom: 0;
}
@media (width >= 768px) {
  .section.quick-actions .quckactmain1 .quckactmain-sub1 {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 {
    display: flex;
    align-items: center;
    flex-direction: unset;
    gap: 72px;
    align-self: stretch;
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    flex-direction: unset;
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--blue-1-800-primary);
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .quckaqweactmain2 {
    font-size: var(--body-medium-medium-size);
    line-height: var(--body-medium-medium-line-height);
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .quckaqweactmain2 .icon {
    display: none;
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quckactmain-sub-wrp1 .quicksubactmain2 li.quicksubactlist .icon.quckaqweactmain1 {
    width: 40px;
    height: 40px;
  }
  .section.quick-actions .quckactmain1 .quckactmain-sub1 .quicksubactmain1 {
    margin: 0;
    padding: 0;
    color: #2e2a94;
    font-family: "Inter", sans-serif, sans-serif;
    font-weight: 600;
    font-size: var(--body-xlarge-bold-size);
    line-height: var(--body-xlarge-bold-line-height);
    white-space: nowrap;
    font-size: var(--body-xlarge-bold-size);
    line-height: var(--body-xlarge-bold-line-height);
    color: var(--blue-1-800-primary);
    font-family: var(--body);
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
}

.section.watchlist-block-container {
  padding: 43px 32px;
  background: #fff;
  font-family: Inter, sans-serif;
}
@media (max-width: 768px) {
  .section.watchlist-block-container {
    padding: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;
  padding-right: 48px;
  gap: 16px;
  position: relative;
}
@media (max-width: 1025px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper {
    flex-direction: column;
    gap: 24px;
    padding: 0;
    position: relative;
    padding-bottom: 68px;
    margin: 47px 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left {
  max-width: 504px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 31px 0;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left {
    padding: 0;
    max-width: 100%;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title {
    gap: 8px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .watchlist-logo {
  width: 64px;
  height: 64px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .watchlist-logo {
    width: 48px;
    height: 48px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper {
  display: flex;
  flex-direction: column;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2.card-title,
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2.card-title-1 {
  font-size: 32px;
  line-height: 40px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2.card-title,
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .card-left-title .titlewrapper h2.card-title-1 {
    font-size: 24px;
    line-height: 28px;
    color: #2e2a94;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container.watchlist-inneritems3 {
  margin: 0;
  padding: 0;
  margin-left: 80px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container.watchlist-inneritems3 {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container.watchlist-inneritems3 .button {
  margin: 0;
  text-decoration: none;
  display: inline-block;
  display: flex;
  width: 100%;
  max-width: 328px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #2e2a94;
  transition: background 0.3s ease;
  border: none;
  white-space: unset;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container.watchlist-inneritems3 .button {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
    max-width: 100%;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-left .button-wrapper .button-container.watchlist-inneritems3 .button:hover {
  background: #1f1f47;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner {
  max-width: 42.57%;
  width: 100%;
  position: relative;
  flex: 1;
  padding: 1px 0 10px;
}
@media (max-width: 1025px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner {
    max-width: 100%;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before, .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 8px;
  border: 0.783px solid #b9bbff;
  background: #fff;
  box-shadow: 0 0 12.523px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before, .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
    top: 28px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::before {
  max-width: 92.1%;
  width: 100%;
  height: 40px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
  max-width: 83.73%;
  width: 100%;
  height: 40px;
  top: 1px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 0.713px solid #b9bbff;
  box-shadow: 0 0 11.405px 0 rgba(0, 0, 0, 0.06);
  z-index: 1;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner::after {
    top: 15px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right {
  position: relative;
  background: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 13.514px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border: 0.845px solid #b9bbff;
  z-index: 3;
  width: 100%;
  padding: 24px;
  margin-top: 43px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right {
    padding: 16px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo {
  width: 60px;
  height: 60px;
  background-color: #BDCBFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo {
    width: 40px;
    height: 40px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo img {
  width: 45px;
  height: auto;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .fund-logo img {
    width: 30px;
    height: auto;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon .risk-meter-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon .risk-meter-icon {
    width: 24px;
    height: 24px;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon .risk-meter-icon .riskfactor-icon {
  width: 100%;
  height: 100%;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:first-child .icon {
  width: 20px;
  height: 20px;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:first-child .icon img {
  width: 100%;
  height: 100%;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .upper-right .wishlist-icon ul li:nth-child(2) {
  display: none;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right {
    margin-top: 5px;
    align-items: start;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card {
  max-width: 303px;
  width: 100%;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card {
    padding: 0;
    max-width: 67%;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card .brand-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #5659FA;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card .fund-name {
  text-wrap: balance;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-name-card .fund-name {
    font-size: 12px;
    line-height: 14px;
    color: #2e2a94;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns-text {
  margin: 0;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #424242;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns-text {
    font-size: 12px;
    line-height: 16px;
    color: #424242;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 400;
  }
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns .returns-percent,
.section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns .returns-percentage {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
@media (max-width: 768px) {
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns .returns-percent,
  .section.watchlist-block-container .watchlist-block.block .card-wrapper .card-coner .card-right .lower-right .fund-returns .returns .returns-percentage {
    font-size: 14px;
    line-height: 16px;
    color: #2e2a94;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
}

.section.welcome-component {
  width: 100%;
  background-color: #fff;
}
.section.welcome-component .welcomemain1 {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .section.welcome-component .welcomemain1 {
    padding-bottom: 86px;
  }
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 {
  list-style: none;
  margin: 0;
  width: 100%;
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp1 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 600;
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp2 {
  font-size: 16px;
  line-height: 20px;
  color: #2e2a94;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  margin-bottom: 8px;
  font-style: normal;
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp3 {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: #424242;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 400;
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp4 {
  position: absolute;
  bottom: 2px;
}
.section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp4 .welcomeactmain1 {
  display: flex;
  width: 330px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
  font-weight: 500;
  border-radius: 8px;
  background: #2e2a94;
  text-align: center;
}
@media (max-width: 768px) {
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp4 .welcomeactmain1 {
    width: 340px;
  }
}
.section.welcome-component .welcomemain1 .welcomemain-sub2 {
  display: none;
}
.section.welcome-component .welcomemain1 .welcomemain-sub2 .welcomeactmain4 {
  width: 100%;
  height: 100%;
}
.section.welcome-component .welcomemain1 .welcomemain-sub3 {
  width: 100%;
  height: 226px;
  margin: 0;
}
.section.welcome-component .welcomemain1 .welcomemain-sub3 .welcomemain-sub-wrp1 {
  line-height: 0;
  height: 100%;
  display: block;
}
.section.welcome-component .welcomemain1 .welcomemain-sub3 .welcomemain-sub-wrp1 .welcomeactmain4 {
  width: 100%;
  height: 100%;
}
@media (width >= 768px) {
  .section.welcome-component .welcomemain1 {
    width: 100%;
    justify-content: space-between;
    flex-direction: unset;
    gap: unset;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 {
    list-style: none;
    width: 32.5%;
    margin: 0;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp1 {
    font-size: 32px;
    line-height: 40px;
    color: #2e2a94;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 600;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp2 {
    margin-bottom: 8px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2e2a94;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp3 {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 400;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp4 {
    position: unset;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub1 .welcomemain-sub-wrp4 .welcomeactmain1 {
    display: flex;
    width: 100%;
    max-width: 256px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #2e2a94;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss01" on, "ss04" on, "cv01" on, "cv02" on, "cv03" on, "cv04" on, "cv06" on, "cv09" on, "cv10" on, "cv11" on;
    font-weight: 500;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub2 {
    width: 57.8%;
    height: 381px;
    margin: 0;
    padding: 0;
    display: block;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub2 .welcomeactmain4 {
    width: 100%;
    height: 100%;
  }
  .section.welcome-component .welcomemain1 .welcomemain-sub3 {
    display: none;
  }
}/*# sourceMappingURL=lazy-styles.css.map */

/* Wealth Page - Media Coverage Start */
.maintab .tabs-panel .section.media-coverage.embed-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 0 40px;
}

.section.media-coverage.embed-container .default-content-wrapper {
  width: 100%;
}

.section.media-coverage.embed-container .default-content-wrapper .embed-inner1 {
  margin: 0 0 24px;
  color: var(--text-body);
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h6-size);
  line-height: var(--heading-h6-line-height);
  font-weight: 600;
}

.section.media-coverage.embed-container .embed-wrapper {
  max-width: 32.468%;
  width: 100%;
  height: 220px;
  padding: 0;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1,
.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2 {
  position: relative;
  width: 100%
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .comlist,
.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner1 .button {
  margin: 0;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner1 {
  position: absolute;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner1,
.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner1 .button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  color: transparent;
  z-index: 10;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2::before {
  content: '';
  background: linear-gradient(0deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 30%) 100%);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2::after {
  content: '';
  background-image: url('../icons/play-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2 picture {
  line-height: 0;
  height: 100%;
  display: block;
}

.section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2 picture img {
  border-radius: 8px;
}

main>.section.media-coverage {
  margin: 40px auto 28px;
}

main.nfo-nav>.section.media-coverage {
  margin: 60px auto 28px;
}

main>.section.media-coverage .default-content-wrapper h1,
main>.section.media-coverage .default-content-wrapper h2,
main>.section.media-coverage .default-content-wrapper h3,
main>.section.media-coverage .default-content-wrapper h4,
main>.section.media-coverage .default-content-wrapper h5,
main>.section.media-coverage .default-content-wrapper h6 {
  color: var(--blue-1-800-primary);
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-line-height);
  font-weight: 600;
  margin: 0;
}

.maintab {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 16px;
}

.maintab>.tab-dropdown-wrap {
  position: absolute;
  right: 16px;
  top: -4px;
  max-width: 26.899%;
  width: 100%;
  cursor: pointer;
  margin: 0 0 0 24px;
}

.maintab>.tab-dropdown-wrap .selected-tab {
  color: var(--blue-1-800-primary);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-8);
  border: var(--border-width-01) solid var(--strokes-default);
  padding: var(--spacing-8) var(--spacing-12);
  margin: 0;
  height: 40px;
}

.maintab>.tab-dropdown-wrap .selected-tab::after {
  content: '';
  background: url('../icons/arrow-black-down.svg') no-repeat center center;
  width: 24px;
  height: 24px;
  display: block;
  transition: all 0.3s;
}

.maintab>.tab-dropdown-wrap .tab-droplist {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  width: 100%;
  z-index: 5;
  display: none;
}

.maintab>.tab-dropdown-wrap.active .selected-tab::after {
  transform: rotate(180deg);
}

.maintab>.tab-dropdown-wrap.active .tab-droplist {
  display: block;
}

.maintab>.tab-dropdown-wrap .tabs-list {
  /* display: flex;
    align-items: center;
    gap: 70px; */
  flex-direction: column;
  /* background-color: red; */
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  gap: 15px;
  padding: 10px;
  border-radius: 8px;
}

.maintab>.tab-dropdown-wrap .tabs-list .tabs-tab {
  color: var(--neutrals-600);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--label-large-size);
  line-height: var(--label-large-line-height);
  font-weight: 400;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.maintab>.tab-dropdown-wrap .tabs-list .tabs-tab[aria-selected='true'] {
  color: var(--blue-1-800-primary);
  font-size: var(--body-medium-semibold-size);
  line-height: var(--body-medium-semibold-line-height);
  font-weight: 600;
}

.maintab>.tabs-panel {
  padding: 0;
  border: none;
  margin: 0;
}

.maintab>.tabs-panel[aria-hidden='true'] {
  display: none;
}

.maintab>.tabs-panel[aria-hidden='false'] .section.media-coverage {
  display: flex;
}

.maintab>.tabs-panel .innerdiv .tabs-list {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 70.22%;
  width: 100%;
  overflow: auto hidden;
  scrollbar-width: none;
  margin: 0 0 40px;
}

.maintab>.tabs-panel .innerdiv .tabs-list::-webkit-scrollbar {
  display: none;
}

.maintab>.tabs-panel .innerdiv .tabs-list .tabs-tab {
  padding: var(--spacing-8) var(--spacing-12);
  border-radius: var(--border-radius-circle);
  border: var(--border-width-01) solid var(--strokes-disabled);
  background: var(--surface-disabled);
  cursor: pointer;
  min-width: 104px;
  color: var(--text-body);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-regular-size);
  line-height: var(--body-small-regular-line-height);
  font-weight: 400;
  text-align: center;
}

.maintab>.tabs-panel .innerdiv .tabs-list .tabs-tab[aria-selected='true'] {
  border: var(--border-width-01) solid var(--strokes-selected);
  background: var(--surface-selected);
  color: var(--text-button-default);
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  font-weight: 500;
}

.maintab>.tabs-panel .innerdiv .tabs-panel {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  scrollbar-width: none;
}

.maintab>.tabs-panel .innerdiv .tabs-panel::-webkit-scrollbar {
  display: none;
}

/* .maintab>.tabs-panel .innerdiv .tabs-panel .section.media-coverage .default-content-wrapper {
    display: none;
} */

/* .maintab>.tabs-panel .innerdiv .tabs-panel .coverage-print ul,
.maintab>.tabs-panel .innerdiv .tabs-panel .coverage-digital ul {
    display: none !important;
} */

/* .maintab>.tabs-panel .innerdiv .tabs-panel .section.media-coverage {
    margin: 0;
} */

/* Table start */
.maintab>.tabs-panel .innerdiv .tabs-panel .section.coverage-table-panel {
  margin: 0 0 12px;
}

.maintab>.tabs-panel .innerdiv .tabs-panel .coverage-table-container .studytab-title {
  margin: 0 0 24px;
  color: var(--text-body);
  font-feature-settings: var(--font-features-default);
  font-family: var(--title);
  font-size: var(--heading-h6-size);
  line-height: var(--heading-h6-line-height);
  font-weight: 600;
}

.coverage-table-container .coverage-table {
  border-collapse: collapse;
  table-layout: auto;
  box-shadow: unset;
  display: table;
}

.coverage-table .coverage-thead-tr .coverage-thead-th {
  color: var(--neutrals-900);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-small-medium-size);
  line-height: var(--body-small-medium-line-height);
  font-weight: 500;
  text-align: left;
}

.coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-1 {
  width: 644px;
  padding: 0 132px 40px 8px;
}

.coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-2 {
  width: 232px;
  padding: 0 0 40px;
}

.coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-3 {
  width: 364px;
  padding: 0 8px 40px 132px;
}


.coverage-table .coverage-tbody .coverage-tbody-tr {
  border-bottom: 8px solid #fff;
}

.coverage-table .coverage-tbody .coverage-tbody-tr:nth-child(odd) {
  background-color: var(--neutrals-100);
}

.coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-1 {
  width: 644px;
  padding: 16px 132px 16px 8px;
}

.coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-1 a {
  color: var(--neutrals-black);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-medium-regular-size);
  line-height: var(--body-medium-regular-line-height);
  font-weight: 400;
  display: block;
  word-break: unset;
}

.coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-1 a:active {
  color: var(--text-button-hover);
}

.coverage-table .coverage-tbody .coverage-tbody-td:not(:first-of-type) {
  color: var(--text-body-2);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-xsmall-regular-size);
  line-height: var(--body-xsmall-regular-line-height);
  font-weight: 400;
}

.coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-2 {
  width: 232px;
  padding: 16px 0 22px;
  vertical-align: top;
}

.coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-3 {
  width: 364px;
  padding: 16px 8px 22px 132px;
  vertical-align: top;
}

/* Media Coverage Image modal start */
.modal.block.coverage-image-modal dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.block.coverage-image-modal .modal-content {
  padding: 0;
  max-height: 497px;
  height: auto;
  /* max-width: 450px; */
  max-width: 543px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.modal.block.coverage-image-modal .modal-content .close-button {
  width: 24px;
  height: 24px;
  top: 1px;
  right: 0.47px;
  cursor: pointer;
}

.modal.block.coverage-image-modal .modal-content .close-button::after {
  content: '';
  background-image: url('../icons/big-cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  display: block;
}

.modal.block.coverage-image-modal .modal-content .close-button span.icon {
  display: none;
}

.modal.block.coverage-image-modal .modal-content .section,
.modal.block.coverage-image-modal .modal-content .default-content-wrapper p {
  margin: 0;
}

.modal.block.coverage-image-modal .modal-content .default-content-wrapper p picture {
  line-height: 0;
  height: 100%;
  display: block;
}

/* Media Coverage Image modal end */

@media screen and (width <=1299px) {
  .section.media-coverage.embed-container .embed-wrapper {
    max-width: 32.2%;
    height: auto;
  }
}

@media screen and (width <=1025px) {
  .section.media-coverage.embed-container .embed-wrapper {
    max-width: 31.8%;
    height: auto;
  }
}

@media screen and (width <=768px) {
  .maintab .tabs-panel .section.media-coverage.embed-container {
    gap: 32px;
    margin: 0 0 144px;
  }

  .section.media-coverage.embed-container .default-content-wrapper .embed-inner1 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  .section.media-coverage.embed-container .embed-wrapper {
    max-width: 100%;
    height: 188px;
  }

  .section.media-coverage.embed-container .embed-wrapper .embed-subitem1,
  .section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .comlist,
  .section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner1 .button,
  .section.media-coverage.embed-container .embed-wrapper .embed-childitem1 .embed-childinner2 picture img {
    height: 100%;
    width: 100%;
  }

  main>.section.media-coverage {
    margin: 24px auto 0;
  }

  main.nfo-nav>.section.media-coverage {
    margin: 73px auto 0;
  }

  main>.section.media-coverage .default-content-wrapper h1,
  main>.section.media-coverage .default-content-wrapper h2,
  main>.section.media-coverage .default-content-wrapper h3,
  main>.section.media-coverage .default-content-wrapper h4,
  main>.section.media-coverage .default-content-wrapper h5,
  main>.section.media-coverage .default-content-wrapper h6 {
    font-variant-numeric: unset;
    font-size: 28px;
    line-height: var(--sub-header-large-line-height);
  }

  .maintab {
    max-width: 100%;
    margin: 0;
  }

  .maintab>.tab-dropdown-wrap {
    max-width: 100%;
    margin: 32px 0 24px;
    padding: 0 14.5px;
    top: 0;
    right: 0;
  }

  .maintab>.tab-dropdown-wrap .selected-tab {
    font-size: var(--body-medium-semibold-size);
    line-height: var(--body-medium-semibold-line-height);
  }

  .maintab>.tab-dropdown-wrap .tab-droplist {
    padding: 0 16px;
  }

  .maintab>.tabs-panel {
    margin: 0;
  }

  .maintab>.tabs-panel .innerdiv .tabs-list {
    margin: 96px 0 32px;
    max-width: 100%;
  }

  .maintab>.tabs-panel .innerdiv .tabs-list .tabs-tab {
    font-size: var(--body-small-regular-size);
    line-height: var(--body-small-regular-line-height);
  }

  .maintab>.tabs-panel .innerdiv .tabs-list .tabs-tab[aria-selected='true'] {
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }

  .maintab>.tabs-panel .innerdiv .tabs-panel .section.coverage-table-panel {
    margin: 0;
  }

  .maintab>.tabs-panel .innerdiv .tabs-panel .coverage-table-container .studytab-title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 32px;
  }

  .coverage-table .coverage-thead-tr .coverage-thead-th {
    color: var(--neutrals-800);
    font-size: var(--body-small-medium-size);
    line-height: var(--body-small-medium-line-height);
  }

  .coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-1 {
    width: 176px;
    padding: 0 12px 8px 0;
  }

  .coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-2 {
    width: 88px;
    padding: 0 0 8px;
  }

  .coverage-table .coverage-thead-tr .coverage-thead-th.coverage-th-3 {
    width: 88px;
    padding: 0 0 8px 12px;
  }

  .coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-1 {
    min-width: 176px;
    padding: 16px 4px 16px 8px;
    vertical-align: top;
  }

  .coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-1 a {
    color: var(--neutrals-800);
    font-size: var(--paragraph-small-regular-size);
    line-height: var(--paragraph-small-regular-line-height);
  }

  .coverage-table .coverage-tbody .coverage-tbody-td:not(:first-of-type) {
    font-size: var(--paragraph-xsmall-regular-size);
    line-height: var(--paragraph-xsmall-regular-line-height);
  }

  .coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-2 {
    min-width: 76px;
    padding: 16px 0;
  }

  .coverage-table .coverage-tbody .coverage-tbody-td.coverage-td-3 {
    padding: 16px 8px 16px 4px;
    min-width: 88px;
    width: 88px;
  }

  /* Media Coverage Image modal start */

  .modal.block.coverage-image-modal .modal-content {
    height: 100%;
    background-color: var(--neutrals-white);
    max-width: 100%;
    max-height: 100%;
  }

  .modal.block.coverage-image-modal .modal-content .close-button {
    top: 16px;
    right: 15px;
  }

  .modal.block.coverage-image-modal .modal-content .section .default-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .modal.block.coverage-image-modal .modal-content .default-content-wrapper p {
    max-width: 94.894%;
    width: 100%;
  }

  /* Media Coverage Image modal end */
}


/* Wealth Page - Media Coverage End */