/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import '../styles/tokens-variable.css';

/* ------------------------------------------------------------------
 * GLOBAL RESET
 * ------------------------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-size-adjust: none;

    /* appearance: none; */
}

*::after,
*::before {
    box-sizing: border-box;
}

:root {
    /* colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;
    --font-features-default: 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on,
        'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on,
        'cv10' on, 'cv11' on;

    /* fonts */
    --body-font-family: butlerpro, butlerpro-fallback, sans-serif;
    --heading-font-family: butlerpro-bold, butlerpro-bold-fallback, sans-serif;

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* heading sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;

    /* header height */
    --nav-height: 56px;
    --header-height: 0;

    /* fallback for JS-controlled layout */
}

@media (width <=900px) {
    :root {
        --body-font-size-m: 18px;
        --body-font-size-s: 16px;
        --body-font-size-xs: 14px;
        --heading-font-size-xxl: 45px;
        --heading-font-size-xl: 36px;
        --heading-font-size-l: 28px;
        --heading-font-size-m: 22px;
        --heading-font-size-s: 20px;
        --heading-font-size-xs: 18px;
    }
}

@font-face {
    font-family: ButlerPro-Bold-fallback;
    size-adjust: 88.82%;
    src: local('Arial');
}

@font-face {
    font-family: ButlerPro-fallback;
    size-adjust: 99.529%;
    src: local('Arial');
}

/* ------------------------------------------------------------------
 * TYPOGRAPHY
 * ------------------------------------------------------------------ */
body {
    display: none;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
}

body.appear {
    display: block;
}

body.loading {
    overflow: hidden;
    pointer-events: none;
}

.font-primary :is(p, h1, h2, h3, h4, h5, h6) {
    font-family: ButlerPro, sans-serif !important;
    font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    scroll-margin: 40px;
}

h1 {
    font-size: var(--heading-font-size-xxl);
}

h2 {
    font-size: var(--heading-font-size-xl);
}

h3 {
    font-size: var(--heading-font-size-l);
}

h4 {
    font-size: var(--heading-font-size-m);
}

h5 {
    font-size: var(--heading-font-size-s);
}

h6 {
    font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    line-height: normal;
}

code,
pre {
    font-size: var(--body-font-size-s);
}

pre {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--light-color);
    overflow-x: auto;
    white-space: pre;
}

/* ------------------------------------------------------------------
 * LINKS & BUTTONS
 * ------------------------------------------------------------------ */
a:any-link {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-all;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

a.button:any-link,
button {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    margin: 12px 0;
    border: 2px solid transparent;
    border-radius: 2.4em;
    padding: 0.5em 1.2em;
    font-family: var(--body-font-family);
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    background-color: var(--link-color);
    color: var(--background-color);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
    background-color: var(--link-hover-color);
}

button:disabled,
button:disabled:hover {
    background-color: var(--light-color);
    cursor: unset;
}

a.button.secondary,
button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--text-color);
}

/* ------------------------------------------------------------------
 * UTILITY CLASSES (DISPLAY / FLEX / INTERACTIVITY)
 * ------------------------------------------------------------------ */
.d-none,
.dsp-none {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}

.pointer-events-none,
.disabled {
    pointer-events: none;
}

.disabled {
    background-color: #969696 !important;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden !important;
}

.visibility-hidden {
    visibility: hidden;
}

.bg-body {
    background-color: #f3f3f3;
}

.bg-white {
    background-color: #fff !important;
}

/* ------------------------------------------------------------------
 * ANIMATIONS
 * ------------------------------------------------------------------ */
.slide-in {
    animation-duration: 2s;
    animation-name: slide-in;

}

.slide-out {
    animation-duration: 2s;
    animation-name: slide-out;

}

@media (width <=768px) {
    .mob-d-none {
        display: none !important;
    }

    .slide-in {
        animation-name: slide-in-bottom-to-top;
    }

    .slide-out {
        animation-name: slide-out-top-to-bottom;
    }
}

.popup-back-animation {
    animation: fadeIn 2s;
}

/* ------------------------------------------------------------------
 * STRUCTURE / LAYOUT (SECTIONS)
 * ------------------------------------------------------------------ */
main>div {
    margin: 40px 16px;
}

main>.section {
    margin: 40px 0;
}

main>.section>div {
    max-width: 1232px;
    margin: 0 auto;

    /* padding: 0 24px; */
}

main>.section:first-of-type {
    margin-top: 33px;
}

.section .item2 .section {
    margin: 40px 0;
}

main.nfo-nav .section:first-of-type {
    margin-top: 76px;
}



@media (width <=1025px) {
    main>.section:first-of-type {
        margin-top: 0;
    }

    main.nfo-nav .section:first-of-type {
        margin-top: 58px;
    }
}

@media (width <=1279px) {
    main>.section>div {
        padding: 0 24px;
    }
}

@media (width <=900px) {
    main>.section>div {
        padding: 0 16px;
    }
}

/* @media (width <=768px) {
    main>.section:first-of-type {
        margin-top: 0;
    }
} */

main .section.light,
main .section.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

header {
    height: var(--nav-height);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

.margin-top-banner {
    margin-top: calc(var(--header-height) + 32px);
}

.test {
    background-color: red;
    ;
}

.our-popular-funds,
.known-our-funds {
    position: relative;
    overflow: hidden;
}

.our-popular-funds>.card-modal-overlay,
.known-our-funds>.card-modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: #0009;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: end;
    animation: fadeinmodal 0.3s ease-in-out;
}

@keyframes fadeinmodal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (width <=768px) {

    .our-popular-funds>.card-modal-overlay,
    .known-our-funds>.card-modal-overlay {
        position: fixed;
        left: 0;
        justify-content: center;
        top: 0;
        width: 100%;
        background-color: #37372c8c;
        z-index: 100;
        padding: 0;
        padding-top: 116px;
    }

    /* body.noscroll {
    overflow: hidden;
  } */

    main.noscroll {
        overflow: hidden;
    }
}


/* @media (width <=900px) {
  .section .item2 .section {
    padding: 0 16px;
    padding: 40px 16px;
  }
}

#chartdiv {
  text, tspan {
    font-family: var(--heading-font-family)
  }
} */


.our-popular-funds.modal-active-parent,
.known-our-funds.modal-active-parent {
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    z-index: 1000;
    background-color: #fff;
}

/* fdp-model */

/* .fdp-card-container {
    position: relative;
} */

.fdp-card-container .invest-now-container {
    width: 400px;
    height: 700px;
}

.fdp-card-container .card-modal-overlay {
    max-width: 1542px;

    /* max-width: 100%; */
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;

    /* top: 200px; */
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    background: #0009;

}


.fdp-card-container .invest-now-homepage-container>.invest-now-homepage-wrapper {
    background: unset;
}




@media (width <=768px) {

    .our-popular-funds.modal-active-parent,
    .known-our-funds.modal-active-parent {
        max-height: unset;
        overflow-y: unset;
        position: unset;
        z-index: unset;
        background-color: #fff;
    }

    .fdp-card-container .card-modal-overlay {
        padding: 0;
    }
}

body.noscroll {
    overflow: hidden;
}

/* co-branded  for FDP Page */

.co-branded {
    padding: 8px 0;
    display: none;
}

@media (width <=768px) {
    .co-branded {
        display: block;
    }
}

.co-branded .default-content-wrapper {
    width: 100%;
    padding: 8px 16px;
    background-color: #fff;
    display: flex;
    justify-content: start;
}

.co-branded .default-content-wrapper p a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    font-family: Poppins, sans-serif;
    color: #2e2a94;
    cursor: pointer;
    background: none;
}

.co-branded .default-content-wrapper span {
    width: 16px;
    height: 16px;
}

/* Breadcrumb */
.section.breadcrumbs-fdp {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
    margin-top: 89px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px;
    position: sticky;
    
    /* top: 89px; */
    top: 132px;
    background-color: #f5f5f5;
    z-index: 11;
}

.breadcrumbs-fdp>.default-content-wrapper {
    max-width: 466px;
    width: 100%;
    margin: unset;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    word-break: unset;
    align-items: center;
    gap: 16px;
}

.breadcrumbs-fdp>.default-content-wrapper::-webkit-scrollbar {
    display: none;
}

.breadcrumbs-fdp>.default-content-wrapper>ul {
    list-style: none;
    display: flex;
    gap: 4px;
    cursor: pointer;
    margin: 0;
}

.breadcrumbs-fdp>.default-content-wrapper>ul>li>span {
    width: 20px;
    height: 20px;
}

.breadcrumbs-fdp>.default-content-wrapper>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.breadcrumbs-fdp>.default-content-wrapper>ul>li>a {
    color: var(--neutrals-700);
    text-align: center;
    font-family: var(--body);
    ;
    font-size: var(--paragraph-xsmall-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--paragraph-xsmall-line-height);
    background: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs-fdp>.default-content-wrapper>ul>li p {
    color: #424242;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs-fdp>ul>li:nth-child(3)>a {
    color: #616161;

    /* Desktop/Paragraph/Xsmall */
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    /* 133.333% */
}

.breadcrumbs-fdp>ul.breadul {
    /* padding: 24px; */
    display: flex;
    gap: 24px;

    /* justify-content: center; */
    align-items: center;
    list-style: none;
    margin: 0;
    height: 24px;
}

.breadcrumbs-fdp>ul.breadul>li.breadli {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;

    /* border-right: 1px solid #616161; */
    position: relative;
}

.breadcrumbs-fdp>ul.breadul>li.breadli::before {
    position: absolute;
    content: "/";
    margin-right: 4px;
    right: -12px;
    top: 0;
    color: #616161;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
}

.breadcrumbs-fdp>ul.breadul>li.breadli:nth-child(1)::before {
    top: 4px;
}

.breadcrumbs-fdp>ul.breadul>li.breadli:last-child::before {
    display: none;
}

.breadcrumbs-fdp>ul.breadul>li.breadli>a {
    color: var(--blue-1-800-primary);
    cursor: pointer;
    font-family: var(--body);
    font-size: var(--paragraph-xsmall-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--paragraph-xsmall-line-height);
}

.breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) .breadcrbmain2 {
    max-width: 170px;
    width: 100%;
    background-color:var(--neutrals-white) ;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    list-style: none;
    position: absolute;
    top: 52%;
    right: 17%;
    z-index: 10;
    display: none;
    border-radius: 6px;
    border: 1px solid var(--neutrals-200);
    box-shadow: 0 0 14px 0 rgb(40 40 40 / 6%);
}

.breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) .ul-active {
    display: block;
}

.breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) ul>li {
    width: 100%;
}

.breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) ul>li>a {
    width: 100%;
    display: flex;
    gap: 8px;
    font-style: normal;
    padding: 12px;
    align-items: center;
    font-size:var(--body-xsmall-regular-size);
    line-height: var(--body-xsmall-regular-line-height);
    font-weight: 400;
    font-family:var(--body) ;
    color: var(--text-body) ;
}

/* 
.breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2)>li{
position: relative;
} */

@media (width <=786px) {
    .section.breadcrumbs-fdp>ul {
        display: none;
    }

    .breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) .breadcrbmain2 {
        top: 60%;
        right: 24%;
    }

    .section.breadcrumbs-fdp {
        top: 116px;
        padding: 16px;
    }

    .breadcrumbs-fdp>.default-content-wrapper>ul:nth-child(2) ul>li>a {
         font-size:var(--paragraph-xsmall-size);
    line-height: var(--paragraph-xsmall-line-height);
    }
}


/* pan modal */
.pan-details-modal {
    /* max-width: 400px; */

    /* width: 100%; */

    /* background: #0009; */
    height: 100%;
    display: none;
    justify-content: flex-end;

}

.pan-details-modal .mainpandts1 {
    display: flex;
    max-width: 400px;
    width: 100%;

    /* height: 100vh; */
    height: 100%;
    padding: 64px 16px;
    flex-direction: column;

    /* align-items: center; */
    gap: 32px;
    flex-shrink: 0;
    background: #fff;
    position: relative;
}

.pan-details-modal .default-content-wrapper h5 {
    color: #2E2A94;
    font-family: ButlerPro, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 0;

    /* 114.286% */

}

.pan-details-modal .default-content-wrapper ul.subpandts3 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.pan-details-modal .default-content-wrapper ul.subpandts3 li.innerpandts1 {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;

    /* background: #2E2A94; */
    background: #E0E0E0;
    cursor: unset;
    color: #616161;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    pointer-events: none;
}

.pan-details-modal .default-content-wrapper ul.subpandts3 li.pan-active {
    background-color: #2E2A94;
    color: #FFF;
    cursor: pointer;
    pointer-events: unset;
}

/* hide pan kyc form */

.fdp-kyc-form {
    display: none;
    height: 100%;
}

.pan-details-modal .default-content-wrapper ul.subpandts3 li.innerpandts2 {
    color: #616161;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.pan-details-modal .default-content-wrapper p.subpandts4>span.icon-modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 90;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.pan-details-modal .default-content-wrapper p.subpandts2:nth-child(2) {
    margin: 0;
    padding: 0;
    height: 24px;
}


.pan-details-modal .default-content-wrapper p:nth-child(2)>.input-wrapper {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #9E9E9E;
    position: relative;

}

.pan-details-modal p:nth-child(2)>.input-wrapper>p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #424242;
    text-overflow: ellipsis;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding-left: 6px;
    position: absolute;

}

/* .pan-details-modal
    .default-content-wrapper
    p:nth-child(2)
    > .input-wrapper:hover {
    position: relative;
} */

.pan-details-modal .default-content-wrapper p:nth-child(2)>.input-wrapper>.panlabel {
    position: absolute;
    top: -7px;
    background: white;
    padding: 0 4px;
    transition: top 0.8s ease;
}

.pan-details-modal .default-content-wrapper p:nth-child(2)>.show-error {
    display: block;
    color: red;
    font-size: 12px;
    line-height: 16px;
    font-family: Poppins, sans-serif;
}

.pan-details-modal .default-content-wrapper p:nth-child(2)>.hide-error {
    display: none;
}


.pan-details-modal p:nth-child(2)>.input-wrapper>input {
    border: none;
    width: 100%;
    border-radius: 6px;
    color: #616161;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.otp-fdp {
    display: none;
    height: 100%;
}

.otp-fdp>.main-otp-con1 {
    position: relative;
    height: 100%;
}

.otp-fdp>.main-otp-con1>.sub-otp-con5 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.otp-fdp>.main-otp-con1>.sub-otp-con5>.icon {
    width: 36px;
    height: 36px;
}


@media (width <=786px) {
    .pan-details-modal .mainpandts1 {
        padding: 64px 16px;
        border-radius: 32px 32px 0 0;
        max-width: 100%;
    }
}

/* Placeholder style for sip-calculator, growth-now, our-funds-block */

.footer-wrapper .footer .footer-section2 .footer-sub1 form .field-wrapper.email-wrapper input::placeholder {
    color: #fff;
}

.section.compounding .compounding-two-inner .calculator-sip-wrapper .calculator-sip .cal-container .spi-wrapper .investment-wrapper .sip-wrapper .input-with-symbol .investment-inp::placeholder,
.section.fdp-calculator .compounding-two-inner .calculator-sip-wrapper .calculator-sip .cal-container .spi-wrapper .investment-wrapper .sip-wrapper .input-with-symbol .investment-inp::placeholder {
    color: #2e2a94;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.section.growth-now-container .growth-now .fund-us-container .fund-sec-4 form fieldset .text-wrapper input::placeholder {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    appearance: auto;
    padding-right: 4px;
}

.section .our-funds-block .fundcontainer .search-trending-wrapper .search-input .search::placeholder {
    color: #616161;
}

.hide-element {
    display: none;
}

.show-element {
    display: block;
}

/* Placeholder style for sip-calculator, growth-now, our-funds-block */

/* Popup animation */

.hide-modal {
    animation: slide-out 1.2s forwards;
}

.modal-show {
    /* right: 0; */
    animation: slide-in 1.2s forwards;
}

.modal {
    /* right: -400px; */
    transform: translateX(100%);
}

.modal.block.modal-journey>dialog[open] {
    padding: 0;
}

main.nfo-nav .section:first-of-type.performance-graph-container{
    margin-top: 20px;
}

/* .modal.block.modal-journey>dialog[open]>.close-button {
background-color: transparent;
color:transparent;
z-index: -1;
} */

/* .modal.block.modal-journey-fund>dialog[open]>.modal-content{
    max-width: 649px;
} */

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@media screen and (width <=768px) {
    @keyframes slide-in {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@media screen and (width <=768px) {
    @keyframes slide-out {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(100%);
        }
    }
}