@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins"as *;
@use "../../styles/common-theme/css/fluid-typography"as *;

.moedge-building {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &>div {
        display: flex;
        flex-direction: column;
        gap: 24px;

        // .button-container >p {
        //     margin: 0;
        // }

        // &>div[class^="moedge-build-cont"] {
        //     background-color: var(--card-background);
        //     border-radius: var(--card-border-radius);
        //     box-shadow: var(--card-shadow);
        //     overflow: hidden;
        //     display: flex;
        //     flex-direction: column;
        //     height: 100%;
        // }

        .moedge-build-sec1 {
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 8.85;
                object-fit: cover;
                display: block;
                border-radius: var(--border-radius-8);
            }
        }

        .moedge-build-sec2,
        .moedge-build-inner-text5 {
            display: none;
        }

        .moedge-build-sec3 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            >.moedge-build-sub1 {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                // padding-bottom: 24px;
            }

            .moedge-build-inner-text1 {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 8px;
                color: var(--text-meta);
                font-size: 0.875rem;
                margin-bottom: 24px;

                >.moedge-build-list1 {
                    margin: 0;
                    min-width: 74px;
                    display: flex;
                    height: 24px;
                    padding: 0 var(--spacing-8);
                    align-items: center;
                    gap: 4px;
                    border-radius: var(--border-radius-circle);
                    border: 1px solid var(--strokes-default);
                    color: var(--blue-1800-primary, #2E2A94);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--label-small-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--label-small-line-height);

                    span {
                        width: 16px;
                        height: 16px;
                    }
                }

                >.moedge-build-list2 {
                    display: contents;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                .moedge-build-list2 li {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: var(--neutrals-700);
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body, Inter);
                    font-size: var(--label-small-size);
                    font-style: normal;
                    font-weight: 400;
                    line-height: var(--label-small-line-height);

                    span {
                        width: 12px;
                        height: 12px;
                        aspect-ratio: 1/1;
                        margin-left: 4px;
                        margin-bottom: 1.5px;
                    }

                    &::before {
                        content: '•';
                        color: #5659FA;
                    }
                }

                .moedge-build-list2>li:first-child::before {
                    display: none;
                }
            }

            .moedge-build-inner-text2 {
                flex-grow: 1;
                margin-bottom: 4px;

                .button-container {
                    margin: 0;
                    padding: 0;
                    line-height: 0;

                    .button {
                        color: #2E2A94;
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--body);
                        font-size: var(--body-large-medium-size);
                        font-style: normal;
                        font-weight: 500;
                        line-height: var(--body-large-medium-line-height);
                        background-color: transparent;
                        border: none;
                        border-radius: inherit;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        word-break: auto-phrase;
                        white-space: unset;
                        overflow: unset;

                        // &:hover {
                        //     color: var(--link-color);
                        // }
                    }
                }
            }

            .moedge-build-inner-text3 {
                margin-bottom: 16px;

                .moedge-build-list1 {
                    color: #616161;
                    font-family: var(--body, inter);
                    font-feature-settings: var(--font-features-default);
                    font-size: var(--paragraph-small-size);
                    font-weight: 400;
                    line-height: var(--paragraph-small-line-height);
                    margin: 0;
                }
            }

            .moedge-build-inner-text4 {
                margin: 0;

                p {
                    margin: 0;

                    .moedge-build-list-content1 {
                        background-color: transparent;
                        color: #2E2A94;
                        font-feature-settings: var(--font-features-default);
                        font-family: var(--body);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: var(--text-link-small-line-height);
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: auto;
                        text-decoration-thickness: auto;
                        text-underline-position: from-font;
                        text-underline-offset: 0.8px;
                        border: none;
                        border-radius: unset;
                        margin: 0;
                        padding: 0;

                        // text-underline-offset: 20%;
                    }
                }
            }
        }
    }
}

@media (width >=900px) {
    .moedge-building {
        // grid-template-columns: repeat(3, 1fr);
        flex-direction: unset;
        flex-wrap: wrap;
        gap: 16px;
    }

    .moedge-building>div {
        max-width: 32.46%;
        flex: 0 0 32.46%;

        .moedge-build-sec1 {
            height: 220px;

            img {
                width: 100%;
                height: 100%;
                border-radius: var(--border-radius-8);
                background: lightgray 50% / cover no-repeat;
                object-fit: cover;
                object-position: center;
            }
        }

        .moedge-build-sec3 {
            .moedge-build-inner-text1 {
                >.moedge-build-list1 {
                    padding: 0 var(--spacing-12);
                    min-width: 86px;
                    gap: 4px;

                    span {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .moedge-build-inner-text3 {
                .moedge-build-list1 {
                    font-size: var(--body-medium-regular-size);
                    line-height: 24px;
                }
            }

            >.moedge-build-sub1 {
                padding-bottom: 24px;
            }
        }
    }

    .learn-about.moedge-building>div {
        max-width: 100%;
        flex: 100%;
    }
}

// MOedge Videos Sections css start 
.moedge-videos {
    .moedge-building {
        .secs-wrapper {
            position: relative;

            .button-container.moedge-build-sec2 {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                background: linear-gradient(0deg, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%));

                .moedge-build-sub1 {
                    .button {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        border: none;
                        border-radius: unset;
                        font-family: unset;
                    }
                }
            }
        }
    }
}

// MOedge Videos Sections css End

// learn-about moedge-building-container cards css 

.learn-about.moedge-building-container {
    margin-bottom: 24px;

    @include media (mobile) {
        margin: 24px 0;
    }

    .moedge-building {
        &>div {
            flex-direction: column;

            @include media(mobile) {
                gap: 40px;
            }

            .moedge-build-sec1 {
                img {
                    border-radius: var(--border-radius-8);
                    background: lightgray 0 -0.156px / 100% 127.052% no-repeat;
                    object-position: top;
                }
            }

            .moedge-build-sec3 {
                padding-top: 16px;

                @include media (mobile) {
                    padding-top: 0;
                }
            }
        }
    }
}

@media (width >=900px) {
    .learn-about.moedge-building-container {
        margin-bottom: 40px;

        .moedge-building>div {
            max-width: 100%;
            flex: 0 0 100%;
            gap: 16px;
            flex-direction: unset;

            .moedge-build-sec3 {
                flex: 0 0 49.35%;
                padding: 0;

                .moedge-build-sub1 {
                    padding-top: 24px;
                }

                .moedge-build-inner-text2 {
                    flex-grow: unset;
                }
            }
        }

        .moedge-build-sec1 {
            flex: 0 0 49.35%;
            height: auto;

            img {
                border-radius: var(--border-radius-8);
                background: lightgray 0 -0.156px / 100% 127.052% no-repeat;
                object-position: top;
            }
        }

    }
}



// in-the-news moedge-building-container css start 

.in-the-news.popular-artical.moedge-building-container {
    position: relative;
    margin-top: 0;
    padding: 0;

    .moedge-building {
        gap: 16px;
        row-gap: 40px;

        @include media (mobile) {
            padding-bottom: 0;
            gap: unset;
        }

        .hidden {
            display: none;
        }

        &>div {
            gap: 0;

            .moedge-build-sec1 {
                display: none;
            }

            .moedge-build-sec3 {
                .moedge-build-inner-text4 {
                    p {
                        line-height: 0;
                    }
                }

                .moedge-build-sub1 {
                    padding: 24px 0;
                }
            }
        }
    }

    .default-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        margin-bottom: 40px;

        @include media (mobile) {
            justify-content: center;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 16px;
        }

        h4 {
            margin: 0;
            padding: 0;
            color: var(--blue-1800-primary, #2E2A94);
            font-feature-settings: var(--font-features-default);
            font-family: var(--title, Inter);
            font-size: var(--heading-h4-size, 32px);
            font-style: normal;
            font-weight: 600;
            line-height: var(--heading-h4-line-height, 40px);

            @include media (mobile) {
                width: 100%;
                text-align: left;

                // font-size: var(--heading-h5-size);
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: var(--sub-header-large-line-height);
            }
        }

        p.button-container {
            display: flex;
            width: 164px;
            height: 40px;
            padding: var(--spacing-12, 12px);
            justify-content: center;
            align-items: center;
            gap: var(--spacing-8, 8px);
            border-radius: var(--border-radius-8, 8px);
            background: var(--button-primary-default, #2E2A94);
            margin: 0;

            @include media(mobile) {
                position: absolute;
                bottom: 0;
            }

            a.button {
                color: var(--text-white, #FFF);
                text-align: center;
                font-feature-settings: var(--font-features-default);
                font-family: var(--body);
                font-size: var(--button-medium-size);
                font-style: normal;
                font-weight: 500;
                line-height: var(--button-medium-line-height);
                background: transparent;
                margin: 0;
                padding: 0;
                border: unset;
                border-radius: unset;

            }
        }
    }
}

.section.in-the-news.edge-filter-container {
    @include media(mobile) {
        display: none;
    }
}

.out-expert-listing.in-the-news {
    .our-experts-wrapper {
        .our-experts {
            @include media(mobile) {
                padding-bottom: 24px;
            }
        }
    }
}

.popular-artical.our-author-detail.moedge-building-container {
    .moedge-building {
        row-gap: 40px;

        .hidden {
            display: none;
        }
    }
}

.popular-artical.moedge-building-container {
    max-width: 100%;

    @include media(mobile) {
        padding-top: 16px;
        margin-top: 0;
    }

    p.comlist,
    a {
        margin: 0;
        padding: 0;
        line-height: 10px;
    }

    >div.default-content-wrapper {
        padding-top: 40px;

        @include media (mobile) {
            padding-top: 40px;
        }

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            width: 100%;
            padding: 16px 0;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @include media (mobile) {
                padding-bottom: 0;
            }

            li:first-child {
                display: flex;
                width: 164px;
                height: 40px;
                padding: var(--spacing-12, 12px);
                justify-content: center;
                align-items: center;
                gap: var(--spacing-8, 8px);
                border-radius: var(--border-radius-8, 8px);
                background: var(--button-primary-default, #2E2A94);

                a {
                    color: var(--text-white);
                    background-color: transparent;
                    text-align: center;
                    font-feature-settings: var(--font-features-default);
                    font-family: var(--body);
                    font-size: var(--button-medium-size, 16px);
                    font-style: normal;
                    font-weight: 500;
                    line-height: var(--button-medium-line-height, 20px);
                    margin: 0;
                    padding: 0;
                    border: none;
                    border-radius: unset;

                    // @include media(mobile) {
                    //     margin-bottom: 24px;
                    // }
                }
            }

            & li:last-of-type {
                display: none;
            }
        }

    }

    // .moedge-building-wrapper {
    //     .moedge-building {
    //         @include media (mobile) {
    //             gap: 40px;
    //         }
    //     }
    // }
}

.popular-artical.building-moedge {
    @include media (mobile) {
        padding-bottom: 40px;
        margin-bottom: 0;
    }

    .default-content-wrapper:last-of-type {
        @include media (mobile) {
            padding: 0;
            padding: 48px 0 0;
        }

        ul {
            @include media (mobile) {
                padding: 0;
            }
        }
    }

    h3 {
        display: none;
    }
}

// MO Edge Listing css start 

.learn-about.moedge-list.moedge-building-container {
    margin-top: 0;

    .moedge-building {
        >div {
            @include media (mobile) {
                gap: 24px;
            }
        }
    }
}

.popular-artical.moedge-list.moedge-building-container {
    .moedge-building-wrapper {
        .moedge-building {
            row-gap: 40px;

            .hidden {
                display: none;
            }
        }
    }
}

// MO Edge Listing css start end