@charset "UTF-8";
@import "../../../styles/fonts.css";
.moedge-building {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.moedge-building > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.moedge-building > div .moedge-build-sec1 img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/8.85;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: var(--border-radius-8);
}
.moedge-building > div .moedge-build-sec2,
.moedge-building > div .moedge-build-inner-text5 {
  display: none;
}
.moedge-building > div .moedge-build-sec3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.moedge-building > div .moedge-build-sec3 > .moedge-build-sub1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  color: var(--text-meta);
  font-size: 0.875rem;
  margin-bottom: 24px;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 > .moedge-build-list1 {
  margin: 0;
  min-width: 74px;
  display: flex;
  height: 24px;
  padding: 0 var(--spacing-8);
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius-circle);
  border: 1px solid var(--strokes-default);
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--label-small-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-small-line-height);
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 > .moedge-build-list1 span {
  width: 16px;
  height: 16px;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 > .moedge-build-list2 {
  display: contents;
  list-style: none;
  padding: 0;
  margin: 0;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 .moedge-build-list2 li {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutrals-700);
  font-feature-settings: var(--font-features-default);
  font-family: var(--body, Inter);
  font-size: var(--label-small-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--label-small-line-height);
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 .moedge-build-list2 li span {
  width: 12px;
  height: 12px;
  aspect-ratio: 1/1;
  margin-left: 4px;
  margin-bottom: 1.5px;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 .moedge-build-list2 li::before {
  content: "•";
  color: #5659FA;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 .moedge-build-list2 > li:first-child::before {
  display: none;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text2 {
  flex-grow: 1;
  margin-bottom: 4px;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text2 .button-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text2 .button-container .button {
  color: #2E2A94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--body-large-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--body-large-medium-line-height);
  background-color: transparent;
  border: none;
  border-radius: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  word-break: auto-phrase;
  white-space: unset;
  overflow: unset;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text3 {
  margin-bottom: 16px;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text3 .moedge-build-list1 {
  color: #616161;
  font-family: var(--body, inter);
  font-feature-settings: var(--font-features-default);
  font-size: var(--paragraph-small-size);
  font-weight: 400;
  line-height: var(--paragraph-small-line-height);
  margin: 0;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text4 {
  margin: 0;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text4 p {
  margin: 0;
}
.moedge-building > div .moedge-build-sec3 .moedge-build-inner-text4 p .moedge-build-list-content1 {
  background-color: transparent;
  color: #2E2A94;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-link-small-line-height);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-position: from-font;
  text-underline-offset: 0.8px;
  border: none;
  border-radius: unset;
  margin: 0;
  padding: 0;
}

@media (width >= 900px) {
  .moedge-building {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 16px;
  }
  .moedge-building > div {
    max-width: 32.46%;
    flex: 0 0 32.46%;
  }
  .moedge-building > div .moedge-build-sec1 {
    height: 220px;
  }
  .moedge-building > div .moedge-build-sec1 img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-8);
    background: lightgray 50%/cover no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 > .moedge-build-list1 {
    padding: 0 var(--spacing-12);
    min-width: 86px;
    gap: 4px;
  }
  .moedge-building > div .moedge-build-sec3 .moedge-build-inner-text1 > .moedge-build-list1 span {
    width: 20px;
    height: 20px;
  }
  .moedge-building > div .moedge-build-sec3 .moedge-build-inner-text3 .moedge-build-list1 {
    font-size: var(--body-medium-regular-size);
    line-height: 24px;
  }
  .moedge-building > div .moedge-build-sec3 > .moedge-build-sub1 {
    padding-bottom: 24px;
  }
  .learn-about.moedge-building > div {
    max-width: 100%;
    flex: 100%;
  }
}
.moedge-videos .moedge-building .secs-wrapper {
  position: relative;
}
.moedge-videos .moedge-building .secs-wrapper .button-container.moedge-build-sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.moedge-videos .moedge-building .secs-wrapper .button-container.moedge-build-sec2 .moedge-build-sub1 .button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: unset;
  font-family: unset;
}

.learn-about.moedge-building-container {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .learn-about.moedge-building-container {
    margin: 24px 0;
  }
}
.learn-about.moedge-building-container .moedge-building > div {
  flex-direction: column;
}
@media (max-width: 768px) {
  .learn-about.moedge-building-container .moedge-building > div {
    gap: 40px;
  }
}
.learn-about.moedge-building-container .moedge-building > div .moedge-build-sec1 img {
  border-radius: var(--border-radius-8);
  background: lightgray 0 -0.156px/100% 127.052% no-repeat;
  -o-object-position: top;
     object-position: top;
}
.learn-about.moedge-building-container .moedge-building > div .moedge-build-sec3 {
  padding-top: 16px;
}
@media (max-width: 768px) {
  .learn-about.moedge-building-container .moedge-building > div .moedge-build-sec3 {
    padding-top: 0;
  }
}

@media (width >= 900px) {
  .learn-about.moedge-building-container {
    margin-bottom: 40px;
  }
  .learn-about.moedge-building-container .moedge-building > div {
    max-width: 100%;
    flex: 0 0 100%;
    gap: 16px;
    flex-direction: unset;
  }
  .learn-about.moedge-building-container .moedge-building > div .moedge-build-sec3 {
    flex: 0 0 49.35%;
    padding: 0;
  }
  .learn-about.moedge-building-container .moedge-building > div .moedge-build-sec3 .moedge-build-sub1 {
    padding-top: 24px;
  }
  .learn-about.moedge-building-container .moedge-building > div .moedge-build-sec3 .moedge-build-inner-text2 {
    flex-grow: unset;
  }
  .learn-about.moedge-building-container .moedge-build-sec1 {
    flex: 0 0 49.35%;
    height: auto;
  }
  .learn-about.moedge-building-container .moedge-build-sec1 img {
    border-radius: var(--border-radius-8);
    background: lightgray 0 -0.156px/100% 127.052% no-repeat;
    -o-object-position: top;
       object-position: top;
  }
}
.in-the-news.popular-artical.moedge-building-container {
  position: relative;
  margin-top: 0;
  padding: 0;
}
.in-the-news.popular-artical.moedge-building-container .moedge-building {
  gap: 16px;
  row-gap: 40px;
}
@media (max-width: 768px) {
  .in-the-news.popular-artical.moedge-building-container .moedge-building {
    padding-bottom: 0;
    gap: unset;
  }
}
.in-the-news.popular-artical.moedge-building-container .moedge-building .hidden {
  display: none;
}
.in-the-news.popular-artical.moedge-building-container .moedge-building > div {
  gap: 0;
}
.in-the-news.popular-artical.moedge-building-container .moedge-building > div .moedge-build-sec1 {
  display: none;
}
.in-the-news.popular-artical.moedge-building-container .moedge-building > div .moedge-build-sec3 .moedge-build-inner-text4 p {
  line-height: 0;
}
.in-the-news.popular-artical.moedge-building-container .moedge-building > div .moedge-build-sec3 .moedge-build-sub1 {
  padding: 24px 0;
}
.in-the-news.popular-artical.moedge-building-container .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .in-the-news.popular-artical.moedge-building-container .default-content-wrapper {
    justify-content: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
.in-the-news.popular-artical.moedge-building-container .default-content-wrapper h4 {
  margin: 0;
  padding: 0;
  color: var(--blue-1800-primary, #2E2A94);
  font-feature-settings: var(--font-features-default);
  font-family: var(--title, Inter);
  font-size: var(--heading-h4-size, 32px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--heading-h4-line-height, 40px);
}
@media (max-width: 768px) {
  .in-the-news.popular-artical.moedge-building-container .default-content-wrapper h4 {
    width: 100%;
    text-align: left;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: var(--sub-header-large-line-height);
  }
}
.in-the-news.popular-artical.moedge-building-container .default-content-wrapper p.button-container {
  display: flex;
  width: 164px;
  height: 40px;
  padding: var(--spacing-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: var(--border-radius-8, 8px);
  background: var(--button-primary-default, #2E2A94);
  margin: 0;
}
@media (max-width: 768px) {
  .in-the-news.popular-artical.moedge-building-container .default-content-wrapper p.button-container {
    position: absolute;
    bottom: 0;
  }
}
.in-the-news.popular-artical.moedge-building-container .default-content-wrapper p.button-container a.button {
  color: var(--text-white, #FFF);
  text-align: center;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--button-medium-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--button-medium-line-height);
  background: transparent;
  margin: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
}

@media (max-width: 768px) {
  .section.in-the-news.edge-filter-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .out-expert-listing.in-the-news .our-experts-wrapper .our-experts {
    padding-bottom: 24px;
  }
}

.popular-artical.our-author-detail.moedge-building-container .moedge-building {
  row-gap: 40px;
}
.popular-artical.our-author-detail.moedge-building-container .moedge-building .hidden {
  display: none;
}

.popular-artical.moedge-building-container {
  max-width: 100%;
}
@media (max-width: 768px) {
  .popular-artical.moedge-building-container {
    padding-top: 16px;
    margin-top: 0;
  }
}
.popular-artical.moedge-building-container p.comlist,
.popular-artical.moedge-building-container a {
  margin: 0;
  padding: 0;
  line-height: 10px;
}
.popular-artical.moedge-building-container > div.default-content-wrapper {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .popular-artical.moedge-building-container > div.default-content-wrapper {
    padding-top: 40px;
  }
}
.popular-artical.moedge-building-container > div.default-content-wrapper ul {
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .popular-artical.moedge-building-container > div.default-content-wrapper ul {
    padding-bottom: 0;
  }
}
.popular-artical.moedge-building-container > div.default-content-wrapper ul li:first-child {
  display: flex;
  width: 164px;
  height: 40px;
  padding: var(--spacing-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: var(--border-radius-8, 8px);
  background: var(--button-primary-default, #2E2A94);
}
.popular-artical.moedge-building-container > div.default-content-wrapper ul li:first-child a {
  color: var(--text-white);
  background-color: transparent;
  text-align: center;
  font-feature-settings: var(--font-features-default);
  font-family: var(--body);
  font-size: var(--button-medium-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--button-medium-line-height, 20px);
  margin: 0;
  padding: 0;
  border: none;
  border-radius: unset;
}
.popular-artical.moedge-building-container > div.default-content-wrapper ul li:last-of-type {
  display: none;
}

@media (max-width: 768px) {
  .popular-artical.building-moedge {
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .popular-artical.building-moedge .default-content-wrapper:last-of-type {
    padding: 0;
    padding: 48px 0 0;
  }
}
@media (max-width: 768px) {
  .popular-artical.building-moedge .default-content-wrapper:last-of-type ul {
    padding: 0;
  }
}
.popular-artical.building-moedge h3 {
  display: none;
}

.learn-about.moedge-list.moedge-building-container {
  margin-top: 0;
}
@media (max-width: 768px) {
  .learn-about.moedge-list.moedge-building-container .moedge-building > div {
    gap: 24px;
  }
}

.popular-artical.moedge-list.moedge-building-container .moedge-building-wrapper .moedge-building {
  row-gap: 40px;
}
.popular-artical.moedge-list.moedge-building-container .moedge-building-wrapper .moedge-building .hidden {
  display: none;
}/*# sourceMappingURL=moedge-building.css.map */