@use "sass:map";
@use "../../styles/common-theme/css/variables_mixins" as *;
@use "../../styles/common-theme/css/fluid-typography" as *;

.section.wealth-register {
  max-width: 379px;
  width: 100%;
  // margin: 0 auto;
  background: var(--neutrals-white);
  padding: 36px 18px;
  position: relative;
  height: 100vh !important;

  @media (width <= 768px) {
    padding: 36px 16px;
    position: fixed;
    z-index: 11;
    bottom: 0px;
    border-radius: 24px 24px 0 0 ;
    height: 83vh !important;
  }

  .wealth-modal-wrapper {
    @media (width <= 768px) {
      padding: 0px;
    }
  }

  .wealth-modal {
    .main-wealth-modal {
      .cross-btn {
        position: absolute;
        top: 12px;
        right: 14px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        p {
          margin: 0;
        }
      }
    }
  }

  .ragis-lab-btn {
    > .rag-lable {
      margin: 0 0 40px 0;
      color: var(--text-black);
      font-family: var(--body);
      font-size: var(--sub-header-medium-size);
      font-weight: 500; 
      line-height: var(--sub-header-medium-line-height);

      @media (width <= 768px) {
        margin-bottom: 24px;
        margin-top: 12px;
      }
    }

    > .inp-lab {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (width <= 768px) {
        gap: 32px;
      }

      .inp-lab-div {
        position: relative;
        line-height: unset;
         
        .label {
          position: absolute;
          top: 50%;
          left: 12px;
          transform: translateY(-50%);
          transition: all 0.2s ease-in-out;
          color: var(--text-default-input);
          font-family: var(--body);
          font-size: var(--body-medium-regular-size);
          line-height: var(--body-medium-regular-line-height);
          font-weight: 400;

          &.cont-label {
            left: 40px;
          }

          &.filled {
            top: -8px;
            transform: unset;
            background-color: #fff;
            padding: 0 4px;
            z-index: 3;
          }
        }

        .error-msg {
          color: var(--text-error);
          font-feature-settings: var(--font-features-default);
          font-family: var(--body);
          font-size: var(--paragraph-xsmall-size);
          font-weight: 400;
          line-height: var(--paragraph-xsmall-line-height);
          margin: 4px 0 0;
          position: absolute;
          top: 100%;
          opacity: 0;
          transition: opacity 0.2s ease-in-out;

          &:not(:empty) {
            opacity: 1;
          }

          &:not(:empty)::before {
            content: "";
            background-image: url('/icons/warning.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
          }
        }

        .inp.error {
          color: var(--text-black);
          border-color: var(--text-error);
        }

        &.active,
        &:focus-within {
          .label {
            top: -8px;
            transform: unset;
            background-color: #fff;
            padding: 0 4px;
            z-index: 3;
          }
        }

        .inp {
          width: 100%;
          display: flex;
          padding: 10px var(--spacing-12);
          border-radius: var(--border-radius-8);
          border: var(--border-width-01) solid var(--strokes-default);
          background-color: transparent;
          cursor: pointer;
          z-index: unset;
          position: relative;
          font-size: var(--body-medium-regular-size);
          line-height: var(--body-medium-regular-line-height);
          font-family: var(--body);
          font-style: normal;

          &:read-only {
            color: #333;
          }
        }

        .error-icon {
          position: absolute;
          right: 12px;
          top: 8px;
        }

        .cont-inp {
          z-index: unset;
        }

        .coun-img {
          position: absolute;
          left: 12px;
          top: 5px;
          margin-top: 3px;
        }

        ul {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: var(--neutrals-white);
          box-shadow: 0 4px 16px 0 rgba(47, 64, 84, 0.12);
          border-radius: var(--border-radius-8);
          padding: 0;
          margin: 4px 0 0 0;
          display: none;
          max-height: 150px;
          overflow-y: auto;
          z-index: 10;
          list-style: none;

          &::-webkit-scrollbar {
            display: none;
          }

          li {
            padding: 16px;
            cursor: pointer;
            font-family: var(--body);
            font-size: var(--body-medium-regular-size);

            &:hover {
              background: var(--neutrals-light-gray);
            }
          }
        }

        &.active ul,
        &.open ul {
          display: block;
        }
      }
      
      .associated-drop {
        position: relative;

        .dropdown-arrow {
          background-image: url('/icons/arrow-down-black.svg');
          width: 20px;
          height: 20px;
          position: absolute;
          right: 8px;
          top: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          z-index: 5;
        }
      }

      .nat-numb {
        display: flex;
        gap: 12px;
        .country-drop{
          width: 37.1%;
          .cont-label{
             position: absolute;
          top: 50%;
          left: 40px;
          transform: translateY(-50%);
          transition: all 0.2s ease-in-out;
          color: var(--text-default-input);
          font-family: var(--body);
          font-size: var(--body-medium-regular-size);
          line-height: var(--body-medium-regular-line-height);
          font-weight: 400;
          
            &::after{
              content: "";
              background-image: url('/icons/arrow-down-black.svg');
              width: 20px;
              height: 20px;
              position: absolute;
              right: -40px;
              top: 1px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              cursor: pointer;
              z-index: 5;

            }
          }
        }
      }
    }

    > .btn-mand {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .btn {
        width: 100%;
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-8);
        background: var(--button-primary-default);
        color: var(--text-white);
        font-family: var(--body);
        font-size: var(--button-medium-size);
        font-weight: 500;
        cursor: pointer;

        > p {
          margin: 0;
        }

        &:disabled {
          background: #ccc;
          color: var(--text-white);
          opacity: 0.5;
          cursor: not-allowed;
        }

        &.active {
          background: var(--button-primary-default);
          opacity: 1;
          cursor: pointer;
        }
      }

      .mandatory {
        color: var(--text-black);
        font-family: var(--body);
        font-size: 12px;
        line-height: 16px;

        p {
          margin: 0;
        }
      }
    }

    @media (width <= 768px) {
      border-radius: 32px 32px 0 0;

      > .ragis-lab-btn {
        > .rag-lable {
          margin-bottom: 24px;
          margin-top: 12px;
          font-size: var(--paragraph-large-regular-size);
        }

        > .btn-mand {
          margin-top: 20px;
        }
      }

      .section.wealth-register {
        position: fixed;
        bottom: 0px;
        z-index: 11;
      }
    }
  }
}

.modal.modal-journey{
  .close-button{
    display: none;
  }
  .modal-content{
    display: flex;
    justify-content: end;
    padding-right: 0px;
  }
}
